<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-12">
        <span class="muevoSubTitlePurple">MIS NOTIFICACIONES</span>
      </div>
      <div class="col-12">
        <span class="muevo-subtitulo-pagina">Define qué notificaciones deseas recibir</span>
      </div>
    </div>
  </div>
  <div class="col-6">
    <button type="button" class="btn muevoBtnDesactivar float-right" (click)="deActivateOptions()">Desactivar todas las
      notificaciones</button>
  </div>
  <div class="col-12">&nbsp;</div>
  <div class="col-12">
    <div class="alert muevoMenuSelectedPerfil muevoMenuBoxPerfil" role="alert" *ngFor="let noti of notificaciones">
      <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <span class="bold">{{noti.tipoNotificacionNombre}}</span>
            </div>
            <div class="col-12">
              <span class="muevo-subtitulo-pagina">{{noti.tipoNotificacionDetalle}}</span>
            </div>
          </div>
        </div>
        <div class="col-2 custom-switches text-center mt-3">
          <ui-switch size="small" [(ngModel)]="noti.tipoNotificacionEstado"></ui-switch>
        </div>
      </div>
    </div>

  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-12">
    <button type="button" class="btn muevoBtnGuardar">Guardar cambios</button>
  </div>
</div>
