<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="modalSidebar.closeAll()" (fnClickBack)="closeThis()" titulo="Ayuda">
  </top-sidebar-right>
  <div class="mb-3 mt-4">
    <span style="font-size: 16px; color: #24328C;font-weight: bold;">¿Necesitas Ayuda?</span>
  </div>
  <div class="row mt-4" style="font-size: 16px;">
    <div class="col-md-2">
      <div class="imgAbt">
        <img style="width: 100%;" src="assets/img/ayuda/llamada.png">
      </div>
    </div>
    <div class="col-md-10 muevoNoPadding">
      <span class="">Si tuviste un problema, llámanos al &nbsp; <b>+56 22 690 7001</b> para ayudarte.</span>
    </div>
    <div class="col-md-12 mb-2"><br></div>
    <div class="col-md-2">
      <div class="imgAbt">
        <img style="width: 100%;" src="/assets/img/ayuda/W@3x.png">
      </div>
    </div>
    <div class="col-md-10 muevoNoPadding">
      <span> Si tienes dudas o necesitas más
        información, ingresa a nuestro
        <a class="lnk-xxs" style="font-size: 16px;" target="_blank"
          href="https://ayudacopec.zendesk.com/hc/es/sections/360009422053-Administrador-Muevo-Empresas">Centro de
          Ayuda</a>
      </span>
    </div>


  </div>
</div>