<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="modalSidebar.closeAll()" (fnClickBack)="closeThis()" titulo="Mis Datos"></top-sidebar-right>
  <div class="row mt-4">
    <menu-editar titulo="Nombre" [subTitulo]="current.nombre + ' ' +current.apellido" (fnClick)="modificarNombre()">
    </menu-editar>
    <menu-editar titulo="Mail" [subTitulo]="current.email" (fnClick)="modificarMail()"></menu-editar>
    <menu-editar titulo="Teléfono" [subTitulo]="current.celular" [isColor]=false [isVerificado]=true></menu-editar>
    <menu-editar titulo="Rut" [subTitulo]="formatearRut(current.rut)" [isColor]=false></menu-editar>
  </div>
</div>