<div class="row">
  <div class="col-12">
    <h3>Maximiliano Urrutia</h3>
    <h4>Paga tu línea de credito</h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col-9">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" (panelChange)="beforeChange($event)">
      <ngb-panel id="webpay">
        <ng-template ngbPanelTitle>
          <div class="row">
            <div class="col-10">Pago Mediante WebPay</div>
            <div class="col-2">
              <i class="fas fa-chevron-down fa-pull-right" *ngIf="!_webpay"></i>
              <i class="fas fa-chevron-up fa-pull-right" *ngIf="_webpay"></i>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngIf="_webpay">
            <app-credito-pago-webpay></app-credito-pago-webpay>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="transferencia">
        <ng-template ngbPanelTitle>
          <div class="row">
            <div class="col-10">Pago Mediante Transferencia</div>
            <div class="col-2">
              <i class="fas fa-chevron-down fa-pull-right" *ngIf="!_transferencias"></i>
              <i class="fas fa-chevron-up fa-pull-right" *ngIf="_transferencias"></i>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngIf="_transferencias">
            <app-credito-pago-transferencia></app-credito-pago-transferencia>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-3" style="border-left: 1px solid #f7f7f7">

  </div>
</div>
