<div class="container" style="margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;">
  <div class="row muevoNoMargin article">
    <div class="col-lg-5 col-12 muevoNoPadding" *ngIf="!isMobile">
      <div class="latBannerIngreso-1">
        <div style="height: 8%">&nbsp;</div>
        <div style="margin-left: 16%">
          <img src="./assets/img/LogoMuevoRed.png" alt="" height="40vh" id="logoMuevo">
        </div>
        <div style="height: 8%">&nbsp;</div>
        <div style="margin-left: 16%;font-size: 5vh;font-weight: bold;color: #FFFFFF;">Descubre la <br>simplicidad
          <br>del cambio</div>
        <div style="height: 1%">&nbsp;</div>
        <div style="margin-left: 16%;margin-right:10%;font-size: 1.6vh;color: #FFFFFF;">Múltiples herramientas para
          potenciar el crecimiento de tu negocio</div>
        <div style="height: 7%">&nbsp;</div>
        <div style="margin-left: 17%;">
          <img src="./assets/img/initFolder.png" alt="" style="margin-right: 7%;">
          <img src="./assets/img/initPc.png" alt="" style="margin-right: 7%;">
          <img src="./assets/img/initTruck.png" alt="">
        </div>
      </div>
      <div class="latBannerIngreso-2"></div>
      <div class="latBannerIngreso-3"></div>
      <div class="latBannerIngreso-4"></div>
      <div class="latBannerIngreso-5"></div>
    </div>
    <div class="col-lg-5 col-12 muevoNoPadding" *ngIf="isMobile">
      <div class="latBannerIngreso-1">
        <div style="margin-left: 16%;">
          <img class="mt-4" src="./assets/img/LogoMuevoRed.png" alt="" height="30em;" id="logoMuevo">
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-12 muevoNoPadding">
      <div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>
