<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a closeSidebar class="btn float-right">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>
    
    <div class="muevoBodySidebarLeft" *ngIf="_pageReady">
        <div class="row mb-2">
            <div class="col-12 muevoNoPadding">
                <span class="sidebar-title">Detalle de Factura</span>
                <div class="space-between">
                    <span class="text-xs">{{current.facturaFechaEmision | date: 'dd MMMM yyyy - HH:mm'}}</span>
                    <span class="text-xs bold">Nª {{current.facturaNroDocumento}}</span>
                </div>
            </div>
            <div class="col-12 muevoNoPadding">
                <span class="text-sm bold">$ {{current.facturaMontoTotal | number: '1.0-0' }}</span>
            </div>
        </div>
        <hr class="muevoNoMargin">
        <div class="row">
            <div class="col-12 muevoNoPadding column">
                <div class="flex-start">
                    <span class="text-md bold">{{current.facturaPagadaString }}&nbsp;</span>
                    <div [ngClass]="{'status-ok': current.facturaPagada, 'status-error': !current.facturaPagada}" >
                        <i class="fas" [ngClass]="{'fa-check': current.facturaPagada, 'fa-times': !current.facturaPagada}"></i>
                    </div>
                </div>
                <span class="text-xs">Pagada el {{current.facturaFechaCase | date: 'dd MMMM yyyy - HH:mm'}}</span>
            </div>
        </div>
        <hr class="muevoNoMargin">
        <div class="row bb mt-4 pb-1">
            <div class="sidebar-scroll-1x fit">
                <div class="col-12 muevoNoPadding">
                    <span class="text-sm bold">Compras Facturadas</span>
                </div>
                
                <div class="col-12 muevoNoPadding">
                    <ul class="pl-0">
                        <li *ngFor="let d of current.detalleFactura">
                            <span class="sidebar-info-text float-left">{{d.ventaFechaCreacion | date: 'dd MMMM yyyy'}}</span>
                            <span class="sidebar-info-text float-right">$ {{d.ventaPagoTotal | number: '1.0-0'}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        
        <div class="row">
            <div class="col-12 text-center mt-4">
                <div class="btn-muevo-default-lg" (click)="verFactura()">
                    Ver factura
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12 text-center">
                <div class="btn-muevo-default-lg" (click)="verDetalleCompras(current.facturaId, current.facturaNroDocumento)">
                    Ver detalle en compras
                </div>
            </div>
        </div> -->
    </div>
</div>