<div class="modal-muevo">    
    <div class="modal-body">
        <div class="col-12 mt-4 text-center flex-center" >
            <img src="./assets/img/trx_ok.png" class="img-exito" style="max-height: 8em" alt="">
        </div>
        <div class="col-12 text-center" style="margin-top: 3em;">
            <p class="text-xs">Tu abono fue realizado con éxito</p>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-12 flex-center">
            <button class="btn-muevo-action-muevo" (click)="close()" style="background-color: #00F2FF">Entendido</button>
        </div>
    </div>
</div>
