<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a class="btn float-left" closeSidebar *ngIf="!isRoot">
                <i class="fas fa-angle-left fa-2x"></i>
            </a>

            <a class="btn float-right" (click)="closeModals()" *ngIf="!isRoot">
                <i class="fas fa-times fa-2x"></i>
            </a>
            <a class="btn float-right" closeSidebar *ngIf="isRoot">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>

        <div class="col-12 column">
            <span class="sidebar-title">
                {{
                    modoAbono ? 
                    "Abonar desde cuenta bancaria" : 
                        (variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2?
                         "Administrar mis cuentas bancarias":"Ver cuentas bancarias")
                }}</span>
            <span class="sidebar-subtitle" style="text-transform: capitalize;">

            </span>
        </div>
    </div>

    <!-- INFO-HEAD -->
    <div class="row">
        <div class="col-12 mt-3 mb-2">
            <span class="text-sm">
                {{
                    modoAbono ? "Confirma que la cuenta corriente desde donde harás la transferencia esté inscrita, sino inscríbela." :
                    (variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2? "Inscribe las cuentas corrientes, vista o ahorro desde las que transferirás a tu Billetera." :
                                                                                      "Estas son las cuentas bancarias desde las que podrás transferir a tu Billetera.")}}
            </span>
        </div>

        <div class="col-12" *ngIf="cuentasCorrientes.length == 0">
            <div class="fit tac">
                <span class="text-xs">NO TIENE CUENTAS BANCARIAS INSCRITAS</span>
            </div>
        </div>

        <div class="fit sidebar-scroll-1x">
            <div class="col-12" *ngFor="let cc of cuentasCorrientes">
                <div class="ctacte-info">
                    <span class="text-overflow text-blue text-xs">{{cc.bancoNombre}}</span>
                    <div class="space-between">
                        <span class="text-xs bold mr-2">Nº {{cc.cuentaCorrienteNumero}}</span>
                        <i *ngIf="!modoAbono && variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2"
                            class="fas fa-times fa-2x text-danger" (click)="desasociarCtaCte(cc)"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <hr>
        </div>

        <div class="col-12">
            <div *ngIf="variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2"
                class="alert muevo-widget-button muevoNoMargin space-between" role="alert" (click)="nvaCta()">
                <span class="bold">Inscribir cuenta bancaria</span>

                <span style="color:#6D6D6D">
                    <i class="fas fa-plus"></i>
                </span>
            </div>
        </div>

        <div class="col-12">
            <button class="btn-muevo-action-muevo" type="button" (click)="mostrarInfoBancaria()"
                [disabled]="cuentasCorrientes.length == 0" *ngIf="modoAbono">Siguiente</button>
        </div>

    </div>
</div>