<!-- TITLE -->
<div class="row">
    <div class="col-12">
        <span class="muevo-titulo-pagina">Historial</span>
    </div>
</div>

<div class="row mt-2 mb-6">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-tab-horizontal no-border-r" [ngClass]="{'textActive active': ui.switchData == 'compras'}"
        (click)="toggleSwitchData('compras')" id="selConductores">Compras</button>

        <button type="button" class="btn btn-tab-horizontal no-border-l" [ngClass]="{'textActive active': ui.switchData == 'facturas'}"
            (click)="toggleSwitchData('facturas')" id="selVehiculos">Facturas</button>
    </div>
</div>


<div *ngIf="ui.switchData == 'compras'">
    <app-compras [input]="comprasParams"></app-compras>
</div>
<div *ngIf="ui.switchData == 'facturas'">
    <app-facturas></app-facturas>
</div>
