<div class="form-group containerIngreso">
  <br>
  <div class="row muevoNoMargin">
    <div class="col-lg-9 col muevoNoPadding">
      <span style="color: #5C5C5C;font-size: 16px;" class="float-right mt-2 bold">¿Ya tienes una
        cuenta?&nbsp;</span>
    </div>
    <div class="col muevoNoPadding">
      <button type="button" class="btn-muevo-action-default btnSupLogin float-right" (click)="iniSession()">Iniciar
        sesión</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row muevoNoMargin mt-4">
  </div>
  <div class="row muevoNoMargin" *ngIf="_muestraTelefono">
    <div class="col-12 muevoNoPadding">
      <span class="bold" style="color: #000000;font-size: 22px;">Crear cuenta</span>
    </div>
    <div class="col-12 muevoNoPadding">
      <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">¡Bienvenido a Muevo! Para comenzar tu registro debemos
        saber algunos datos.</span>
    </div>
  </div>
  <br *ngIf="_muestraTelefono">
  <div class="row muevoNoMargin" *ngIf="_muestraTelefono">
    <div class="col-lg-6 col-12 muevoNoPadding" style="padding-bottom: 1vh">
      <input type="text" class="form-control inputTextLogin" name="inputNombre" id="inputNombre"
        [(ngModel)]="inputNombre" autocomplete="off" placeholder="Ingresa tu nombre" style="text-transform: capitalize;"
        (keydown)="validaMaxInputText($event)" maxlength="30">
      <div class="row muevoNoMargin">
        <div id="inputNombre_" class="col-12 muevoNoPadding" style="display:none;">
          <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
          <span style="color: #EB5F5F;">Campo Requerido.</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 muevoNoPadding" style="padding-bottom: 1vh">
      <input type="text" class="form-control inputTextLogin" name="inputApellido" id="inputApellido"
        [(ngModel)]="inputApellido" autocomplete="off" placeholder="Ingresa tu apellido"
        style="text-transform: capitalize;" (keydown)="validaMaxInputText($event)" maxlength="30">
      <div class="row muevoNoMargin">
        <div id="inputApellido_" class="col-12 muevoNoPadding" style="display:none;">
          <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
          <span style="color: #EB5F5F;">Campo Requerido.</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 muevoNoPadding" style="padding-bottom: 1vh">
      <input type="text" class="form-control inputTextLogin" name="inputRut" id="inputRut" placeholder="Ingresa tu RUT"
        [disabled]="!_btnSiguiente" [(ngModel)]="inputRut" autocomplete="off" formatRut maxlength="9"
        (change)="validaMaxInputRut($event)">
      <div class="row muevoNoMargin">
        <div id="inputRut_" class="col-12 muevoNoPadding" style="display:none;">
          <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
          <span style="color: #EB5F5F;">{{errorRut}}</span>
        </div>
      </div>
    </div>
  </div>
  <br *ngIf="_muestraTelefono">
  <br *ngIf="_muestraTelefono">
  <div class="row muevoNoMargin" *ngIf="_muestraTelefono">
    <div class="col muevoNoPadding">
      <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Ingresa tu número de teléfono y solicita un código de
        verificación. Mantén el teléfono cerca, confirmaremos el número mediante un SMS.</span>
    </div>
  </div>
  <br *ngIf="_muestraTelefono">
  <div *ngIf="_muestraTelefono">
    <div class="row muevoNoMargin">
      <div class="col-lg-8 col muevoNoPadding">
        <div class="input-group inputTextLogin" id="DvnroTelefono"  [class.is-invalid]="errorTelefono!=null">
          <div class="input-group-prepend mt-1">
            <span style="opacity: 0.41;color: #000000;font-weight: 500;" class="mt-2">&nbsp; +56 9
              &nbsp;</span>
          </div>
          <input type="text" name="inputNroTelefono" id="inputNroTelefono" class="form-control"
            style="border: transparent;border-radius: 0 15px 15px 0" [(ngModel)]="inputNroTelefono" pattern="[0-9]*"
           
            (input)="validaMaxInput($event)" maxlength="8" autocomplete="off" placeholder="12345678" 
            [disabled]="_validado" (keydown.enter)="solicitarSMS()">
            <!-- (change)="validarTelefono()" -->
        </div>
        <div class="row muevoNoMargin">
          <div id="DvnroTelefono_" class="col muevoNoPadding" *ngIf="errorTelefono!=null" >
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #EB5F5F;"> {{errorTelefono}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-lg-4 col-12 muevoNoPadding">
        <button type="button" class="btn btnAccionLogin" (click)="solicitarSMS()" *ngIf="!_validado">Solicitar
          código</button>
        <button type="button" class="btn btn-success" style="border-radius: 15px;" *ngIf="_validado"><i
            class="fas fa-check fa-2x"></i></button>
      </div>
    </div>
  </div>
  <div *ngIf="!_muestraTelefono">
    <div class="row muevoNoMargin" *ngIf="isValido">
      <div class="col muevoNoPadding">
        <span class="bold" style="color: #000000;font-size: 22px;">Crear cuenta</span>
      </div>
    </div>
    <div class="row muevoNoMargin" *ngIf="isValido">
      <div class="col muevoNoPadding">
        <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">¡Bienvenido a Muevo! Para comenzar tu registro
          debemos saber algunos datos.</span>
      </div>
    </div>
    <br *ngIf="isValido">
    <div class="row muevoNoMargin" *ngIf="isValido">
      <div class="col-lg-6 col-12 muevoNoPadding" style="padding-bottom: 1vh">
        <input type="text" class="form-control inputTextLogin" name="inputNombre" id="inputNombre"
          [(ngModel)]="inputNombre" autocomplete="off" placeholder="Ingresa tu nombre"
          style="text-transform: capitalize;" (keydown)="validaMaxInputText($event)" maxlength="20">
        <div class="row muevoNoMargin">
          <div id="inputNombre_" class="col-12 muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #EB5F5F;">Campo Requerido.</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 muevoNoPadding" style="padding-bottom: 1vh">
        <input type="text" class="form-control inputTextLogin" name="inputApellido" id="inputApellido"
          [(ngModel)]="inputApellido" autocomplete="off" placeholder="Ingresa tu apellido"
          style="text-transform: capitalize;" (input)="validaMaxInputText($event)" maxlength="20">
        <div class="row muevoNoMargin">
          <div id="inputApellido_" class="col-12 muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #EB5F5F;">Campo Requerido.</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 muevoNoPadding" style="padding-bottom: 1vh">
        <input type="text" class="form-control inputTextLogin" name="inputRut" id="inputRut"
          placeholder="Ingresa tu RUT" [disabled]="!_btnSiguiente" [(ngModel)]="inputRut" autocomplete="off" formatRut
          maxlength="9" (change)="validaMaxInputRut($event)" (input)="validaMaxInput($event)">
        <div class="row muevoNoMargin">
          <div id="inputRut_" class="col-12 muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #EB5F5F;">{{errorRut}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-lg-4 col-12 muevoNoPadding">
        <button type="button" class="btn btnAccionLogin" [disabled]="!_btnSiguiente"
          (click)="avanzarTelefonoValido()">Avanzar</button>
      </div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
    </div>
    <div class="row muevoNoMargin" *ngIf="!isValido">
      <div class="col-12 muevoNoPadding">
        <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">CREAR CUENTA</span>
      </div>
      <div class="col-12 muevoNoPadding">
        <span id="msgInicialSms" style="color: #000000;font-size: 22px;">Ingresa el código que
          hemos enviado a tu télefono</span>
      </div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
    </div>
    <div class="row muevoNoMargin" *ngIf="!isValido">
      <div class="col-lg-6 col-12 muevoNoPadding">
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo1" id="inputValidaCodigo1" pattern="[0-9]*"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo1"
              (input)="validaMaxInputSMS($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo2" id="inputValidaCodigo2" pattern="[0-9]*"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo2"
              (input)="validaMaxInputSMS($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo3" id="inputValidaCodigo3" pattern="[0-9]*"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo3"
              (input)="validaMaxInputSMS($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
        </div>
        <div class="row muevoNoMargin" *ngIf="!_validado">
          <div class="col muevoNoPadding">
            <!-- <span id="msgInicialSms" style="letter-spacing: 0.91px;">Hemos enviado tu código por SMS</span> -->
          </div>
        </div>
        <div class="row muevoNoMargin" *ngIf="_validado">
          <div class="col muevoNoPadding">
            <span style="color: #19A320;letter-spacing: 0.91px;">¡El código ingresado es
              correcto!</span>
          </div>
        </div>
        <div class="row muevoNoMargin">
          <div id="inputValidaCodigo3_" class="col muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #EB5F5F;"> {{errorSms}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 muevoNoPadding">
        <br>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <p style="opacity: 0.9;color: #424242;font-size: 14px;">¿No recibiste el código?</p>
          </div>
        </div>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <a (click)="solicitarSMS()"
              style="color: #24328C;font-size: 16px;border-bottom:#24328C 1px solid;cursor: pointer;">Solicitar nuevo
              código</a>
          </div>
        </div>
        <br>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <a (click)="recibirLlamada()"
              style="color: #24328C;font-size: 16px;border-bottom:#24328C 1px solid;cursor: pointer;">Recibir
              Llamada</a>
          </div>
        </div>
        <br>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <a (click)="modificarTelefono()"
              style="color: #24328C;font-size: 16px;border-bottom:#24328C 1px solid;cursor: pointer;">Modificar número
              telefónico</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
