<button class="btn-muevo-primary more-data-flotante sidebar-right-flotante" (click)="next.emit()"
      [disabled]=" sizeTotal < sizeComparar"
      *ngIf="sizeTotal >= sizeComparar"><i class="fas fa-arrow-down mr-1"></i> {{
        sizeTotal < sizeComparar ? "No hay más registros" : "Cargar más registros... "
      }} <i class="fas fa-spin fa-spinner ml-1" *ngIf="isLoad"></i></button>