@import '../../../../../assets/css/colors.scss';

mat-table{
    min-width: 1100px !important;
}

mat-row{
    padding-bottom: .3em;
    min-height: 5.2em;
}

mat-cell,
mat-footer-cell,
mat-header-cell {
    padding-right: 1em;
    padding-left: 1em;
}

// mat-cell:nth-child(1),
// mat-footer-cell:nth-child(1),
// mat-header-cell:nth-child(1) {
//     flex: 0 0 130px;
// }

// mat-cell:nth-child(2),
// mat-footer-cell:nth-child(2),
// mat-header-cell:nth-child(2) {
//     flex: 0 0 130px;
// }

// mat-cell:nth-child(3),
// mat-footer-cell:nth-child(3),
// mat-header-cell:nth-child(3) {
//     flex: 0 0 180px;
// }

mat-footer-cell:nth-child(4),
mat-cell:nth-child(4){
    flex: 0 0 420px;
}
mat-header-cell:nth-child(4) {
    flex: 0 0 420px;
    background-color: $color-gray12;
    border-radius: 8px;
    padding: 1em;
}

mat-cell:nth-child(5),
mat-footer-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    flex: 0 0 200px;
}

mat-cell:nth-child(6),
mat-footer-cell:nth-child(6),
mat-header-cell:nth-child(6) {
    flex: 0 0 65px;
}

.config-all{
    color: $color-blue3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.bb-form-c-blue{
    border-bottom: 1px solid #515ca6;
    
}

.value{
    font-size: 12px;
}

.row-local-invalid{
    border: 1px solid red;
}


:host {
	::ng-deep {
        .popover-md{
            max-width: 400px;
        }

        .popover-blue{
            background-color: #dbddef;
            border: 1px solid #515ca6;
        }
    }
}

// $color-blue4: #37469C;
// $color-gray5: #B3B8CF;

// $switch-color: $color-blue4;
// $switch-color-h: 1.8em;
// $switch-color-w: 3em;
// $switch-color-circle: 15px;
// //$switch-color-inactive-position: 20px;
// //:host{
//     //::ng-deep{
//         .muevo-switch .switch {
//             width: $switch-color-w;
//             height: $switch-color-h;
//             background: $color-gray5;
//         }
        
//         .muevo-switch .switch small {
//             margin-top: 3px;
//             margin-left: 3px;
//             margin-right: 3px;
//             width: $switch-color-circle;
//             height: $switch-color-circle;
//             background: #F4F5F9;
//         }
        
//         .muevo-switch .switch.checked {
//             width: $switch-color-w;
//             height: $switch-color-h;
//             background: $switch-color !important;
//         }

//         .muevo-switch .switch.switch-small small {
//             right: calc(100% - 20px);//$switch-color-inactive-position
//         }

//         .muevo-switch .switch.checked small {
//             right: 0 !important;
//             left: auto;
//         }
    //}
//}


@media (max-width: 576px) { 
    :host {
        ::ng-deep {
            .popover-md{
                max-width: 280px;
            }
        }
    }
}
