<!-- TITLE -->
<div class="row muevoNoMargin">
    <div class="col-12 muevoNoPadding">
        <span class="muevo-titulo-pagina">Invitar Conductores</span>
    </div>
    
    <div class="col-12 muevoNoPadding mb-2">
        <span class="muevo-subtitulo-pagina">
            Los teléfonos inscritos recibirán una invitación para unirse a tu empresa
        </span>
    </div>
</div>

<div class="row muevoNoPadding mt-4 ">
    <div class="col-12">
        <div class="table-responsive pb-2">
            <mat-table [dataSource]="dataSource" class="collapsed" matSort>
                
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <input type="text" id="inputInvitacionNombre" class="form-control" [(ngModel)]="row.nombre" maxlength="20" autocomplete="off" (keydown)="validaMaxInputText($event)" />
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        <div class="form-control text-xs text-muted hand">Nombre</div>
                    </mat-footer-cell>
                </ng-container>
                
                <ng-container matColumnDef="apellido">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>APELLIDO</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <input type="text" id="inputInvitacionApellido" class="form-control" [(ngModel)]="row.apellido" maxlength="20" (keydown)="validaMaxInputText($event)" />
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        <div class="form-control text-xs text-muted hand">Apellido</div>
                    </mat-footer-cell>
                </ng-container>
                
                <ng-container matColumnDef="telefono">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nº TELÉFONO</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">+569</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="row.telefono" maxlength="8" (keydown)="toNumber($event)">
                        </div>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        <div class="form-control text-xs text-muted hand">Nº Teléfono</div>
                    </mat-footer-cell>
                </ng-container>
                
                <ng-container matColumnDef="configuracion">
                    <mat-header-cell *matHeaderCellDef>
                        <div class="space-between" style="width: 100%;">
                            <span class="bold">Configuración presupuesto</span>
                            <span class="bold config-all hand" *ngIf="false" (click)="openMasiveAdjusts(popoverMasive)" [ngbPopover]="popContent" triggers="manual" [autoClose]="false" #popoverMasive="ngbPopover" [placement]="bottom" popoverClass="popover-md popover-blue">Configurar todos <i class="fas fa-2x fa-angle-down ml-1"></i></span>
                        </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <!-- COMBUSTIBLE -->
                        <div class="mt-1 mr-2" [ngStyle]="{'width': PERMITE_ALIMENTACION ? '50%' : '100%' }">
                            <!-- <div class="column">
                                <span class="text-xxs bold">Combustible</span>
                            </div> -->
                            <div>
                                <app-limite-gastos [config]="row.combustible"></app-limite-gastos>
                            </div>
                        </div>
                        
                        <div class="mt-1 mr-2" [ngStyle]="{'width': PERMITE_ALIMENTACION ? '50%' : '0%' }" *ngIf="PERMITE_ALIMENTACION">
                            <!-- <div class="column">
                                <span class="text-xxs bold">Alimentacion</span>
                            </div> -->
                            <div>
                                <app-limite-gastos [config]="row.alimentacion"></app-limite-gastos>
                            </div>
                        </div>
                        
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        <div class="form-control text-xs text-muted">Configuración presupuesto</div>
                    </mat-footer-cell>
                </ng-container>
                
                <ng-container matColumnDef="vehiculos">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>VEHÍCULOS</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="underline hand" *ngIf="row.vehiculos.length > 0" (click)="mostrarVehiculosAsignados(row)">{{row.vehiculos[0].patente | patente}} {{row.vehiculos.length > 1 ? "(y "  + (row.vehiculos.length - 1) + " más)": ""}}</span>
                        <span class="underline hand" *ngIf="row.vehiculos.length == 0" (click)="mostrarVehiculosAsignados(row)">Asignar Vehículos</span>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        <div class="form-control text-xxs text-muted hand">Vehículos</div>
                    </mat-footer-cell>
                </ng-container>
                
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="flex-end fit">
                            <i class="fas fa-times fa-2x text-danger hand" (click)="remove(row)"></i>
                        </div>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        
                    </mat-footer-cell>
                </ng-container>
                
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'opacity': false ? '0.5' : '1' }" [ngClass]="{'row-local-invalid': !invitacionValid(row) }" ></mat-row>
                <mat-footer-row *matFooterRowDef="displayedColumns" [ngStyle]="{'opacity': true ? '0.5' : '1' }" (click)="agregarNuevaFila()"></mat-footer-row>
            </mat-table>
            
            <!-- <mat-paginator [hidden]="!_haveRows(dataSource.data)" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 30 , 40, 50]"
                showFirstLastButtons>
            </mat-paginator> -->
            
        </div>
    </div>

    <div class="col-12 mt-4">
        <button type="button" class="btn-muevo-action-muevo float-right" [disabled]="invitaciones.length == 0 || !invitacionesValid()" (click)="enviarInvitaciones()">Enviar invitaciones</button>
    </div>
</div>



<ng-template #popContent let-multiple="multiple" let-popover="popover">
    <form #multipleForm="ngForm" autocomplete="off">
        
        <div class="space-between mb-2">
            <span class="text-xs bold col-6 muevoNoPadding">Configuración presupuesto</span>
            <span class="text-xxs bold config-all col-6 hand muevoNoPadding" (click)="popover.close()">Configurar múltiples <i class="fas fa-2x fa-angle-down ml-1"></i></span>
        </div>
        
        <div class="row">
            <!-- col-md-6  agregar cuando se habilite alimentacion-->
            <div class="col-12 ">
                <span class="text-xxs bold">Combustible</span>
                <div class="column" style="border-radius: .2rem; border: 1px solid #515ca6">
                    <div class="space-between form-control form-control-sm bb-form-c-blue">
                        <div class="value">{{multiple.combustible.permiteComprar ? 'Puede' : 'No puede'}} comprar</div>
                        <div class="muevo-switch">
                            <ui-switch class="muevo-switch" size='small' [checked]="multiple.combustible.permiteComprar" (change)="toggleEnableCombustible(multiple.combustible, popoverMasive)"></ui-switch>
                        </div>
                    </div>
                    <div class="column p-2">
                        <span class="text-xxs bold mb-2">Límite gasto diario</span>
                        <input type="text" name="combustible_diario" class="form-control form-control-sm" (input)="transformAmount($event)" [(ngModel)]="multiple.combustible.diario" #comDailyState="ngModel" [required]="multiple.combustible.permiteComprar" [disabled]="!multiple.combustible.permiteComprar" validationBorder>
                        <app-display-error-field [control]="multipleForm.controls['combustible_diario']" [displayError]="_showControlError(multipleForm.controls['combustible_diario'])" displayName="Límite diario"></app-display-error-field>
                    </div>

                    <div class="column p-2">
                        <span class="text-xxs bold mb-2">Límite gasto mensual</span>
                        <input type="text" name="combustible_mensual" class="form-control form-control-sm" (input)="transformAmount($event)" [(ngModel)]="multiple.combustible.mensual" #comMonthlyState="ngModel" [required]="multiple.combustible.permiteComprar" [disabled]="!multiple.combustible.permiteComprar" validationBorder>
                        <app-display-error-field [control]="multipleForm.controls['combustible_mensual']" [displayError]="_showControlError(multipleForm.controls['combustible_mensual'])" displayName="Límite mensual"></app-display-error-field>
                    </div>
                </div>
                
            </div>
            <!-- col-md-6  agregar cuando se habilite alimentacion-->
            <div class="col-12 " *ngIf="PERMITE_ALIMENTACION">
                <span class="text-xxs bold">Alimentacion</span>
                <div class="column" style="border-radius: .2rem; border: 1px solid #515ca6">
                    <div class="space-between form-control form-control-sm bb-form-c-blue">
                        <div class="value">{{multiple.alimentacion.permiteComprar ? 'Puede' : 'No puede'}} comprar</div>
                        <div class="">
                            <ui-switch class="muevo-switch" size='small' [checked]="multiple.alimentacion.permiteComprar" (change)="toggleEnableCombustible(multiple.alimentacion, popoverMasive)"></ui-switch>
                        </div>
                    </div>

                    <div class="column p-2">
                        <span class="text-xxs bold">Límite gasto diario</span>
                        <input type="text" name="alimentacion_diario" class="form-control form-control-sm" (input)="transformAmount($event)" [(ngModel)]="multiple.alimentacion.diario" #comDailyState="ngModel" [required]="multiple.alimentacion.permiteComprar" [disabled]="!multiple.alimentacion.permiteComprar" validationBorder>
                        <app-display-error-field [control]="multipleForm.controls['alimentacion_diario']" [displayError]="_showControlError(multipleForm.controls['alimentacion_diario'])" displayName="Límite diario"></app-display-error-field>
                    </div>

                    <div class="column p-2">
                        <span class="text-xxs bold">Límite gasto mensual</span>
                        <input type="text" name="alimentacion_mensual" class="form-control form-control-sm" (input)="transformAmount($event)" [(ngModel)]="multiple.alimentacion.mensual" #comMonthlyState="ngModel" [required]="multiple.alimentacion.permiteComprar" [disabled]="!multiple.alimentacion.permiteComprar" validationBorder>
                        <app-display-error-field [control]="multipleForm.controls['alimentacion_mensual']" [displayError]="_showControlError(multipleForm.controls['alimentacion_mensual'])" displayName="Límite mensual"></app-display-error-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-2">
                <button type="button" class="btn btn-mini-info float-right" (click)="aplicarMasivo(popContent)">Aplicar</button>
            </div>
        </div>
        
        
    </form>
    
    
   
    
</ng-template>


