<div class="row" *ngIf="activateConductorVehiculo == 1">
  <div class="col-12">
    <app-muevo-conductores></app-muevo-conductores>
  </div>
</div>
<div class="row" *ngIf="activateConductorVehiculo == 2">
  <div class="col-12">
    <app-muevo-vehiculos></app-muevo-vehiculos>
  </div>
</div>
