<br *ngIf="isMobile">
<div class="row">
  <div class="col-12">
    <h4>Tus Vehículos han sido creados con Exito!</h4>
  </div>
</div>
<br>
<div class="row muevoNoMargin" *ngIf="!isMobile">
  <div class="col-12 muevoNoPadding">
    <div class="alert muevoDetalleGastosTitulo mb-2" style="margin-bottom: 0%;">
      <div class="row muevoNoMargin">
        <div class="col-2 mt-2">
          <span class="muevoTextCreacion">PATENTE</span>
        </div>
        <div class="col-3 mt-2">
          <span class="muevoTextCreacion">ALIAS
          </span>
        </div>
        <div class="col-3 mt-2">
          <span class="muevoTextCreacion">MARCA</span>
        </div>
        <div class="col-3 mt-2">
          <span class="muevoTextCreacion">MODELO</span>
        </div>
        <div class="col-1 mt-2">
          <span class="muevoTextCreacion">AÑO</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngFor="let veh of vehiculos">
  <div class="row muevoNoMargin" *ngIf="!isMobile">
    <div class="col-12 muevoNoPadding">
      <div class="alert muevoDetalleGastosUnitario mb-2">
        <div class="row" style="text-transform: uppercase;">
          <div class="col-2 mt-2">
            <span>{{veh.patente}}</span>
          </div>
          <div class="col-3 mt-2">
            <span>{{veh.alias}}</span>
          </div>
          <div class="col-3 mt-2">
            <span>{{veh.marca}}</span>
          </div>
          <div class="col-3 mt-2">
            <span>{{veh.modelo}}</span>
          </div>
          <div class="col-1 mt-2">
            <span>{{veh.ano}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isMobile">
    <div class="muevoDetalleGastosUnitario mb-2">
      <div class="row">
        <div class="col">
          <span class="bold">{{veh.patente}}</span>
          <br>
          <span class="muevoSubTextDashboard">{{veh.alias}}</span>
        </div>
      </div>
      <br>
      <div class="row muevoNoMargin">
        <div class="col-6 muevoNoPadding">
          <span>Marca</span>
        </div>
        <div class="col-6 muevoNoPadding text-right">
          <span>{{veh.marca}}</span>
        </div>
        <div class="col-6 muevoNoPadding">
          <span>Modelo</span>
        </div>
        <div class="col-6 muevoNoPadding text-right">
          <span>{{veh.modelo}}</span>
        </div>
        <div class="col-6 muevoNoPadding">
          <span>Año</span>
        </div>
        <div class="col-6 muevoNoPadding text-right">
          <span>{{veh.ano}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <a class="btnTransparente float-right muevoLinkDashboard" routerLink="/HomeMuevo/CrearVehiculo">Crear vehículos <img
        src="./assets/img/plus.png" alt="" style="height: 0.8em;vertical-align:baseline;"></a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <a class="btnTransparente float-right muevoLinkDashboard" routerLink="/HomeMuevo/CrearConductor">Invitar
      conductores <img src="./assets/img/plus.png" alt="" style="height: 0.8em;vertical-align:baseline;"></a>
  </div>
</div>
