<div class="row" *ngIf="!isMobile">
  <div class="col-12">
    <div class="alert muevoDetalleGastosTitulo">
      <div class="row">
        <div class="col-2 mt-2">FECHA EMISION</div>
        <div class="col-1 mt-2">Nº DOC</div>
        <div class="col-2 mt-2">RAZON SOCIAL</div>
        <div class="col-2 mt-2">RUT</div>
        <div class="col-2 mt-2">FECHA VENCIMIENTO</div>
        <div class="col-2 mt-2">TOTAL</div>
        <div class="col-1 mt-2"></div>
      </div>
    </div>
  </div>

</div>
<div *ngFor="let factura of facturas">
  <div class="row muevoDetalleGastosUnitario" *ngIf="!isMobile">
    <div class="col-12">&nbsp;</div>
    <div class="col-2">{{factura.facturaFechaEmisionString}}</div>
    <div class="col-1">{{factura.facturaNroDocumento}}</div>
    <div class="col-2">{{factura.facturaDatosFacturacion.datosFacturacionRazonSocial}}</div>
    <div class="col-2">{{factura.facturaDatosFacturacion.datosFacturacionRut}}</div>
    <div class="col-2">{{factura.facturaFechaVencimientoString}}</div>
    <div class="col-2">${{factura.facturaMontoTotalString}}</div>
    <div class="col-1">
      <a href="{{factura.facturaUrl}}" *ngIf="factura.tieneDocumento" target="_blank">
        <img src="./assets/img/descargar.png" alt="descargar" style="height: 1.5vh;">
      </a>
    </div>
    <div class="col-12">&nbsp;</div>
  </div>

  <div class="muevoDetalleGastosUnitario pb-2 pl-2 pr-2 pt-2" *ngIf="isMobile">
    <div class="row">
      <div class="col-6">{{factura.facturaFechaEmisionString}}</div>
      <div class="col-6">
        <a href="{{factura.facturaUrl}}" class="float-right" *ngIf="factura.tieneDocumento" target="_blank">
          <img src="./assets/img/descargar.png" alt="descargar" style="height: 1.1em;">
        </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6"><span>Nº DOC : </span></div>
      <div class="col-6"> {{factura.facturaNroDocumento}}</div>
    </div>
    <div class="row">
      <div class="col-6"><span>Razón Social : </span></div>
      <div class="col-6">{{factura.facturaDatosFacturacion.datosFacturacionRazonSocial}}</div>
    </div>
    <div class="row">
      <div class="col-6"><span>RUT : </span></div>
      <div class="col-6">{{factura.facturaDatosFacturacion.datosFacturacionRut}}</div>
    </div>
    <div class="row">
      <div class="col-6"><span>Fecha Venc : </span></div>
      <div class="col-6">{{factura.facturaFechaVencimientoString}}</div>
    </div>
    <div class="row">
      <div class="col-6"><span>Total:</span></div>
      <div class="col-6">${{factura.facturaMontoTotalString}}</div>
    </div>
  </div>
  <br>
</div>
