<div class="modal-header">
  <h4 class="modal-title" id="modalNuevoAdmin_title">Nuevo Administrador</h4>
  <button type="button" class="close" aria-label="Close" (click)="response('Salir')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <h4>Ingresa los datos del nuevo administrador</h4>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Invitacion de Administrador</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6"><span>Rol*</span></div>
        <div class="col-6">
          <select class="form-control" name="nvoAdminRol" id="nvoAdminRol">
            <option>Seleccione un Rol</option>
            <option>Super Administrador</option>
            <option>Administrador</option>
            <option>Analista</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6"><span>Nombre</span></div>
        <div class="col-6"><input type="text" name="nvoAdminNombre" id="nvoAdminNombre" class="form-control"
            placeholder="Nombre"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-6"><span>Apellido</span></div>
        <div class="col-6"><input type="text" name="nvoAdminApellido" id="nvoAdminApellido" class="form-control"
            placeholder="Apellido"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-12"><strong>Enviar por *</strong></div>
        <div class="col-12">&nbsp;</div>
        <div class="col-6">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input mt-3" type="checkbox" name="chkNvoAdminEmail" id="chkNvoAdminEmail"
                value="1">
              Email
            </label>
          </div>
        </div>
        <div class="col-6">
          <input type="text" name="nvoAdminEmail" id="nvoAdminEmail" class="form-control">
        </div>
        <div class="col-6">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input mt-3" type="checkbox" name="chkNvoAdminTelefono" id="chkNvoAdminTelefono"
                value="1"> Teléfono
            </label>
          </div>
        </div>
        <div class="col-6">
          <input type="text" name="nvoAdminTelefono" id="nvoAdminTelefono" class="form-control">
        </div>
      </div>
      <br>
      <div class="row" style="border:1px #f7f7f7 solid">
        <div class="col-6">
          <h6>¿Habilitado como conductor?</h6>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="rbtNvoAdminConductor" id="rbtNvoAdminConductor_1"
                    value="1" [checked]="!_conductor" (change)="_conductor=false"> Si
                </label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="rbtNvoAdminConductor" id="rbtNvoAdminConductor_2"
                    value="1" [checked]="_conductor" (change)="_conductor=true"> No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div [ngbCollapse]="_conductor">
            <div class="row">
              <div class="col-12">
                <strong>Documento de Validación</strong>
                <p>Por seguridad, te pedimos solicitar a tus conductores al menos uno de los siguiente documentos</p>
              </div>
              <div class="col-12">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="chkNvoAdminConductorLicencia"
                      id="chkNvoAdminConductorLicencia" value="1"> Fotografia de licencia de conducir
                  </label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="chkNvoAdminConductorSelfie"
                      id="chkNvoAdminConductorSelfie" value="1"> Fotografia de rostro del conductor (selfie)
                  </label>
                </div>
              </div>
              <div class="col-12">&nbsp;</div>
              <div class="col-12">
                <p>Los conductores se incorporarán a tu empresa cuando valides y aceptes su documentación</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px #f7f7f7 solid">
        <div class="col-6">
          <h6>¿Habilitado como Rendidor de Gastos?</h6>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="rbtNvoAdminRendicionGastos"
                    id="rbtNvoAdminRendicionGastos_1" value="1"> Si
                </label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="rbtNvoAdminRendicionGastos"
                    id="rbtNvoAdminRendicionGastos_2" value="1"> No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <a class="btnTransparente fa-pull-right">Abrir un fondo de rendición para esta persona</a>
        </div>
      </div>
      <br>
      <div class="row" style="border:1px #f7f7f7 solid">
        <div class="col-6">
          <h6>¿Habilitado como Aprobador de Gastos?</h6>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="rbtNvoAdminAprobacionGastos"
                    id="rbtNvoAdminAprobacionGastos_1" value="1"> Si
                </label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="rbtNvoAdminAprobacionGastos"
                    id="rbtNvoAdminAprobacionGastos_2" value="1"> No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <a class="btnTransparente fa-pull-right">Agregar o modificar politicas de rendicion de gastos</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <a class="btnTransparente fa-pull-right mt-3" (click)="response('Salir')">Cancelar y volver atras</a>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-secondary text-white" style="border-radius: 24px; width: 50%"
            (click)="response('Enviar')">Enviar
            invitación</button>
        </div>
      </div>
    </div>
  </div>
</div>
