<!-- Editar-PERFIL -->
<div class="sidebar-right-body datos-administrador" tabindex="-1">
  <top-sidebar-right (fnClick)="modalSidebar.closeAll()" (fnClickBack)="closeThis()" titulo="Envía la invitación"
    descripcion="El administrador debe crearse una cuenta en Muevo Empresas y aceptar esta invitación para participar de tu empresa.">
  </top-sidebar-right>

  <form #mainForm="ngForm" autocomplete="off" class="mt-4">

    <div class="muevo-widget-button-container mb-2">
      <div class="alert muevo-widget-button muevoNoMargin"
        style="display: flex;flex-direction: column;justify-content: center;">
        <div class="space-between">
          <span class="bold">Enviar SMS</span>
          <div class="">
            <ui-switch class="muevo-switch" size='small' [checked]="current.enviarSMS" [disabled]=true
              (change)="changeSMS()">
            </ui-switch>
          </div>
        </div>
      </div>

    </div>


    <div class="muevo-widget-button-container mb-2">
      <div class="alert muevo-widget-button muevoNoMargin"
        style="display: flex;flex-direction: column;justify-content: center;">
        <div class="space-between">
          <span class="bold">Enviar MAIL</span>
          <div class="">
            <ui-switch class="muevo-switch" size='small' [(checked)]="current.enviarMail" (change)="changeMAIL()">
            </ui-switch>
          </div>
        </div>
      </div>

      <div class="col-12 pl-3 pr-3 pb-3 pt-3" [hidden]="!current.enviarMail">

        <div class="col-12">
          <label for="inputPatente">Mail Administrador <span class="text-danger">*</span></label>
          <input type="text" class="form-control" 
          [pattern]="_pattern_FormatoMAil"
          (keydown)="_TypeMail($event)"
          name="mail" [(ngModel)]="email" [required]="true" validationBorder
            maxlength="100" >
          <app-display-error-field [control]="mainForm.controls['mail']"
            [displayError]="_showControlError(mainForm.controls['mail'])" displayName="Mail">
          </app-display-error-field>
        </div>
      </div>

    </div>



    <div class="row mt-4">
      <div class="col-12 text-center">
        <button type="button" class="btn-muevo-action-muevo" (click)="EnviarInvitacion()"
          [disabled]="(_showControlError(mainForm.controls['mail']) && current.enviarMail) || (current.enviarMail && !_validaMaxInputMail(email)) ">
          Enviar invitación
        </button>
      </div>
    </div>

  </form>

</div>