<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="closeThis()" titulo="Selecciona el abono a retirar"
    [descripcion]="abonos.abonos.length>0?'Estos son tus abonos con saldo disponible. No es posible hacer retiros parciales.':'No hay abonos disponibles para retiro'"></top-sidebar-right>
  <div class="row mt-4">
    <!-- 
       @Input() titulo: string;
        @Input() subTitulo: string;
        @Input() isColor: boolean = true
        @Input() isVerificado: boolean = false
    -->
    <menu-editar *ngFor="let item of abonos.abonos" [titulo]="'Abono '+ fechatToString(item.abonoFechaCreacion) "
      [subTitulo]="'Saldo disponible : $ '+ currency(item.abonoMontoDisponible) +' de $'+ currency(item.abonoMontoTotal)"
      (fnClick)="seleccionarCuentaBancaria(item)">
    </menu-editar>
    <btn-flotante [sizeTotal]="abonos.abonos.length" [sizeComparar]="abonos.posicionFinal" (next)="next()"
      [isLoad]="_isLoading">
    </btn-flotante>

  </div>
</div>