<div class="row mt-4">
    <div class="col-7">
        <div class="buttons">
            <button class="btn-muevo-primary-icon float-left" routerLink="/HomeMuevo/CrearConductor">
                Invitar Conductores <i class="fa fa-plus"></i>
            </button>
            
        </div>
        
    </div>
    <div class="col-5">
        <div class="flex-end">
            <div class="input-group mb-1 muevo-input-search float-right" >
                <input type="search" class="form-control" (keyup)="_applyFilter(dataSource, $event.target.value)"  placeholder="BUSCAR..">
                <div class="input-group-append muevoFondoComboDashboard">
                    <span class="input-group-text muevoPreComboDashboard" id="basic-addon1">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
            
            <button class="btn-muevo-action-mini ml-2" (click)="exportCsv()" ngbTooltip="Exportar" placement="top">
                <i class="fas fa-download gray"></i>
            </button>
        </div>
        
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="table-responsive">
            <mat-table [dataSource]="dataSource" class="collapsed" matSort>
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" (change)="$event ? _masterToggle(selection, dataSource) : null"
                            [checked]="selection.hasValue() && _isAllSelected(selection, dataSource)"
                            [indeterminate]="selection.hasValue() && !_isAllSelected(selection, dataSource)"
                            [aria-label]="_checkboxLabel(selection, dataSource, row)">
                        </mat-checkbox>
                        <div class="table-counter" *ngIf="this.selection.selected.length > 0">{{this.selection.selected.length}}</div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                            (change)="_checkToggle(selection, row, $event)"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="_checkboxLabel(selection, dataSource, row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="nombreCompleto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.nombreCompleto}}
                        
                        <!-- <div class="column" (click)="mostrarConductor(row.idConductor,$event)"> 
                        </div> -->
                    </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="rut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>RUT</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.rut | rut}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="diasHabilitados">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DIAS HABILITADOS</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="local-days-container">
                            <div *ngFor="let d of days" class="local-day" [ngClass]="{'selected': containDay(row, d) }" [ngbTooltip]="d.fullname" placement="top">
                                {{d.name}}
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="horarioHabilitado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>HORARIO</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{displayHorario(row)}}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="flex-end" style="width: 100%">
                            <div class="hand" (click)="mostrarConductor(row,$event)">
                                <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vh;height: 20px;">
                            </div>
                        </div>
                        
                    </mat-cell>
                </ng-container>
        
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'opacity': !row.estado ? '0.5' : '1' }" >
                </mat-row>
            </mat-table>
    
            <!-- <mat-paginator [hidden]="!_haveRows(dataSource.data)" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 30 , 40, 50]" showFirstLastButtons>
            </mat-paginator> -->

            <div class="no-rows flex-center" *ngIf="!_haveRows(dataSource.data)">
                <span class="text-sm">No existen registros</span>
            </div>
        
        </div>
    </div>
</div>
