@import './../../../../../assets/css/colors.scss';

// mat-cell:nth-child(1),
// mat-header-cell:nth-child(1) {
//     flex: 0 0 65px;
// }

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
    flex: 0 0 190px;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    flex: 0 0 65px;
}

.local-days-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .local-day{
        height: 20px;
        min-width: 20px;
        border: 1px solid $color-gray6;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        margin-right: .2em;
        color: $color-gray6;
    }

    .local-day.selected{
        color: $color-blue4;
        background-color: $color-gray6;
    }
}