<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a closeSidebar class="btn float-right">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>
    
    <div class="muevoBodySidebarLeft">
        <div class="row">
            <div class="col-12 muevoNoPadding">
                <span class="sidebar-title">Detalle empresa</span>
            </div>
            <div class="col-12 muevoNoPadding">
                <span class="text-sm">Cambiar nombre empresa:</span>
            </div>
        </div>
        
        <form #mainForm="ngForm" autocomplete="off">
            <div class="row mt-4">
                <div class="col-12">
                    <label for="txtNombre">Nombre empresa<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="nombre" id="txtNombre" [(ngModel)]="current.cuentaNombre" #nombreState="ngModel" placeholder="" [required]="true" validationBorder minlength="5" maxlength="20">
                    <app-display-error-field [control]="mainForm.controls['nombre']" [displayError]="_showControlError(mainForm.controls['nombre'])" displayName="Nombre empresa"></app-display-error-field>
                </div>
            </div>
        </form>
        
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn-muevo-action-muevo" [disabled]="!mainForm.valid" (click)="guardar(current)">Guardar cambios</button>
            </div>
            <div class="col-12 mt-4">
                <button class="btn-muevo-action-danger" (click)="eliminar(current)" *ngIf="cuentaSeleccionada.rolId == 1">Eliminar cuenta</button>
            </div>
        </div>
    </div>
</div>