<div class="form-group contenedorIngreso">
  <div class="row">
    <div class="col-12">
      <div class="col-1 mt-3">
        <a (click)="atras()">
          <i class="fas fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="contenidoIngresocol-12">
      <div class="col-12 text-center">
        <i class="far fa-user-circle fa-3x"></i>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <h5>¿Como quieres que te llamemos?</h5>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <br>
      <div class="input-group">
        <div class="col-8 offset-2">
          <input type="text" name="inputNombre" id="inputNombre" class="form-control" placeholder="Ingresa tu Nombre"
            [(ngModel)]="inputNombre" autocomplete="off">
        </div>
        <div class="col-12">&nbsp;</div>
        <div class="col-8 offset-2">
          <input type="text" name="inputApellido" id="inputApellido" class="form-control" placeholder="Ingresa Apellido"
            [(ngModel)]="inputApellido" autocomplete="off">
        </div>
      </div>
      <br>
      <div class="col-12 text-center mt-1">
        <button type="button" class="btn btnSiguientePaso" (click)="ingresoNombre()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
