<div class="row">
  <div class="col-6">
    <h5>Pago y Facturacion</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-6">
    <strong>Cuentas corrientes asociadas</strong>
  </div>
</div>
<br>
<div class="row">
  <div class="col-6" *ngFor="let cta of cuentaCorrientes">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            <strong>{{cta.nombreCuenta}}</strong>
          </div>
          <div class="col-3">
            <a class="btnTransparente" (click)="edit(cta.idCuenta)"><span *ngIf="!cta.editable"><i
                  class="fas fa-edit"></i> Editar</span>
              <span *ngIf="cta.editable"><i class="fas fa-save"></i> Guardar</span>
            </a>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6"><span>Nombre</span></div>
          <div class="col-6">
            <span *ngIf="!cta.editable">{{cta.nombreTitular}}</span>
            <input type="text" name="inputNombreTitular" id="inputNombreTitular" [(ngModel)]="cta.nombreTitular"
              class="form-control" *ngIf="cta.editable">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6"><span>Rut</span></div>
          <div class="col-6">
            <span *ngIf="!cta.editable">{{cta.rutTitular}}</span>
            <input type="text" name="inputRutTitular" id="inputRutTitular" [(ngModel)]="cta.rutTitular"
              class="form-control" *ngIf="cta.editable">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6"><span>Banco</span></div>
          <div class="col-6">
            <span *ngIf="!cta.editable">{{cta.nombreBanco}}</span>
            <input type="text" name="inputNombreBanco" id="inputNombreBanco" [(ngModel)]="cta.nombreBanco"
              class="form-control" *ngIf="cta.editable">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6"><span>Cuenta</span></div>
          <div class="col-6">
            <span *ngIf="!cta.editable">{{cta.nroCuenta}}</span>
            <input type="text" name="inputNroCuenta" id="inputNroCuenta" [(ngModel)]="cta.nroCuenta"
              class="form-control" *ngIf="cta.editable">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6"><span>Correo</span></div>
          <div class="col-6">
            <span *ngIf="!cta.editable">{{cta.correoAsociado}}</span>
            <input type="text" name="inputCorreoAsociado" id="inputCorreoAsociado" [(ngModel)]="cta.correoAsociado"
              class="form-control" *ngIf="cta.editable">
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="col-3 offset-2">
    <div class="card" style="border: 2px dashed #979797;border-radius: 24px;" (click)="nvoCtaCte()">
      <div class="card-body">
        <h4 class="card-title text-center"><i class="fas fa-plus-circle fa-3x"></i></h4>
        <br>
        <p class="card-text">Agregar nueva cuenta corriente</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="periodoFacturacion" id="periodoFacturacion_1" value="1">
            Por Transaccion
          </label>
        </div>
        <p class="text-sm-right text-secondary">Despues de cada transaccion</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="periodoFacturacion" id="periodoFacturacion_2" value="1">
            Diario
          </label>
        </div>
        <p class="text-sm-right text-secondary">Al finalizar cada día</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="periodoFacturacion" id="periodoFacturacion_3" value="1">
            Quincenal
          </label>
        </div>
        <p class="text-sm-right text-secondary">Al terminar el dia 15 del mes</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="periodoFacturacion" id="periodoFacturacion_4" value="1">
            Mensual
          </label>
        </div>
        <p class="text-sm-right text-secondary">Al terminar el ultimo dia del mes</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-6">
    <h5>Direccion de envío de Factura</h5>
    <p>Envia una copia de tu facturacion a los correos electronicos que sean necesarios</p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            <strong>Direcciones Email</strong>
          </div>
          <div class="col-3">
            <a class="btnTransparente" (click)="nvoCorreo()"><i class="fas fa-plus"></i> Agregar</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row" *ngFor="let cor of correos">
          <div class="col-10"><input type="text" name="txtCorreo" id="txtCorreo" class="form-control"
              [(ngModel)]="cor.txtCorreo" placeholder="Correo@correo.cl"></div>
          <div class="col-2">
            <a (click)="deleteCorreo(cor.idCorreo)"><i class="fas fa-times fa-2x mt-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
