<div class="row mb-2">
  <div class="col-12 col-sm-6">
    <span class="muevo-titulo-pagina" id="idCondu">Mis Administradores</span>
  </div>
  <div class="col-12 col-sm-6 flex-end">
    <div class="col-12 col-sm-6 flex-end">
      <div class="btn-muevo-default-md mt-1 float-right" (click)="abrirInvitaciones()"
          ngbTooltip="Ver invitaciones pendientes" placement="top" *ngIf="tieneInvitaciones>0 && variablesApi.home.rolPrivilegiosFront.administradores.verEditar==2">Invitaciones
          Pendientes <i class="fas fa-angle-right fa-2x"></i></div>
  </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">

    <button *ngIf="variablesApi.home.rolPrivilegiosFront.administradores.verEditar==2" class="btn-muevo-primary-icon float-left" (click)="invitar()">
      <span>Invitar Administradores</span>
      <i class="fa fa-plus"></i>
    </button>

    <button class="btn-muevo-action-mini ml-2 float-right" (click)="exportCsv()" ngbTooltip="Exportar" placement="top">
      <i class="fas fa-download gray"></i>
    </button>

    <div class="input-group muevo-input-search float-right ml-2">
      <input type="search" class="form-control" (keyup)="_applyFilter(dataSource, $event.target.value)"
        placeholder="Buscar...">
      <div class="input-group-append muevoFondoComboDashboard">
        <span class="input-group-text muevoPreComboDashboard" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <div class="table-responsive">
      <mat-table [dataSource]="dataSource" class="collapsed" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>

            <div class="table-counter" *ngIf="this.selection.selected.length > 0">{{this.selection.selected.length}}
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
              (change)="_checkToggle(selection, row, $event)" [checked]="selection.isSelected(row)"
              [aria-label]="_checkboxLabel(selection, dataSource, row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombreCompleto">
          <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.nombreCompleto}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rut">
          <mat-header-cell *matHeaderCellDef mat-sort-header>RUT</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.rut | rut}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="telefonoId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>TELÉFONO</mat-header-cell>
          <mat-cell *matCellDef="let row">
            +{{row.telefonoId}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rolNombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ROL</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span>{{row.rolNombre}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="flex-end" style="width: 100%">
              <div class="hand" (click)="mostrarConductor(row, $event)">
                <img src="./assets/img/verDetalle.png" alt="" class="float-right"
                  style="margin-right: 1vh;height: 20px;">
              </div>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'opacity': !row.estado ? '0.5' : '1' }">
        </mat-row>
      </mat-table>
      <div class="no-rows flex-center" *ngIf="!_haveRows(dataSource.data)">
        <span class="text-sm">No existen registros</span>
      </div>
    </div>
  </div>
</div>

<button class="btn-muevo-primary more-data-flotante" (click)="next()"
  [disabled]="_isLoading || pagination.rows < pagination.pagesSize" *ngIf="pagination.rows >= pagination.pagesSize"><i
    class="fas fa-arrow-down mr-1"></i> {{ pagination.rows < pagination.pagesSize ? "No hay más registros"
    : "Cargar más registros... " }} <i class="fas fa-spin fa-spinner ml-1" *ngIf="_isLoading"></i></button>