<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="inputDireccionInicio">Origen</label>
      <input type="text" class="form-control" name="inputDireccionInicio" id="inputDireccionInicio"
        [(ngModel)]="inputDireccionInicio" aria-describedby="helpDireccionInicio" placeholder="Ingresa la Ubicacion">
    </div>
    <div *ngIf="_isWaipoint">
      <div class="form-group">
        <label for="inputDireccionIntermedio">Intermedio</label>
        <input type="text" class="form-control" name="inputDireccionIntermedio" id="inputDireccionIntermedio"
          [(ngModel)]="inputDireccionIntermedio" aria-describedby="helpDireccionIntermedio" readonly
          placeholder="Ingresa la Ubicacion">
      </div>
    </div>
    <div class="form-group">
      <label for="inputDireccionDestino">Destino</label>
      <input type="text" class="form-control" name="inputDireccionDestino" id="inputDireccionDestino"
        [(ngModel)]="inputDireccionDestino" aria-describedby="helpDireccionDestino" placeholder="Ingresa la Ubicacion">
    </div>
  </div>
  <div class="col-6" *ngIf="tiempoDistancia.tiempo!=0">
    <div class="card mt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-6"><span>Tiempo de viaje</span></div>
          <div class="col-6"><span>{{tiempoDistancia.tiempo}}</span></div>
        </div>
        <div class="row">
          <div class="col-6"><span>Distancia de viaje</span></div>
          <div class="col-6"><span>{{tiempoDistancia.distancia}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
