<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="closeThis()" titulo="Seleccione el tipo de administrador">
  </top-sidebar-right>
  <div class="mt-4">
    <form #mainForm="ngForm" autocomplete="off">
      <select placeholder="a" class="form-control muevo-select" name="tipo" id="inputTipo" [(ngModel)]="rolId"
        #tipoState="ngModel" [required]="true" validationBorder>
        <option [ngValue]="null" [disabled]="true" >
          Selecciona tipo de administrador
        </option>
        <option value="{{rl.rolId}}" *ngFor="let rl of roles">
          {{rl.rolNombre}}
        </option>
      </select>
      <app-display-error-field [control]="mainForm.controls['tipo']"
        [displayError]="_showControlError(mainForm.controls['tipo'])" displayName="Tipo de administrador">
      </app-display-error-field>

      <view-previlegios [roles]="variablesApi.home.maestros.roles" [rolId]="rolId"></view-previlegios>
      <div class="row mt-4">
        <div class="col-12 text-center">
          <button type="button" class="btn-muevo-action-muevo" [disabled]="!mainForm.valid || (mainForm.form.pristine)"
            (click)="avanzar()">
            Siguiente
          </button>
        </div>


      </div>
    </form>
  </div>


</div>