<div class="col-12" *ngIf="isLineaDivisora">
  <hr>
</div>

<div class="col-12">
  <div class="alert muevo-widget-button muevoNoMargin space-between" role="alert" (click)="fnClick.emit()">
    <span class="bold">{{titulo}}</span>

    <span style="color:#6D6D6D">
      <i class="fas fa-plus"></i>
    </span>
  </div>
</div>