<div class="modal-header">
  <h5 class="modal-title" id="modalNroDocumentoTitle">{{modal.title}} </h5>
  <button type="button" class="close" aria-label="Close" (click)="response('Ok')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <h6 class="col-12">Cédula Nueva</h6>
    <div class="col-8 offset-2">
      <img src="./assets/img/carnet/ciNueva.png" height="200px">
    </div>
  </div>
  <br>
  <div class="row">
    <h6 class="col-12">Cédula Antigua</h6>
    <div class="col-8 offset-2">
      <img src="./assets/img/carnet/ciAntigua.png" height="200px">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn-muevo-action-default" (click)="response('Ok')">OK</button>
</div>
