<div>
    <div class="modal-header" style="border-bottom: none;">
        <div class="col-12 text-center">
            <span class="modal-title muevo-modal-title" id="modalAceptarCancelar">{{modal.title}} </span>
        </div>
    </div>

    <div class="modal-body">
        <div class="col-12 text-center">
            <p class="text-xs" *ngFor="let item of modal.messages">{{item}}</p>
        </div>
    </div>

    <div class="modal-footer" style="border-top: 1px solid #FFFFFF;">
        <div *ngIf="useCancel" class="col-6 text-center"
            style="border-right: 1px solid #FFFFFF;cursor: pointer;margin-left: auto;margin-right: auto;">
            <button class="btn-muevo-action-default" (click)="response('Cancelar')">{{modal.cancelText==null?
                'Cancelar':modal.cancelText}}</button>
        </div>
        <div class="col-6 text-center" (click)="response('Aceptar')"
            style="cursor: pointer; margin-left: auto;margin-right: auto;">
            <button class="btn-muevo-action-muevo" (click)="response('Aceptar')">{{modal.okText==null?
                'Aceptar':modal.okText}}</button>
        </div>
    </div>

</div>