<div class="row muevoNoMargin">
    <div class="col-12 muevoNoPadding">
        <span class="muevo-titulo-pagina">Configurar facturación</span>
    </div>
    
    <div class="col-12 muevoNoPadding mb-2">
        <span class="muevo-subtitulo-pagina">
            Si permites la emisión de guías de despacho, los conductores podrán documentar sus compras con guías de despacho que luego facturaremos a esta cuenta.
        </span>
    </div>
</div>



<div class="row muevoNoPadding mt-4">
    <div class="col-12 mb-2">
        <div class="form-info custom-switches">
            <span>Activar facturación.</span>
            
            <div class="float-right lnk-xxs hand" (click)="openDetails()" *ngIf="!haveFacturation && variablesApi.home.rolPrivilegiosFront.facturacion.verEditar==2 ">Agregar datos de facturación <i class="fa fa-plus"></i></div>
            <ui-switch [disabled]="variablesApi.home.rolPrivilegiosFront.facturacion.verEditar!=2" size="small" class="muevo-switch float-right" [(ngModel)]="_estadoFacturacion" (change)="desactivaFacturacion()" *ngIf="haveFacturation">
            </ui-switch>
        </div>
    </div>
</div>

<form #mainForm="ngForm" autocomplete="off">
    <div class="row muevoNoPadding mt-2" *ngIf="haveFacturation" [ngClass]="{'disableData': !_estadoFacturacion }">
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputEmpresa">Rut Empresa <span class="text-danger" *ngIf="rutEmpresaState.errors?.required">*</span></label>
                <input type="text" class="form-control" id="inputEmpresa" name="empresa" [(ngModel)]="current.dteRut" #rutEmpresaState="ngModel" formatRut  placeholder="81.313.181-1" [required]="false" [disabled]="true" [readOnly]="true" style="background-color: #e9ecef;">
                <app-display-error-field [control]="mainForm.controls['empresa']" [displayError]="_showControlError(mainForm.controls['empresa'])" displayName="Rut Empresa"></app-display-error-field>
            </div>
            <div class="form-group">
                <label for="inputcomuna">Comuna <span class="text-danger" *ngIf="emailState.errors?.required">*</span></label>
                <input type="text" class="form-control" id="inputcomuna" name="comuna" [(ngModel)]="current.comuna" [required]="false" [disabled]="true" >
                <app-display-error-field [control]="mainForm.controls['comuna']" [displayError]="_showControlError(mainForm.controls['comuna'])" displayName="Comuna"></app-display-error-field>
            </div>
            <div class="form-group">
                <label for="inputdteGiro">Actividad económica</label>
                <input type="text" class="form-control" id="inputdteGiro" name="dteGiro" [(ngModel)]="current.dteGiro" [required]="false" [disabled]="true" >
            </div>
            <div class="form-group">
                <label for="inputEmail">Correo Electrónico (Donde recibirás tus documentos) <span class="text-danger" *ngIf="emailState.errors?.required">*</span></label>
                <input type="email" class="form-control" id="inputEmail" name="email" [(ngModel)]="current.dteEmail" #emailState="ngModel" placeholder="mi@correo.cl" 
                [required]="false" 
                (keypress)="_TypeMail($event)"
                [disabled]="true" [pattern]="_pattern_FormatoMAil">
                <app-display-error-field [control]="mainForm.controls['email']" [displayError]="_showControlError(mainForm.controls['email'])" displayName="Correo Electrónico"></app-display-error-field>
            </div>
            
            
            <div class="form-group">
                <label for="inputPeriodo">Periodo de Facturación <span class="text-danger" *ngIf="periodoState.errors?.required">*</span></label>
                <select class="form-control" name="periodo" id="inputPeriodo" [(ngModel)]="current.dtePeriodoFacturacion" #periodoState="ngModel" [required]="false" [disabled]="true">
                    <option value="">Selecciona Periodo</option>
                    <option value="{{periodo.periodoFacturacionId}}" *ngFor="let periodo of periodosFacturacion">
                        {{periodo.periodoFacturacionNombre}}
                    </option>
                </select>
                <app-display-error-field [control]="mainForm.controls['periodo']" [displayError]="_showControlError(mainForm.controls['periodo'])" displayName="Periodo de Facturación"></app-display-error-field>
            </div>

           
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputdteDireccion">Dirección <span class="text-danger" *ngIf="emailState.errors?.required">*</span></label>
                <input type="text" class="form-control" id="inputdteDireccion" name="dteDireccion" [(ngModel)]="current.dteDireccion" [required]="false" [disabled]="true" >
                <app-display-error-field [control]="mainForm.controls['dteDireccion']" [displayError]="_showControlError(mainForm.controls['dteDireccion'])" displayName="Dirección"></app-display-error-field>
            </div>
            <div class="form-group">
                <label for="inputdteNumeroSerie">Número de serie RUT contribuyente</label>
                <input type="text" class="form-control" id="inputdteNumeroSerie" name="dteNumeroSerie" [(ngModel)]="current.dteNumeroSerie" [required]="false" [disabled]="true" >
            </div>

            <div class="form-group">
                <label for="txtAlias">Nombre Fantasía <span class="text-danger" *ngIf="aliasState.errors?.required">*</span></label>
                <input type="text" class="form-control" name="alias" id="txtAlias" [(ngModel)]="current.dteNombreFantasia" #aliasState="ngModel" placeholder="Ejemplo 1" [required]="false" [disabled]="true" validationBorder>
                <app-display-error-field [control]="mainForm.controls['alias']" [displayError]="_showControlError(mainForm.controls['alias'])" displayName="Nombre Fantasía"></app-display-error-field>
            </div>
            <div class="form-group">
                <label for="inputRazon">Razón Social <span class="text-danger" *ngIf="razonState.errors?.required">*</span></label>
                <input type="text" class="form-control" id="inputRazon" name="razon" [(ngModel)]="current.dteRazonSocial" #razonState="ngModel" placeholder="razon social" [required]="false" [disabled]="true">
                <app-display-error-field [control]="mainForm.controls['razon']" [displayError]="_showControlError(mainForm.controls['razon'])" displayName="Razón Social"></app-display-error-field>
            </div>
            
           

           
            
        </div>
        
        
        
    </div> 
    
    <div class="row muevoNoPadding mt-2" *ngIf="haveFacturation">
        
        <div class="col-6">
            <span *ngIf="_pageReady && !_estadoFacturacion">Esta cuenta sólo permite la emisión de boletas.</span>
            <span *ngIf="_pageReady && _estadoFacturacion && current.dteRestringeEleccion == 0">Esta cuenta solo permite la emisión de boletas y guías de despacho.</span>
            <span *ngIf="_pageReady && _estadoFacturacion && current.dteRestringeEleccion == 1">Esta cuenta sólo permite la emisión de guías de despacho.</span>
        </div>
        <div class="col-6">
            <button *ngIf="variablesApi.home.rolPrivilegiosFront.facturacion.verEditar==2" class="btn-muevo-action-default float-right" (click)="openDetails()">
                Editar datos de facturación
            </button>
        </div>
        
    </div>
</form>

