<div class="row" style="margin-top: 3vh;">
  <div class="col-12">
    <span style="color: #FFFFFF;font-size: 20px;">Gasto general empresa <span
        class="bold">{{mesActual}}</span></span>
    <!-- <br>
    <span style="opacity: 0.8;color: #FFFFFF;font-size: 10px;font-weight: 500;letter-spacing: 0.91px;">(saldo utilizado
      + rendiciones)</span> -->
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="display-grid">
      <ngx-charts-line-chart [scheme]="colorScheme" [results]="single" [gradient]="gradient" [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" (select)="onSelect($event)" [curve]="curve">
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
