<br *ngIf="isMobile">
<div class="row">
  <div class="col-12">
    <span class="bold" style="color: #000000;font-size: 22px;">¡Envio exitoso de invitaciones!</span>
  </div>
  <div class="col-12">&nbsp;</div>
  <div class="col-lg-9 col-12">
    <span class="muevo-subtitulo-pagina">Recuerda a tus conductores descargar la App Muevo y registrarse. Cada invitacion
      tiene una vigencia de 72
      horas.</span>
  </div>
</div>
<br>
<div class="row" *ngIf="!isMobile">
  <div class="col-12 muevoNoPadding">
    <div class="alert muevoDetalleGastosTitulo" style="margin-bottom: 0%;">
      <div class="row">
        <div class="col-2 mt-2">
          <span>NOMBRE</span>
        </div>
        <div class="col-2 mt-2">
          <span>APELLIDO</span>
        </div>
        <div class="col-2 mt-2">
          <span>Nº TELÉFONO</span>
        </div>
        <div class="col-1 muevoNoPadding mt-2">
          <span>TIPO INVITACION</span>
        </div>
        <div class="col-2 mt-2">
          <span>ESTADO INVITACION</span>
        </div>
        <div class="col-2 mt-2">
          <span>VIGENTE HASTA</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br *ngIf="!isMobile">
<div *ngFor="let invitado of invitados">
  <div class="row" *ngIf="!isMobile">
    <div class="card col-12" style="border-radius: 10px;background-color: #F4F4F9;">
      <div class="card-body">
        <div class="row">
          <div class="col-2 mt-2">
            <span style="text-transform: capitalize">{{invitado.nombreConductor}}</span>
          </div>
          <div class="col-2 mt-2">
            <span style="text-transform: capitalize">{{invitado.apellidosConductor}}</span>
          </div>
          <div class="col-2 mt-2">
            <span>+{{invitado.telefonoConductor}}</span>
          </div>
          <div class="col-1 muevoNoPadding mt-2">
            <span>CONDUCTOR</span>
          </div>
          <div class="col-2 mt-2">
            <span>CREADA</span>
          </div>
          <div class="col-2 mt-2">
            <span>{{invitado.fechaString}}</span>
          </div>
          <!-- <div class="col-1">
            <a class="btnTransparente" (click)="reenviarInvitacion(invitado.invitacionId,1)">Reenviar</a>
          </div> -->
          <div class="col-1 mt-2">
            <a class="btnTransparente" (click)="cancelarInvitacion(invitado.telefonoConductor,0)">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row muevoNoMargin" *ngIf="isMobile">
    <div class="col-12 muevoDetalleGastosUnitario">
      <div class="row muevoNoMargin">
        <div class="col-8 mt-2 mb-1">
          <span style="text-transform: capitalize">{{invitado.nombreConductor}} {{invitado.apellidosConductor}}</span>
          <br>
          <span>+{{invitado.telefonoConductor}}</span>
        </div>
        <div class="col-4 mt-2">
          <span class="muevoSubTitlePurple float-right">CONDUCTOR</span>
        </div>
      </div>
      <div class="row muevoNoMargin">
        <div class="col-4">
          <span>CREADA</span>
        </div>
        <div class="col-8">
          <span class="float-right">{{invitado.fechaString}}</span>
        </div>
      </div>
      <div class="row muevoNoMargin">
        <div class="col mb-2 mt-2 text-center" (click)="cancelarInvitacion(invitado.telefonoConductor,0)">
          <a class="btnTransparente">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="row">
  <div class="col-lg-2 offset-lg-10 col">
    <a class="btnTransparente float-right muevoLinkDashboard" routerLink="/HomeMuevo/CrearConductor">Invitar
      conductores <img src="./assets/img/plus.png" alt="" style="height: 0.8em;vertical-align:baseline;"></a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <a class="btnTransparente float-right muevoLinkDashboard" routerLink="/HomeMuevo/CrearVehiculo">Crear vehículos <img
        src="./assets/img/plus.png" alt="" style="height: 0.8em;vertical-align:baseline;"></a>
  </div>
</div>
