<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Analista</strong>
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngFor="let analist of analistas">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-2">{{analist.nombre}} {{analist.apellido}}</div>
            <div class="col-2">{{analist.rut}}</div>
            <div class="col-2">{{analist.telefono}}</div>
            <div class="col-2">{{analist.email}}</div>
            <div class="col-3">{{analist.detalles}}</div>
            <div class="col-1">acciones</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div *ngFor="let AN of nvoAnalistas">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <input type="text" name="nombre" id="nombre" class="form-control form-control-sm fontSize"
                placeholder="Nombre" [(ngModel)]="AN.nombreInvitado">
            </div>
            <div class="col-3">
              <input type="text" name="apellido" id="apellido" class="form-control form-control-sm fontSize"
                placeholder="Apellido" [(ngModel)]="AN.apellidosInvitado">
            </div>
            <div class="col-3 offset-2">
              <input type="text" name="telefono" id="telefono" class="form-control form-control-sm fontSize"
                placeholder="+569 12345678" [(ngModel)]="AN.telefonoInvitado">
            </div>
            <div class="col-1">
              <span (click)="removeAnalista(AN.telefonoInvitado)"><i class="fas fa-times fa-2x"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div *ngFor="let invi of invitados">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <span>{{invi.invitacionValidaciones.invitacionNombre}}
                {{invi.invitacionValidaciones.invitacionApellido}}</span>
            </div>
            <div class="col-3">
              <span>{{invi.invitacionTelefonoInvitadoId}}</span>
            </div>
            <div class="col-3">
              Invitacion {{fnConviertEstadoInvitacion(invi.invitacionEstadoInvitado)}}
            </div>
            <div class="col-3">
              <!-- <span (click)="muestraAprobacionConductor(invi.invitacionId)" class="btnTransparente"
                *ngIf="invi.invitacionEstadoInvitado=='ACEPTADA'">Validar y
                Autorizar</span>&nbsp;
              <span (click)="reenviarInvitacion(invi.invitacionId,1)" class="btnTransparente"
                *ngIf="invi.invitacionEstadoInvitado=='RECHAZADA'">Reenviar</span>&nbsp;
              <span (click)="autorizarInvitacion(invi.invitacionId,0)" class="btnTransparente">Eliminar</span> -->

              <span (click)="muestraAprobacionConductor(invi.invitacionId)" class="btnTransparente">Validar y
                Autorizar</span>&nbsp;
              <span (click)="reenviarInvitacion(invi.invitacionId,1)" class="btnTransparente">Reenviar</span>&nbsp;
              <span (click)="autorizarInvitacion(invi.invitacionId,0)" class="btnTransparente">Eliminar</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="row">
  <div class="col-12">
    <div class="card" style="border: 2px dashed #979797;border-radius: 24px;" (click)="nvoAnalista()">
      <div class="card-body">
        <p class="card-text text-center"><i class="fas fa-plus-circle"></i> Agregar nuevo Analista</p>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngIf="_muestraAnalista">
  <div class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-secondary" style="border-radius: 24px;width: 80%"
        (click)="homeUsuarioInvitar()">Enviar Invitaciones Analistas</button>
    </div>
  </div>
</div>
