<ng-sidebar-container style="height: 100vh;width: 100%">
  <!-- Page content -->
  <div ng-sidebar-content>
    <div [ngbCollapse]="_isConfiguracion">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-6">
          <div class="row">
            <div class="col-2">
              <button type="button" id="sidebarCollapse" class="btn btn-dark btn-outline-secondary"
                (click)="_toggleSidebar()">
                <i class="fas fa-align-left"></i>
              </button>
            </div>
            <div class="col-2">
              <a class="navbar-brand" routerLink="/Home/Dashboard">Copec</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="col-4">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown" *ngIf="_dropEmpresa">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{empresaActual}}</a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item text-white disabled" style="font-size: 10px;">Mis Empresas</a>
                      <a class="dropdown-item text-white" *ngFor="let emp of empresas"
                        (click)="changeEmpresa(emp.cuentaId)">{{emp.cuentaNombre}}</a>
                      <div class="dropdown-divider" *ngIf="_invitaciones"></div>
                      <a class="dropdown-item text-white disabled" style="font-size: 10px;"
                        *ngIf="_invitaciones">Invitaciones a Empresas</a>
                      <a class="dropdown-item text-white" *ngFor="let inv of invitaciones"
                        (click)="fnInvitaciones(inv.invitacionId)">{{inv.invitacionNombreCuenta}}</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown text-center" style="border: 1px solid white; border-radius: 24px;"
                    *ngIf="!_dropEmpresa">
                    <a class="btn text-white" id="navbarDropdown">
                      {{empresaActual}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-4">
              <form class="form-inline my-2 my-lg-0">
                <div class="input-group">
                  <input type="text" name="inputBuscar" id="inputBuscar"
                    class="form-control form-control-sm bg-dark text-white" placeholder="Buscar">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-dark btn-outline-light">
                      <i class="fas fa-search text-light"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-autocol-12">
                  <div class="col-7">
                    <li class="nav-item dropdown text-center" style="border: 1px solid white; border-radius: 24px;"
                      routerLink="/Home/AbonoPago">
                      <a class="btn text-white" id="navbarDropdown">
                        Abonar
                      </a>
                    </li>
                    <li class="nav-item dropdown text-center" style="border: 1px solid white; border-radius: 24px;"
                      routerLink="/Home/CreditoPago">
                      <a class="btn text-white" id="navbarDropdown">
                        Pagar
                      </a>
                    </li>
                  </div>
                  <div class="col-3">
                    <li>
                      <div class="mt-2">
                        <a placement="bottom" [ngbPopover]="popActividades" popoverClass="fondoActivity"><i
                            class="fas fa-bell text-light"></i>
                          <span class="badge badge-notify">9+</span>
                        </a>
                        <a placement="bottom" [ngbPopover]="popAlertas" popoverClass="fondoActivity"><i
                            class="fas fa-exclamation-triangle text-light"></i>
                          <span class="badge badge-notify">5</span>
                        </a>
                        <a placement="bottom" [ngbPopover]="popAnuncios" popoverClass="fondoActivity"><i
                            class="fas fa-flag text-light"></i>
                          <span class="badge badge-notify">1</span>
                        </a>
                      </div>
                    </li>
                  </div>
                  <div class="col-3">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 50%;">
                        <img src="./assets/img/man.png" alt="imagenPersona" width="30px;">
                      </a>
                      <div class="dropdown-menu bg-dark dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-white disabled">Nombre usuario</a>
                        <a class="dropdown-item text-white disabled" style="font-size: 10px;">Super-Aministrador</a>
                        <a class="dropdown-item text-white disabled" style="font-size: 10px;">{{empresaActual}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-white" routerLink="/Home/ConfigurarPerfil"><i
                            class="fas fa-user-edit"></i> Configurar mi perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-white"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion</a>
                      </div>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <div class="row" *ngIf="muestraBanner"></div>

      <div class="row">
        <div class="col-12">
          <div class="divBreadCrumbs" *ngIf="muestraBreadcrumbs">
            <ol class="breadcrumb arr-right bg-white">
              <li class="breadcrumb-item {{item.class}}" *ngFor="let item of breadCrumbs">
                <ng-container *ngIf="item.url!==''; else elseTemplate">
                  <a routerLink="{{item.url}}">{{item.title}}</a>
                </ng-container>
                <ng-template #elseTemplate>
                  <a>{{item.title}}</a>
                </ng-template>

              </li>
            </ol>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <br>
  <ng-sidebar [(opened)]="_opened" position="left" closeOnClickOutside="true">
    <div class="col-12 bg-dark text-white" style="height: 100%;width: 400px;">
      <div class="row">
        <div class="col-12">
          <button closeSidebar class="btn btn-dark text-white">Cerrar</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <ul class="list-group">
            <li class="list-group-item bg-dark" routerLink="/Home/GruposConductores" style="cursor: pointer;">
              <h6>Conductores</h6>
            </li>
            <li class="list-group-item bg-dark" routerLink="/Home/FlotasVehiculos" style="cursor: pointer;">
              <h6>Vehículos</h6>
            </li>
            <li class="list-group-item bg-dark" routerLink="/HomeMuevo/Dashboard" style="cursor: pointer;">
              <h6>Muevo</h6>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </ng-sidebar>

  <ng-sidebar [(opened)]="_diaHorario" position="right" closeOnClickOutside="true" sidebarClass="bg-dark">
    <div class="col-12" style="height: 100%;width: 400px;">
      <div class="row">
        <div class="col-12" style="height: 100%;width: 300px;">
          <a closeSidebar class="btnTransparente text-white">Cerrar</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="alert alert-secondary" role="alert">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="restriccionEstaciones" id="restriccionEstacion_1"
                  value="true" (change)="restriccionEstacionPersonalizado(0)"> Todos los días, a todas horas
              </label>
            </div>
          </div>
          <div class="alert alert-secondary" role="alert">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="restriccionEstaciones" id="restriccionEstacion_2"
                  value="true" (change)="restriccionEstacionPersonalizado(0)"> Lunes a Viernes, todo horario
              </label>
            </div>
          </div>
          <div class="alert alert-secondary" role="alert">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="restriccionEstaciones" id="restriccionEstacion_3"
                  value="true" (change)="restriccionEstacionPersonalizado(0)"> Lunes a viernes, 08:00 - 18:00 hrs
              </label>
            </div>
          </div>
          <div class="alert alert-secondary" role="alert">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="restriccionEstaciones" id="restriccionEstacion_4"
                  value="true" (change)="restriccionEstacionPersonalizado(1)"> Personalizado
              </label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div id="collapseExample" [ngbCollapse]="_estacionesPersonalizado">
          <div class="col-12">
            <div class="card bg-dark text-white">
              <div class="card-header">
                <span style="font-weight:bold">Selecciona los días en que podrán cargar tus vehiculos</span>
              </div>
              <div class="card-body bg-secondary">
                <div class="row">
                  <div class="col-6">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="restriccionEstacionesDias"
                          id="restriccionEstacionesDias_1" value="checkedValue"> Lunes
                      </label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="restriccionEstacionesDias"
                          id="restriccionEstacionesDias_5" value="checkedValue"> Viernes
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="restriccionEstacionesDias"
                          id="restriccionEstacionesDias_2" value="checkedValue"> Martes
                      </label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="restriccionEstacionesDias"
                          id="restriccionEstacionesDias_6" value="checkedValue"> Sabado
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="restriccionEstacionesDias"
                          id="restriccionEstacionesDias_3" value="checkedValue"> Miércoles
                      </label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="restriccionEstacionesDias"
                          id="restriccionEstacionesDias_7" value="checkedValue"> Domingo
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="restriccionEstacionesDias"
                          id="restriccionEstacionesDias_4" value="checkedValue"> Jueves
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="card bg-dark text-white">
              <div class="card-header">
                <span style="font-weight:bold">Define el horario en que podrán cargar tus vehiculos</span>
              </div>
              <div class="card-body">
                <div class="col-12 text-center">
                  <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-secondary" style="border-radius: 24px;">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </ng-sidebar>


  <ng-sidebar [(opened)]="_estaciones" animate="true" position="right" closeOnClickOutside="true"
    sidebarClass="bg-dark">
    <div class="col-12" style="height: 100%;width: 400px;">
      <div class="row">
        <div class="col-12" style="height: 100%;width: 300px;">
          <a closeSidebar class="btnTransparente text-white">Cerrar</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 text-white">
          <h5>Estaciones habilitadas</h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <select class="custom-select form-control" name="" id="">
              <option selected>Seleccione una Region</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <select class="custom-select form-control" name="" id="">
              <option selected>Seleccione una Comuna</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div id="collapseComuna" [ngbCollapse]="collapseComuna">
            <table class="table table-stripped bg-light">
              <tr>
                <td><i class="fas fa-map-marker-alt"></i></td>
                <td>
                  <div class="row">
                    <span>Direccion 1</span>
                  </div>
                  <div class="row">
                    <span class="text-secondary">93:$855 | 95: $887 | 97: $918 | Diesel: $694</span>
                  </div>
                </td>
                <td>
                  <ui-switch size='small' [(ngModel)]="_activo1"></ui-switch>
                </td>
              </tr>
              <tr>
                <td><i class="fas fa-map-marker-alt"></i></td>
                <td>
                  <div class="row">
                    <span>Direccion 2</span>
                  </div>
                  <div class="row">
                    <span class="text-secondary">93:$855 | 95: $887 | 97: $918 | Diesel: $694</span>
                  </div>
                </td>
                <td>
                  <ui-switch size='small' [(ngModel)]="_activo2"></ui-switch>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="card bg-dark text-white">
            <div class="card-header">
              <span>Estaciones Bloqueadas</span>
            </div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item list-group-item-dark">
                  <div class="row">
                    <div class="col-10">
                      <span>Direccion 1</span>
                    </div>
                    <div class="col-2">
                      <i class="fas fa-times text-danger"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="text-secondary">93:$855 | 95: $887 | 97: $918 | Diesel: $694</span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item list-group-item-dark">
                  <div class="row">
                    <div class="col-10">
                      <span>Direccion 2</span>
                    </div>
                    <div class="col-2">
                      <i class="fas fa-times text-danger"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="text-secondary">93:$855 | 95: $887 | 97: $918 | Diesel: $694</span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item list-group-item-dark">
                  <div class="row">
                    <div class="col-10">
                      <span>Direccion 3</span>
                    </div>
                    <div class="col-2">
                      <i class="fas fa-times text-danger"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="text-secondary">93:$855 | 95: $887 | 97: $918 | Diesel: $694</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-secondary" style="border-radius: 24px;">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <ng-sidebar [(opened)]="_cuentaCorriente" animate="true" position="right" closeOnClickOutside="true"
    sidebarClass="bg-dark">
    <div class="col-12 text-white" style="height: 100%;width: 400px;">
      <div class="row">
        <div class="col-12">
          <a closeSidebar class="btnTransparente text-white">Cerrar</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <h4 *ngIf="!_edicion">Asociar nueva cuenta corriente</h4>
          <h4 *ngIf="_edicion">Editar cuenta corriente</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="cuentaCorriente_nombre">Nombre Cuenta</label>
            <input type="text" class="form-control" name="cuentaCorriente_nombre" id="cuentaCorriente_nombre"
              [(ngModel)]="cuentaCorriente_nombre" aria-describedby="cuentaCorriente_help" placeholder="Nombre Cuenta">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="cuentaCorriente_banco">Banco</label>
            <select class="form-control" name="cuentaCorriente_banco" id="cuentaCorriente_banco"
              [(ngModel)]="cuentaCorriente_banco">
              <option value="">Seleccione un Banco</option>
              <option value="1">Banco 1</option>
              <option value="2">Banco 2</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="cuentaCorriente_Titular">Nombre titular</label>
            <input type="text" class="form-control" name="cuentaCorriente_Titular" id="cuentaCorriente_Titular"
              [(ngModel)]="cuentaCorriente_Titular" aria-describedby="cuentaCorriente_help"
              placeholder="Nombre Titular">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="cuentaCorriente_rut">Rut titular</label>
            <input type="text" class="form-control" name="cuentaCorriente_rut" id="cuentaCorriente_rut"
              [(ngModel)]="cuentaCorriente_rut" aria-describedby="cuentaCorriente_help" placeholder="Rut Titular">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="cuentaCorriente_nroCuenta">Número de Cuenta</label>
            <input type="text" class="form-control" name="cuentaCorriente_nroCuenta" id="cuentaCorriente_nroCuenta"
              [(ngModel)]="cuentaCorriente_nroCuenta" aria-describedby="cuentaCorriente_help"
              placeholder="Número Cuenta">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="cuentaCorriente_email">Email</label>
            <input type="text" class="form-control" name="cuentaCorriente_email" id="cuentaCorriente_email"
              [(ngModel)]="cuentaCorriente_email" aria-describedby="cuentaCorriente_help" placeholder="Email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-secondary" style="border-radius: 24px;"
            (click)="accionCuentaCorriente()">Asociar Cuenta</button>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <ng-sidebar #sideBarConductores [(opened)]="_invitados" animate="true" position="right" sidebarClass="bg-dark">
    <div class="col-12" style="height: 100%;width: 400px;">
      <div class="row">
        <div class="col-12">
          <a closeSidebar class="btnTransparente text-white">Cerrar</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <h4 class="text-white">Validacion de Conductor</h4>
        </div>
      </div>
      <br>
      <div class="row text-white">
        <div class="col-6">Nro telefono</div>
        <div class="col-6">+{{invitado.invitacionTelefonoInvitadoId}}</div>
        <div class="col-12">&nbsp;</div>
        <div class="col-6">Nombre</div>
        <div class="col-6">{{invitado.invitacionValidaciones.invitacionNombre}}
          {{invitado.invitacionValidaciones.invitacionApellido}}</div>
        <div class="col-12">&nbsp;</div>
        <div class="col-6">Rut</div>
        <div class="col-6">12345678-9</div>
      </div>
      <br>
      <div class="row">
        <div class="col-6 text-center" *ngIf="invitado.invitacionValidaciones.invitacionSolicitaFoto == 1">
          <div class="row">
            <div class="col-12">
              <h6 class="text-white">Validacion de Selfie</h6>
            </div>
            <div class="col-12">
              <img src="./assets/img/man.png" alt="Selfie" width="100px" height="100px">
            </div>
            <div class="col-12">&nbsp;</div>
            <div class="col-6 text-center text-white">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="validarSelfie" id="validarSelfie_1" [value]="true"
                  [checked]="invitado.invitacionValidaciones.aceptaFoto"
                  [(ngModel)]="invitado.invitacionValidaciones.aceptaFoto" (change)="enableSaveInvitaciones()">
                Aceptar
              </label>
            </div>
            <div class="col-6 text-center text-white">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="validarSelfie" id="validarSelfie_2" [value]="false"
                  [checked]="!invitado.invitacionValidaciones.aceptaFoto"
                  [(ngModel)]="invitado.invitacionValidaciones.aceptaFoto" (change)="enableSaveInvitaciones()">
                Rechazar
              </label>
            </div>
          </div>
        </div>
        <div class="col-6 text-center" *ngIf="invitado.invitacionValidaciones.invitacionSolicitaLicencia == 1">
          <div class="row">
            <div class="col-12">
              <h6 class="text-white">Validacion de Licencia</h6>
            </div>
            <div class="col-12 text-center">
              <img src="./assets/img/man.png" alt="licencia" width="100px" height="100px">
            </div>
            <div class="col-12">&nbsp;</div>
            <div class="col-6 text-center text-white">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="validarLicencia" id="validarLicencia_1"
                  [value]="true" [checked]="invitado.invitacionValidaciones.aceptaLicencia"
                  [(ngModel)]="invitado.invitacionValidaciones.aceptaLicencia" (change)="enableSaveInvitaciones()">
                Aceptar
              </label>
            </div>
            <div class="col-6 text-center text-white">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="validarLicencia" id="validarLicencia_2"
                  [value]="false" [checked]="!invitado.invitacionValidaciones.aceptaLicencia"
                  [(ngModel)]="invitado.invitacionValidaciones.aceptaLicencia" (change)="enableSaveInvitaciones()">
                Rechazar
              </label>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <div class="row">
        <div class="col-10 text-white">
          <h6>Combustible</h6>
        </div>
        <div class="col-2">
          <ui-switch size='small' [(ngModel)]="invitado.activaCombustible" (change)="activaCombustible()">
          </ui-switch>
        </div>
        <div class="col-12">&nbsp;</div>
        <div class="col-12">
          <div class="form-group">
            <label for="inputLimiteGastoDiarioCombustible" class="text-white">Límite de gasto diario</label>
            <input type="number" class="form-control" name="inputLimiteGastoDiarioCombustible"
              [disabled]="!invitado.activaCombustible" [(ngModel)]="invitado.combustibleMontoDiario"
              id="inputLimiteGastoDiarioCombustible" aria-describedby="helpId"
              placeholder="Ingrese un Límite de Gasto diario" (change)="enableSaveInvitaciones()"
              *ngIf="invitado.activaCombustible">
            <input type="text" name="" id="" class="form-control" *ngIf="!invitado.activaCombustible" disabled>
          </div>
        </div>
        <div class="col-12"></div>
        <div class="col-12">
          <div class="form-group">
            <label for="inputLimiteGastoMensualCombustible" class="text-white">Límite de gasto mensual</label>
            <input type="number" class="form-control" name="inputLimiteGastoMensualCombustible"
              [disabled]="!invitado.activaCombustible" [(ngModel)]="invitado.combustibleMontoMensual"
              id="inputLimiteGastoMensualCombustible" aria-describedby="helpId"
              placeholder="Ingrese un Límite de Gasto mensual" (change)="enableSaveInvitaciones()"
              *ngIf="invitado.activaCombustible">
            <input type="text" name="" id="" class="form-control" *ngIf="!invitado.activaCombustible" disabled>
          </div>
        </div>
      </div>
      <br>
      
      <div class="row">
        <div class="col-6 text-center">
          <button type="button" class="btn btn-success" style="width: 90%" [disabled]="!_enableSaveInvitaciones"
            (click)="autorizarInvitacion(idInvitado,1)">Autorizar</button>
        </div>
        <div class="col-6 text-center">
          <button type="button" class="btn btn-danger" style="width: 90%" (click)="autorizarInvitacion(idInvitado,0)">No
            Autorizar</button>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <ng-sidebar animate="true" [(opened)]="_false" position="right" sidebarClass="bg-dark">
    <div class="col-12" style="height: 100%;width: 400px;"></div>
  </ng-sidebar>
</ng-sidebar-container>
<ng-template #popActividades>
  <span class="text-white">
    Actividades
  </span>
</ng-template>
<ng-template #popAlertas>
  <span class="text-white">
    Alertas
  </span>
</ng-template>
<ng-template #popAnuncios>
  <span class="text-white">
    Anuncios
  </span>
</ng-template>
