<div class="row">
  <div class="col-12">
    <span class="muevo-titulo-pagina">Invitar Conductores</span>
  </div>
  <div class="col-12">&nbsp;</div>
  <div class="col-lg-9 col-12">
    <span class="muevo-subtitulo-pagina">Los teléfonos inscritos recibirán una invitación para unirse a tu empresa</span>
  </div>
</div>
<br>
<div class="row" *ngIf="!isMobile">
  <div class="col-12 muevoNoPadding">
    <div class="alert muevoDetalleGastosTitulo mb-2">
      <div class="row muevoNoMargin">
        <div class="col-2 mt-2">
          <span class="muevoTextCreacion">NOMBRE*</span>
        </div>
        <div class="col-2 mt-2">
          <span class="muevoTextCreacion">APELLIDO*</span>
        </div>
        <div class="col-3 mt-2">
          <span class="muevoTextCreacion">Nº TELEFONICO*</span>
        </div>
        <div class="col-4 mt-2">
          <div class="row">
            <div class="col-6 mt-1" placement="bottom" [ngbPopover]="popMenuContentDiario" #diario="ngbPopover"
              [autoClose]="'outside'" triggers="manual" (click)="diario.open()" popoverClass="muevoMenuElementTitle">
              <div class="row muevoNoMargin">
                <div class="col-10 muevoNoPadding">
                  <span>$ LÍMITE DE GASTO DIARIO</span>
                </div>
                <div class="col-2 muevoNoPadding">
                  <img src="./assets/img/triangleDown.png" alt="down" style="height: 5px;">
                </div>
              </div>
            </div>
            <div class="col-6 mt-1" placement="bottom" [ngbPopover]="popMenuContentMensual" #mensual="ngbPopover"
              [autoClose]="'outside'" triggers="manual" (click)="mensual.open()" popoverClass="muevoMenuElementTitle">
              <div class="row muevoNoMargin">
                <div class="col-10 muevoNoPadding">
                  <span>$ LÍMITE DE GASTO MENSUAL</span>
                </div>
                <div class="col-2 muevoNoPadding">
                  <img src="./assets/img/triangleDown.png" alt="down" style="height: 5px;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row muevoNoMargin" *ngIf="isMobile">
  <div class="alert col-12 muevoCardNuevoCreacion mb-2" (click)="addConductor()">
    <div class="row">
      <div class="col-12 text-center">
        <span class="muevoSubTitlePurple">INVITAR CONDUCTOR <img src="./assets/img/plus.png" alt=""
            style="height: 0.8em;vertical-align:baseline;"></span>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngFor="let conductor of conductores">
  <div class="row">
    <div class="alert col-12 muevoDetalleGastosUnitario mb-2" id="card_{{conductor.telefonoConductor}}">
      <div class="row">
        <div class="col-lg-2 col-12 mb-2">
          <input type="text" name="nombre" id="nombre_{{conductor.telefonoConductor}}" class="form-control focusWhite"
            placeholder="Nombre" [(ngModel)]="conductor.nombreConductor" (input)="maxInput($event)" maxlength="20">
          <div id="nombre_{{conductor.telefonoConductor}}_" class="col-12 muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #eb5f5f;"> Campo Obligatorio</span>
          </div>
        </div>
        <div class="col-lg-2 col-12 mb-2">
          <input type="text" name="apellido" id="apellido_{{conductor.telefonoConductor}}"
            class="form-control focusWhite" placeholder="Apellido" [(ngModel)]="conductor.apellidosConductor"
            (input)="maxInput($event)" maxlength="20">
          <div id="apellido_{{conductor.telefonoConductor}}_" class="col-12 muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #eb5f5f;"> Campo Obligatorio</span>
          </div>
        </div>
        <div class="col-lg-3 col-12 mb-2">
          <div class="input-group" id="telefono_{{conductor.telefonoConductor}}">
            <div class="input-group-prepend">
              <span class="input-group-text muevoFondoWhite" id="basic-addon1" style="font-size: 14px;">+56 9</span>
            </div>
            <input type="text" name="telefono" id="telefono" class="form-control focusWhite" placeholder="12345678"
              pattern="[0-9]*" [(ngModel)]="conductor.telefonoConductor" maxlength="8" autocomplete="off"
              (input)="onlyNumber($event)">
          </div>
          <div id="telefono_{{conductor.telefonoConductor}}_" class="col-12 muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #eb5f5f;"> Teléfono no Válido</span>
          </div>
        </div>
        <div class="col-lg-2 col-12 mb-2">
          <div class="input-group" id="limiteDiario_{{conductor.telefonoConductor}}">
            <div class="input-group-prepend">
              <span class="input-group-text muevoFondoWhite" id="basic-addon1">$</span>
            </div>
            <input type="text" name="limiteDiario" id="limiteDiario_{{conductor.telefonoConductor}}"
              class="form-control focusWhite" [(ngModel)]="conductor.limiteDiarioCombustible" pattern="[0-9]*"
              (input)="validaInput($event)" placeholder="0" autocomplete="off" maxlength="11">
          </div>
          <div id="limiteDiario_{{conductor.telefonoConductor}}_" class="col-12 muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #eb5f5f;"> Campo Obligatorio</span>
          </div>
        </div>
        <div class="col-lg-2 col-12 mb-2">
          <div class="input-group" id="limiteMensual_{{conductor.telefonoConductor}}">
            <div class="input-group-prepend">
              <span class="input-group-text muevoFondoWhite" id="basic-addon1">$</span>
            </div>
            <input type="text" name="limiteMensual" id="limiteMensual" class="form-control focusWhite" pattern="[0-9]*"
              [(ngModel)]="conductor.limiteMensualCombustible" (input)="validaInput($event)" placeholder="0"
              autocomplete="off" maxlength="11">
          </div>
          <div id="limiteMensual_{{conductor.telefonoConductor}}_" class="col-12 muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #eb5f5f;"> Campo Obligatorio</span>
          </div>
        </div>
        <div class="col-lg-1 col-12 mb-2 text-center mt-2" (click)="removeConductor(conductor.idConductor)"
          style="cursor: pointer;">
          <img src="./assets/img/delete.png" alt="delete" style="height: 2vh;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!isMobile">
  <div class="alert col-12 muevoCardNuevoCreacion mb-2" (click)="addConductor()">
    <div class="row">
      <div class="col-lg-2 col-12 mb-2">
        <span class="form-control muevoCardNuevoCreacionSpan">Nombre</span>
      </div>
      <div class="col-lg-2 col-12 mb-2">
        <span class="form-control muevoCardNuevoCreacionSpan">Apellido</span>
      </div>
      <div class="col-lg-3 col-12 mb-2">
        <span class="form-control muevoCardNuevoCreacionSpan">+56 9 87654321</span>
      </div>
      <div class="col-lg-2 col-12 mb-2">
        <span class="form-control muevoCardNuevoCreacionSpan">Límite Diario</span>
      </div>
      <div class="col-lg-2 col-12 mb-2">
        <span class="form-control muevoCardNuevoCreacionSpan">Límite Mensual</span>
      </div>
    </div>
  </div>
</div>
<div class="row muevoNoMargin">
  <div class="col-12 muevoNoPadding">
    <div class="row muevoNoMargin">
      <div class="col-lg-4 offset-lg-8 col muevoNoPadding">
        <button type="button" [disabled]="disBtnGuardar" class="btn btnSiguientePasoNoWidth float-right"
          (click)="homeUsuarioInvitar()" *ngIf="!isMobile">Guardar y
          Finalizar</button>
        <button type="button" [disabled]="disBtnGuardar" class="btn btnSiguientePasoNoWidth float-center"
          (click)="homeUsuarioInvitar()" *ngIf="isMobile">Guardar y
          Finalizar</button>
      </div>
    </div>
  </div>
  <!-- <div class="col-6">
    <div class="row">
      <div class="col-5">
        <span class="muevoSubTextCreacion">CARGA MASIVA DE
          INVITACIONES:</span>
      </div>
      <div class="col-7">
        <a class="btn muevoBtnAccion" href="./assets/Plantilla_carga_conductores.xlsx">
          Descarga planilla <img src="./assets/img/descargar.png" alt="descargar" style="height: 0.8em;vertical-align:baseline;"></a>
        &nbsp;
        <a class="btn muevoBtnAccion" (click)="uploadExcel()">
          Subir Planilla <img src="./assets/img/descargar.png" alt="descargar" style="height: 0.8em;vertical-align:baseline;"></a>
      </div>
    </div>
  </div> -->
</div>

<ng-template #popMenuContentDiario>
  <div class="row">
    <div class="col-12">
      <span class="muevoSpanElementDashboard2">APLICA UN LÍMITE DE GASTO A TODOS TUS CONDUCTORES</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <input type="text" name="limiteDiarioCombustible" id="limiteDiarioCombustible" pattern="[0-9]*"
        class="form-control fontSize muevoSidebarAlertTransparente muevoSidebarInput" placeholder="$0"
        [(ngModel)]="limiteDiarioCombustible" (input)="validaInput($event)">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn muevoBtnElementTitle"
        (click)="editLimiteDiarioGeneral();diario.close()">Aplicar</button>
    </div>
  </div>
  <br>
</ng-template>
<ng-template #popMenuContentMensual>
  <div class="row">
    <div class="col-12">
      <span class="muevoSpanElementDashboard2">APLICA UN LÍMITE DE GASTO A TODOS TUS CONDUCTORES</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <input type="text" name="limiteMensualCombustible" id="limiteMensualCombustible" pattern="[0-9]*"
        class="form-control fontSize muevoSidebarAlertTransparente muevoSidebarInput" placeholder="$0"
        [(ngModel)]="limiteMensualCombustible" (input)="validaInput($event)">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn muevoBtnElementTitle"
        (click)="editLimiteMensualGeneral();mensual.close()">Aplicar</button>
    </div>
  </div>
  <br>
</ng-template>
