<div class="row">
  <div class="col-lg-3 col-12 mb-2">
    <span class="bold muevo-titulo-pagina">Mis Movimientos</span>
  </div>
  <div class="col-lg-3 offset-lg-1 col-12 mb-2">
    <div class="btn-group float-right" role="group" aria-label="Basic example">
      <button type="button" class="btn btnPurpleNoWidth" style="min-width: 0px !important;"
        [ngClass]="{'textActive': selTipoMovimiento==0}" (click)="selTipoMovimiento=0"
        id="historialTodos">Todos</button>
      <button type="button" class="btn btnPurpleNoWidth" style="min-width: 0px !important;"
        [ngClass]="{'textActive': selTipoMovimiento==1}" (click)="selTipoMovimiento=1">Abono</button>
      <button type="button" class="btn btnPurpleNoWidth" style="min-width: 0px !important;"
        [ngClass]="{'textActive': selTipoMovimiento==2}" (click)="selTipoMovimiento=2">Cargo</button>
    </div>
  </div>
  <div class="col-lg-3 offset-lg-2 col-12 mb-2">
    <div class="input-group muevoFondoComboNoHeight">
      <div class="input-group-prepend muevoFondoComboNoHeight">
        <span class="input-group-text muevoFondoComboNoHeight bold" id="basic-addon1"
          style="font-size: 14px;">Ver: </span>
      </div>
      <select name="idMes" id="idMes" [(ngModel)]="idMes" class="form-control muevoFondoComboNoHeight"
        style="border: none;">
        <option value="0">Ultimos 30 Dias</option>
        <option value="{{mes.id}}" *ngFor="let mes of meses">{{mes.text}}</option>
      </select>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12" *ngIf="selTipoMovimiento==0">
    <app-historial-todos [searchMonth]="idMes"></app-historial-todos>
  </div>
  <div class="col-12" *ngIf="selTipoMovimiento==1">
    <app-historial-abonos [searchMonth]="idMes"></app-historial-abonos>
  </div>
  <div class="col-12" *ngIf="selTipoMovimiento==2">
    <app-historial-cargos [searchMonth]="idMes"></app-historial-cargos>
  </div>

</div>
