<form #mainForm="ngForm" autocomplete="off">
    <div class="row muevoNoPadding mt-2">
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputNombre">Nombre <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputNombre" name="nombre" [(ngModel)]="current.nombre" #nombreState="ngModel"  placeholder="" [required]="true" [disabled]="true" maxlength="20" (keydown)="validaMaxInputText($event)">
                <app-display-error-field [control]="mainForm.controls['nombre']" [displayError]="_showControlError(mainForm.controls['nombre'])" displayName="Nombre"></app-display-error-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputApellido">Apeliido <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="apellido" id="inputApellido" [(ngModel)]="current.apellido" #apellidoState="ngModel" placeholder="" [required]="true" [disabled]="true" maxlength="20" (keydown)="validaMaxInputText($event)" validationBorder>
                <app-display-error-field [control]="mainForm.controls['apellido']" [displayError]="_showControlError(mainForm.controls['apellido'])" displayName="Apellido"></app-display-error-field>
            </div>
        </div>
        
        <div [ngClass]="{'col-md-6': !tieneCorreo, 'col-md-4': tieneCorreo}">
            <div class="form-group">
                <label for="inputRut">Rut</label>
                <input type="text" class="form-control" id="inputRut" name="rut" [(ngModel)]="current.rut" #rutState="ngModel"  placeholder="" [required]="true" [disabled]="true" formatRut [readOnly]="true">
                <app-display-error-field [control]="mainForm.controls['rut']" [displayError]="_showControlError(mainForm.controls['rut'])" displayName="Rut"></app-display-error-field>
            </div>
        </div>
        <div [ngClass]="{'col-md-6': !tieneCorreo, 'col-md-4': tieneCorreo}">
            <div class="form-group">
                <label for="inputCelular">Celular</label>
                <input type="text" class="form-control" name="celular" id="inputCelular" [(ngModel)]="current.celular" #celularState="ngModel" placeholder="" [required]="true" [disabled]="true" validationBorder>
                <app-display-error-field [control]="mainForm.controls['celular']" [displayError]="_showControlError(mainForm.controls['celular'])" displayName="Celular"></app-display-error-field>
            </div>
        </div>
        <div class="col-md-4" *ngIf="tieneCorreo">
            <div class="form-group">
                <label for="inputEmail">Correo</label>
                <input type="text" class="form-control" name="email" id="inputEmail" [(ngModel)]="current.email" #emailState="ngModel" placeholder="" [required]="true" [disabled]="true" validationBorder>
                <app-display-error-field [control]="mainForm.controls['email']" [displayError]="_showControlError(mainForm.controls['email'])" displayName="Correo"></app-display-error-field>
            </div>
        </div>
        
        <div class="col-6"></div>
        <div class="col-6">
            <button class="btn-muevo-action-default float-right"  (click)="levantarModal()">
                Editar
            </button>
        </div>
        
    </div> 
</form>


