<div class="form-group containerIngreso">
  <br>
  <div class="row muevoNoMargin">
    <div class="col-lg-9 col muevoNoPadding">
      <span style="color: #5C5C5C;font-size: 16px;" class="float-right mt-2 bold">¿Ya tienes una
        cuenta?&nbsp;</span>
    </div>
    <div class="col muevoNoPadding">
      <button type="button" class="btn-muevo-action-default btnSupLogin float-right" (click)="iniSession()">Iniciar
        sesión</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row muevoNoMargin mt-4">
    <div class="col muevoNoPadding">
      <span style="color: #000000;font-size: 24px;">Ingresa tu mail</span>
    </div>
  </div>
  <div class="row muevoNoMargin">
    <div class="col muevoNoPadding">
      <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Ayúdanos a proteger tu cuenta, al ingresar tu mail
        podrás recuperar tu cuenta en caso de que pierdas acceso a tu teléfono.</span>
    </div>
  </div>
  <br>
  <div class="row muevoNoMargin">
    <div class="col-lg-6 col-12 muevoNoPadding" style="padding-bottom: 1vh">
      <div class="row muevoNoMargin">
        <div class="col muevoNoPadding">
          <input type="text" class="form-control inputTextLogin" name="inputMail" id="inputMail"
            [pattern]="_pattern_FormatoMAil"
            (keypress)="_TypeMail($event)"
            placeholder="Ingresa tu correo" [(ngModel)]="inputMail" autocomplete="off" (change)="validateEmail()"
            (input)="validaMaxInputMail($event)" maxlength="100">
        </div>
      </div>
      <!-- <div class="row muevoNoMargin" *ngIf="!_btnSiguiente">
        <div class="col-12">
          <span style="color: #19A320;letter-spacing: 0.91px;"><img src="./assets/img/exitoIngreso.png" alt=""
              style="height: 12px;"> ¡El mail ingresado es
            correcto!</span>
        </div>
      </div> -->
      <div class="row muevoNoMargin">
        <div class="col muevoNoPadding">
          <span id="inputMail_" style="color: #EB5F5F;display:none;"><img src="./assets/img/errorIngreso.png" alt=""
              style="height: 12px;"> {{errorCorreo}}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 muevoNoPadding" *ngIf="noPuedoAcceder">
      <br>
      <div class="row muevoNoMargin">
        <div class="col muevoNoPadding">
          <p style="opacity: 0.9;color: #424242;font-size: 14px;">¿Necesitas ayuda?</p>
        </div>
      </div>
      <br>
      <div class="row muevoNoMargin">
        <div class="col muevoNoPadding">
          <a class="btnTransparente muevoLinkDashboard" (click)="irASoporte()">No puedo acceder a mi
            cuenta</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row muevoNoMargin">
    <div class="col-lg-6 col muevoNoPadding">
      <button type="button" class="btn btnAccionLogin" [disabled]="_btnSiguiente && errorCorreo!='' && errorCorreo!=null" (click)="ingresoAvanzar()">Ir a
        siguiente paso</button>
    </div>
  </div>
</div>
