<div class="row">
  <div class="col-2">
    <img src="./assets/img/man.png" alt="imagenUsuario" width="50px;" style="border-radius: 50%;">
  </div>
  <div class="col-10">
    <div class="row">
      <h4>{{usuarioLogin.usuarioNombre}}
        {{usuarioLogin.usuarioApellido}}</h4>
    </div>
    <div class="row">
      <p>Super Administrador</p>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <app-datos-usuario></app-datos-usuario>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-6">
    <h4>Notificaciones, Alertas y Actividad</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-notificaciones-usuario></app-notificaciones-usuario>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <app-alertas-usuario></app-alertas-usuario>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <app-actividad-usuario></app-actividad-usuario>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <app-empresas-usuario></app-empresas-usuario>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <app-invitaciones-usuario></app-invitaciones-usuario>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-6 offset-6">
    <button type="button" class="btn btn-secondary text-white fa-pull-right" style="border-radius: 24px; width: 50%;"
      routerLink="/HomeMuevo/Dashboard">Cerrar</button>
  </div>
</div>
<br>
