<div class="form-group" style="margin-left: 4vh; margin-right:1vh;">
  <div class="row">
    <div class="col-12">
      <span style="opacity: 0.5;color: #000000;font-size: 13px;font-weight: 500;letter-spacing: 0.9px;">INVITAR A MIS
        CONDUCTORES A MUEVO</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <span style="color: #000000;font-size: 24px;font-weight: bold;">¿Que cuenta deseas usar para administrar tu
        equipo?</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Selecciona la cuenta a la que se unirán tus
        conductores</span>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="">
      <div class="row muevoRestriccionesVehiculo" style="margin-bottom: 0.5vh;">
        <div class="col-12">&nbsp;</div>
        <div class="col-10">
          <span class="muevoMenuContentPerfil">Deseo utilizar esta cuenta</span>
        </div>
        <div class="col-2 text-center">
          <input class="form-check-input" name="nvaCuenta" id="nvaCuenta_2" type="radio" [value]="false"
            [(ngModel)]="equipo.nuevaCuenta">
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="muevo-subtitulo-pagina" style="font-size: 10px;">Tus conductores tendrán acceso a los vehículos y
            medios de pago registrados en esta cuenta. Las facturas serán emitidas con los datos de facturación
            configurados en esta cuenta.</span>
        </div>
      </div>
      <br>
      <div class="row muevoRestriccionesVehiculo" style="margin-bottom: 0.5vh;">
        <div class="col-12">&nbsp;</div>
        <div class="col-10">
          <span class="muevoMenuContentPerfil">Deseo crear una cuenta nueva</span>
        </div>
        <div class="col-2 text-center">
          <input class="form-check-input" name="nvaCuenta" id="nvaCuenta_1" type="radio" [value]="true"
            [(ngModel)]="equipo.nuevaCuenta">
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="muevo-subtitulo-pagina" style="font-size: 10px;">Crea una nueva cuenta si quieres facturar a otro rut,
            o si prefieres separar tu administración personal de vehículos y medios de pago con las de tu equipo.
          </span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="">
      <button class="btn btnSiguientePasoNoWidth" (click)="btnAvanzar()">Siguiente</button>
    </div>
  </div>
</div>
