<div class="row">
  <div class="col-12">
    <h3>Maximiliano Urrutia</h3>
    <h4>Abona a tu empresa</h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card bg-light text-center">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 *ngIf="!procesado">Tu Abono se está procesando</h5>
            <h5 *ngIf="procesado">Tu Abono ha sido exitoso</h5>
            <p>Estamos procesando la información, proximamente se actualizara tu saldo (60 segundos aprox)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              <ngb-progressbar type="info" [value]="75" [striped]="true" [animated]="true"><i>00:45</i>
              </ngb-progressbar>
            </p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <strong>Resumen de transacción</strong>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-4 offset-2">
            <strong>Monto</strong>
          </div>
          <div class="col-6">
            <p>$1.000.000</p>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-4 offset-2">
            <strong>Fecha</strong>
          </div>
          <div class="col-6">
            <p>12/11/2019 18:00</p>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-4 offset-2">
            <strong>Origen</strong>
          </div>
          <div class="col-6">
            <p>Cuenta corriente Match</p>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-4 offset-2">
            <strong>Pago</strong>
          </div>
          <div class="col-6">
            <p>Linea de crédito 1</p>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-4 offset-2">
            <strong>Detalle</strong>
          </div>
          <div class="col-6">
            <p>Empresa 1</p>
          </div>
        </div>
        <br>
        <div class="row" *ngIf="!procesado">
          <div class="col-12">
            <button type="button" class="btn btn-secondary" style="border-radius: 24px;">Mi abono no ha llegado</button>
          </div>
        </div>
        <div class="row" *ngIf="procesado">
          <div class="col-12">
            <button type="button" class="btn btn-secondary" style="border-radius: 24px;">Finalizar</button>
            <p><a class="btnTransparente" routerLink="/Home/AbonoPago">¿Realizar otro abono?</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
