<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a class="btn float-right" (click)="closeThis()">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
        
        <div class="col-12 column">
            <span class="sidebar-title">Abonar desde tarjeta débito o crédito</span>
            <span class="sidebar-subtitle" style="text-transform: capitalize;">
                
            </span>
        </div>
    </div>
    
    <!-- INFO-HEAD -->
    <div class="row">
        <div class="col-12 mt-3 mb-2 column">
            <span class="text-sm">
                ¿Cuanto quieres abonar?
            </span>
            <span class="text-xs mt-2">El monto máximo de abono por día es de $999.999. Si necesitas abonar un monto mayor usa el abono por transferencia.</span>
        </div>
        
        <div class="col-12" style="min-height: 20em">
            <form #mainForm="ngForm" autocomplete="off">
                <input type="text" name="amount" class="form-control" (keydown)="transformAmount($event)" (input)="maskCurrency($event)" [(ngModel)]="current.amount" #amountState="ngModel" [required]="true" maxlength="7" validationBorder>
                <app-display-error-field [control]="mainForm.controls['amount']" [displayError]="_showControlError(mainForm.controls['amount'])" displayName="Monto a abonar"></app-display-error-field>
                <small class="text-xxs text-muted">Tu saldo actual es ${{saldo | number: '1.0-0'}}</small>
            </form>    
        </div>
        
        
        <div class="col-12">
            <button class="btn-muevo-action-muevo" type="button" (click)="abonar()">Realizar abono</button>
        </div>
        
    </div>    
</div>