<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        
        <div class="col-12">
            <a class="btn float-left" closeSidebar *ngIf="!isRoot">
                <i class="fas fa-angle-left fa-2x"></i>
            </a>

            <a class="btn float-right" (click)="closeModals()" *ngIf="!isRoot">
                <i class="fas fa-times fa-2x"></i>
            </a>
            <a class="btn float-right" closeSidebar *ngIf="isRoot">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>

        
        <div class="col-12 column">
            <span class="sidebar-title">
                {{
                    modoAbono ? 'Abonar desde tarjeta débito o crédito' : 
                    (variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2?
                    'Administrar mis tarjetas': 'Ver tarjetas bancarias')
                }}</span>
            <span class="sidebar-subtitle" style="text-transform: capitalize;">
                
            </span>
        </div>
    </div>
    
    <!-- INFO-HEAD -->
    <div class="row">
        <div class="col-12 mt-3 mb-2">
            <span class="text-sm">
                {{
                    modoAbono ? 'Selecciona la tarjeta donde se hará el cargo' : 
                    (variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2?
                        'Registra las tarjetas de débito o crédito que quieres usar en esta cuenta.':'Estas son las tarjetas de débito o crédito que podrás usar en esta cuenta.')}}
            </span>
        </div>
        
        <div class="col-12" *ngIf="tarjetas.length == 0">
            <div class="fit tac">
                <span class="text-xs">NO TIENES TARJETAS INSCRITAS</span>
            </div>
        </div>
        
        <div class="fit sidebar-scroll-1x">
            <div class="row muevoNoMargin btn-muevo-tarjeta-seleccion-switch2 mb-2" *ngFor="let t of tarjetas" style="margin-bottom: .4em !important;">
                <div class="col-2 br text-center" *ngIf="modoAbono">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" name="selection" type="radio" value="true" (click)="tarjetaSeleccionada = t" />
                        </label>
                    </div>
                </div>
                <div class="col-10 space-between">
                    <img alt="" class="float-left" src="./assets/img/{{t.tipoTarjetaCredito.toUpperCase()}}-logo.png" style="height: 2.5em;">
                    <div class="flex-end">
                        <span class="d-none d-md-block">****</span>
                        <span class="ml-1">{{t.ultimos4Digitos}}</span>
                    </div>
                </div>
                <div class="col-2 bl text-center" *ngIf="!modoAbono && variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2" (click)="eliminaTarjeta(t.idInscripcion)">
                    <i class="fas fa-times text-danger hand"></i>
                </div>
            </div>

            <!-- <div class="col-12" *ngFor="let cc of tarjetas">
                <div class="ctacte-info">
                    <span class="text-overflow text-blue text-xs">{{cc.bancoNombre}}</span>
                    <div class="space-between">
                        <span class="text-xs bold mr-2">Nº {{cc.cuentaCorrienteNumero}}</span>
                        <i class="fas fa-times fa-2x text-danger paint" (click)="desasociarCtaCte(cc)"></i>
                    </div>
                </div>
            </div> -->
        </div>
        
        <div class="col-12">
            <hr>
        </div>
        
        <div class="col-12">
            <div *ngIf="variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2" class="alert muevo-widget-button muevoNoMargin space-between" role="alert" (click)="nvaTarjeta()">
                <span class="bold">Registrar nueva tarjeta</span>
                
                <span style="color:#6D6D6D">
                    <i class="fas fa-plus"></i>
                </span>
            </div>
        </div>
        
        <div class="col-12">
            <button class="btn-muevo-action-muevo" type="button" (click)="mostrarPantallaAbono()" [disabled]="tarjetaSeleccionada == undefined" *ngIf="modoAbono">Siguiente</button>
        </div>
        
    </div>    
</div>