<div class="error-msg row" *ngIf="displayError">
    <i *ngIf="control?.errors" class="fas fa-exclamation-circle text-danger"></i>
    <div class="text-danger" *ngIf="control?.errors?.required">El campo '{{displayName}}' es requerido</div>
    <div class="text-danger" *ngIf="control?.errors?.maxlength">El campo '{{displayName}}' excede los {{control.errors.maxlength.requiredLength}} caracteres</div>
    <div class="text-danger" *ngIf="control?.errors?.minlength">El campo '{{displayName}}' no supera los {{control.errors.minlength.requiredLength}} caracteres mínimos</div>
    <div class="text-danger" *ngIf="control?.errors?.pattern">El campo '{{displayName}}' no tiene un formato válido</div>
    <div class="text-danger" *ngIf="control?.errors?.invalidRut && !control?.errors?.required">El campo '{{displayName}}' no es un rut válido</div>
</div>
<div *ngIf="viewFieldError">{{control?.errors | json}}</div>