<div class="form-group contenedorIngreso">
  <div class="row">
    <div class="col-12">
      <div class="col-1 mt-3">
        <a (click)="atras()">
          <i class="fas fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="contenidoIngresocol-12">
      <div class="col-12 text-center">
        <i class="fas fa-mobile-alt fa-3x"></i>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <h5>Ingresa tu número de teléfono</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <br>
      <div class="input-group">
        <div class="col-3 offset-1">
          <span class="form-control" style="background-color: Transparent;border: none;">+56</span>
        </div>
        <div class="col-6">
          <input type="text" name="inputNroTelefono" id="inputNroTelefono" class="form-control"
            [(ngModel)]="inputNroTelefono" (input)="validaMaxInput($event)" maxlength="9" autocomplete="off">
        </div>
      </div>
      <br>
      <div class="col-12 text-center mt-4">
        <button type="button" class="btn btnSiguientePaso" (click)="ingresoTelefonoId()">Enviar
          Codigo</button>
      </div>
    </div>
  </div>
</div>
