<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a class="btn float-left" (click)="backToMain()">
                <i class="fas fa-angle-left fa-2x"></i>
            </a>
            <a class="btn float-right" (click)="closeAll()">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>

    <div class="muevoBodySidebarLeft">
        <div class="row">
            <div class="col-12 column">
                <span class="sidebar-title">Combustible</span>
                <span class="sidebar-subtitle">{{current.nombreCompleto}}</span>
            </div>

        </div>

        <div class="row mt-2">
            <div class="col-12">
                <span class="text-md bold">Ajuste de limites</span>
            </div>
            <div class="col-12 muevoNoPadding">
                <div class="muevo-widget-button-container">
                    <div class="alert muevo-widget-button muevoNoMargin"
                        style="display: flex;flex-direction: column;justify-content: center;">
                        <div class="space-between">
                            <span class="bold">
                                {{current.rolId == 1 ? 
                                    'Operar con límites de gastos' : 'Permite comprar combustible'}}</span>
                            <div class="">
                                <ui-switch [disabled]="variablesApi.home.rolPrivilegiosFront.conductores.verEditar!=2"
                                    class="muevo-switch" size='small'
                                    [checked]="current.restriccionCombustible.permiteComprar"
                                    (change)="setCheckValuePermiteComprar()"></ui-switch>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 pl-3 pr-3" [hidden]="!current.restriccionCombustible.permiteComprar">
                        <form #diarioMensualForm="ngForm" autocomplete="off">
                            <div class="col-12">
                                <label class="bold" for="inputLimiteDiario">Diario <span
                                        class="text-danger">*</span></label>
                                <input [disabled]="variablesApi.home.rolPrivilegiosFront.conductores.verEditar!=2"
                                    type="text" class="form-control" id="inputLimiteDiario" name="limiteDiario"
                                    [(ngModel)]="limits.daily" (keydown)="transformAmount($event)"
                                    (keyup)="mensajeGastoDiario()" (input)="maskCurrency($event)" maxlength="11"
                                    #limitDayState="ngModel" placeholder="$ 0"
                                    [required]="current.restriccionCombustible.permiteComprar" validationBorder>
                                <app-display-error-field [control]="diarioMensualForm.controls['limiteDiario']"
                                    [displayError]="_showControlError(diarioMensualForm.controls['limiteDiario'])"
                                    displayName="Diario"></app-display-error-field>
                                <div class="error-msg" *ngIf="errorDiario!=null">

                                    <div class="text-danger"> <i
                                            class="fas fa-exclamation-circle text-danger"></i>&nbsp; {{errorDiario}}</div>
                                </div>
                                <div class="space-between">
                                    <small class="bold text-muted">Actual:</small>
                                    <small class="bold text-muted">$ {{current.restriccionCombustible.montoMaximoDia |
                                        number: '1.0-0'}}</small>
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="bold" for="inputLimiteMensual">Mensual <span
                                        class="text-danger">*</span></label>
                                <input [disabled]="variablesApi.home.rolPrivilegiosFront.conductores.verEditar!=2"
                                    type="text" class="form-control" id="inputLimiteMensual" name="limiteMensual"
                                    [(ngModel)]="limits.mouthly" (keydown)="transformAmount($event)"
                                    (keyup)="mensajeGastoMensual()" (input)="maskCurrency($event)" maxlength="11"
                                    #limitMonthState="ngModel" placeholder="$ 0"
                                    [required]="current.restriccionCombustible.permiteComprar" validationBorder>
                                <app-display-error-field [control]="diarioMensualForm.controls['limiteMensual']"
                                    [displayError]="_showControlError(diarioMensualForm.controls['limiteMensual'])"
                                    displayName="Mensual"></app-display-error-field>
                                <div class="error-msg" *ngIf="errorMensual!=null">

                                    <div class="text-danger"><i
                                            class="fas fa-exclamation-circle text-danger"></i>&nbsp; {{errorMensual}}</div>
                                </div>
                                <div class="space-between">
                                    <small class="bold text-muted">Actual:</small>
                                    <small class="bold text-muted">$ {{current.restriccionCombustible.montoMaximoMes |
                                        number: '1.0-0'}}</small>
                                </div>
                            </div>
                        </form>

                        <div *ngIf="current.restriccionCombustible.permiteComprar">
                            <div class="col-12">
                                <div class="bold">Seguimiento presupuesto mensual</div>
                                <span
                                    class="text-xxs text-muted bold">
                                    ${{current.restriccionCombustible.montoDisponibleMes| number: '1.0-0'}} disponibles</span>
                                <span class="text-xxs text-muted bold"> de
                                    ${{current.restriccionCombustible.montoMaximoMes | number: '1.0-0'}}</span>
                                <div class="space-between">
                                    <div class="col-10 muevoNoPadding">
                                        <ngb-progressbar type="info"
                                            [value]="current.restriccionCombustible.montoDisponibleMes * 100 /current.restriccionCombustible.montoMaximoMes"
                                            max="100" height=".5em"></ngb-progressbar>
                                    </div>
                                    <div class="col-2 muevoNoPadding">
                                        <span
                                            class="bold float-right text-muted">{{current.restriccionCombustible.montoDisponibleMes
                                            * 100 /current.restriccionCombustible.montoMaximoMes | number:
                                            '1.0-1'}}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12" *ngIf="current.rolId != 1">
                <span class="text-muted text-xxs">{{ current.restriccionCombustible.permiteComprar ? 
                    'El conductor podrá comprar combustible sujeto a los limites de gastos establecidos': 
                    'El conductor no podrá comprar combustible'}} </span>
            </div>
        </div>





        <div class="row">
            <div class="col-12 text-center mt-4" *ngIf="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2">
                <button class="btn-muevo-action-muevo" (click)="applyChanges()"
                    [disabled]="!diarioMensualForm.valid || errorDiario!=null ||errorMensual!=null">Guardar
                    Cambios</button>
            </div>
        </div>

    </div>
</div>