<div class="row">
  <div class="col-6">
    <h4>Mis Empresas</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
  </div>
  <div class="col-6">
    <a class="btn btn-secondary text-white mt-3" style="border-radius: 24px;" (click)="nvaEmpresa()"><i
        class="fas fa-plus"></i> Agregar
      Empresa</a>
  </div>
</div>
<div *ngFor="let cuenta of cuentas">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h5>{{cuenta.cuentaNombre}}</h5>
            </div>
            <div class="col-6">
              <a class="btnTransparente fa-pull-right"
                [routerLink]="['/Home/ConfigurarEmpresa',cuenta.cuentaId]">Configurar</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">Rut Empresa</div>
            <div class="col-6"><span>{{cuenta.cuentaId}}</span></div>
          </div>
          <div class="row">
            <div class="col-6">Razón Social</div>
            <div class="col-6"><span>{{cuenta.cuentaNombre}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
