<div class="row">
  <div class="col-6">
    <h4>Hola {{nombre.usuarioNombre}} {{nombre.usuarioApellido}}</h4>
    <h5><b>Preparamos un resumen para {{empresaActual}}</b></h5>
  </div>
  <div class="col-6">
    <h5 class="float-left mt-3">¡Facturas pendiente de pago!</h5>
    <button type="button" class="btn btnSiguientePaso float-right" style="width: 200px !important"
      routerLink="/Home/Facturas">Pagar
      facturas</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-6">
    <app-cupo-disponible-utilizado></app-cupo-disponible-utilizado>
  </div>
  <div class="col-6">
    <app-grafico-gasto-general></app-grafico-gasto-general>
  </div>
</div>
<br>
<div class="row">
  <div class="col-9">
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-secondarycol-12" [routerLink]="['/Home/ConductorCrear']"><i
            class="fas fa-plus"></i>&nbsp;Crear Conductor</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-secondarycol-12" [routerLink]="['/Home/Estaciones']"><i
            class="fas fa-plus"></i>&nbsp;Estaciones</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-secondarycol-12" [routerLink]="['/Home/VehiculoCrearGrupo']"><i
            class="fas fa-plus"></i> &nbsp;Crear Vehículo</button>
      </div>
    </div>
    <br>
    <div class="row">
      <app-detalle-gastos class="col-12"></app-detalle-gastos>
    </div>
  </div>
  <div class="col-3">
    <div class="row">
      <app-solicitudes-permisos class="col-12"></app-solicitudes-permisos>
    </div>
  </div>
</div>
