<div class="sidebar-right-body">
  <div class="row muevoTopSidebarLeft">
    <div class="col-12">
      <a closeSidebar class="btn float-right">
        <i class="fas fa-times fa-2x"></i>
      </a>
    </div>
  </div>

  <!-- INFO-HEAD -->
  <div class="row">
    <div class="col-12 column">
      <span class="sidebar-title" style="text-transform: capitalize">
        {{ current.nombre }} {{ current.apellido }}
      </span>
      <span class="sidebar-subtitle">{{ current.rut | rut }}</span>
    </div>
  </div>

  <!-- INFO -->
  <div class="row mb-3 mt-3">
    <div class="col-12">
      <div class="sidebar-info" *ngIf="current.rolId != 1">
        <div class="title">Estado:</div>
        <div class="value">
          <div class="flex-center">
            <span class="mr-2">{{
              current.estado ? "Activo" : "Inactivo"
              }}</span>
            <ui-switch [disabled]="variablesApi.home.rolPrivilegiosFront.conductores.verEditar!=2" class="muevo-switch" size="small" [(ngModel)]="current.estado"
              (change)="activaDesactiva(current.usuarioId)"></ui-switch>
          </div>
        </div>
      </div>
      <div class="sidebar-info">
        <div class="title">Rol:</div>
        <div class="value">{{ current.rolNombre }}</div>
      </div>
      <div class="sidebar-info">
        <div class="title">Teléfono:</div>
        <div class="value">+{{ current.telefonoId }}</div>
      </div>
      <div class="sidebar-info">
        <div class="title">Email:</div>
        <div class="value">{{ current.email }}</div>
      </div>
    </div>

    <div class="col-12 mt-4">
      <span class="text-md bold">Ajustes del conductor</span>
    </div>

    <div class="col-12">
      <div class="muevo-widget-button-container">
        <div class="alert muevo-widget-button muevoNoMargin" (click)="mostrarAjustesCombustible()">
          <div class="space-between">
            <div class="column">
              <span class="bold">Combustible</span>
              <span class="muevoSidebarAlertSubTitle">Presupuesto, vehículos</span>
            </div>
            <div>
              <span style="color: #6d6d6d">
                <i class="fas fa-chevron-right"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 pl-2 pr-2" *ngIf="current.restriccionCombustible.permiteComprar">
          <div class="col-12 pl-2 pr-2">
            <div class="bold">Seguimiento presupuesto mensual</div>
            <span class="text-xxs text-muted bold">${{
              current.restriccionCombustible.montoDisponibleMes || 0
              | number: "1.0-0"
              }}
              disponibles</span>
            <span class="text-xxs text-muted bold">
              de ${{
              current.restriccionCombustible.montoMaximoMes || 0
              | number: "1.0-0"
              }}</span>
            <div class="space-between">
              <div class="col-10 muevoNoPadding">
                <ngb-progressbar type="info" [value]="
                    (current.restriccionCombustible.montoDisponibleMes * 100) /
                    current.restriccionCombustible.montoMaximoMes
                  " max="100" height=".5em"></ngb-progressbar>
              </div>
              <div class="col-2 muevoNoPadding">
                <span class="bold float-right text-muted">{{
                  (current.restriccionCombustible.montoDisponibleMes * 100) /
                  current.restriccionCombustible.montoMaximoMes
                  | number: "1.0-1"
                  }}%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="alert muevo-widget-button muevoNoMargin" role="alert" (click)="mostrarRestriccionesConductor()">
        <div class="space-between">
          <div class="column">
            <span class="bold">Restricciones</span>
            <span class="muevoSidebarAlertSubTitle">Dias, Horarios</span>
          </div>
          <div>
            <span style="color: #6d6d6d">
              <i class="fas fa-chevron-right"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-12">
            <div class="alert muevo-widget-button muevoNoMargin" role="alert" (click)="mostrarEstacionesMap()">
                <div class="space-between">
                    <div class="column">
                        <span class="bold">Estaciones</span>
                        <span class="muevoSidebarAlertSubTitle">Estaciones</span>
                    </div>
                    <div>
                        <span style="color:#6D6D6D">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div> -->

    <div class="col-12">
      <div class="alert muevo-widget-button muevoNoMargin"
        style="display: flex; flex-direction: column; justify-content: center"
        (click)="mostrarVehiculosAsignados(current)">
        <div class="space-between">
          <div class="column">
            <span class="bold">Vehículos</span>
            <span class="muevoSidebarAlertSubTitle">{{
              current.vehiculosAsignadosCantidad > 0
              ? current.vehiculosAsignadosCantidad + " Vehículos asignados"
              : "No existen vehículos asignados"
              }}</span>
          </div>
          <div>
            <span style="color: #6d6d6d">
              <i class="fas fa-chevron-right"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <!-- <div class="col-12 text-center" *ngIf="current.rolId != 1">
      <button
        class="btn-muevo-action-muevo"
        [disabled]="btnGuardarSidebar"
        (click)="maquinaModificarConductor(1, true)"
      >
        Guardar
      </button>
    </div> -->
  </div>
  <div class="row muevoNoMargin">
    <div class="col-12 text-center" *ngIf="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2 && current.rolId!=1">
      <button class="btn-muevo-action-danger" (click)="eliminar(current)">
        Eliminar
      </button>
    </div>
  </div>
</div>