<div class="form-group containerIngreso">
  <br>
  <div class="row muevoNoMargin">
    <div class="col-lg-9 col muevoNoPadding">
      <span style="color: #5C5C5C;font-size: 16px;" class="float-right mt-2 bold">¿Aún no tienes una
        cuenta?</span>
    </div>
    <div class="col muevoNoPadding">
      <button type="button" class="btn-muevo-action-default btnSupLogin float-right" (click)="nvaCuenta()">Crear
        cuenta</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row muevoNoMargin mt-4">
    <div class="col muevoNoPadding" *ngIf="_muestraTelefono">
      <span class="bold" style="color: #000000;font-size: 22px;">Iniciar sesión</span>
    </div>
  </div>
  <div class="row muevoNoMargin" *ngIf="_muestraTelefono">
    <div class="col-12 muevoNoPadding">
      <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Pareciera que es la primera vez que ingresas a Muevo
        desde este navegador.</span>
    </div>
    <div class="col-12 muevoNoPadding">&nbsp;</div>
    <div class="col-12 muevoNoPadding">
      <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Por favor ingresa tu número de télefono registrado. Te
        enviaremos un SMS con un código para validar que eres tú.</span>
    </div>
  </div>
  <div *ngIf="_muestraTelefono">
    <div class="row muevoNoMargin" *ngIf="!_validado">
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-12 muevoNoPadding">
        <div class="input-group inputTextLogin" id="dvNroTelefono">
          <div class="input-group-prepend mt-1">
            <span style="opacity: 0.41;color: #000000;font-size:12px !important;font-weight: 500;" class="mt-2">&nbsp;
              +56 9 &nbsp;</span>
          </div>
          <input type="text" name="inputNroTelefono" id="inputNroTelefono" class="form-control" pattern="[0-9]*"
            style="border: transparent;border-radius: 0 15px 15px 0;" [(ngModel)]="inputNroTelefono"
            (input)="validaMaxInput($event)" maxlength="8" autocomplete="off" placeholder="12345678"
            [class.is-invalid]="errorTelefono!=null"
            [disabled]="_validado" (keydown.enter)="solicitarSMS()">
        </div>
        <div class="row muevoNoMargin" *ngIf="_validado">
          <!-- <div class="col-12 muevoNoPadding">
            <img src="./assets/img/exitoIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #19A320;letter-spacing: 0.91px;"> ¡El código SMS ingresado es correcto!</span>
          </div> -->
        </div>
        <div class="row muevoNoMargin">
          <div id="dvNroTelefono_" class="col muevoNoPadding" *ngIf="errorTelefono!=null" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #eb5f5f;"> {{errorTelefono}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-lg-4 col-12 muevoNoPadding">
        <button type="button" class="btn btnAccionLogin" (click)="solicitarSMS()" *ngIf="!_validado">Solicitar
          código</button>
      </div>
    </div>
  </div>
  <div *ngIf="!_muestraTelefono">
    <div class="row muevoNoMargin">
      <div class="col-12 muevoNoPadding">
        <div class="row muevoNoMargin" *ngIf="!_validado">
          <div class="col-12 muevoNoPadding">
            <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">INICIAR SESIÓN</span>
          </div>
          <div class="col-12 muevoNoPadding">
            <span id="msgInicialSms" class="bold" style="color: #000000;font-size: 22px;">Ingresa el código que
              hemos enviado a tu télefono</span>
          </div>
        </div>
      </div>
      <div class="col-12 muevoNoPadding" *ngIf="!_validado">&nbsp;</div>
      <div class="col-12 muevoNoPadding" *ngIf="!_validado">&nbsp;</div>
      <div class="col-lg-6 col-12 muevoNoPadding">
        <div class="row muevoNoMargin" *ngIf="!_validado">
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo1" id="inputValidaCodigo1" pattern="[0-9]*"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo1"
              (input)="validaMaxInputSMS($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo2" id="inputValidaCodigo2" pattern="[0-9]*"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo2"
              (input)="validaMaxInputSMS($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo3" id="inputValidaCodigo3" pattern="[0-9]*"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo3"
              (input)="validaMaxInputSMS($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
        </div>
        <!-- <div class="row muevoNoMargin" *ngIf="_validado">
          <div class="col-12 muevoNoPadding">
            <img src="./assets/img/exitoIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #19A320;letter-spacing: 0.91px;"> ¡El código SMS ingresado es correcto!</span>
          </div>
        </div> -->
        <div class="row muevoNoMargin">
          <div id="inputValidaCodigo3_" class="col muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
            <span style="color: #eb5f5f;"> {{errorSms}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 muevoNoPadding" *ngIf="!_validado">
        <br>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <p style="opacity: 0.9;color: #424242;font-size: 14px;">¿No recibiste el código?</p>
          </div>
        </div>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <a (click)="solicitarSMS()" class="btnTransparente muevoLinkDashboard">Solicitar nuevo código</a>
          </div>
        </div>
        <br>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <a (click)="recibirLlamada()" class="btnTransparente muevoLinkDashboard">Recibir Llamada</a>
          </div>
        </div>
        <br>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <a (click)="modificarTelefono()" class="btnTransparente muevoLinkDashboard">Modificar número telefónico</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row muevoNoMargin" *ngIf="!_btnSiguiente">
    <div class="col muevoNoPadding">
      <div class="row muevoNoMargin" *ngIf="_validado">
        <div class="col-12 muevoNoPadding">
          <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">INICIAR SESIÓN</span>
        </div>
        <div class="col-12 mr-1 muevoNoPadding">
          <span class="bold" style="color: #000000;font-size: 22px;">Bienvenido {{nombreUsuario}}, ingresa tu
            PIN de 4 dígitos</span>
        </div>
      </div>
      <br>
      <br>
      <div class="row muevoNoMargin" *ngIf="!_btnSiguiente">
        <div class="col-lg-6 col-12 muevoNoPadding">
          <div class="input-group inputTextLogin" id="dvinputIngresoContrasena">
            <input type="text" name="inputIngresoContrasena" id="inputIngresoContrasena" class="form-control "
              [(ngModel)]="inputIngresoContrasena" style="border: none;border-radius: 15px 0 0 15px;" pattern="[0-9]*"
              placeholder="Ingresa tu PIN de 4 dígitos" [ngClass]="{'pass': pass}" (input)="validaMaxInput($event)"
              maxlength="4" autocomplete="off" (keydown.enter)="ingresoTokenPost()" (change)="appMatchContrasena()">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2" (click)="cambiaVisiblePass()"
                style="border: none;border-radius: 0 15px 15px 0;background: none"><i class="far fa-eye"></i></span>
            </div>
          </div>
          <div id="dvinputIngresoContrasena_" class="col-12 muevoNoPadding" style="display:none;">
            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje" style="padding-left: 0%;">
            <span style="color: #eb5f5f;"> {{errorPass}}</span>
          </div>
        </div>
        <div class="col-lg-6 col-12 muevoNoPadding">
          <br>
          <div class="row muevoNoMargin">
            <div class="col muevoNoPadding">
              <p style="opacity: 0.9;color: #424242;font-size: 14px;">¿Necesitas ayuda?</p>
            </div>
          </div>
          <div class="row muevoNoMargin">
            <div class="col muevoNoPadding">
              <a class="btnTransparente muevoLinkDashboard" (click)="recuperarPin()">No recuerdo mi PIN</a>
            </div>
          </div>
          <br>
          <div class="row muevoNoMargin">
            <div class="col muevoNoPadding">
              <a class="btnTransparente muevoLinkDashboard" (click)="irASoporte()">No puedo acceder a mi
                cuenta</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row muevoNoMargin">
        <div class="col-lg-6 col-12 muevoNoPadding">
          <button type="button" class="btn btnAccionLogin" *ngIf="!_btnSiguiente" [disabled]="passValida"
            (click)="ingresoTokenPost()">Iniciar Sesión</button>
        </div>
      </div>
    </div>
  </div>
</div>
