<div class="modal-header">
  <h4 class="modal-title" id="modalNvaEmpresa-title">Nueva Empresa</h4>
  <button type="button" class="close" aria-label="Close" (click)="response('Salir')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <h4>{{NombreUsuario}}</h4>
      <h5>Ingresa los datos de la empresa que de deseas agregar</h5>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <span><strong>CuentaId</strong></span>
        </div>
        <div class="col-6">
          <span>{{nvaCuentaId}}</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span><strong>Rut</strong></span>
        </div>
        <div class="col-6">
          <input type="text" name="nvaDatosFacturacionRut" id="nvaDatosFacturacionRut" class="form-control" formatRut
            maxlength="10" (change)="validaMaxInputRut($event)" [(ngModel)]="nvaDatosFacturacionRut"
            placeholder="Ingresa tu Rut">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span><strong>Email</strong></span>
        </div>
        <div class="col-6">
          <input type="text" name="nvaDatosFacturacionEmail" id="nvaDatosFacturacionEmail" class="form-control"
            [(ngModel)]="nvaDatosFacturacionEmail" placeholder="Ingresa tu Correo">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span><strong>Giro</strong></span>
        </div>
        <div class="col-6">
          <input type="text" name="nvaDatosFacturacionGiro" id="nvaDatosFacturacionGiro" class="form-control"
            [(ngModel)]="nvaDatosFacturacionGiro" placeholder="Ingresa tu Giro">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span><strong>Distrito</strong></span>
        </div>
        <div class="col-6">
          <input type="text" name="nvaDatosFacturacionDistrito" id="nvaDatosFacturacionDistrito" class="form-control"
            [(ngModel)]="nvaDatosFacturacionDistrito" placeholder="Ingresa tu Distrito">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span><strong>Direccion</strong></span>
        </div>
        <div class="col-6">
          <input type="text" name="nvaDatosFacturacionDireccion" id="nvaDatosFacturacionDireccion" class="form-control"
            [(ngModel)]="nvaDatosFacturacionDireccion" placeholder="Ingresa tu Direccion">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span><strong>Razón Social</strong></span>
        </div>
        <div class="col-6">
          <input type="text" name="nvaDatosFacturacionRazonSocial" id="nvaDatosFacturacionRazonSocial"
            class="form-control" [(ngModel)]="nvaDatosFacturacionRazonSocial" placeholder="Ingresa tu Razón Social">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span><strong>Codigo Postal</strong></span>
        </div>
        <div class="col-6">
          <input type="text" name="nvaDatosFacturacionCodigoPostal" id="nvaDatosFacturacionCodigoPostal"
            class="form-control" [(ngModel)]="nvaDatosFacturacionCodigoPostal" placeholder="Ingresa tu Codigo Postal">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span><strong>Nombre de Fantasía</strong></span>
        </div>
        <div class="col-6">
          <input type="text" name="nvaDatosFacturacionNombreFantasia" id="nvaDatosFacturacionNombreFantasia"
            class="form-control" [(ngModel)]="nvaDatosFacturacionNombreFantasia"
            placeholder="Ingresa tu Nombre de Fantasía">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span><strong>Actividad Economica</strong></span>
        </div>
        <div class="col-6">
          <select name="nvaDatosFacturacionActividadEconomica" id="nvaDatosFacturacionActividadEconomica"
            class="form-control" [(ngModel)]="nvaDatosFacturacionActividadEconomica">
            <option value="{{AE.codigo}}" *ngFor="let AE of actividadesEconomicas">{{AE.descripcion}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <span><strong>Periodo Facturacion</strong></span>
        </div>
        <div class="col-6">
          <select name="nvaDatosFacturacionPeriodoFacturacion" id="nvaDatosFacturacionPeriodoFacturacion"
            [(ngModel)]="nvaDatosFacturacionPeriodoFacturacion" class="form-control">
            <option value="{{PF.periodoFacturacionNombre}}" *ngFor="let PF of periodosFacturacion">
              {{PF.periodoFacturacionNombre}}</option>
          </select>
        </div>
      </div>
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <a class="btnTransparente mt-3" (click)="response('Salir')"><strong>Cancelar y volver atrás</strong></a>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-secondary text-white" style="border-radius: 24px; width: 70%"
        (click)="response('Guardar')">Agregar Nueva Cuenta</button>
    </div>
  </div>
</div>
