<div class="row">
  <div class="col-12">
    <span class="bold muevo-modal-title">Roles y Perfiles</span>
  </div>
</div>
<br>
<div class="row" *ngIf="_invitadosPendientes">
  <div class="col-12">
    <span class="bold muevoSubTitle">INVITACIONES PENDIENTES</span>
  </div>
  <div class="col-12">&nbsp;</div>

  <div class="col-lg-4 col-12 mb-2" *ngFor="let invitado of invitados">
    <div class="alert muevoDetalleGastosUnitario">
      <div class="row muevoNoMargin">
        <div class="col-1 muevoNoPadding mt-2">
          <img src="./assets/img/alerta.png" alt="" style="height: 16px;">
        </div>
        <div class="col-11 muevoNoPadding mt-2">
          <span class="muevoSubTitleFacturacion bold">{{invitado.invitacionEstadoInvitado}}</span>
        </div>
      </div>
      <div class="row muevoNoMargin">
        <div class="col offset-1 muevoNoPadding mt-2">
          <span style="text-transform: capitalize;">{{invitado.invitacionValidaciones.invitacionNombre}}
            {{invitado.invitacionValidaciones.invitacionApellido}}</span>
          <br>
          <span>Teléfono : +{{invitado.invitacionTelefonoInvitadoId}}</span>
        </div>
      </div>
      <div class="row muevoNoMargin">
        <div class="col offset-1 muevoNoPadding">
          Invitado como : {{invitado.invitacionRol}}
        </div>
      </div>
      <div class="row muevoNoMargin">
        <div class="col muevoNoPadding text-center mt-2 mb-2">
          <span (click)="reenviarInvitacion(invitado.invitacionId,1)"
            class="btnTransparente muevoLinkDashboard">Reenviar</span>
        </div>
        <div class="col muevoNoPadding text-center mt-2 mb-2">
          <span (click)="cancelarInvitacion(invitado.invitacionId,0)"
            class="btnTransparente muevoLinkDashboard">Eliminar</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 mb-2" *ngIf="_navInvitados">
    <div class="row">
      <div class="col-lg-12 col">&nbsp;</div>
      <div class="col-lg-12 col">&nbsp;</div>
      <div class="col-lg-12 col">&nbsp;</div>
      <div class="col-lg-12 col">&nbsp;</div>
      <div class="col-12">
        <a class="btnTransparente float-right muevoLinkDashboard" routerLink="/HomeMuevo/MisInvitaciones">Ver todas las
          invitaciones</a>
      </div>
    </div>
  </div>
</div>

<hr style="width: 100%;" *ngIf="_invitadosPendientes">

<div class="row" *ngIf="!isMobile">
  <div class="col-12">
    <div class="alert muevoDetalleGastosTitulo mb-2" style="padding-top: 0%;">
      <div class="row">
        <div class="col-12 text-left mt-3"><span class="muevoSubTitlePurple">Super Administrador</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let SA of SuperAdmins">
  <div class="row muevoDetalleGastosUnitario mb-2" *ngIf="!isMobile">
    <div class="col-lg-4 col-12" (click)="mostrarUsuario(SA.idConductor,$event)">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-6">
          <span [ngClass]="{'disabled': !SA.estadoConductor}" style="text-transform: capitalize;">
            {{SA.nombreConductor}} {{SA.apellidosConductor}}</span>
        </div>
        <div class="col-6">
          <span class="muevoSubTextDashboard"
            [ngClass]="{'disabled': !SA.estadoConductor}">{{formatRut(SA.rutConductor)}}</span>
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
    <div class="col-lg-4 col-12" (click)="mostrarUsuario(SA.idConductor,$event)">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-6">
          <span [ngClass]="{'disabled': !SA.estadoConductor}">+ {{SA.telefonoConductor}}</span>
        </div>
        <div class="col-6">
          <span [ngClass]="{'disabled': !SA.estadoConductor}">{{SA.mailConductor}}</span>
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
    <div class="col-lg-3 col-10" (click)="mostrarUsuario(SA.idConductor,$event)">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-12 text-center">
          {{SA.usuarioCuentaConduce == 1?"Usuario Conductor":"Usuario NO Conductor"}}
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
    <div class="col-lg-1 col-2">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-12" placement="left" [ngbPopover]="popContent" popoverClass="muevoMenuElementDashboard"
          #p="ngbPopover">
          <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vh;height: 20px;"
            *ngIf="!SA.editable">
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
  </div>
  <ng-template #popContent>
    <div class="row">
      <div class="col-12">
        <div class="alert muevoDivElementDashboard" (click)="mostrarUsuario(SA.idConductor,$event)">
          <span class="muevoSpanElementDashboard">Editar</span>
        </div>
        <!-- <div class="alert muevoDivElementDashboard" role="alert" (click)="modificaSuperAdmin(SA.idConductor,2)">
          <span class="muevoSpanElementDashboard">Eliminar</span>
        </div> -->
      </div>
    </div>
  </ng-template>

  <div class="alert muevoDetalleGastosUnitario mb-2" (click)="mostrarUsuario(SA.idConductor,$event)" *ngIf="isMobile">
    <div class="row">
      <div class="col-8 mb-2">
        <span [ngClass]="{'disabled': !SA.estadoConductor}" style="text-transform: capitalize;">
          {{SA.nombreConductor}} {{SA.apellidosConductor}}</span>
        <br>
        <span class="muevoSubTextDashboard"
          [ngClass]="{'disabled': !SA.estadoConductor}">{{formatRut(SA.rutConductor)}}</span>
      </div>
      <div class="col mb-2">
        <span class="muevoSubTitlePurple">SUPER<br>ADMIN</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12"><span class="muevoSubTextDashboard">Teléfono : </span>
        <span [ngClass]="{'disabled': !SA.estadoConductor}">+ {{SA.telefonoConductor}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12"><span class="muevoSubTextDashboard">Mail : </span>
        <span [ngClass]="{'disabled': !SA.estadoConductor}">{{SA.mailConductor}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{SA.usuarioCuentaConduce == 1?"Usuario Conductor":"Usuario NO Conductor"}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="alert muevoMenuBoxPerfilDashed" style="padding-top: 0%; " (click)="inviteSuperAdmin()">
      <div class="row">
        <div class="col-12 mt-3 text-center">
          <span class="muevoSubTitlePurple">AGREGAR NUEVO SUPER ADMINISTRADOR <img src="./assets/img/plus.png" alt=""
              style="height: 0.8em;vertical-align:baseline;"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row" *ngIf="!isMobile">
  <div class="col-12">
    <div class="alert muevoDetalleGastosTitulo mb-2" style="padding-top: 0%;">
      <div class="row">
        <div class="col-12 text-left mt-3"><span class="muevoSubTitlePurple">Administrador</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="isMobile">
  <div class="col-12">
    <div class="alert muevoDetalleGastosTitulo mb-2" style="padding-top: 0%;">
      <div class="row">
        <div class="col-12 text-center mt-2">
          <span class="muevoSubTitlePurple">Administrador</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="Administradores.length < 1">
  <div class="row">
    <div class="col-12">
      <div class="alert muevoDetalleGastosUnitario mb-2" style="padding-top: 0%;">
        <div class="row">
          <div class="col-12 text-left mt-3"><span class="muevoSubTitle">No hay administradores</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let Admin of Administradores">
  <div class="row muevoDetalleGastosUnitario mb-2" *ngIf="!isMobile">
    <div class="col-lg-4 col-12" (click)="mostrarUsuario(Admin.idConductor,$event)">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-6">
          <span [ngClass]="{'disabled': !Admin.estadoConductor}" style="text-transform: capitalize;">
            {{Admin.nombreConductor}} {{Admin.apellidosConductor}}</span>
        </div>
        <div class="col-6">
          <span class="muevoSubTextDashboard"
            [ngClass]="{'disabled': !Admin.estadoConductor}">{{formatRut(Admin.rutConductor)}}</span>
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
    <div class="col-lg-4 col-12" (click)="mostrarUsuario(Admin.idConductor,$event)">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-6">
          <span [ngClass]="{'disabled': !Admin.estadoConductor}">+ {{Admin.telefonoConductor}}</span>
        </div>
        <div class="col-6">
          <span [ngClass]="{'disabled': !Admin.estadoConductor}">{{Admin.mailConductor}}</span>
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
    <div class="col-lg-3 col-10">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-6 text-center">
          {{Admin.usuarioCuentaConduce == 1?"Usuario Conductor":"Usuario NO Conductor"}}
        </div>
        <div class="col-6 text-center">
          <span class="btnTransparente" *ngIf="Admin.usuarioCuentaConduce == 1"
            (click)="modificaAdministrador(Admin.idConductor,0)">Desactivar</span>
          <span class="btnTransparente" *ngIf="Admin.usuarioCuentaConduce != 1"
            (click)="modificaAdministrador(Admin.idConductor,1)">Activar</span>
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
    <div class="col-lg-1 col-2">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-12" placement="left" [ngbPopover]="popContent" popoverClass="muevoMenuElementDashboard"
          #p="ngbPopover">
          <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vh;height: 20px;"
            *ngIf="!Admin.editable">
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
  </div>
  <ng-template #popContent>
    <div class="row">
      <div class="col-12">
        <div class="alert muevoDivElementDashboard" (click)="mostrarUsuario(Admin.idConductor,$event)">
          <span class="muevoSpanElementDashboard">Editar</span>
        </div>
        <div class="alert muevoDivElementDashboard" role="alert" (click)="modificaAdministrador(Admin.idConductor,2)">
          <span class="muevoSpanElementDashboard">Eliminar</span>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="alert muevoDetalleGastosUnitario mb-2" [ngClass]="{'disabled': !Admin.estadoConductor}" *ngIf="isMobile">
    <div class="row">
      <div class="col-8 mb-2" (click)="mostrarUsuario(Admin.idConductor,$event)">
        <span style="text-transform: capitalize;">
          {{Admin.nombreConductor}} {{Admin.apellidosConductor}}</span>
        <br>
        <span class="muevoSubTextDashboard">{{formatRut(Admin.rutConductor)}}</span>
      </div>
      <div class="col-4 mt-2 custom-switches">
        <ui-switch size="small" [(ngModel)]="Admin.estadoConductor" (change)="activaDesactivaAdmin(Admin.idConductor)"
          class="float-right"></ui-switch>
      </div>
    </div>
    <div class="row" (click)="mostrarUsuario(Admin.idConductor,$event)">
      <div class="col"><span class="muevoSubTextDashboard">Teléfono : </span>
        <span>+ {{Admin.telefonoConductor}}</span>
      </div>
    </div>
    <div class="row" (click)="mostrarUsuario(Admin.idConductor,$event)">
      <div class="col"><span class="muevoSubTextDashboard">Mail : </span>
        <span>{{Admin.mailConductor}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col" (click)="mostrarUsuario(Admin.idConductor,$event)">
        <span class="muevoSubTextDashboard">Conduce y puede comprar combustible</span>
      </div>
      <div class="col text-right">
        <span class="btnTransparente muevoLinkDashboard" *ngIf="Admin.usuarioCuentaConduce == 1"
          (click)="modificaAdministrador(Admin.idConductor,0)">Desactivar</span>
        <span class="btnTransparente muevoLinkDashboard" *ngIf="Admin.usuarioCuentaConduce != 1"
          (click)="modificaAdministrador(Admin.idConductor,1)">Activar</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="alert muevoMenuBoxPerfilDashed" style="padding-top: 0%;" (click)="inviteAdmin()">
      <div class="row">
        <div class="col-12 mt-3 text-center">
          <span class="muevoSubTitlePurple">AGREGAR NUEVO ADMINISTRADOR <img src="./assets/img/plus.png" alt=""
              style="height: 0.8em;vertical-align:baseline;"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row" *ngIf="!isMobile">
  <div class="col-12">
    <div class="alert muevoDetalleGastosTitulo mb-2" style="padding-top: 0%;">
      <div class="row">
        <div class="col-12 text-left mt-3"><span class="muevoSubTitlePurple">Analista</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="isMobile">
  <div class="col-12">
    <div class="alert muevoDetalleGastosTitulo mb-2" style="padding-top: 0%;">
      <div class="row">
        <div class="col-12 text-center mt-2">
          <span class="muevoSubTitlePurple">Analista</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="Analistas.length < 1">
  <div class="row">
    <div class="col-12">
      <div class="alert muevoDetalleGastosUnitario mb-2" style="padding-top: 0%;">
        <div class="row">
          <div class="col-12 text-left mt-3"><span class="muevoSubTitle">No hay analistas</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let Ana of Analistas">
  <div class="row muevoDetalleGastosUnitario mb-2" *ngIf="!isMobile">
    <div class="col-lg-4 col-12" (click)="mostrarUsuario(Ana.idConductor,$event)">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-6">
          <span [ngClass]="{'disabled': !Ana.estadoConductor}" style="text-transform: capitalize;">
            {{Ana.nombreConductor}} {{Ana.apellidosConductor}}</span>
        </div>
        <div class="col-6">
          <span class="muevoSubTextDashboard"
            [ngClass]="{'disabled': !Ana.estadoConductor}">{{formatRut(Ana.rutConductor)}}</span>
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
    <div class="col-lg-4 col-12" (click)="mostrarUsuario(Ana.idConductor,$event)">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-6">
          <span [ngClass]="{'disabled': !Ana.estadoConductor}">+ {{Ana.telefonoConductor}}</span>
        </div>
        <div class="col-6">
          <span [ngClass]="{'disabled': !Ana.estadoConductor}">{{Ana.mailConductor}}</span>
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
    <div class="col-lg-3 col-10">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-6 text-center">
          {{Ana.usuarioCuentaConduce == 1?"Usuario Conductor":"Usuario NO Conductor"}}
        </div>
        <div class="col-6 text-center">
          <span class="btnTransparente" *ngIf="Ana.usuarioCuentaConduce == 1"
            (click)="modificaAnalista(Ana.idConductor,0)">Desactivar</span>
          <span class="btnTransparente" *ngIf="Ana.usuarioCuentaConduce != 1"
            (click)="modificaAnalista(Ana.idConductor,1)">Activar</span>
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
    <div class="col-lg-1 col-2">
      <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-12" placement="left" [ngbPopover]="popContent" popoverClass="muevoMenuElementDashboard"
          #p="ngbPopover">
          <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vh;height: 20px;"
            *ngIf="!Ana.editable">
        </div>
        <div class="col-12">&nbsp;</div>
      </div>
    </div>
  </div>
  <ng-template #popContent>
    <div class="row">
      <div class="col-12">
        <div class="alert muevoDivElementDashboard" (click)="mostrarUsuario(Ana.idConductor,$event)">
          <span class="muevoSpanElementDashboard">Editar</span>
        </div>
        <div class="alert muevoDivElementDashboard" role="alert" (click)="maquinaModificarConductor(Ana.idConductor,2)">
          <span class="muevoSpanElementDashboard">Eliminar</span>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="alert muevoDetalleGastosUnitario mb-2" [ngClass]="{'disabled': !Ana.estadoConductor}" *ngIf="isMobile">
    <div class="row">
      <div class="col-8 mb-2" (click)="mostrarUsuario(Ana.idConductor,$event)">
        <span style="text-transform: capitalize;">
          {{Ana.nombreConductor}} {{Ana.apellidosConductor}}</span>
        <br>
        <span class="muevoSubTextDashboard">{{formatRut(Ana.rutConductor)}}</span>
      </div>
      <div class="col-4 mt-2 custom-switches">
        <ui-switch size="small" [(ngModel)]="Ana.estadoConductor" (change)="activaDesactivaAnalista(Ana.idConductor)"
          class="float-right"></ui-switch>
      </div>
    </div>
    <div class="row" (click)="mostrarUsuario(Ana.idConductor,$event)">
      <div class="col"><span class="muevoSubTextDashboard">Teléfono : </span>
        <span>+ {{Ana.telefonoConductor}}</span>
      </div>
    </div>
    <div class="row" (click)="mostrarUsuario(Ana.idConductor,$event)">
      <div class="col"><span class="muevoSubTextDashboard">Mail : </span>
        <span>{{Ana.mailConductor}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col" (click)="mostrarUsuario(Ana.idConductor,$event)">
        <span class="muevoSubTextDashboard">Conduce y puede comprar combustible</span>
      </div>
      <div class="col mt-2 text-right">
        <span class="btnTransparente muevoLinkDashboard" *ngIf="Ana.usuarioCuentaConduce == 1"
          (click)="modificaAnalista(Ana.idConductor,0)">Desactivar</span>
        <span class="btnTransparente muevoLinkDashboard" *ngIf="Ana.usuarioCuentaConduce != 1"
          (click)="modificaAnalista(Ana.idConductor,1)">Activar</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="alert muevoMenuBoxPerfilDashed" style="padding-top: 0%;" (click)="inviteAnalist()">
      <div class="row">
        <div class="col-12 mt-3 text-center">
          <span class="muevoSubTitlePurple">AGREGAR NUEVO ANALISTA <img src="./assets/img/plus.png" alt=""
              style="height: 0.8em;vertical-align:baseline;"></span>
        </div>
      </div>
    </div>
  </div>
</div>
