
<span class="muevo-subtitulo-pagina" *ngIf="config._activateFormaPago">Tu cuenta está operando con las siguientes formas de pago</span>
<span class="muevo-subtitulo-pagina" *ngIf="!config._activateFormaPago">Debes Activar una forma de pago para operar</span>

<div class="row mt-2">
    <!-- SALDO -->
    <div class="col-sm-12 col-md-6 col-lg-5 mt-1" [ngClass]="{'mb-2': isMobile }" *ngIf="config._billetera">
        <div class="card">
            <div class="card-header">
                <span class="bold text-sm text-gray">Billetera</span>
                <!-- <div class="float-right lnk-sm">Ver más <i class="fa fa-plus"></i></div> -->
            </div>
            <div class="card-body" >
                <div *ngIf="true"><!-- config._billetera -->
                     <div class="row">
                        <div class="col mt-1 text-sm">
                            Tu saldo actual es
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <span class="text-lg">$</span>
                            <span class="text-lg bold">{{current?.saldo?.saldoFinal|number: '1.0-0'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="flex-end">
                            <a class="lnk-xxs" routerLink="/HomeMuevo/MisMetodosPagoMovimientos">Mis movimientos</a>
                            <div class="vl" *ngIf="variablesApi.home.rolPrivilegiosFront.formasDePago.abonarYretirar==1" ></div>
                            <span class="lnk-xxs" *ngIf="variablesApi.home.rolPrivilegiosFront.formasDePago.abonarYretirar==1" (click)="openAbonoSeleccion()" >Abonar</span>
                            <div class="vl" *ngIf="variablesApi.home.rolPrivilegiosFront.formasDePago.abonarYretirar==1"></div>
                            <span class="lnk-xxs" *ngIf="variablesApi.home.rolPrivilegiosFront.formasDePago.abonarYretirar==1" (click)="retirarAbono()" >Retirar</span>
                            <!-- routerLink="/HomeMuevo/MisMetodosPago/M" -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TARJETA -->
    <!-- <div class="col-sm-12 col-md-6 col-lg-4 mt-1" [ngClass]="{'mb-2': isMobile }" *ngIf="config._tarjeta">
        <div class="card">
            <div class="card-header">
                <span class="bold text3">Tarjeta de débito o crédito asociada</span>
                <div class="float-right lnk-sm">Ver más <i class="fa fa-plus"></i></div>
            </div>
            <div class="card-body" >
                <div class="row">
                    <div class="col text-center mt-4">
                        <div class="credit-card-info">
                            <div class="float-left" *ngIf="current.tarjeta?.tipoTarjetaCredito">
                                <img src="./assets/img/{{current.tarjeta.tipoTarjetaCredito}}-logo.png" alt="logo" style="height: 1em;">
                            </div>
                            <span class="card-number float-right">**** **** **** {{current.tarjeta?.ultimos4Digitos}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="actions-vertical">
                            <a class="lnk-md" routerLink="/HomeMuevo/MisMetodosPago">Gestionar Tarjetas <i class="fa fa-angle-right"></i></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- GASTO MENSUAL -->
    <div class="col-sm-12 col-md-6 col-lg-5 mt-1" [ngClass]="{'mb-2': isMobile }">
        <div class="card">
            <div class="card-header">
                <span class="bold text-sm text-gray">Gasto</span>
                <!-- <div class="float-right lnk-sm">Ver más <i class="fa fa-plus"></i></div> -->
            </div>
            <div class="card-body" >

                <div class="row">
                    <div class="col mt-1 text-sm">
                        El acumulado del mes anterior era 
                        <span class="bold">${{indicadores.gastoTotalMesAnterior | number: '1.0-0' }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-2">
                        <div class="space-between">
                            <div>
                                <span class="text-lg ">$</span>
                                <span class="text-lg bold">{{indicadores.gastoTotalMes | number: '1.0-0' }}</span>
                            </div>
                            <div class="space-between" style="max-width: 10em;" *ngIf="indicadores.porcentajeAumentoGastoMes > 0">
                                <div>
                                    <i class="fas fa-angle-up fa-2x text-danger"></i>
                                </div>
                                <div class="text-xs ml-2">Has gastado un {{indicadores.porcentajeAumentoGastoMes}}% mas este mes</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="flex-end">
                            <a class="lnk-xxs" routerLink="/HomeMuevo/MisTransacciones">Ver detalle en historial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>       
                             