@import './../../../../../../assets/css/colors.scss';

.header-option{
    color: $color-blue4;
}


//CARD
$card-radius: 10px;
.card{
    min-height: 220px;
    border-radius: $card-radius;
}
.card-header{
    background-color: #fff;
    padding: .45rem 1.25rem;
    border-top-right-radius: $card-radius;
    border-top-left-radius: $card-radius;
}

.card-body{
    background-color: #fafafa;
    padding: 1rem;
}

.card-footer{
    border-bottom-right-radius: $card-radius;
    border-bottom-left-radius: $card-radius;
    border-top: none;
}

.credit-card-info{
    background: #E8EAF5 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    .card-number{
        text-align: left;
        font-family: TTNorms;
        font-size: 16px;
        letter-spacing: 0;        
        color: #000000;
        opacity: 1;
        letter-spacing: 1px;
    }
}


    


