<div class="form-group containerIngreso">
  <br>
  <div class="row">
    <div class="col-lg-9 col muevoNoPadding">
      <span style="color: #5C5C5C;font-size: 16px;" class="float-right mr-2 mt-2 bold">¿Aún no tienes una
        cuenta?&nbsp;&nbsp;</span>
    </div>
    <div class="col muevoNoPadding">
      <button type="button" class="btn-muevo-action-default btnSupLogin float-right" (click)="nvaCuenta()">Crear
        cuenta</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row mt-4">
    <div class="col-12">
      <span class="bold" style="color: #000000;font-size: 22px;">Soporte</span>
    </div>
    <div class="col-12">&nbsp;</div>
    <div class="col-12">
      <p style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Al parecer estás intentando ingresar a tu cuenta con un
        nuevo teléfono.</p>
      <p style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Para asegurarnos que eres tú, necesitamos validar otros
        datos asociados a tu cuenta, contacta a nuestro equipo de soporte al <span class="bold">600 200
          0202</span> y sigue sus indicaciones </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btnAccionLogin" (click)="iniSession()">Ir a Iniciar Sesión</button>
    </div>
  </div>
</div>
