<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a closeSidebar class="btn float-right">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>
    
    <div class="muevoBodySidebarLeft">
        <div class="row">
            <div class="col-12 muevoNoPadding">
                <span class="sidebar-title">Crear nueva cuenta</span>
            </div>
            <div class="col-12 muevoNoPadding">
                <span class="text-xs">Crea una nueva cuenta empresa si quieres facturar a otro RUT, o bien generar un nuevo espacio para administrar tus vehículos y medios de pago.</span>
            </div>
        </div>
        
        <form #configNuevaCuentaForm="ngForm" autocomplete="off">
            <div class="row mt-4">
                
                <div class="col-12">
                    <label for="txtNombre">Nombre de la nueva cuenta <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="nombre" id="txtNombre" [(ngModel)]="current.nombre" #nombreState="ngModel" placeholder="" 
                    (keydown)="_TypeDefault($event)"
                    [pattern]="_pattern_FormatoDefault"
                    [required]="true" validationBorder minlength="5" maxlength="20" (input)="validateInputMaxText($event)">
                    <app-display-error-field [control]="configNuevaCuentaForm.controls['nombre']" [displayError]="_showControlError(configNuevaCuentaForm.controls['nombre'])" displayName="Nombre de la nueva cuenta"></app-display-error-field>
                </div>
                
            </div>
        </form>

        <div class="row">
            <div class="col-12 text-center">
                <button class="btn-muevo-action-muevo" [disabled]="!configNuevaCuentaForm.valid" (click)="guardar(current)" >Crear nueva cuenta</button>
            </div>
        </div>
    </div>
</div>