<!-- TITLE -->
<div class="row mb-2">
    <div class="col-12 col-sm-6">
        <span class="muevo-titulo-pagina" id="idCondu">Mis Empresas</span>
    </div>
    <div class="col-12 col-sm-6 flex-end">
        <div class="btn-muevo-default-md mt-1 float-right" (click)="abrirInvitaciones()"
        ngbTooltip="Ver invitaciones" placement="top" *ngIf="variablesApi.home.menu.tieneInvitaciones">Invitaciones
        esperan respuesta <i class="fas fa-angle-right fa-2x"></i></div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <button class="btn-muevo-primary-icon float-left" (click)="nuevaCuenta()">
            Crear nueva cuenta <i class="fa fa-plus"></i>
        </button>
    </div>
</div>

<div class="row">
    <ng-container *ngTemplateOutlet="tabla"></ng-container>  
</div>




<ng-template #tabla>
    <div class="col-12 mt-4">
        <div class="table-responsive">
            <mat-table [dataSource]="dataSource" class="collapsed" matSort>
                
            
                <ng-container matColumnDef="cuentaNombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>EMPRESA</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="column">
                            <span class="bold">{{row.cuentaNombre}}</span>
                        </div>
                    </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="rolNombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ROL</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.rolNombre}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="table-row-options" *ngIf="row.rolId==1" style="cursor: pointer;" (click)="mostrarConductor(row,$event)">
                            <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vh;height: 20px;">
                        </div>
                    </mat-cell>
                </ng-container>
                

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'opacity': !row.usuarioCuentaEstado ? '0.5' : '1' }" >
                </mat-row>
            </mat-table>
    
            <mat-paginator [hidden]="!_haveRows(dataSource.data)" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 30 , 40, 50]"
                showFirstLastButtons>
            </mat-paginator>

            <div class="no-rows flex-center" *ngIf="!_haveRows(dataSource.data)">
                <span class="text-sm">No existen registros</span>
            </div>
        
        </div>
    </div>
    
</ng-template>

