<!-- credito -->
<div class="card" *ngIf="_credito">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <div class="row">
              <div class="col-12 form-inline">
                <h6 class="mt-2">Cupo Disponible</h6>&nbsp;<i class="fas fa-info-circle"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h5>${{cupoCredito.disponible}}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span>De un cupo total de ${{cupoCredito.total}} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 form-inline">
                <h6 class="mt-2">Cupo Utilizado</h6>&nbsp;<i class="fas fa-info-circle"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-12 form-inline">
                <h5>${{cupoCredito.utilizado}}</h5>&nbsp;<span>{{cupoCredito.porcentaje}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span>Respecto a los 30 dias anteriores </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- abono -->
<div class="card" *ngIf="_abono">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <div class="row">
              <div class="col-12 form-inline">
                <h6 class="mt-2">Saldo Disponible</h6>&nbsp;<i class="fas fa-info-circle"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h5>${{saldo.montoSaldo}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
