:host {
	::ng-deep {
        //oculta el mat-field
        .mat-form-field-infix{
            display: none;
        }

        //esconde el icono
        .mat-icon-button{
            margin: -40px;
            color: transparent;
        }
    }
}

//reduce el tamaño del calendario
::ng-deep .mat-datepicker-content .mat-calendar {
    width: auto !important;
    height: auto !important;

    max-height: 331px;
    max-width: 278px;
}