<div class="row">
    <div class="col-12">
        <div class="column">
            <div class="flex-start">
                <div class="space-between">
                    <div class="input-group muevo hand" style="max-width: 220px;" (click)="starPicker.open()">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputFilter">Inicio</label>
                        </div>
                        <input type="text" class="form-control select-muevo" name="filter" id="inputFilter1" [(ngModel)]="start.display" [placeholder]="'Seleccionar Fecha'" [readOnly]="true" #filterState="ngModel" style="background-color: #E8EAF5;">
                    </div>
                    <mat-form-field>
                        <mat-label>inicio</mat-label>
                        <input #from matInput [matDatepicker]="starPicker" [max]="max" (dateChange)="startChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="starPicker"></mat-datepicker-toggle>
                        <mat-datepicker #starPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="space-between">
                    <div class="input-group muevo hand ml-2" style="max-width: 220px;" (click)="endPicker.open()">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputFilter">Fin</label>
                        </div>
                        <input type="text" class="form-control select-muevo" name="filter" id="inputFilter2" [(ngModel)]="end.display" [placeholder]="'Seleccionar Fecha'" [readOnly]="true" #filterState="ngModel" style="background-color: #E8EAF5;">
                    </div>
                    <mat-form-field>
                        <mat-label>fin</mat-label>
                        <input #to matInput [matDatepicker]="endPicker" [max]="max" (dateChange)="endChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div class="mt-1 flex-start" *ngIf="showFilter">
                    <span *ngIf="datesSelecteds" class="text-xs bold">Filtros aplicados: </span>
                    <span *ngIf="datesSelecteds" class="text-muted hand muevo-chip text-blue" (click)="clearDates()">&nbsp;Registros entre el {{start.value|date:'dd-MM-yyyy'}} y el {{end.value|date:'dd-MM-yyyy'}} <i class="fas fa-times"></i></span>
                </div>
                <small class="text-danger text-right text-xxs mt-2" *ngIf="error.state">{{error.message}}</small>
            </div>
            
        </div>
    </div>
</div>




<!-- <div class="column" >
    <mat-form-field style="height: 1px;width: 1px;">
        <input matInput
        placeholder="Seleciona fecha"
        #datePickerModel="ngModel"
        [matRangeDatepicker]="resultPicker"
        [(ngModel)]="date"
        [max]="maxDate"
        (dateInput)="onDateInput($event)"
        (dateChange)="onDateChange($event)">
        <mat-range-datepicker #resultPicker [rangeMode]="true" [opened]="false" >
        </mat-range-datepicker>
        <mat-range-datepicker-toggle matSuffix [for]="resultPicker"></mat-range-datepicker-toggle>
    </mat-form-field>
</div> -->

