<div class="row">
  <div class="col-6">
    <h4>Mis Invitaciones</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h5>Nombre Empresa</h5>
          </div>
          <div class="col-6">
            <a class="btnTransparente fa-pull-right">Desligarme</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div>
          <div class="row">
            <a class="dropdown-item" *ngFor="let inv of invitaciones"
              (click)="fnInvitaciones(inv.invitacionId)">{{inv.invitacionNombreCuenta}}</a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
