<div class="row muevoNoMargin">
    <div class="col-12 muevoNoPadding">
        <span class="muevo-titulo-pagina">Perfil</span>
    </div>
    
    <div class="col-12 muevoNoPadding mb-2">
        <span class="muevo-subtitulo-pagina">
            <!-- Texto alternativo aqui -->
        </span>
    </div>
</div>

<app-muevo-mi-perfil></app-muevo-mi-perfil>
