<div class="row mt-3">
    <div class="col-12">
        <app-muevo-calendar [defaultStartDate]="defaultDates.start" [defaultEndDate]="defaultDates.end"  [max]="maxDate" [showFilter]="false" (onSelectDates)="filterByDates($event)" (onResetDates)="bindTableWithtOriginalData(transacciones)"></app-muevo-calendar>
    </div>
    <div class="col-12" *ngIf="false">
        <div class="search-advanced mt-2">
            <div class="space-between">
                <span class="text-xxs bold">BUSQUEDA AVANZADA</span>
                <i class="fas fa-2x hand" [ngClass]="{'fa-angle-down': !showSearchAdvanced, 'fa-angle-up': showSearchAdvanced }" (click)="showSearchAdvanced = !showSearchAdvanced"></i>
            </div>
            
            <div class="row mt-2" *ngIf="showSearchAdvanced">
                <div class="col-12 col-md-4">
                    <div class="input-group input-group-muevo">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Patente</label>
                        </div>
                        <select class="muevo-select form-control" id="inputGroupSelect01" [(ngModel)]="filters.vehiculo">
                            <option selected [ngValue]="null">Seleccione..</option>
                            <option [ngValue]="v" *ngFor="let v of vehiculos">{{v.name}}</option>
                        </select>
                    </div>
                    
                </div>
                <div class="col-12 col-md-4">
                    <div class="input-group input-group-muevo">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Conductor</label>
                        </div>
                        <select class="muevo-select form-control" id="inputGroupSelect01" [(ngModel)]="filters.usuario">
                            <option selected [ngValue]="null">Seleccione..</option>
                            <option [ngValue]="c" *ngFor="let c of conductores">{{c.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="input-group input-group-muevo">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Factura</label>
                        </div>
                        <select class="muevo-select form-control" id="inputGroupSelect01" [(ngModel)]="filters.documento">
                            <option selected [ngValue]="null">Seleccione..</option>
                            <option [ngValue]="f" *ngFor="let f of facturas">{{f.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 col-sm-6 mt-2">
        
        <div style="flex-wrap: wrap;display: flex; padding-bottom:.5em">
            <!-- <div class="mr-2">
                <span class="text-muted hand muevo-chip text-blue mt-1" *ngIf="filters[f] != null" style="height: 2.5em; display: block; " >
                    {{filters[f].name}}<i class="fas fa-times ml-2" (click)="filters[f] = null"></i>
                </span>
            </div> -->

            <div *ngFor="let f of generateFilterArray()">
                <span class="text-muted hand muevo-chip text-blue mt-1 mr-2" *ngIf="filters[f] != null" style="height: 2.5em; display: block; " >
                    {{filters[f].name}}<i class="fas fa-times ml-2" (click)="removeFilter(f)"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 mt-2">
        <div style="height: 100%;align-items: flex-end;display: flex;">
            <div class="flex-end fit">
            
                <div class="input-group muevo-input-search float-right ml-2">
                    <input type="search" class="form-control" (keyup)="_applyFilter(dataSource, $event.target.value)"
                    placeholder="Buscar..">
                    <div class="input-group-append muevoFondoComboDashboard">
                        <span class="input-group-text muevoPreComboDashboard" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
                
                <button class="btn-muevo-action-mini ml-2" (click)="exportCsv()">
                    <i class="fas fa-download gray"></i>
                </button>
                
            </div>
        </div>
        
    </div>
    
    <div class="col-12 mt-2" *ngIf="filterFacturaApply" >
        <div class="alert alert-primary" role="alert">
            <span>Viendo las compras de la factura Nº: {{input.facturaNroDocumento}}</span>
            <i class="fas fa-times fa-2x float-right hand" title="Quitar filtro" (click)="refreshHistory()"></i>
        </div>
    </div>
    
    <div class="col-12 mt-3">
        <div class="table-responsive">
            <mat-table [dataSource]="dataSource" class="collapsed" matSort>
                
                <ng-container matColumnDef="ventaFechaCreacion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.ventaFechaCreacion | date: 'dd-MM-yyyy HH:mm'}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="tipoDocumentoNombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>TIPO DOCUMENTO</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.tipoDocumentoNombre}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="ventaDocumentoFolio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nº FOLIO</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.ventaDocumentoFolio}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="usuarioNombreApellido">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>CONDUCTOR</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.usuarioNombreApellido}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="vehiculoPatente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>PATENTE</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.vehiculoPatente | patente}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="tipoFormaPagoNombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>FORMA DE PAGO</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.tipoFormaPagoNombre}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="ventaPagoTotal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>MONTO</mat-header-cell>
                    <mat-cell *matCellDef="let row">$ {{row.ventaPagoTotal|number: '1.0-0'}}</mat-cell>
                </ng-container>
                
               <!--  <ng-container matColumnDef="ventaDocumentoFolio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nº FOLIO</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.ventaDocumentoFolio}}</mat-cell>
                </ng-container> -->
                
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="viewDetail(row)">
                        <div class="flex-end fit" class="hand">
                            <img src="./assets/img/verDetalle.png" alt=""  style="margin-right: 1vh;height: 20px;">
                        </div>
                    </mat-cell>
                </ng-container>
                
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            
            <!-- <mat-paginator [hidden]="!_haveRows(dataSource.data)" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 30 , 40, 50]" showFirstLastButtons>
            </mat-paginator> -->
            
            <div class="no-rows flex-center" *ngIf="!_haveRows(dataSource.data)">
                <span class="text-sm">No existen registros</span>
            </div>

            <button class="btn-muevo-primary more-data-flotante" (click)="next()" [disabled]="_isLoading || pagination.rows < pagination.pagesSize" *ngIf="pagination.rows >= pagination.pagesSize"><i class="fas fa-arrow-down mr-1"></i> {{ pagination.rows < pagination.pagesSize ? "No hay más registros" : "Cargar más registros... "}} <i class="fas fa-spin fa-spinner ml-1" *ngIf="_isLoading"></i></button>

            <!-- <div class="custom-paginator">
                <button class="btn-muevo-default" (click)="next()" [disabled]="pagination.rows < pagination.pagesSize">{{ pagination.rows < pagination.pagesSize ? "No hay más registros" : "Cargar más registros... "}} <i class="fas fa-spin fa-spinner" *ngIf="_isLoading"></i></button>
            </div> -->

            <!-- <div class="custom-paginator" *ngIf="false && _haveRows(dataSource.data)" >
                <div class="space-between">
                    <div class="hand control-item" (click)="setPage(1)" ><i class="fas fa-step-backward"></i></div>
                    <div class="hand control-item" (click)="setPage(pagination.currentPage - 1)"><i class="fas fa-chevron-left"></i></div>
                    <div class="hand control-item control-number text-xs">{{pagination.currentPage}} / {{pagination.pages}}</div>
                    <div class="hand control-item" (click)="setPage(pagination.currentPage + 1)"><i class="fas fa-chevron-right"></i></div>
                    <div class="hand control-item" (click)="setPage(pagination.pages)"><i class="fas fa-step-forward"></i></div>
                </div>
            </div> -->

            
           

        </div>
    </div>
    
</div>
