<div class="form-group containerIngreso">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            
            <span class="bold" style="color: #000000;font-size: 22px;">Sesión expirada</span>
            
        </div>
        <div class="col-12 mt-2">
            <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Pareciera que tu sesión ha expirado o caducado.</span>
        </div>

        <div class="col-12 mt-3">
            <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Por favor vuelve al inicio para volver a iniciar sesión.</span>
        </div>
        
        <div class="col-12 mt-5">
            <button type="button" style="width: 9em;" class="btn btnAccionLogin" [routerLink]="[paginaVolver]">Volver</button>

        </div>
        
    </div>
</div>

