<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a class="btn float-left" (click)="closeThis()" *ngIf="showCloseThis">
                <i class="fas fa-angle-left fa-2x"></i>
            </a>
            <a closeSidebar class="btn float-right" (click)="closeAll()" >
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>
    
    <!-- INFO-HEAD -->
    <div class="row mb-2">
        <div class="col-12">
            <span class="sidebar-title" style="text-transform: capitalize;">
                Crear vehículo
            </span>
        </div>
    </div>

    <form #vehiculoForm="ngForm" autocomplete="off">
        <div class="row mt-4">
            <div class="col-12">
                <label for="inputPatente">Patente <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputPatente" name="patente" 
                 [(ngModel)]="current.patente" #patenteState="ngModel" 
                 placeholder="SPCL01" maxlength="6" 
                 [pattern]="_pattern_FormatoPatente"
                 [required]="true" (keydown)="_TypePatente($event)" validationBorder>
                <app-display-error-field [control]="vehiculoForm.controls['patente']" [displayError]="_showControlError(vehiculoForm.controls['patente'])" displayName="Patente"></app-display-error-field>
            </div>

            <div class="col-12">
                <label for="inputAlias">Alias <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputAlias" name="alias" [(ngModel)]="current.alias" #aliasState="ngModel" placeholder="Alias vehículo" maxlength="50" minlength="4" [required]="true" (keydown)="validaMaxInputText($event)" validationBorder>
                <app-display-error-field [control]="vehiculoForm.controls['alias']" [displayError]="_showControlError(vehiculoForm.controls['alias'])" displayName="Alias"></app-display-error-field>
            </div>
            
            <div class="col-12">
                <label for="inputTipo">Tipo de vehículo <span class="text-danger">*</span></label>
                <select class="form-control muevo-select" name="tipo" id="inputTipo" [(ngModel)]="current.tipo" #tipoState="ngModel" [required]="true" validationBorder>
                    <option [ngValue]="null">Selecciona tipo de vehículo</option>
                    <option value="{{tp.tipoVehiculoId}}" *ngFor="let tp of tiposVehiculo | orderBy: 'tipoVehiculoNombre'">
                        {{tp.tipoVehiculoNombre}}
                    </option>
                </select>
                <app-display-error-field [control]="vehiculoForm.controls['tipo']" [displayError]="_showControlError(vehiculoForm.controls['tipo'])" displayName="Tipo de vehículo"></app-display-error-field>
            </div>

            <div class="col-12 mt-2">
                <div class="muevo-widget-button-container mb-2">
                    <div class="alert muevo-widget-button muevoNoMargin" style="display: flex;flex-direction: column;justify-content: center;">
                        <div class="space-between">
                            <span class="bold">Solicita registro de odómetro</span>
                            <div class="">
                                <ui-switch class="muevo-switch" size='small' [checked]="current.requireOdometro" (change)="toggleOdometro()"></ui-switch>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-12 pl-3 pr-3" [hidden]="!current.requireOdometro">
        
                        <label class="bold" for="inputFrecuenciaOdometro">Se solicitara:</label>
                        
                        <div class="muevoNoMargin" role="alert" (click)="current.frecuenciaOdometro = 1"><!-- odometroTouch = true -->
                            <div class="form-check form-check-inline">
                                <label class="form-check-label muevoSidebarAlertTitle2 flex-start" style="width: 100%;">
                                    <input class="form-check-input radioSidebar-anular-anular" type="radio" name="restriccionEstaciones" id="frecuenciaOdometro_1" [value]="1" [(ngModel)]="current.frecuenciaOdometro"><span class="text-xs">Cada mes</span> <div class="icon-help ml-2" triggers="click:hover" [ngbTooltip]="tooltipMsg" placement="top">?</div>
                                </label>
                            </div>
                        </div>

                        <div class="muevoNoMargin" role="alert" (click)="current.frecuenciaOdometro = 2"><!-- odometroTouch = true -->
                            <div class="form-check form-check-inline">
                                <label class="form-check-label muevoSidebarAlertTitle2" style="width: 100%;">
                                    <input class="form-check-input radioSidebar-anular-anular" type="radio" name="restriccionEstaciones" id="frecuenciaOdometro_2" [value]="2" [(ngModel)]="current.frecuenciaOdometro"><span class="text-xs">Cada semana</span> 
                                </label>
                            </div>
                        </div>

                        <div class="muevoNoMargin" role="alert" (click)="current.frecuenciaOdometro = 3"><!-- odometroTouch = true -->
                            <div class="form-check form-check-inline">
                                <label class="form-check-label muevoSidebarAlertTitle2" style="width: 100%;">
                                    <input class="form-check-input radioSidebar-anular-anular" type="radio" name="restriccionEstaciones" id="frecuenciaOdometro_3" [value]="3" [(ngModel)]="current.frecuenciaOdometro"><span class="text-xs">Cada compra</span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <span *ngIf="!current.requireOdometro" class="text-muted">No se solicitará el registro de odómetro para este vehículo</span>
                <span *ngIf="current.requireOdometro && current.frecuenciaOdometro == 1" class="text-muted">Se solicitará el registro de odómetro cada 1 del mes a cada conductor que tenga este vehículo como seleccionado.<br >Registraremos el primer odómetro ingresado.</span>

                
                
            </div>
            

        </div>
    </form>


    <div class="row mt-4">
        <div class="form-check form-check-inline ">
            <input class="form-check-input" name="chkLeido" id="chkLeido" type="checkbox" [(ngModel)]="declarationSuccess" value="1"
              style="height: 1.3em;width: 1.3em;" (change)="declarationChange()">
            <span class="text-xs">Declaro que el tipo de vehículo es verídico</span>
        </div>

        <div class="col-12 text-center mt-2">
            <button type="button" class="btn-muevo-action-muevo" (click)="creaVehiculo(current)" [disabled]="!vehiculoForm.valid || !declarationSuccess">Guardar nuevo vehículo</button>
        </div>
    </div>
    
</div>
