.icon-help{
    background-color: #9e9e9e;
    border-radius: 12px;
    height: 1.3em;
    width: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .9em;
    cursor: pointer;

}

:host{
    ::ng-deep {
        ngb-tooltip-window{
            min-width: 15em !important;
        }
    }
}
