<!-- Editar-PERFIL -->
<div class="sidebar-right-body datos-administrador" tabindex="-1">
  <top-sidebar-right (fnClick)="modalSidebar.closeAll()" (fnClickBack)="closeThis()"
    titulo="Ingresa los datos del administrador" descripcion="Enviaremos la invitación al teléfono que indiques.">
  </top-sidebar-right>
  <div class="mt-3">
    <form #mainForm="ngForm" autocomplete="off">

      <div class="col-12">
        <label for="inputNombre">Nombre <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="inputNombre" name="nombres" [(ngModel)]="current.nombre"
          #patenteState="ngModel" [required]="true" validationBorder maxlength="20"
          (keydown)="validaMaxInputText($event)">
        <app-display-error-field [control]="mainForm.controls['nombres']"
          [displayError]="_showControlError(mainForm.controls['nombres'])" displayName="Nombre">
        </app-display-error-field>
      </div>
  
      <div class="col-12">
        <label for="inputApellido">Apellido<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="inputApellido" name="apellidos" [(ngModel)]="current.apellido"
          #aliasState="ngModel" [required]="true" validationBorder maxlength="20" (keydown)="validaMaxInputText($event)">
        <app-display-error-field [control]="mainForm.controls['apellidos']"
          [displayError]="_showControlError(mainForm.controls['apellidos'])" displayName="Apellido">
        </app-display-error-field>
      </div>
  
      <div class="col-12">
        <label for="inputTelefono">Teléfono<span class="text-danger">*</span></label>
        <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text" style="color: black !important;font-weight: 500;">+56 9</div>
          </div> 
        <input type="text" class="form-control" id="inputTelefono" name="telefono" [(ngModel)]="current.telefono"
          #aliasState="ngModel" [required]="true" validationBorder pattern="[0-9]*" maxlength="8" autocomplete="off"
          (input)="onlyNumber($event)">
          </div>
        <app-display-error-field [control]="mainForm.controls['telefono']"
          [displayError]="_showControlError(mainForm.controls['telefono'])" displayName="Teléfono">
        </app-display-error-field>
      </div>
  
  
      <div class="row mt-4">
        <div class="col-12 text-center">
          <button type="button" class="btn-muevo-action-muevo" [disabled]="!mainForm.valid || (mainForm.form.pristine)"
            (click)="avanzar()">
            Siguiente
          </button>
        </div>
      </div>
    </form>
  </div>
  

</div>