<div class="row muevoTopSidebarLeft">
  <div class="col-12">
    <a class="btn float-left" *ngIf="isFnClickBack"  (click)="fnClickBack.emit()">
      <i class="fas fa-angle-left fa-2x"></i>
    </a>

    <a class="btn float-right" (click)="fnClick.emit()">
      <i class="fas fa-times fa-2x"></i>
    </a>
  </div>
  <div class="col-12 column">
    <span class="sidebar-title">{{titulo}}</span>
    <span *ngIf="subtitulo!=null" class="sidebar-subtitle" style="text-transform: capitalize;">
      {{subtitulo}}
    </span>
    <br>
    <span *ngIf="descripcion!=null" class="sidebar-descripcion mt-2">
      {{descripcion}}
    </span>
  </div>
</div>