<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a closeSidebar class="btn float-right">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>

    <div class="muevoBodySidebarLeft">
        <div class="row">
            <div class="col-12 muevoNoPadding">
                <span class="sidebar-title">Administrar Invitaciones</span>
            </div>
        </div>

        <div class="row sidebar-scroll-13x mt-2" >
            <div class="col-12">
                <ul class="pl-0">
                    <li *ngFor="let i of invitaciones; let idx = index" style="padding-bottom: 0px">
                        <div class="invitacion-sidebar" [ngClass]="{'bb': idx == (invitaciones.length -1)}">
                            <div class="space-between">
                                <span class="text-sm bold mt-1">{{i.invitacionValidaciones.invitacionNombre}} {{i.invitacionValidaciones.invitacionApellido}}</span>
                                <span class="text-xs bold mt-1" style="color: #152137">{{i.invitacionEstadoInvitado}}</span>
                            </div>

                            
                            <span class="textActive mt-1" >+{{i.invitacionTelefonoInvitadoId}}</span>
                           
                            <div class="flex-end">
                                <div class="text-xs underline bold hand text-blue mr-2" (click)="reenviarInvitacion(i)">Reenviar</div>
                                <div class="text-xs underline bold hand text-danger " (click)="eliminar(i)">Eliminar</div>
                            </div>

                            
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12 col-12 flex-center">
                <button class="btn-muevo-primary more-data-flotante-sidebar" (click)="next()" [disabled]="_isLoading || pagination.rows < pagination.pagesSize" *ngIf="pagination.rows >= pagination.pagesSize"><i class="fas fa-arrow-down mr-1"></i> {{ pagination.rows < pagination.pagesSize ? "No hay más registros" : "Cargar más registros... "}} <i class="fas fa-spin fa-spinner ml-1" *ngIf="_isLoading"></i></button>
            </div>
        </div>
    </div>
</div>