<div class="row text-secondary">
  <div class="col-3">
    <p class="mt-1">Revisa tus Facturas</p>
  </div>
  <div class="col-4 input-group">
    <label for="inputFecha" class="mt-1">Fecha:</label> &nbsp;
    <select class="form-control form-control-sm text-secondary" name="inputFecha" id="inputFecha">
      <option value="">Seleccione una Opcion</option>
      <option value="1" selected>Ultimo Mes</option>
      <option value="2">Ultima Semana</option>
    </select>
  </div>
  <div class="col-5 input-group">
    <span class="mt-1">Ver por: </span> &nbsp;
    <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
      <button type="button" class="btn-muevo-action-default" routerLink="/Home/Facturas">Facturas</button>
      <button type="button" class="btn-muevo-action-default" routerLink="/Home/GuiasDespacho">Guias</button>
      <button type="button" class="btn-muevo-action-default active" routerLink="/Home/Boletas">Boletas</button>
    </div>
  </div>
</div>
<br>
<div class="row divHome">
  <div class="col-12">
    <div class="card">
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-md-2">FECHA Y HORA EMISION</div>
          <div class="col-md-1">Nº DOC</div>
          <div class="col-md-2">MONTO TOTAL</div>
          <div class="col-md-1">CONSUMO</div>
          <div class="col-md-2">PRODUCTO</div>
          <div class="col-md-1">PATENTE</div>
          <div class="col-md-2">ESTADO</div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row divHome">
  <div class="col-12" *ngFor="let boleta of boletas">
    <br>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2"><span>{{boleta.ventaFechaCreacion}}</span></div>
          <div class="col-md-1"><span>{{boleta.ventaId}}</span></div>
          <div class="col-md-2"><span>{{boleta.ventaMontoTotal}}</span></div>
          <div class="col-md-1"><span>{{boleta.ventaAtendedorNombre}}</span></div>
          <div class="col-md-2"><span>{{boleta.ventaCalificacionComentario}}</span></div>
          <div class="col-md-1"><span>{{boleta.vehiculoPatente}}</span></div>
          <div class="col-md-1">
            <span>{{boleta.estado}}</span>
          </div>
          <div class="col-md-1">
            <span (click)="consultarDetalleBoleta(boleta.ventaId)"><i class="fas fa-eye fa-2x"></i></span>
            <a href="{{boleta.documentoUrl}}" style="color: black"><i class="fas fa-download fa-2x"></i>
            </a>
          </div>
        </div>
        <!-- <br>
        <div class="row" [ngbCollapse]="boleta.collapsed" *ngIf="!boleta.collapsed">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nro Venta</th>
                    <th>Producto</th>
                    <th>Monto Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of boletaDetalle.detalleBoleta">
                    <td>{{item.ventaId}}</td>
                    <td>{{item.productoNombre}}</td>
                    <td>{{item.lineaPagoTotal}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
