<div class="row mt-4">
    <div class="col-12 col-sm-7">
        <div class="buttons">
            <button *ngIf="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2"
             class="btn-muevo-primary-icon float-left" routerLink="/HomeMuevo/CrearConductor">
                Invitar Conductores
                <i class="fa fa-plus"></i>
            </button>
            <div *ngIf="this.selection.selected.length > 0">
                <!-- <button class="btn btn-copec-secundary float-left" (click)="openAdjustment($event)">
                    Ajustar Presupuesto
                </button> -->

                <button class="btn btn-copec-secundary float-left" (click)="toogleEnable()">
                    Habilitar/Deshabilitar
                </button>
                
                <!-- <button class="btn btn-copec-secundary float-left" placement="bottom" [ngbPopover]="popMenuContentDiario" triggers="manual" [autoClose]="'outside'" #diario="ngbPopover" (click)="diario.open()" popoverClass="muevoMenuElementTitle">
                    Ajustar Presupuesto Diario/Mensual
                </button> -->
                <!-- <button class="btn btn-default btn-copec-secundary btn-sm float-left" placement="bottom" [ngbPopover]="popMenuContentMensual" triggers="manual" [autoClose]="'outside'" #mensual="ngbPopover" (click)="mensual.open()" popoverClass="muevoMenuElementTitle">
                    Ajustar Presupuesto Mensual
                </button> -->

                <!-- <div class="dropdown">
                    <button type="button" class="btn btn-default btn-copec-secundary btn-sm float-left dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mas Acciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-xs">Aplicar a Seleccionados</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-xs" href="#">Ajustar Dias Habilitados</a>
                        <a class="dropdown-item text-xs" href="#">Ajustar Estaciones Habilitadas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-xs" (click)="maquinaModificarConductoresSeleccionados(2)">Eliminar</a>
                    </div>
                </div> -->
            </div>
        </div>
        
    </div>
    <div class="col-12 col-sm-5">
        <div class="flex-end">
            <div class="input-group muevo-input-search float-right" >
                <input type="search" class="form-control" (keyup)="_applyFilter(dataSource, $event.target.value)"  placeholder="Buscar..">
                <div class="input-group-append muevoFondoComboDashboard">
                    <span class="input-group-text muevoPreComboDashboard" id="basic-addon1">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
    
            <button class="btn-muevo-action-mini ml-2" (click)="exportCsv()" ngbTooltip="Exportar" placement="top">
                <i class="fas fa-download gray"></i>
            </button>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="table-responsive">
            <mat-table [dataSource]="dataSource" class="collapsed" matSort>
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" (change)="$event ? _masterToggle(selection, dataSource) : null"
                            [checked]="selection.hasValue() && _isAllSelected(selection, dataSource)"
                            [indeterminate]="selection.hasValue() && !_isAllSelected(selection, dataSource)"
                            [aria-label]="_checkboxLabel(selection, dataSource, row)">
                        </mat-checkbox>
                        <div class="table-counter" *ngIf="this.selection.selected.length > 0">{{this.selection.selected.length}}</div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                            (change)="_checkToggle(selection, row, $event)"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="_checkboxLabel(selection, dataSource, row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="nombreCompleto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.nombreCompleto}}

                        <!-- <div class="column" (click)="mostrarConductor(row.idConductor,$event)"> 
                        </div> -->
                    </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="rut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>RUT</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.rut | rut}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="restriccionCombustible.permiteComprarString">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>COMPRA DE COMBUSTIBLE</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="flex-start" style="width: 100%;">
                            <i class="fas" [ngClass]="{'text-success fa-check-circle': row.restriccionCombustible.permiteComprar, 'fa-times-circle text-danger': !row.restriccionCombustible.permiteComprar}"></i>&nbsp;{{row.restriccionCombustible.permiteComprarString}}
                        </div>
                    </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="restriccionCombustible.montoMaximoDia">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>PRESUPUESTO DIARIO</mat-header-cell>
                    <mat-cell *matCellDef="let row">$ {{row.restriccionCombustible.montoMaximoDia | number: '1.0-0'}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="restriccionCombustible.montoMaximoMes">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>PRESUPUESTO MENSUAL</mat-header-cell>
                    <mat-cell *matCellDef="let row">$ {{row.restriccionCombustible.montoMaximoMes | number: '1.0-0'}}</mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="primerVehiculoAsignado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>VEHÍCULOS ASIGNADOS</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span>{{row.primerVehiculoAsignado | patente}}</span>
                        <span class="patentes-aux" *ngIf="row.vehiculosAsignadosCantidad > 1">&nbsp;(y {{row.vehiculosAsignadosCantidad -1}} más)</span>
                        
                    </mat-cell>
                </ng-container> -->
                
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="flex-end" style="width: 100%">
                            <!-- <div>
                                <div *ngIf="row.rolId == 1" (click)="mostrarConductor(row.idConductor, $event)">
                                    <span class="lnk-sm underline">Super Administrador</span>
                                </div>
                                <div *ngIf="row.rolId != 1">
                                    <mat-slide-toggle color="primary" [checked]="row.estado" (change)="activaDesactiva(row.idConductor)">
                                        <small>{{row.estado ? 'Activo' : 'Inactivo'}}</small>
                                    </mat-slide-toggle>
                                </div>
                            </div> -->

                            <div class="hand" (click)="mostrarConductor(row, $event)">
                                <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vh;height: 20px;">
                            </div>
                            
                            <!-- <div [ngbPopover]="popContent" placement="left" popoverClass="muevoMenuElementDashboardCon" #popOptions="ngbPopover" triggers="manual" (click)="openPopoverOptions(popOptions, row)">
                            </div> -->
                        </div>
                    </mat-cell>
                </ng-container>
                
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'opacity': !row.estado ? '0.5' : '1' }" >
                </mat-row>
            </mat-table>
    
            <!-- <mat-paginator [hidden]="!_haveRows(dataSource.data)" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 30 , 40, 50]"
                showFirstLastButtons>
            </mat-paginator> -->

            <div class="no-rows flex-center" *ngIf="!_haveRows(dataSource.data)">
                <span class="text-sm">No existen registros</span>
            </div>
        
        </div>
    </div>
</div>