@import './../../../../../assets/css/colors.scss';

// mat-cell:nth-child(1),
// mat-header-cell:nth-child(1) {
//     flex: 0 0 65px;
// }

mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
    flex: 0 0 65px;
}

.patentes-aux{
    color: $color-blue4 !important;
}