<div>
    <div class="modal-header" style="border-bottom: none;">
        <div class="col-12 text-center">
            <span class="modal-title muevo-modal-title" id="modalAceptarCancelar">Estamos autorizando tu abono</span>
        </div>
    </div>
    
    <!-- PROCESANDO -->
    <div class="modal-body">
        <div class="col-12 text-center flex-center">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
        <div class="col-12 text-center" style="margin-top: 3em;">
            <p class="text-xs">Autorizando..</p>
        </div>
    </div>
</div>
