<div class="row">
  <div class="col-lg-6 col">
    <div class="row">
      <div class="col-12">
        <span class="muevo-titulo-pagina">ABONO CON CARGO A MI TARJETA</span>
      </div>
      <div class="col-12">
        <span class="muevo-subtitulo-pagina">Subtitulo abono</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm 12">
        <span class="muevo-subtitulo-pagina bold">Estas abonando a la cuenta {{cuentaSeleccionada.cuentaNombre}}.</span>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col-12">
        <span class="muevoSubTitlePurple">SELECCIONA TU TARJETA</span>
      </div>
      <div class="col-12">
        <span class="muevo-subtitulo-pagina">Selecciona la tarjeta desde la cual quieres abonar</span>
      </div>
    </div>
    <br>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-lg-4 col-12" *ngFor="let tarjeta of tarjetas">
        <div class="form-check form-check-inline">
          <label class="form-check-label muevo-subtitulo-pagina">
            <input class="form-check-input" type="radio" name="abonoTarjeta" id="{{tarjeta.idInscripcion}}"
              value="{{tarjeta.idInscripcion}}" [(ngModel)]="idTarjeta"> XXXX XXXX XXXX
            {{tarjeta.ultimos4Digitos}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col-12">
        <small id="monto" class="form-text text-muted">Monto a Abonar</small>
        <input type="text" class="form-control" name="montoAbonar" id="montoAbonar" aria-describedby="monto"
          pattern="[0-9]*" placeholder="" [(ngModel)]="montoAbonar" (input)="validaInput($event)">
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-4 offset-lg-8 col" *ngIf="!isMobile">
    <button type="button" class="btn btnSiguientePasoNoWidth float-right"
      (click)="homeCuentaAbonoPost()">Abonar</button>
  </div>
  <div class="col-lg-4 offset-lg-8 col text-center" *ngIf="isMobile">
    <button type="button" class="btn btnSiguientePasoNoWidth" (click)="homeCuentaAbonoPost()">Abonar</button>
  </div>
</div>
