<!-- Editar-PERFIL  [subTitulo]="variablesApi.home.menu.tieneInvitaciones?'Invitaciones pendientes':'Sin invitaciones'"-->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="closeThis()" titulo="Notificaciones">
  </top-sidebar-right>
  <div class="row mt-4">
    <select placeholder="a" class="form-control muevo-select mb-4" name="tipo" id="inputTipo"
      [(ngModel)]="cuentaIdSelecionada" (ngModelChange)="changeCuentaID(cuentaIdSelecionada)" #tipoState="ngModel"
      [required]="true" validationBorder>

      <option value="{{rl.cuentaId}}" *ngFor="let rl of variablesApi.home.cuentas | orderBy: 'cuentaNombre'">
        {{rl.cuentaNombre}}
      </option>
    </select>


    <div class="col-6 muevoNoPadding"> <span class="lnk-xxs" (click)="mostrarLeidas()">{{
        isLeidaNotificaciones?'Mostrar por leer':'Mostrar leídas'}}</span></div>
    <div class="col-6 muevoNoPadding mb-4" style="text-align: right;">
      <span *ngIf="!isLeidaNotificaciones && notificaciones.length>0" class="lnk-xxs"
        (click)="marcarComoLeidas()">Marcar como
        leídas</span>
      <span *ngIf="isLeidaNotificaciones || (!isLeidaNotificaciones && notificaciones.length==0)">Marcar como
        leídas</span>
    </div>


    <menu-editar  class="badgeNotificacionNoLeida notificacionManito" matBadge="1" matBadgeSize="small" matBadgeColor="info"  matBadgePosition="before" [matBadgeHidden]="isLeidaNotificaciones"  *ngFor="let item of notificaciones" [titulo]="item.notificacionBody"
      subTitulo="{{convertDateToISOString(item.notificacionFechaCreacion) | date: 'dd-MM-yyyy HH:mm'}}" (click)="marcarComoLeida(item)">
    </menu-editar>


    <span class=" mb-4" *ngIf="notificaciones.length==0">No tienes notificaciones.</span>
    <btn-flotante [sizeTotal]="notificaciones.length" [sizeComparar]="posicionFinal" (next)="next()"
      [isLoad]="_isLoading">
    </btn-flotante>
  </div>

  <div class="row  mr-1 mb-4" style="text-align: right;">
    <div class="col muevoNoPadding">
      <span class="lnk-xxs" (click)="configurarNotificaciones()">Configurar notificaciones</span>
    </div>
  </div>

</div>