<div class="row">
  <div class="col-2">
    <img src="./assets/img/LogoMuevoRed.jpg" alt="LogoMuevoRed" style="border-radius: 50%;width: 50px;">
  </div>
  <div class="col-10">
    <h4>Nombre Empresa</h4>
    <p>Cuenta creada el 20/07/2019</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            <h4 class="card-title">Datos Empresa</h4>
          </div>
          <div class="col-3">
            <a class="btnTransparente" (click)="edit()"><span *ngIf="!_editable"><i class="fas fa-edit"></i>
                Editar</span>
              <span *ngIf="_editable"><i class="fas fa-save"></i> Guardar</span>
            </a>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <span>Rut Empresa</span>
          </div>
          <div class="col-6">
            <input type="text" name="rutEmpresa" id="rutEmpresa" class="form-control" readonly
              [(ngModel)]="empresa.rutEmpresa" *ngIf="_editable">
            <span *ngIf="!_editable">{{empresa.rutEmpresa}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <span>Nombre Fantasía</span>
          </div>
          <div class="col-6">
            <input type="text" name="nombreFantasiaEmpresa" id="nombreFantasiaEmpresa" class="form-control"
              [(ngModel)]="empresa.nombreFantasia" *ngIf="_editable">
            <span *ngIf="!_editable">{{empresa.nombreFantasia}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <span>Razón Social</span>
          </div>
          <div class="col-6">
            <input type="text" name="razonSocialEmpresa" id="razonSocialEmpresa" class="form-control"
              [(ngModel)]="empresa.razonSocial" *ngIf="_editable">
            <span *ngIf="!_editable">{{empresa.razonSocial}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <span>Direccion</span>
          </div>
          <div class="col-6">
            <input type="text" name="direccionEmpresa" id="direccionEmpresa" class="form-control"
              [(ngModel)]="empresa.direccion" *ngIf="_editable">
            <span *ngIf="!_editable">{{empresa.direccion}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <span>Giro Comercial</span>
          </div>
          <div class="col-6">
            <input type="text" name="giroComercialEmpresa" id="giroComercialEmpresa" class="form-control"
              [(ngModel)]="empresa.giroComercial" *ngIf="_editable">
            <span *ngIf="!_editable">{{empresa.giroComercial}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <span>Actividad Economica</span>
          </div>
          <div class="col-6">
            <span *ngIf="!_editable">{{empresa.actividadEconomica}}</span>
            <select class="form-control" name="actividadEconomicaEmpresa" id="actividadEconomicaEmpresa"
              [(ngModel)]="empresa.actividadEconomica" *ngIf="_editable">
              <option value="">Seleccione una Actividad</option>
              <option value="1">Actividad 1</option>
              <option value="2">Actividad 2</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-6" *ngFor="let SA of superAdmins">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            <h4 class="card-title">Datos de Super Administrador</h4>
          </div>
          <div class="col-3">
            <a class="btnTransparente" (click)="editSA(SA.idSuperAdmin)"><span *ngIf="!SA.editable"><i
                  class="fas fa-edit"></i>
                Editar</span>
              <span *ngIf="SA.editable"><i class="fas fa-save"></i> Guardar</span>
            </a>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6"><span>Nombre</span></div>
          <div class="col-6">
            <span *ngIf="!SA.editable">{{SA.nombre}}</span>
            <input type="text" name="txt_nombre{{SA.idSuperAdmin}}" id="txt_nombre{{SA.idSuperAdmin}}"
              class="form-control form-control-sm" *ngIf="SA.editable" [(ngModel)]="SA.nombre">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6"><span>Apellido</span></div>
          <div class="col-6">
            <span *ngIf="!SA.editable">{{SA.apellido}}</span>
            <input type="text" name="txt_apellido{{SA.idSuperAdmin}}" id="txt_apellido{{SA.idSuperAdmin}}"
              class="form-control form-control-sm" *ngIf="SA.editable" [(ngModel)]="SA.apellido">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6"><span>Email</span></div>
          <div class="col-6">
            <span *ngIf="!SA.editable">{{SA.email}}</span>
            <input type="text" name="txt_email{{SA.idSuperAdmin}}" id="txt_email{{SA.idSuperAdmin}}"
              class="form-control form-control-sm" *ngIf="SA.editable" [(ngModel)]="SA.email">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6"><span>Teléfono</span></div>
          <div class="col-6">
            <span *ngIf="!SA.editable">{{SA.telefono}}</span>
            <input type="text" name="txt_telefono{{SA.idSuperAdmin}}" id="txt_telefono{{SA.idSuperAdmin}}"
              class="form-control form-control-sm" *ngIf="SA.editable" [(ngModel)]="SA.telefono">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 offset-2">
    <div class="card" style="border: 2px dashed #979797;border-radius: 24px;" (click)="nvoSuperAdmin()">
      <div class="card-body">
        <h4 class="card-title text-center"><i class="fas fa-plus-circle fa-3x"></i></h4>
        <br>
        <p class="card-text">Te recomendamos incorporar otro Super Administrador.</p>
        <p class="card-text">Si pierdes acceso a tu empresa, otro Super Administrador podrá ayudarte a recuperar el
          acceso rápidamente</p>
      </div>
    </div>
  </div>
</div>
