<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="closeThis()" titulo="Invitaciones pendientes"
    descripcion="Acepta las solicitudes de administrador para unirte a empresas en las que desees participar.">
  </top-sidebar-right>

  <div class="row sidebar-scroll-13x mt-2">
    <div class="col-12">
      <ul class="pl-0">
        <li (click)="ver(i)" *ngFor="let i of invitaciones; let idx = index" style="padding-bottom: 0px;cursor: pointer;">
          <div class="invitacion-sidebar" [ngClass]="{'bb': idx == (invitaciones.length -1)}">
            <div class="space-between">
              <span class="text-sm bold mt-1">{{i.invitacionCuentaNombre}}
                {{i.invitacionApellido}}</span>
              <span class="text-xs bold mt-1" style="color: #EB5F5F">{{
                i.invitacionEstadoId=='CADUCADA'?'Caducada':'Vigente'
                }}</span>
            </div>


            <span class="textActive mt-1">{{i.invitacionUsuarioCreadorNombre}}</span>
          </div>
        </li>

      </ul>
    </div>
    <btn-flotante [sizeTotal]="invitaciones.length" [sizeComparar]="posicionFinal" (next)="next()"
      [isLoad]="_isLoading">
    </btn-flotante>
  </div>


</div>