<div class="modal-header">
  <h5 class="modal-title" id="modalReintentarSalir">{{modal.title}} </h5>
  <button type="button" class="close" aria-label="Close" (click)="response('Salir')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h4>{{modal.body}}</h4>
</div>
<div class="modal-footer">
  <button type="button" class="btn-muevo-action-default" (click)="response('Reintentar')">Reintentar</button>
  <button type="button" class="btn-muevo-action-default" (click)="response('Salir')">Salir</button>
</div>
