$gradient-active: linear-gradient(180deg, #8BF1FF 0%, #00F2FF 100%);

$text-dark: #212529;

$color-bg: #F3F5FB;

$color-white: #fff;
$color-white2: #F9FAFD; // check bg
$color-white3: #DFE1EB; //footer text

$color-red: #dc3545;
$color-muevo: #6EEEFF;
$color-black: #000000; //font xs

$color-blue1: #283793; //big-footer
$color-blue2: #1E2D86; //small-footer
$color-blue3: #37469C; //text-action-widget
$color-blue4: #24328C; //text title, link button
$color-blue5: #152137; //table headwer text

$color-gray1: #00000029;
$color-gray2: #FAFAFA; //bg-widget
$color-gray3: #585B6E; //text widget, text table, sidebar-item-options-border
$color-gray4: #D5D9F0; //border
$color-gray5: #B3B8CF; //borders button, separator
$color-gray6: #E8EAF5; //table header bg, action buttons bg
$color-gray7: #505050; //button text
$color-gray8: #8B90B1; //search input
$color-gray9: #4B4B4B; //table row text
$color-gray10: #CACACA; //check disable
$color-gray11: #F6F6F6; //widget-container
$color-gray12: #DBDDEF; //table aux colors

$color-aqua1: #74EEFF; //table progress;
$color-aqua2: #62F6FF; //no se usa
$color-aqua3: #00F2FF; //icons







