$text-lg: 33.17px;
$text-md: 19.20px;
$text-xs: 16px;
$text-xxs: 13.33px;
$text-xxxs: 11.11px;



//COLORS
$color-bg: #F3F5FB;

$color-white: #fff;
$color-white2: #F9FAFD; // check bg
$color-white3: #DFE1EB; //footer text

$color-gray1: #585B6E; //text home,
$color-gray2: #4B4B4B; //text xs
$color-gray3: #D5D9F0; //border input
$color-gray4: #ECECEC; //border select
$color-gray5: #B3B8CF; //switch, border search, border btn-tab-horizontal
$color-gray6: #E8EAF5; //btn, btn-muevo-action-default
$color-gray7: #C2C7E0;
$color-gray8: #8B90B1; //search text
$color-gray9: #F6F6F6; //widget sb container
$color-gray10: #F4F5FA; //invitacion hover
$color-gray11: #585b6d;



$color-muevo : #00F2FF;

$color-red: #D81A1A;


$color-black1: #152137;

$color-blue1: #24328C; //tittle page, page navigator, sidebar title, btn text
$color-blue2: #141F34;
$color-blue3: #152137; //sidebar-info value, text select
$color-blue4: #37469C; //switch, btn text, border button tarjeta
$color-blue5: #283793; //tab border, footer
$color-blue6: #1E2D86; //small-footer

$color-border1: #e5e7f5;


//TEXTS
// .text-xl{
//     font-size: $text-lg;
//     color: $color-gray1;
//     letter-spacing: 0px;
// }
.paint{
    border: 1px dashed red;
}

.tac{
    text-align: center;
}

.tal{
    text-align: left;
}

.tar{
    text-align: right;
}

.text-lg{
    font-size: $text-lg;
    color: $color-gray1;
    letter-spacing: 0px;
}

.text-md{
    font: bold $text-md 'TTNorms';
    letter-spacing: 0px;
    color: $color-black1;
}

.text-sm{
    font: bold $text-xs 'TTNorms';
    letter-spacing: 0px;
    color: $color-black1;
}

.text-xs{
    font: normal $text-xxs 'TTNorms' !important;
    letter-spacing: 0px;
    color: $color-gray2;
}

.text-xxs{
    font: normal $text-xxxs 'TTNorms' !important;
    letter-spacing: 0px;
    color: $color-gray2;
}

%lnk{
    font-family: 'TTNorms';
    color: $color-blue4;
    text-decoration: underline;
    cursor: pointer;
}


.lnk-xs{
    @extend %lnk;
    font-size: $text-xs;
}
.lnk-xs:hover {
    color: $color-blue1;
    text-decoration: underline;
}

.lnk-xxs{
    @extend %lnk;
    font-size: $text-xxs;
}
.lnk-xxs:hover {
    color: $color-blue1;
    text-decoration: underline;
}

.footer-lnk{
    color: #fff;
}
.footer-lnk:hover{
    text-decoration: underline;
    color: #fff;
}

.text-blue{
    color: $color-blue1 !important;
}

.text-gray{
    color: $color-gray11
}

.text-overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    //setear un width para activar el overflow
}


.sidebar-title{
    font: bold $text-md 'TTNorms';
    letter-spacing: 0px;
    color: $color-blue1;
}

.sidebar-subtitle{
    font: normal $text-xxxs 'TTNorms';
    letter-spacing: 0px;
    color: $color-blue2;
}

.sidebar-subtitle-black{
    font: bold $text-md 'TTNorms';
    letter-spacing: 0px;
    color: $color-blue2;
}

.text-title-page{
    font: bold $text-md 'TTNorms';
    color: $color-blue1;
    letter-spacing: 0px;
}

.page-location{
    font: bold 19.20px 'TTNorms';
    letter-spacing: 0px;
    color: $color-blue1;
}

.sidebar-info{
    border-bottom: 1px solid $color-border1;
    font: normal $text-xxs 'TTNorms';
    letter-spacing: 0px;
    color: $color-blue2;
    padding: .3em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .value{
        font: normal $text-xxxs 'TTNorms';
        color: $color-blue3
    }
}

.muevo-titulo-pagina{
    text-align: left;
    font-size: 26px;
    font-family: TTNorms-Bold;
    letter-spacing: 0;
    color: $color-blue4
}

.muevo-subtitulo-pagina{
    font-size: $text-xs;
    color: $color-gray2;
}

//FORMS
$input-border-radius:  6px;
$input-height: 40px;
.muevo-select{
    height: $input-height !important;
    font: normal $text-xxs 'TTNorms' !important;
    letter-spacing: 0px;
    color: $color-blue3 !important;
    
    border: 2px solid $color-gray4 !important;
    background: #fff url(./assets/img/selectBackground.png) no-repeat !important;
    background-position: right 1vw center !important;
    background-size: 0.8vh !important;
    -webkit-appearance: none !important;
    border-radius: $input-border-radius;
}

.input-group-muevo{
    border-radius: $input-border-radius;
    border: 2px solid $color-gray4;
    .input-group-text{
        border: none;
        background-color: #fff;
        color: $color-black1 !important;
        font-size: $text-xxxs !important;
    }
    .muevo-select{
        border: none !important;
        border-left: none !important;
        text-align-last: right;
        padding-right: 2em;
    }
}

$switch-color: $color-blue4;
$switch-color-h: 20px;
$switch-color-w: 3em;
$switch-color-circle: 14px;
//$switch-color-inactive-position: 20px;
//::ng-deep{
    .muevo-switch .switch {
        width: $switch-color-w;
        height: $switch-color-h;
        background: $color-gray5;
    }
    
    .muevo-switch .switch small {
        margin-top: 3px;
        margin-left: 3px;
        margin-right: 3px;
        width: $switch-color-circle;
        height: $switch-color-circle;
        background: #F4F5F9;
    }
    
    .muevo-switch .switch.checked {
        width: $switch-color-w;
        height: $switch-color-h;
        background: $switch-color !important;
    }

    .muevo-switch .switch.switch-small small {
        right: calc(100% - 20px);//$switch-color-inactive-position
    }

    .muevo-switch .switch.checked small {
        right: 0 !important;
        left: auto;
    }
//}



$btn-muevo-normal-heigth: 32px;

%btn{
    cursor: pointer;
    width: 100%;
}
%btn-disabled{
    cursor: not-allowed;
    opacity: .5;
}
button:disabled{
    @extend %btn-disabled;
}

%btn-muevo-default{
    @extend %btn;

    max-width: 212px;
    height: $btn-muevo-normal-heigth;
    background: $color-gray6 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: $color-blue4;
    border: none;
    font-size: $text-xxxs;
}


.btn-muevo-default{
    @extend %btn-muevo-default;
    @extend %btn;
}

.btn-muevo-default-icon{
    @extend %btn-muevo-default;
    @extend %btn;

    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%btn-muevo-primary{
    @extend %btn;

    max-width: 212px;
    height: $btn-muevo-normal-heigth;
    background: $color-blue1 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: #fff;
    border: none;
}

.btn-muevo-primary{
    @extend %btn-muevo-primary;
}

.btn-muevo-primary-icon{
    @extend %btn-muevo-primary;

    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.muevo-tab{
    @extend %btn;

    min-height: 64px;
    background: $color-gray6 0% 0% no-repeat padding-box;
    border-radius: 12px;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: $text-xxs;
    color: #000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .desc{
        color: $color-gray1;
    }

    .fas{
        color: $color-gray1;
    }
}
.muevo-tab.active{
    border: 2px solid $color-blue5;
}

.btn-muevo-default-lg{
    @extend %btn;

    width: 100%;
    //min-width: 390px;
    height: 54px;
    background: $color-gray6 0% 0% no-repeat padding-box;
    border-radius: 12px;

    text-align: center;
    font: normal $text-xxs 'TTNorms';
    letter-spacing: 0px;
    color: $color-blue1;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.btn-muevo-default-md{
    @extend %btn;

    max-width: 250px;
    min-height: 44px;
    background: $color-gray6 0% 0% no-repeat padding-box;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font: bold $text-xxs 'TTNorms';
    letter-spacing: 0px;
    color: $color-blue1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-muevo-tarjeta{
    background-color: $color-gray6 !important;
    //min-height: 83px;
    width: 322px;
    max-width: 322px;
    border-top: 6.5px solid $color-blue4;
    border-radius: 12px;
    padding: 10px 18px 10px 18px;

    text-align: left;
    font: normal $text-md 'TTNorms';
    letter-spacing: 0px;
    color: #000000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: 25px;
    }
}

%btn-bank{
    @extend %btn;

    max-width: 533px;
    height: 54px;
    border-radius: 12px;
    padding: 10px 25px 10px 25px;

    font: normal $text-xs 'TTNorms';
    color: #000000;
}

.btn-muevo-tarjeta-seleccion{
    @extend %btn-bank;

    background: $color-gray6 url(./assets/img/selectBackground.png) no-repeat !important;
    background-position: right 2vw center !important;
    background-size: 0.8vh !important;
    -webkit-appearance: none !important;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    img{
        width: 63px;
        height: 19px;
        margin-right: 1em;
    }
}

.btn-muevo-banco-cta{
    @extend %btn-bank;

    background-color: $color-gray6;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        max-height: 43px;
    }

}
.btn-muevo-tarjeta-seleccion-switch{
    background-color: $color-gray6;
    height: 49.6px;
    border-radius: 12px;
    border: 1px solid $color-blue4;
    padding: 10px 42px 10px 42px;
    font: normal $text-xs 'TTNorms';

    display: flex;
    align-items: center;

    .action-l{
        border-right: 1px solid $color-gray7;
        flex-grow: 1;
    }

    .action-r{
        border-left: 1px solid $color-gray7;
        flex-grow: 1;
        padding-left: 1em;
    }

    .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.btn-muevo-tarjeta-seleccion-switch2{
    background-color: $color-gray6;
    height: 49.6px;
    border-radius: 12px;
    border: 1px solid $color-blue4;
    //padding: 10px 42px 10px 42px;
    font: normal $text-xs 'TTNorms';

    display: flex;
    align-items: center;

    .action-l{
        border-right: 1px solid $color-gray7;
        //flex-grow: 1;
    }

    .action-r{
        border-left: 1px solid $color-gray7;
        //flex-grow: 1;
        padding-left: 1em;
    }

    .br{
        border-right: 1px solid $color-gray7;
    }

    .bl{
        border-left: 1px solid $color-gray7;
    }

    .form-check-inline,.form-check-input{
        margin-right: 0px;
    }
}

.btn-mini-default{
    background-color: $color-gray7;
    border-radius: 10px;
    color: #000;
    height: 30px;
    font-size: 11px;
    border: 1px solid $color-gray4;
}

.btn-mini-info{
    background-color: $color-blue4;
    border-radius: 10px;
    color: $color-white;
    height: 30px;
    font-size: 11px;
}

.muevo-checkbox {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    border: 1px solid $color-gray1 !important;
    color: $color-gray1 !important;
    border-radius: 0.3em;
    font-size: 14px;
    vertical-align: bottom;
}
  
.muevo-checkbox:hover {
    box-shadow: 0 0 5px 0px #FFFFFF inset !important;
}
  
.muevo-checkbox:before {
    content: '';
    display: block;
    width: 70%;
    height: 70%;
    margin: 15% auto;
}
  
.muevo-checkbox:checked:before {
    background: $color-blue4 !important;
}


.muevo-chip{
    background-color: $color-gray6;
    border-radius: 8px;
    padding: .5em;
}

// .btn-muevo-tarjeta-seleccion-switch{
//     background-color: $color-gray6;
//     height: 49.6px;
//     border-radius: 12px;
//     border: 1px solid $color-blue4;
//     padding: 10px 42px 10px 42px;

//     font: normal $text-xs 'TTNorms';

//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     .info{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         width: 100%;
//         padding-left: 1em;
//         padding-right: 1em;
//     }
// }

$widget-padding-l-r: 1.5em;

.muevo-item-action{
    background-color: $color-gray6;
    font: normal $text-xxxs 'TTNorms';
    //padding: 5px 20px 5px 20px;
    padding: .5em $widget-padding-l-r .5em $widget-padding-l-r;
    border-radius: 8px;
    height: 35px;
    width: 100%;
    margin-bottom: .5em;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .actions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 4em;
    }

    hr{
        border-left: 1px solid $color-gray7;
        height: 1em;
    }
}
.muevo-item-action:hover{
    background-color: $color-gray5;
}

$input-search-height: 37px;
.muevo-input-search{
    max-width: 256px; //286px;
    height: $input-search-height;

    input{
        border-radius: 24px 0px 0px 24px;
        background-color: $color-gray6;
        border: 1px solid $color-gray5;
        border-right: none;
        color: $color-gray8;
        font-size: $text-xxxs;
        height: $input-search-height;
    }

    .input-group-append{
        border: 1px solid $color-gray5;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        background-color: $color-gray6;
        height: $input-search-height;
        span{
            background-color: $color-gray6;
            border-radius: 24px;
        }
    }

    .form-control:focus{
        background-color: $color-gray6;
    }
}

.btn-muevo-action-mini{
    background-color: $color-gray6;
    border: 1px solid $color-gray5;
    border-radius: 12px !important;
    height: $input-search-height;
    min-width: $input-search-height;
    cursor: pointer;
    color: $color-gray5;
}


%btn-muevo-action{
    width: 100%;
    max-width: 228px;
    height: 40px;
    border-radius: 15px;
    font: normal $text-xxs 'TTNorms';
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.btn-muevo-action-danger{
    @extend %btn-muevo-action;

    color: $color-red;
    border-color: $color-red;
    background-color: transparent;
}
.btn-muevo-action-danger:hover{
    background-color: $color-red;
    color: #fff;
}
.btn-muevo-action-danger:disabled{
    @extend %btn-disabled;
}

.btn-muevo-action-default{
    @extend %btn-muevo-action;

    background-color: $color-gray6;
    border-color: transparent;
    color: $color-blue1;
}
.btn-muevo-action-default:disabled{
    @extend %btn-disabled;
}


.btn-muevo-action-muevo{
    @extend %btn-muevo-action;

    background-color: $color-muevo;
    color: $color-blue1;
    border-color: transparent;

    box-shadow: 0px 3px 6px #00000029;
}
.btn-muevo-action-muevo:disabled{
    @extend %btn-disabled;
}

.btn-tab-horizontal{
    background: $color-gray6 0% 0% no-repeat padding-box;
    border: 1px solid $color-gray5;
    border-radius: 5px !important;
    opacity: 1;
    color: $color-gray5;
    min-width: 10em;
    height: 32px;
    text-align: left;
    font-size: 13px;
    font-family: TTNorms;
    color: $color-gray5;
    text-align: center;
}
.btn-tab-horizontal.active{
    background-color: #fff;
    color: #000;
}

.input-group.muevo{
    .input-group-text{
        background-color: $color-white;
    }
}

.ctacte-info{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid $color-blue1;
    background-color: $color-gray6 !important;
    border-radius: 8px;
    min-height: 45px;
    padding-left: 15px;
    padding-right: 15px;

    .fa-times{
        cursor: pointer;
    }
}

//GENERICS
.bold{
    font-family: TTNorms-Bold !important;
}

.invitacion-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid $color-gray3;
    //border-bottom: 1px solid $color-gray3;
    padding-top: .5em;
    padding-bottom: .5em;
}
.invitacion-sidebar:hover{
    background-color: $color-gray10 !important;
}

.hand{
    cursor: pointer;
}

.fit{
    width: 100%;
}

$border-color: $color-gray7;
.br{
    border-right: 1px solid $border-color;
}
.bl{
    border-left: 1px solid $border-color;
}
.bb{
    border-bottom: 1px solid $border-color;
}
.bt{
    border-top: 1px solid $border-color;
}

.no-border-l{
    border-left: none;
}

// .border-l{
//     border-left: 2px solid $color-gray4 !important;
// }

// .border-t{
//     border-top: 1px solid $color-gray4;
// }


.progress{
    background-color: $color-gray6 !important;
}
.progress-bar {
    background-color: $color-muevo !important;
}

.muevoNoPadding {
    padding: 0%;
}

.muevoNoMargin {
    margin: 0% !important;
}

.muevoNoBorder {
    border: none !important;
}

.flex-start{
    display: flex;
    justify-content:flex-start; 
    align-items:center
}

.flex-center{
    display: flex; 
    justify-content:center; 
    align-items:center;
}

.flex-end{
    display: flex;
    justify-content:flex-end; 
    align-items:center
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions-vertical{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.underline{
    text-decoration: underline;
}

.no-border{
    border-radius: 0px 0px 0px 0px !important;
}

.no-border-r{
    border-top-right-radius: 0px !important; 
    border-bottom-right-radius: 0px !important;
}

.no-border-l{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

//LAYOUT

.layout-container{
    max-width: 1547px;
}

.content{
    //margin-top: 4.5em;    
    padding: 2em;
    background-color: $color-bg;
}

.vl-header{
    border-left: 1px solid $color-gray5;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.vl{
    height: 2em;
    border-left: 1px solid $color-gray5;
    margin-right: 1em;
    margin-left: 1em;
}

.header-icon-item{
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;

    img{
        max-height: 25px;
    }
    
}

.routeNav{
    width: 100%;
    max-height: 40px;
    border-bottom: 2px solid $color-gray5;
}

.muevo-breadcrumbs-text {
    color: $color-blue1 !important;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 1em;
}
.muevo-breadcrumbs-text.pointer {
    cursor: pointer;
}
.muevo-breadcrumbs-text.pointer:hover {
    border-bottom: 1px solid $color-blue4;
}

.arr-right .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
    vertical-align: top;
    font-size: 20px;
    line-height: 18px;
}

$header-height: 60px;
.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: $header-height;
}

$header-padding: 10px;
.header{
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 7px;

    padding-left: $header-padding;
    padding-right: $header-padding;

    height: $header-height;

    .logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
        
        img{
            max-height: 30px;
            cursor: pointer;
        }
    }

    .account{
        min-width: 6em;
        cursor: pointer;
        img{
            max-height: 20px;
            max-width: 20px;
        }
    }

    .display-accounts{
        img.usr{
            max-width: 1.8em;
            max-height: 1.8em;
        } 
    }

    .dropdown-item{
        cursor: pointer;
    }
}

.footer{
    background: $color-blue5 0% 0% no-repeat padding-box;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    
    text-align: left;
    font-size: 12px;
    color: $color-white3;
    
    .title{
        font-size: 14px;
        font-family: TTNorms-Bold;
    }
}

.copyright{
    background: $color-blue6 0% 0% no-repeat padding-box;
    min-height: 40px;
    font-family: TTNorms;
    font-size: 11px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;//$color-white3;
}


.breadcrumb{
    background-color: transparent !important;
}



//TABLAS
$border-radius: 5px;
$row-margin-bottom: 5px;

.table-row-options{
    width: 100%;
}

.table-responsive{
    overflow-x: auto;
}

.table-counter{
    background-color: #eb5f5f;
    color: #fff;
    height: 18px;
    min-width: 18px;
    border-radius: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: -25px;
    padding: 3px;
}

$table-min-width: 800px;

%table-row{
    border-radius: 5px;
    border-style: none;
    margin-bottom: $row-margin-bottom;
    background-color: #fff;
    min-height: 4em;
}

// .mat-row:nth-child(even){
//     background-color:red;
// }

// .mat-row:nth-child(odd){
//     background-color:#FCFCFC;
// }

.mat-table{
    min-width: $table-min-width;
    background-color: transparent !important;

    .mat-header-row, .mat-row{
        @extend %table-row;
    }

    .mat-header-row{
        background-color: $color-gray6;
    } 

    .mat-header-cell{
        font-family: TTNorms !important;
        font-size: 10px;
        color: $color-blue5;
    }
    .mat-cell{
        font-family: TTNorms !important;
        font-size: 12px !important;
    }
}
.mat-paginator{
    min-width: $table-min-width;
    border-radius: 5px;
    background-color: $color-gray6;
}

.custom-paginator{
    //min-width: 800px;
    border-radius: 5px;
    background-color: #E8EAF5;
    margin-top: .3em;
    padding: 16px 8px;
    font-size: 1.3em;
    width: 100%;
    min-width: 800px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .fas{
        color: #caccd5
    }

    .control-item{
        margin-left: 1.2em;
    }

    .control-number{
        color: #6f7076
    }

    .btn-muevo-default{
        border: 1px solid $color-blue1;
        .fas{
            color: $color-blue1
        }
    }
}

.more-data-flotante {
    display: scroll;
    position: fixed;
    bottom: 4.3em;
    right: 35%;
    z-index: 99;
    opacity: .6;
}
.more-data-flotante-sidebar{
    @extend .more-data-flotante;

    position: unset !important;
}
.more-data-flotante:hover,.more-data-flotante-sidebar:hover{
    opacity: 1;
}



.no-rows{
    @extend %table-row;
}

//FORMS HELPERS
.form-info{
    background-color: white;
    color: $color-gray1;
    padding: 10px;
    border: 1px solid $color-gray3;
    border-radius: 5px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between; 
}

//ICONS

.status-ok{
    background-color: #00ff4f;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #81c981;
    .fas{
        font-size: 8px;
        color: $color-white;
    }
}

.status-error{
    background-color: $color-red;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b80404;
    .fas{
        font-size: 8px;
        color: $color-white;
    }
}


//SIDEBAR
.sidebar-right, .sidebar-right-md{
    max-width: 30em;
    width: 30em;
    height: 100vh;
    background-color: $color-white;
    border-radius: 12px 0 0 20px;
    overflow: hidden;
    border: 1px solid #ddd;

    // -webkit-box-shadow: -11px -1px 5px -10px rgba(0,0,0,0.66);
    // -moz-box-shadow: -11px -1px 5px -10px rgba(0,0,0,0.66);
    // box-shadow: -11px -1px 5px -10px rgba(0,0,0,0.66);
}

.sidebar-icon-header{
    color: $color-blue4;
}


.sidebar-scroll-07x{
    max-height: 200px;
    min-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-scroll-1x{
    max-height: 350px;
    min-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-scroll-13x{
    max-height: 450px;
    min-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-scroll-2x{
    max-height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-right-body{
    width: 100%;
    padding: 1.5em;

    .muevoTopSidebarLeft{
        >.col-12{
            padding: 0px !important;
        }
        .fas{
            color: $color-blue4;
            font-size: 1.5em;
        }
        a.btn{
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .row
    {
        margin-left: 0%;
        margin-right: 0%;
        
        .col-12{
            padding-left: 0%;
            padding-right: 0%;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    hr{
        border-top: 1px solid $color-gray4;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .muevo-input-search{
        max-width: 100%;
        width: 100% !important;
    }

    //x
    .btn-muevo-action-danger,.btn-muevo-action-default,.btn-muevo-action-muevo{
        width: 100%;
        max-width: none;
    }
}


$muevo-widget-button-radius: 10px;
.muevo-widget-button-container{
    border-radius: $muevo-widget-button-radius;
    background-color: $color-gray9;
    min-height: 50px;
}

.muevo-widget-button{
    border-radius: $muevo-widget-button-radius;
    background-color: $color-gray6;
    margin-bottom: 0.5vh;
    margin-left: 4%;
    margin-right: 4%;
    padding: .6em $widget-padding-l-r .6em $widget-padding-l-r;
    cursor: pointer;
    min-height: 50px;
}

.muevoSidebarAlertTitle2 {
    color: #000 !important;
    font-size: $text-xs;
    font-family: TTNorms-Bold;
}

.card-header, .card-body, .card-footer{
    padding-left: 25px !important;
    padding-right: 25px !important;;
    background-color: #fff !important;
}
.card-footer{
    padding-bottom: 30px !important;;
}

//MODALS
$modal-radius: 8px;
.modal-content{
    border-radius: 15px;
}
.modal-muevo{
    background-color: $color-blue3;
    color: $color-gray3;
    border-radius: $modal-radius;

    .muevo-modal-title {
        color: #fff;
    }

    .modal-footer{
        border-top: 1px solid $color-gray2;
        //border-top: 1px solid $color-blue3;
        button{
            background-color: transparent;
        }
    }

    .text-xs{
        color:$color-gray3;
    }
}

.muevo-modal-title{
    color: $color-blue4;
    font-size: $text-md;
    font-family: TTNorms-Bold;
    letter-spacing: 0.2px;
}

//SMALL
@media screen and (max-width: 576px){ //767px
    $btn-tab-heigth: 30px;
    .btn-tab{
        height: $btn-tab-heigth;
        font-size: 12px;
        min-width: 8em;
    }

    .btn-tab-horizontal{
        min-width: 8.3em;
        max-width: 8.3em;
    }

    .muevo-input-search{
        max-width: 235px;
    }

    .btn-muevo-primary-icon{
        max-width: 3em !important;
        span{
            display: none;
        }
    }

    .more-data-flotante{
        bottom: 5.7em;
        right: 20%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  
    .sidebar-right-md{
        min-width: 50%;
    }

    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    .sidebar-right-md{
        min-width: 85%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
    .sidebar-right-md{
        min-width: 70%;
    }

    // .text-sm{
    //     font: bold $text-xxs 'TTNorms';
    // }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .sidebar-right-md{
        min-width: 70%;
    }

    
}

//UI FIXS
.card{
    padding: 1px;
}

.popover{
    z-index: 500;
}

.ng-sidebar__backdrop{
    z-index: 9 !important;
    background: #383838 !important;
    opacity: .75 !important;
}

.mat-checkbox-inner-container{
    margin-top: 7px !important;
}

$color-tooltip: rgba(0, 0, 0, .8);
.tooltip-inner {
    background-color: $color-tooltip;
    font-size: 11px;
}
.arrow::before {
    border-top-color: $color-tooltip;
}
