
@import './colors.scss';

$muevo-border-control: 1px solid $color-gray5;
$muevo-border-control-radius: .25rem !important;

.paint{
    border: 1px solid red;
}

//.fit{
//     width: 100%;
// }

//html elements
button.sm{ 
    min-width: 10em;
    max-height: 2em;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.lg{ min-width: 15em; }


.generalSidebarRight3 {
    max-width: 32em;
    height: 100%;
    background-color: #1E2D86;
    overflow: hidden;
    overflow-y: hidden;
}

// .generalSidebarRight, .generalSidebarRight-md{
//     max-width: 30em;
//     width: 30em;
//     height: 100vh;
//     background-color: $color-white;
//     border-radius: 18px 0 0 20px;
//     overflow: hidden;
//     border: 1px solid #ddd;

//     // -webkit-box-shadow: -11px -1px 5px -10px rgba(0,0,0,0.66);
//     // -moz-box-shadow: -11px -1px 5px -10px rgba(0,0,0,0.66);
//     // box-shadow: -11px -1px 5px -10px rgba(0,0,0,0.66);
// }

.alert:hover {
    border: 1px solid #E9EAF3;
}


// .breadcrumb{
//     background-color: transparent !important;
// }

// .vl-header{
//     border-left: 1px solid $color-gray5;
//     height: 44px;
// }

// .routeNav{
//     width: 100%;
//     max-height: 40px;
//     border-bottom: 2px solid $color-gray5;
// }

// .muevoFontTituloPagina {
//     text-align: left;
//     font-size: 26px;
//     font-family: TTNorms-Bold;
//     letter-spacing: 0;
//     color: $color-blue4
// }


// .muevoFontBold {
//     font-family: TTNorms-Bold;
// }

// .muevoNoPadding {
//     padding: 0%;
// }

// .muevoNoMargin {
//     margin: 0% !important;
// }

// .muevoNoBorder {
//     border: none !important;
// }

//FORMS


// .input-group.muevo{
//     .input-group-text{
//         background-color: $color-white;
//     }
// }

.select-muevo{
    background: $color-gray6 url(./assets/img/selectBackground.png) no-repeat !important;
    background-size: 0.8vh !important;
    -webkit-appearance: none !important;
    background-position: right 1vw center !important;
    font-size: 12px !important;
    height: calc(2.2rem) !important;
}

.btn-muevo-action{
    background-color: $color-gray6;
    border: $muevo-border-control;
    border-radius: $muevo-border-control-radius;
    height: 35px;
    min-width: 3em;
    cursor: pointer;

    .fas.gray{
        color: $color-gray5;
    }
}



//texts

// .text-next{
//     color: $color-blue3 !important;
// }

.textActive {
    color: $color-gray7 !important;
}

// .text-sm{
//     font-family: TTNorms;
//     font-size: 13.3px;
//     letter-spacing: 0;
//     color: $color-black;
// }

// .text-md{
//     text-align: left;
//     font-family: TTNorms;
//     font-size: 16px;
//     letter-spacing: 0;
//     color: $color-black;
// }

// .text-lg{
//     text-align: left;
//     font-family: TTNorms;
//     font-size: 18px;
//     letter-spacing: 0;
//     color: $color-black;
// }

// .text-xl{
//     text-align: left;
//     font-family: TTNorms-Bold;
//     font-size: 19.2px;
//     letter-spacing: 0;
//     color: #585B6E;
// }

// .text-xxl{
//     text-align: left;
//     font-family: TTNorms-Bold;
//     font-size: 23.04px;
//     letter-spacing: 0;
//     color: #585B6E;
// }

// .text-xxxl{
//     text-align: left;
//     font-family: TTNorms-Bold;
//     font-size: 27.65px;
//     letter-spacing: 0;
//     color: #585B6E;
// }

// .bold{
//     font-family: TTNorms-Bold;
// }

.textTitle{
    font-family: TTNorms-Bold;
}

.muevoSubtitlePage{
    text-align: left;
    font-family: TTNorms-Bold;
    font-size:  24px;
    letter-spacing: 0;
    color: #152137;
    opacity: 1;
}

.muevoBackgroundResumen4 {
    background-color: #505BA3;
    border-radius: 27px;
    border: 0.2vw solid #FFFFFF;
    color: #FFFFFF !important;
    min-height: 16em;
}

//customs items





.no-spacing {
    letter-spacing: 0px !important;
}

// .no-border-l{
//     border-left: none;
// }

// .border-l{
//     border-left: 2px solid $color-gray4 !important;
// }

// .border-t{
//     border-top: 1px solid $color-gray4;
// }

// .border-b{
//     border-bottom: 1px solid $color-gray4;
// }

// .flex-start{
//     display: flex;
//     justify-content:flex-start; 
//     align-items:center
// }

// .flex-center{
//     display: flex; 
//     justify-content:center; 
//     align-items:center;
// }

// .flex-end{
//     display: flex;
//     justify-content:flex-end; 
//     align-items:center
// }

// .space-between{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .space-around{
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
// }

// .muevoTitle{
//     color: $color-blue4;
//     font-size: 16px;
//     font-family: TTNorms-Bold;
//     letter-spacing: 0.2px;
// }

// .muevoModalMensajes{
//     background: #fff;
// }

// .muevoModalContent{
//     font-size: 1rem;
// }



// .muevoText{
//     color: #363740;
// }

//BUTTONS
.btn{
    border-radius: 15px !important;
}

.btn-copec{
    color: $text-dark;
}
.btn-copec:disabled{
    cursor: not-allowed;
}

.btn-copec.next{
    background: $gradient-active;
    color: #24328C;
}
.btn-copec.next:hover{
    filter: brightness(110%);
}

// .btn-mini-default{
//     background-color: $color-gray5;
//     border-radius: 10px;
//     color: $color-gray3;
//     height: 30px;
//     font-size: 11px;
//     border: 1px solid $color-gray4;
// }

// .btn-mini-info{
//     background-color: $color-blue4;
//     border-radius: 10px;
//     color: $color-white;
//     height: 30px;
//     font-size: 11px;
// }


//v2
// .progress{
//     background-color: $color-gray6 !important;
// }
// .progress-bar {
//     background-color: $color-muevo !important;
// }
  
// .progress-bar.indeterminate {
// position: relative;
// animation: progress-indeterminate 3s linear infinite;
// }

// .btn-primary-sidebar {
//     border-radius: 15px;
//     background: linear-gradient(180deg, #8BF1FF 0%, #00F2FF 100%);
//     color: $color-blue4;
//     font-size: 14px;
//     font-weight: 500;
//     height: 40px;
//     width: 100%;
//     box-shadow: 0px 3px 6px #00000029;
// }
// .btn-primary-sidebar:disabled{
//     cursor: not-allowed;
//     opacity: 0.5;
// }

// .btn-secondary-sidebar {
//     border-radius: 15px;
//     background-color: $color-gray6;
//     color: $color-blue4;
//     font-size: 14px;
//     font-weight: 500;
//     height: 40px;
//     width: 100%;
//     box-shadow: 0px 3px 6px #00000029;
// }

// .btn-danger-sidebar {
//     border-radius: 15px;
//     background-color: $color-white;
//     border: 1px solid #dc3545;
//     color: $color-red;
//     font-size: 14px;
//     font-weight: 500;
//     height: 40px;
//     width: 100%;
// }

// .btn-danger-sidebar:hover{
//     color: $color-white;
//     background-color: $color-red;
// }

// $switch-color: $color-blue4;
// .custom-switchesSidebar .switch {
//     width: 1.3em;
//     height: 1.3em;
//     background: $color-gray5;
// }
  
// .custom-switchesSidebar .switch small {
//     margin-top: 3px;
//     margin-left: 3px;
//     margin-right: 3px;
//     width: 1em;
//     height: 1em;
//     background: #F4F5F9;
// }
  
// .custom-switchesSidebar .switch.checked {
//     width: 1.3em;
//     height: 1.3em;
//     background: $switch-color;
// }

// .btn-copec-primary{
//     background-color: $color-blue4;
//     color: $color-white;
//     border-radius: 12px !important;
//     font-size: 12px;
//     min-width: 16em;
// }

// .btn-copec-secondary{
//     background-color: $color-gray6;
//     color: #37469C;
//     border-radius: 12px !important;
//     font-size: 12px;
//     min-width: 16em;
// }


.btn-title{
    background-color: $color-gray6;
    border-radius: 15px;
    color: $color-blue3;
    border-radius: 6px !important;
    font-size: 12px;
    min-width: 16em;
}


//V2

//LAYOUT
.content{
    padding: 2em;
    background-color: $color-bg;
}

.footer{
    background: $color-blue1 0% 0% no-repeat padding-box;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    
    text-align: left;
    font-size: 12px;
    color: $color-white3;
    
    .title{
        font-size: 14px;
        font-family: TTNorms-Bold;
    }
}

.copyright{
    background: $color-blue2 0% 0% no-repeat padding-box;
    min-height: 40px;
    font-family: TTNorms;
    font-size: 11px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white3;
}

// .divBreadCrumbsText {
//     color: $color-blue4 !important;
//     font-size: 14px;
//     font-weight: 500;
//     letter-spacing: 0;
//     margin-bottom: 1em;
// }

// .divBreadCrumbsText.pointer {
//     cursor: pointer;
// }

// .divBreadCrumbsText.pointer:hover {
//     border-bottom: 1px solid $color-blue4;
// }

//GENERICS
// .column{
//     display: flex;
//     flex-direction: column;
// }

// .column-center{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .actions-vertical{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
// }

.text3{
    font-family: TTNorms-Bold;
    font-size: 14px;
    letter-spacing: 0px;
    color: $color-gray3;
}

.text-xxxs{
    font-size: 10px !important;
}

.text-xxs{
    font-size: 11px !important;
}

.text-xs{
    font-size: 12px !important;
}

// .text-md{
//     font-size: 14px !important;
//     color: #4B4B4B;
// }



.text-xl{
    font-size: 24px;
}

.color-title{
    color: $color-blue4;
}

.lnk-sm{
    cursor: pointer;
    font-family: TTNorms;
    font-size: 12px;
    color: $color-blue3;
}
.lnk-sm:hover {
    color: $color-blue4;
    text-decoration: none;
}

// .lnk-md{
//     font-family: TTNorms;
//     font-size: 14px;
//     color: $color-blue4;
//     letter-spacing: 1.3px;
//     border-bottom: 1px solid $color-blue4;
//     text-decoration: none;
// }
// .lnk-md:hover {
//     color: $color-blue4;
//     text-decoration: none;
// }

// .underline{
//     text-decoration: underline;
// }

// .form-info{
//     background-color: white;
//     color: $color-gray3;
//     padding: 10px;
//     border: 1px solid $color-gray4;
//     border-radius: 5px;
//     width: 100%;

//     display: flex;
//     align-items: center;
//     justify-content: space-between; 
// }

// //ICONS

// .status-ok{
//     background-color: #00ff4f;
//     border-radius: 20px;
//     width: 15px;
//     height: 15px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border: 1px solid #81c981;
//     .fas{
//         font-size: 8px;
//         color: $color-white;
//     }
// }

// .status-error{
//     background-color: $color-red;
//     border-radius: 20px;
//     width: 15px;
//     height: 15px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border: 1px solid #b80404;
//     .fas{
//         font-size: 8px;
//         color: $color-white;
//     }
// }



//SIDEBAR CLASS
// .sidebar-icon-header{
//     color: $color-blue4;
// }

.sidebar-list-item{
    width: 100%;
    border-radius: 8px;
    background-color: $color-gray4 !important;
    min-height: 24px;
    padding: 8px;
}


// .sidebar-item-option{// ->muevo-item-action
//     display: flex;
//     justify-content: space-between;
//     background-color: $color-gray6;
//     padding: 8px;
//     border-radius: 8px;
//     margin-bottom: 4px;

//     .options{
//         border-left: 1px solid $color-gray5;
//         padding-left: 10px;
//         padding-right: 10px;
//         cursor: pointer;
//     }

//     .options-right{
//         border-right: 1px solid $color-gray5;
//         padding-left: 10px;
//         padding-right: 10px;
//         cursor: pointer;
//     }
// }
// .sidebar-item-option:hover{
//     background-color: $color-gray5;
// }

// .sidebar-scroll-07x{
//     max-height: 200px;
//     // min-height: 280px;
//     overflow-y: auto;
//     overflow-x: hidden;
// }

// .sidebar-scroll-1x{
//     max-height: 350px;
//     overflow-y: auto;
//     overflow-x: hidden;
// }

// .sidebar-scroll-2x{
//     max-height: 650px;
//     overflow-y: auto;
//     overflow-x: hidden;
// }

.input-group-sidebar{
    .input-group-text{
        background-color: $color-white;
        color: $color-gray9 !important;
    }
    .form-control{
        height: 40px;
        font-size: 16px;
        border: 1px solid #ced4da;
        // border-left: none;
    }
    .form-control:focus{
        border-color: #ced4da !important;
    }
    
}

// .muevoSidebarTitle {
//     color: $color-blue4;
//     font-size: 18px;
//     font-family: TTNorms-Bold;
//     letter-spacing: 0.2px;
// }

// $muevo-widget-button-radius: 10px;
// .muevo-widget-button-container{
//     border-radius: $muevo-widget-button-radius;
//     background-color: $color-gray11;
//     min-height: 50px;
// }

// .muevo-widget-button{
//     border-radius: $muevo-widget-button-radius;
//     background-color: $color-gray6;
//     margin-bottom: 0.5vh;
//     margin-left: 4%;
//     margin-right: 4%;
//     padding: 0.6em;
//     cursor: pointer;
//     min-height: 50px;
// }

.muevoSidebarInput {
    border: none;
    background-color: $color-white;
    color: $color-blue5;
    font-size: 14px;
}

.muevoSidebarInput>option {
    /* Whatever color  you want */
    background-color: #0E1743 !important;
}

.muevoSidebarInput::placeholder {
    color: $color-black !important;
}

.muevoSidebarInput:focus {
    background-color: $color-white;
    color: $color-blue5;
}

// .muevoSidebarSubTitle {
//     color: $color-black;
//     font-size: 16px;
//     font-weight: 500;
// }

// .muevoSidebarAlertTitle2 {
//     color: $color-black  !important;
//     font-size: 14px;
//     font-family: TTNorms-Bold;
// }

.radioSidebar {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid $color-muevo  !important;
    color: $color-black !important;
    border-radius: 50%;
    font-size: 14px;
}
.radioSidebar:hover {
    box-shadow: 0 0 5px 0px $color-muevo inset !important;
}
.radioSidebar:checked:before {
    background: $color-muevo !important;
}

// .checkSidebar {
//     -webkit-appearance: none;
//     width: 20px;
//     height: 20px;
//     vertical-align: bottom;
//     border: 1px solid $color-gray1 !important;
//     color: $color-gray1 !important;
//     border-radius: 0.3em;
//     font-size: 14px;
//     vertical-align: bottom;
// }
  
// .checkSidebar:hover {
//     box-shadow: 0 0 5px 0px #FFFFFF inset !important;
// }
  
// .checkSidebar:before {
//     content: '';
//     display: block;
//     width: 70%;
//     height: 70%;
//     margin: 15% auto;
// }
  
// .checkSidebar:checked:before {
//     background: $color-blue4 !important;
// }

.box-container-sidebar{
    display: flex;
    align-items: center;
    padding: 5px;
    // border-radius: 10px;
    // border: 1px solid #454b77;
    width: 40%;
}

.muevoSidebarAlertTitle {
    color: $color-blue5;
    font-size: 14px;
    font-family: TTNorms-Bold;
}

.muevoSidebarAlertSubTitle {
    color: $color-gray3;
    font-size: 10px;
    font-weight: 500;
}



// .sidebar-right-body{
//     width: 100%;
//     padding: 1em;

//     .muevoTopSidebarLeft{
//         >.col-12{
//             padding: 0px !important;
//         }
//         .fas{
//             color: $color-blue4;
//             font-size: 1.5em;
//         }
//     }

//     .row
//     {
//         margin-left: 0%;
//         margin-right: 0%;
        
//         .col-12{
//             padding-left: 0%;
//             padding-right: 0%;
//             padding-top: 5px;
//             padding-bottom: 5px;
//         }
//     }

//     hr{
//         border-top: 1px solid $color-gray4;
//     }
// }




.sidebar-text{
    color: $color-black; 
}

.sidebar-info-text{
    color: $color-gray7;
    font-size: 14px;

}

// .invitacion-sidebar{
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
// }

// .hand{
//     cursor: pointer;
// }

.elevation{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 
                0 8px 10px 1px rgba(0,0,0,.14), 
                0 3px 14px 2px rgba(0,0,0,.12);
}

.buttons{
    button{
        margin-right: 1em;
        margin-bottom: .5em;
    }
}

.btn-copec-secundary{
    background-color: $color-gray6;
    color: $color-blue3;
    border-radius: 12px !important;
    font-size: 12px;
    min-width: 14em;
}

.btn-copec-action{
    background-color: $color-muevo;
    color: $color-blue3;
    border-radius: 12px !important;
    font-size: 12px;
    min-width: 14em;
}

// .btn-tab{
//     background: #FAFAFA 0% 0% no-repeat padding-box;
//     border: 1px solid $color-gray5;
//     border-radius: 5px !important;
//     opacity: 1;
//     color: $color-gray5;
//     min-width: 12em;
//     height: 32px;
//     text-align: left;
//     font-size: 13px;
//     font-family: TTNorms;
//     color: $color-gray5;
//     text-align: center;
// }
// .btn-tab.active{
//     background-color: $color-gray6;
// }

// .no-border{
//     border-radius: 0px 0px 0px 0px !important;
// }

// .no-border-r{
//     border-top-right-radius: 0px !important; 
//     border-bottom-right-radius: 0px !important;
// }

// .no-border-l{
//     border-top-left-radius: 0px !important;
//     border-bottom-left-radius: 0px !important;
// }

$btn-tab-heigth: 35px;
.input-group.search{
    max-width: 250px;
    height: $btn-tab-heigth;
    input{
        border-radius: 24px 0px 0px 24px;
        background-color: $color-gray6;
        border: 1px solid $color-gray5;
        border-right: none;
        color: $color-gray8;
        font-size: 14px;
        height: $btn-tab-heigth;
    }
    .input-group-append{
        border: 1px solid $color-gray5;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        background-color: $color-gray6;
        height: $btn-tab-heigth;
        span{
            background-color: $color-gray6;
            border-radius: 24px;
        }
    }
}
//ICON LEFT
.input-group.search-l{
    max-width: 250px;
    height: $btn-tab-heigth;
    input{
        border-radius: 24px 0px 0px 24px;
        background-color: $color-gray6;
        border: 1px solid $color-gray5;
        border-left: none;
        color: $color-gray8;
        font-size: 14px;
        height: $btn-tab-heigth;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }
    .input-group-append{
        border: 1px solid $color-gray5;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        background-color: $color-gray6;
        height: $btn-tab-heigth;
        border-right: none;
        span{
            background-color: $color-gray6;
            border-radius: 24px;
        }
    }
}

//SYMBOLS
.plus-wrapper.danger{
    border: 1px solid $color-red;
    .fas{
        color: $color-red;
    }
}
.plus-wrapper.danger:hover{
    border-color: $color-red;
    .fas{
        color: $color-red;
    }
}

.plus-wrapper{
    border: 1px solid $color-gray8;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    .fas{
        color: $color-gray8;
    }
}
.plus-wrapper:hover{
    border-color: $color-blue4;
    .fas{
        color: $color-blue4;
    }
}

// .table-copec{
//     $row-height: 50px;
//     .header{
//         min-height: $row-height;
//         background-color: $color-gray6 !important;
//         border-radius: 5px;
//         padding-top: 18px;
//         padding-bottom: 10px;
//         padding-left: 5px;
//         text-transform: uppercase;
//         font-size: 10px;
//         font-weight: 500;
//         letter-spacing: 0.91px;
//     }
//     .body{
//         min-height: $row-height;
//         background-color: $color-white !important;
//         border-radius: 5px;
//         padding: 6px 0px 6px 0px;
//         margin-top: 5px !important;

//         font-size: 10px;
//         font-weight: 500;
//         letter-spacing: 0.91px;
//         align-items: center;
//         color: $color-blue5;
//         font-size: 12px;
//     }
// }

// //BORDERS
// $border-color: $color-gray4;
// .br{
//     border-right: 1px solid $border-color;
// }
// .bl{
//     border-left: 1px solid $border-color;
// }
// .bb{
//     border-bottom: 1px solid $border-color;
// }


// //TABLAS
// $border-radius: 5px;
// $row-margin-bottom: 5px;

// .table-row-options{
//     width: 100%;
// }

// .table-responsive{
//     overflow-x: auto;
// }

// .table-counter{
//     background-color: #eb5f5f;
//     color: #fff;
//     height: 18px;
//     min-width: 18px;
//     border-radius: 18px;
//     justify-content: center;
//     display: flex;
//     align-items: center;
//     margin-top: -25px;
//     padding: 3px;
// }

// $table-min-width: 800px;
// .mat-table{
//     min-width: $table-min-width;
//     background-color: transparent !important;

//     .mat-header-row, .mat-row{
//         border-radius: 5px;
//         border-style: none;
//         margin-bottom: $row-margin-bottom;
//         background-color: #fff;

        
//     }

//     .mat-header-row{
//         background-color: $color-gray6;
//     } 

//     .mat-header-cell{
//         font-family: TTNorms !important;
//         font-size: 10px;
//         color: $color-blue5;
//     }
//     .mat-cell{
//         font-family: TTNorms !important;
//         font-size: 12px !important;
//     }
// }
// .mat-paginator{
//     min-width: $table-min-width;
//     border-radius: 5px;
//     background-color: $color-gray6;
// }



