<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="closeThis()" titulo="Ingresa tu Mail"></top-sidebar-right>

  <!-- INFO-HEAD -->
  <div class="row">
    <div class="col-12 mt-3 column">
      <form #mainForm="ngForm" autocomplete="off">
        <div class="row mt-4">
          <div class="col-12">
            <label for="inputPatente">Mail <span class="text-danger">*</span></label>
            <input type="text" class="form-control"  name="mail" [(ngModel)]="current.email"
               [required]="true" validationBorder
        
                (input)="validaMaxInputMail($event)" maxlength="50"
               >
            <app-display-error-field [control]="mainForm.controls['mail']"
              [displayError]="_showControlError(mainForm.controls['mail'])" displayName="Mail">
            </app-display-error-field>
          </div>
          <div class="col-12 mt-4">
            <button class="btn-muevo-action-default float-right" [disabled]="!mainForm.valid || mainForm.form.pristine"
              (click)="save()">
              Guardar Cambios
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>