// #152137
// #E8EAF5
// #F3F5FB
// #B3B8CF
// #283793
// #1E2D86
// #00F2FF

$color-primary: #152137;
$color-light: #F3F5FB;
$color-blue: #1E2D86;

$border-debug: 1px solid red;

.sidebar-container{
    height: 100%;
    background-color: $color-primary;
}

.menu-hoverable:hover{
    background-color: #28364f;
}



.icon-min{
    padding-right: 0px; 
    padding-left: 0px;
    img{
        max-height: 25px;
    } 
}


// .left{
//     background-color: $color-primary;
//     //width: 250px;
//     width: 7em;
//     height: 100%;

//     .logo img{
//             max-height: 25px;
//     }
    
//     .logo-min{

//     }

//     .item{
//         //padding: 10px;
//         margin-bottom: 10px;
//         span{
//             color: white;
//             font-size: 10px;
//         }
//     }
//     .item.hoverable:hover{
//         background-color: $color-blue;
//     }

//     .icon, .icon-min, .logo-min{
//         padding-right: 0px; 
//         padding-left: 0px;

//         img{
//             max-height: 25px;
//         }
//     }

//     .title{
//         color: $color-light;
//         font-family: TTNorms;
//         font-size: 14px;
//     }
// }