
<div class="sidebar-container left">
    <div class="menu-hoverable hand mb-3"  *ngFor="let i of menuItems" [routerLink]="i.url">
        <div class="menu-item p-2">
            <div class="icon-min">
                <img [src]="i.img" />
            </div>
            <span class="mt-1">{{i.title}}</span>
        </div>
    </div>
</div>


