<div class="modal-header">
  <h5 class="modal-title" id="modalSubirArchivo">Subir Archivo</h5>
  <button type="button" class="close" aria-label="Close" (click)="response('NOK')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class='loadExcelInput'>
    <p>Abrir Archivo Excel</p>
    <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file"
      accept=".xlsx" (change)="Upload()">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn-muevo-action-default" (click)="response('OK')">Subir</button>
</div>
