<div class="row muevoNoPadding muevoBackgroundSaldo2">
  <div class=" muevoNoPaddingcol-6 muevoBackgroundSaldo1">
    <div class="row muevoNoPadding" style="margin-top: 7vh;margin-left:2vw;">
      <div class=" muevoNoPaddingcol-8">
        <span class="bold" style="font-size: 20px;">Saldo disponible </span>
      </div>
      <div class=" muevoNoPaddingcol-1">
        <i class="fas fa-info-circle"></i>
      </div>
    </div>
    <br>
    <div class="row muevoNoPadding" style="margin-left:2vw;">
      <div class=" muevoNoPaddingcol-10">
        <span class="bold" style="font-size: 34px;">${{saldo.saldoString}}</span>
      </div>
    </div>
    <div class="row muevoNoPadding muevoSaldoLeftBottom">
      <div class=" muevoNoPaddingcol-10">
        <span class="muevoSaldoSubText">De un total
          de ${{saldo.saldoFinalString}}</span>
      </div>
    </div>
  </div>
  <div class=" muevoNoPaddingcol-6 muevoBackgroundSaldo2">
    <div class="row muevoNoPadding" style="margin-top: 7vh;margin-left:2vw;">
      <div class=" muevoNoPaddingcol-8">
        <span class="bold" style="font-size: 20px;">Saldo utilizado</span>
      </div>
      <div class=" muevoNoPaddingcol-1">
        <i class="fas fa-info-circle"></i>
      </div>
    </div>
    <br>
    <div class="row muevoNoPadding" style="margin-left:2vw;">
      <div class=" muevoNoPaddingcol-10">
        <span class="bold" style="font-size: 34px;">${{saldo.lineaCreditoString}}</span>
      </div>
    </div>
    <div class="row muevoNoPadding muevoSaldoLeftBottom">
      <div class=" muevoNoPaddingcol-10">
        <span class="muevoSaldoSubText">+25%
          Respecto a los 30 dias anteriores</span>
      </div>
    </div>
  </div>
</div>
