<div class="form-group containerIngreso">
  <br>
  <div class="row muevoNoMargin">
    <div class="col-lg-9 col muevoNoPadding">
      <span style="color: #5C5C5C;font-size: 16px;" class="float-right mt-2">¿Ya tienes una cuenta?&nbsp;</span>
    </div>
    <div class="col muevoNoPadding">
      <button type="button" class="btn-muevo-action-default btnSupLogin float-right" (click)="iniSession()">Iniciar
        sesión</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row muevoNoMargin mt-4">
    <div class="col muevoNoPadding">
      <span style="color: #000000;font-size: 22px;font-weight: bold;">Crea un PIN</span>
    </div>
  </div>
  <div class="row muevoNoMargin">
    <div class="col muevoNoPadding">
      <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Por tu seguridad es necesario que crees un PIN,
        este debe contener 4 dígitos</span>
    </div>
  </div>
  <br>
  <div class="row muevoNoMargin">
    <div class="col-lg-6 col muevoNoPadding">
      <div class="input-group inputTextLogin" id="dvIngresoContrasena">
        <input type="text" name="inputIngresoContrasena" id="inputIngresoContrasena" class="form-control"
          [(ngModel)]="inputIngresoContrasena" style="border: none;border-radius: 15px 0 0 15px;" pattern="[0-9]*"
          placeholder="Ingresa el PIN" [ngClass]="{'pass': pass}" (input)="validaMaxInput($event)" maxlength="4"
          autocomplete="off">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2" (click)="pass=!pass"
            style="border: none;border-radius: 0 15px 15px 0;background: none"><i class="far fa-eye"></i></span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row muevoNoMargin">
    <div class="col-lg-6 col muevoNoPadding">
      <input type="text" name="inputRepiteContrasena" id="inputRepiteContrasena" class="form-control inputTextLogin"
        [(ngModel)]="inputRepiteContrasena" placeholder="Repite el PIN" pattern="[0-9]*"
        [ngClass]="{'pass': inputRepiteContrasena!='','norm':inputRepiteContrasena==''}"
        (input)="validaMaxInput($event)" maxlength="4" autocomplete="off" (change)="appMatchContrasena()">
    </div>
  </div>
  <div class="row muevoNoMargin" *ngIf="passCorrecta">
    <div class="col muevoNoPadding">
      <img src="./assets/img/exitoIngreso.png" alt="" class="muevoImagenMensaje">
      <span style="color: #19A320;letter-spacing: 0.91px;"> ¡El PIN Coincide!</span>
    </div>
  </div>
  <div class="row muevoNoMargin">
    <div id="dvIngresoContrasena_" class="col muevoNoPadding" style="display:none;">
      <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
      <span style="color: #EB5F5F;"> {{errorPass}}</span>
    </div>
  </div>
  <br>
  <div class="row muevoNoMargin">
    <div class="col muevoNoPadding">
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="chkLeido" id="chkLeido" type="checkbox" [(ngModel)]="_leido" value="1"
          style="height: 1.3em;width: 1.3em;" (change)="validateAll()">
        <span style="font-size: 16px;">He leído y acepto los <a href="https://ww2.copec.cl/terms#muevo-copec-empresas" target="_blank" style="color: #0700FF;">términos
            y condiciones.</a></span>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row muevoNoMargin">
    <div class="col-lg-6 col muevoNoPadding">
      <button type="button" class="btn btnAccionLogin" [disabled]="_btnSiguiente" (click)="ingresoCreaContrasena()">
        Terminar creación de administrador</button>
    </div>
  </div>
</div>
