
<div *ngIf="!isMobile">
    <ng-container *ngTemplateOutlet="desktop"></ng-container>
</div>
<div *ngIf="isMobile">
    <ng-container *ngTemplateOutlet="mobile"></ng-container>
</div>

<ng-template #desktop>
    <div class="table-copec mb-2">
        <!-- HEADER -->
        <div class="row header muevoNoMargin">
            <div class="col-2">Patente</div>
            <div class="col-3">Alias</div>
            <div class="col-2">Marca</div>
            <div class="col-2">Modelo</div>
            <div class="col-2">Año</div>
            <div class="col-1"></div>
        </div>
        <!-- BODY -->
        <div class="row body muevoNoMargin" *ngFor="let vehiculo of vehiculos">
            <div class="col-2 br">
                <span [ngClass]="{'disabled': !vehiculo.estado}">{{vehiculo.patente}}</span>
            </div>
            <div class="col-3 br" >
                <span [ngClass]="{'disabled': !vehiculo.estado}">{{vehiculo.alias}}</span>
            </div>
            <div class="col-2 br" >
                <span [ngClass]="{'disabled': !vehiculo.estado}">{{vehiculo.marca}}</span>
            </div>
            <div class="col-2 br" >
                <span [ngClass]="{'disabled': !vehiculo.estado}">{{vehiculo.modelo}}</span>
            </div>
            <div class="col-2 br" >
                <span [ngClass]="{'disabled': !vehiculo.estado}">{{vehiculo.ano}}</span>
            </div>
            <div class="col-1" >
                <div class="row" [ngClass]="{'disabled': !vehiculo.estado}">
                    <div class="col-12 custom-switches">
                        <ui-switch size="small" [(ngModel)]="vehiculo.estado" (change)="desactivarVehiculo(vehiculo.vehiculoId)"
                        class="float-right">
                    </ui-switch>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-template>

<ng-template #mobile>
    <div class="table-copec">
        <div class="body mb-2" *ngFor="let vehiculo of vehiculos">
            <div class="row muevoNoMargin">
                <div class="col-8 mt-2" [ngClass]="{'disabled': !vehiculo.estado}">
                    <span class="bold">{{vehiculo.patente}}</span>
                    <br>
                    <span class="muevoSubTextDashboard">{{vehiculo.alias}}</span>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-12 mt-3 custom-switches">
                            <ui-switch size="small" [(ngModel)]="vehiculo.estado" (change)="desactivarVehiculo(vehiculo.vehiculoId)"
                                class="float-right">
                            </ui-switch>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row muevoNoMargin" [ngClass]="{'disabled': !vehiculo.estado}">
                <div class="col-12">
                    <span class="muevoSubTextDashboard">Marca : </span>
                    <span>{{vehiculo.marca}}</span>
                </div>
                <div class="col-12">
                    <span class="muevoSubTextDashboard">Modelo : </span>
                    <span>{{vehiculo.modelo}}</span>
                </div>
                <div class="col-12 mb-2">
                    <span class="muevoSubTextDashboard">Año : </span>
                    <span>{{vehiculo.ano}}</span>
                </div>
            </div>
        </div>  
    </div>
</ng-template>


