<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" (click)="_estacionesCollapsed=!_estacionesCollapsed">
        <strong>Genera tu Viaje</strong>
      </div>
      <div [ngbCollapse]="_estacionesCollapsed">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <app-filtro-estaciones (emitLatLngZoom)="getAddress($event)" [inicio]="inicio" [destino]="destino"
                [inputDireccionDestino]="valueDestino" [tiempoDistancia]="tiempoDistancia">
              </app-filtro-estaciones>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <strong (click)="_filtrosCollapsed=!_filtrosCollapsed">Filtros de Estaciones <i *ngIf="_filtrosCollapsed"
                  class="fas fa-chevron-down"></i><i *ngIf="!_filtrosCollapsed" class="fas fa-chevron-up"></i></strong>
              <div [ngbCollapse]="_filtrosCollapsed">
                <div class="row">
                  <div class="col-2" *ngFor="let servicio of serviciosDisponibles;let idx = index">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="chkServicios" id="chkServicios_{{idx}}"
                          value="{{servicio.id}}" (change)="selServicio(servicio.id)" [checked]="servicio.seleccionado">
                        {{servicio.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col-3 offset-6">
              <button class="btn btn-danger" style="width: 100%" (click)="limpiar()">Limpiar Busqueda</button>
            </div>
            <div class="col-3">
              <button class="btn btn-success" style="width: 100%" (click)="buscarEstacion()">Buscar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Mapa de Estaciones
      </div>
      <div class="card-body">
        <div class="row">
          <div [ngClass]="{'col-12':!_estacionesCeranas,'col-10':_estacionesCeranas }">
            <app-mapa-estaciones [latInit]="inicio.lat" [lngInit]="inicio.lng" [latDest]="destino.lat"
              [lngDest]="destino.lng" [zoom]="zoom" (emitLatLngDestino)="getDestino($event)"
              (emitTiempoDistancia)="getTiempoDistancia($event)"
              (emitEstacionesCercanas)="getEstacionesCercanas($event)">
            </app-mapa-estaciones>
          </div>
          <div [ngClass]="{'col-2':_estacionesCeranas }" *ngIf="_estacionesCeranas">
            <div class="row" *ngFor="let marcador of marcadores">
              <div class="col-12">
                <div class="alert alert-light" role="alert" (click)="nuevaRuta(marcador.lat,marcador.lng)"
                  style="border: 1px solid #6c757d">
                  <strong>{{marcador.infoWindow}}</strong>
                  <p>{{marcador.desviacion}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
