<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <!-- <a class="btn float-left" (click)="backToMain()" *ngIf="origenIsConductoresDetalle">
                <i class="fas fa-angle-left fa-2x"></i>
            </a> -->
            <a class="btn float-right" (click)="backToMain()">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>

        <div class="col-12 column">
            <span class="sidebar-title">Detalle de vehículo</span>
            <span class="sidebar-subtitle" style="text-transform: capitalize;">
                {{current.patente | patente}}
            </span>
        </div>
    </div>
    
    <!-- INFO-HEAD -->
    <div class="row mt-3">
        <div class="col-12">
            <div class="sidebar-info">
                <div class="title">Estado del vehículo:</div>
                <div class="value">
                    <div class="flex-end">
                        <span class="mr-3">{{ current.estado ? "Activo" : "Inactivo" }}</span>
                        <ui-switch [disabled]="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar!=2" class="muevo-switch" size='small' [(ngModel)]="current.estado" (change)="toggleEstado()"></ui-switch>
                    </div>
                </div>
            </div>

            <div class="sidebar-info">
                <div class="title">Fecha creación:</div>
                <div class="value">{{current.fechaCreacion | date: 'yyyy-MM-dd'}}</div>
            </div>
        </div>
    </div>

    <form #mainForm="ngForm" autocomplete="off">
        <div class="row mt-3">
            <div class="col-12">
                <label for="inputAlias">Alias <span class="text-danger">*</span></label>
                <input [disabled]="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar!=2"
                 type="text" class="form-control" id="inputAlias" name="alias"
                 (keydown)="_TypeDefault($event)"
                 [pattern]="_pattern_FormatoDefault"
                  [(ngModel)]="current.alias" #aliasState="ngModel" placeholder="" 
                  maxlength="20" minlength="4" [required]="true" validationBorder>
                <app-display-error-field [control]="mainForm.controls['alias']" [displayError]="_showControlError(mainForm.controls['alias'])" displayName="Alias"></app-display-error-field>
            </div>

            <div class="col-12">
                <label for="inputTipo">Tipo de vehículo <span class="text-danger">*</span></label>
                <select [disabled]="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar!=2" class="form-control" name="tipo" id="inputTipo" [(ngModel)]="current.tipo" #tipoState="ngModel" [required]="true" validationBorder>
                    <option [ngValue]="null">Selecciona tipo de vehículo</option>
                    <option value="{{tp.tipoVehiculoId}}" *ngFor="let tp of tiposVehiculo">
                        {{tp.tipoVehiculoNombre}}
                    </option>
                </select>
                <app-display-error-field [control]="mainForm.controls['tipo']" [displayError]="_showControlError(mainForm.controls['tipo'])" displayName="Tipo de vehículo"></app-display-error-field>
            </div>

            <div class="col-12">
                <label for="inputMarca">Marca (opcional)<span class="text-danger" *ngIf="false">*</span></label>
                <input [disabled]="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar!=2" 
                type="text" class="form-control" id="inputMarca" name="marca"
                 [(ngModel)]="current.marca" #marcaState="ngModel" placeholder="" 
                 (keydown)="_TypeDefault($event)"
                 [pattern]="_pattern_FormatoDefault"
                 maxlength="20" minlength="2" [required]=false validationBorder>
                <app-display-error-field [control]="mainForm.controls['marca']" [displayError]="_showControlError(mainForm.controls['marca'])" displayName="Marca"></app-display-error-field>
            </div>

            <div class="col-12">
                <label for="inputModelo">Modelo (opcional)<span class="text-danger" *ngIf="false">*</span></label>
                <input [disabled]="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar!=2" type="text" 
                (keydown)="_TypeDefault($event)"
                 [pattern]="_pattern_FormatoDefault"
                class="form-control" id="inputModelo" name="modelo" [(ngModel)]="current.modelo" #modeloState="ngModel" placeholder="" maxlength="20" minlength="1" [required]=false validationBorder>
                <app-display-error-field [control]="mainForm.controls['modelo']" [displayError]="_showControlError(mainForm.controls['modelo'])" displayName="Modelo"></app-display-error-field>
            </div>

            <div class="col-12">
                <label for="inputAnio">Año (opcional)<span class="text-danger" *ngIf="false">*</span></label>
                <input   [class.is-invalid]="errorNumero!=null"
                [disabled]="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar!=2" 
                type="text" class="form-control" id="inputAnio" name="anio" [(ngModel)]="current.anio" 
                [pattern]="_pattern_typeNumero"
                #anioState="ngModel" placeholder="" (input)="onlyNumber($event)" (keyup)="validarRangoFechas($event)"
                 maxlength="4" minlength="4" [required]=false validationBorder
                 min="1900" [max]="fechaMax"
                 
                 >
                 <div class="error-msg" *ngIf="errorNumero!=null">

                    <div class="text-danger"> <i
                            class="fas fa-exclamation-circle text-danger"></i>&nbsp;<span >{{errorNumero}}</span></div>
                </div> 
                <app-display-error-field [control]="mainForm.controls['anio']" [displayError]="_showControlError(mainForm.controls['anio'])" displayName="Año"></app-display-error-field>
            </div>

            <div class="col-12" *ngIf="true">
                <div class="muevo-widget-button-container mb-2">
                    <div class="alert muevo-widget-button muevoNoMargin" style="display: flex;flex-direction: column;justify-content: center;">
                        <div class="space-between">
                            <span class="bold">Solicita registro de odómetro</span>
                            <div class="">
                                <ui-switch [disabled]="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar!=2" class="muevo-switch" size='small' [checked]="current.requireOdometro" (change)="toggleOdometro()"></ui-switch>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-12 pl-3 pr-3" [hidden]="!current.requireOdometro">
        
                        <label class="bold" for="inputFrecuenciaOdometro">Se solicitara:</label>
                        
                        <div class="muevoNoMargin" role="alert" (click)="current.frecuenciaOdometro = 1;odometroTouch = true" >
                            <div class="form-check form-check-inline">
                                <label class="form-check-label muevoSidebarAlertTitle2 flex-start" style="width: 100%;">
                                    <input [disabled]="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar!=2" class="form-check-input radioSidebar-anular-anular" type="radio" name="restriccionEstaciones" id="frecuenciaOdometro_1" [value]="1" [(ngModel)]="current.frecuenciaOdometro"><span class="text-xs">Cada mes</span> <div class="icon-help ml-2" triggers="click:hover" [ngbTooltip]="tooltipMsg" placement="top">?</div>
                                </label>
                            </div>
                        </div>

                        <div class="muevoNoMargin" role="alert" (click)="current.frecuenciaOdometro = 2;odometroTouch = true">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label muevoSidebarAlertTitle2" style="width: 100%;">
                                    <input [disabled]="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar!=2" class="form-check-input radioSidebar-anular-anular" type="radio" name="restriccionEstaciones" id="frecuenciaOdometro_2" [value]="2" [(ngModel)]="current.frecuenciaOdometro"><span class="text-xs">Cada semana</span> 
                                </label>
                            </div>
                        </div>

                        <div class="muevoNoMargin" role="alert" (click)="current.frecuenciaOdometro = 3;odometroTouch = true">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label muevoSidebarAlertTitle2" style="width: 100%;">
                                    <input [disabled]="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar!=2" class="form-check-input radioSidebar-anular-anular" type="radio" name="restriccionEstaciones" id="frecuenciaOdometro_3" [value]="3" [(ngModel)]="current.frecuenciaOdometro"><span class="text-xs">Cada compra</span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <span *ngIf="!current.requireOdometro" class="text-muted">No se solicitará el registro de odómetro para este vehículo</span>
                <span *ngIf="current.requireOdometro && current.frecuenciaOdometro == 1" class="text-muted">Se solicitará el registro de odómetro cada 1 del mes a cada conductor que tenga este vehículo como seleccionado.<br >Registraremos el primer odómetro ingresado.</span>
            </div>

        </div>

        <div class="row mt-4">
            <div class="col-12 text-center" *ngIf="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar==2">
                <button type="button" class="btn-muevo-action-muevo" (click)="guardarVehiculo()" [disabled]="!mainForm.valid || (mainForm.form.pristine && (!estadoTouch && !odometroTouch)) || errorNumero!=null">Guardar cambios</button>
            </div>
            <div class="col-12 text-center" *ngIf="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar==2 ">
                <button class="btn-muevo-action-danger" (click)="eliminar(current)">
                  Eliminar
                </button>
              </div>
            
        </div>
    </form>

    

</div>