<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a closeSidebar class="btn float-right">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>
    
    <div class="muevoBodySidebarLeft">
        <div class="row">
            <div class="col-12 muevoNoPadding">
                <span class="sidebar-title">Detalle de Carga</span>
            </div>
            <div class="col-12 muevoNoPadding">
                <div class="space-between">
                    <span class="text-xs">{{current.usuarioNombreApellido}}</span>
                    <span class="text-xs">Nª {{current.ventaDocumentoFolio}}</span>
                </div>
                <span class="text-xs">{{current.vehiculoPatente | patente}}</span>
                <br>
                <span class="text-xs">{{current.ventaFechaCreacion | date: 'dd MMMM yyyy - HH:mm' }}</span>
            </div>
            <div class="col-12 muevoNoPadding">
                <span class="text-md bold">$ {{current.ventaPagoTotal | number: '1.0-0' }}</span>
            </div>
        </div>
        <hr class="muevoNoMargin">
        <div class="row">
            <div class="col-12 muevoNoPadding space-between">
                <div class="mr-2">
                    <img src="./assets/img/marker_muevoempresas_muevo.png" alt="" style="height: 3em;">
                </div>
                <div class="column fit">
                    <span class="text-sm bold">{{current.ventaSitioDireccion }}</span>
                    <span class="text-xs bold">{{current.ventaSitioNombre }}</span>
                </div>
            </div>
        </div>
        <hr class="muevoNoMargin">
        <div class="row">
            <div class="col-12">
                <div class="sidebar-info mt-3">
                    <span class="title">Forma de Pago: </span>
                    <span class="value">{{current.tipoFormaPagoNombre}}</span>
                </div>
                <div class="sidebar-info">
                    <span class="title">Combustible: </span>
                    <span class="value">{{current.detalle[0]?.productoNombre}}</span>
                </div>
                <div class="sidebar-info">
                    <span class="title">Cantidad: </span>
                    <span class="value">{{current.detalle && current.detalle.length > 0 ? (current.detalle[0].lineaCantidad + ' ' + current.detalle[0].lineaUnidadMedida ) : '-'}}</span>
                </div>
                <div class="sidebar-info">
                    <span class="title">Valor por litro: </span>
                    <span class="value">$ {{current.detalle && current.detalle.length > 0 ? (current.detalle[0].lineaPrecioUnitario | number: '1.0-0') : '0'}}</span>
                </div>
            </div>
            
        </div>
        
        <!-- <form #configNuevaCuentaForm="ngForm" autocomplete="off">
            <div class="row mt-4">
                
                <div class="col-12">
                    <label for="txtNombre">Nombre de la nueva cuenta <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="nombre" id="txtNombre" [(ngModel)]="current.nombre" #nombreState="ngModel" placeholder="" [required]="true" validationBorder minlength="5" maxlength="20">
                    <app-display-error-field [control]="configNuevaCuentaForm.controls['nombre']" [displayError]="_showControlError(configNuevaCuentaForm.controls['nombre'])" displayName="Nombre de la nueva cuenta"></app-display-error-field>
                </div>
                
            </div>
        </form> -->
        
        <div class="row">
            <div class="col-12 text-center mt-4">
                <button type="button" class="btn-muevo-default-lg" (click)="verDocumento()" [disabled]="!activaDescarga">
                    Ver documento
                </button>
            </div>
        </div>
    </div>
</div>