<div class="row">
  <div class="col-12">
    <app-datos-empresa></app-datos-empresa>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-6">
    <h5>Usuarios y Roles</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-rol-super-admin></app-rol-super-admin>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <app-rol-admin></app-rol-admin>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <app-rol-analista></app-rol-analista>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <app-datos-facturacion></app-datos-facturacion>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-4">
    <a class="btnTransparente fa-pull-right mt-2" (click)="nvaEmpresa()"><i class=" fas fa-plus"></i>
      Agregar nueva empresa</a>
  </div>
  <div class="col-4">
    <a class="btnTransparente fa-pull-right mt-2" (click)="nvaDatosFacturacion()"><i class=" fas fa-plus"></i>
      Agregar Datos Facturacion</a>
  </div>
  <div class="col-4">
    <a class="btn btn-secondary text-white" style="border-radius: 24px;width: 50%;"
      routerLink="/Home/ConfigurarPerfil">Volver</a>
  </div>
</div>
<br>
