<div class="modal-muevo">    
  <div class="modal-body">
      <div class="col-12 text-center flex-center">
          <img src="./assets/img/trx_rechazo.png" class="img-exito" style="max-height: 8em" alt="">
      </div>
      <div class="col-12 text-center" style="margin-top: 3em;">
          <p class="text-xs">{{errorMessage}}</p>
      </div>
  </div>

  <div class="modal-footer">
      <div class="col-12 flex-center">
        <button class="btn-muevo-action-muevo" (click)="close()" style="background-color: #00F2FF">Entendido</button>
      </div>
  </div>
</div>