<!-- Editar-PERFIL  [subTitulo]="variablesApi.home.menu.tieneInvitaciones?'Invitaciones pendientes':'Sin invitaciones'"-->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="closeThis()" [titulo]="'Hola ' + current.nombre + ' ' +current.apellido">
  </top-sidebar-right>
  <div class="row mt-4">
    <menu-editar titulo="Mis datos" (fnClick)="levantarModalMisDatos()">
    </menu-editar>
    <menu-editar titulo="Mis empresas e invitaciones" [isBadget]="variablesApi.home.menu.tieneInvitaciones"
    
     routerLink="/HomeMuevo/Cuentas" (fnClick)="closeThis()">
    </menu-editar>
    <menu-editar titulo="Configurar notificaciones"  (fnClick)="levantarModalConfiguracion()"  ></menu-editar>
    <menu-editar titulo="Ayuda" (fnClick)="levantarModalAyuda()"></menu-editar>

  </div>
  <br>
  <div class="row  mr-1 mb-3" style="text-align: right;">
    <div class="col muevoNoPadding">
      <a class="lnk-xxs" target="_blank" href="https://muevoempresas.cl/terminos-y-condiciones">Ver términos y
        condiciones</a>
    </div>
  </div>

  <div class="row  mr-1" style="text-align: right;">
    <div class="col muevoNoPadding">
      <a class="lnk-xxs" href="#" (click)="cerrarSesion()">Cerrar sesión</a>
    </div>
  </div>

</div>