<div class="row">
  <div class="col-lg-6 col">
    <div class="row">
      <div class="col-12">
        <span class="muevoSubTitlePurple">CUENTAS</span>
      </div>
      <div class="col-12">
        <span class="muevo-subtitulo-pagina">Estas participando en estas cuentas</span>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-5 col-12" *ngIf="_muestraInvitaciones">
    <div class="row">
      <div class="col-12">
        <span class="bold">Invitaciones pendientes de aceptación</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="alert muevoMenuBoxPerfil" [ngClass]="{'muevoMenuSelectedEmpresa': invitacion.invitacionActivate}"
          (click)="selInvitacion(invitacion.invitacionId)" *ngFor="let invitacion of invitaciones">
          <div class="row">
            <div class="col-10">
              <span class="muevoMenuContentPerfil">{{invitacion.invitacionNombreCuenta}}</span>
            </div>
            <div class="col-2">
              <span style="color:#6D6D6D"><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="_invitaciones && isMobile">
      <div class="row muevoNoMargin">
        <div class="col">
          <span class="bold">Detalle de invitacion</span>
        </div>
      </div>
      <br>
      <div class="row muevoNoMargin">
        <div class="col">
          <span class="bold">{{invitado.invitacionNombreCuenta}}</span>
        </div>
      </div>
      <hr>
      <div class="row muevoNoMargin">
        <div class="col-6">
          <span>Estado</span>
        </div>
        <div class="col-6 text-right">
          <span class="bold">{{invitado.invitacionEstado}}</span>
        </div>
      </div>
      <hr>
      <div class="row muevoNoMargin">
        <div class="col-6">
          <span>Vigencia</span>
        </div>
        <div class="col-6 text-right">
          <span class="bold">{{invitado.invitacionFechaCaducidad}}</span>
        </div>
      </div>
      <hr>
      <br>
      <div class="row">
        <div class="col">
          <span>Tienes una invitación pendiente de aceptación para unirte a {{invitado.invitacionNombreCuenta}}</span>
        </div>
      </div>
      <br>
      <div class="row muevoNoMargin">
        <div class="col-6 text-center" style="padding: 0%;">
          <div class="form-check form-check-inline float-left muevoCheckButton">
            <label class="form-check-label muevoLabelRechazar">
              Rechazar
              <input class="form-check-input" type="radio" name="autorizaInvitacion" id="autorizaInvitacion_2"
                [value]="false" [checked]="!autorizaInvitacion" [(ngModel)]="autorizaInvitacion"
                style="margin-left: 1vw;">
            </label>
          </div>
        </div>
        <div class="col-6 text-center" style="padding: 0%;">
          <div class="form-check form-check-inline float-right muevoCheckButton">
            <label class="form-check-label muevoLabelAutorizar">
              Aceptar
              <input class="form-check-input" type="radio" name="autorizaInvitacion" id="autorizaInvitacion_1"
                [value]="true" [checked]="autorizaInvitacion" [(ngModel)]="autorizaInvitacion"
                style="margin-left: 1vw;">
            </label>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <button type="button" class="btn muevoBtnGuardar" (click)="fnInvitaciones()"
            style="width: 100%">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-12">&nbsp;</div>
  <div class="col-lg-5 col-12">
    <div class="row">
      <div class="col">
        <span class="bold">Cuentas como administrador</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12" *ngFor="let cuenta of cuentas">
        <div class="alert" class="muevoMenuBox" style="border: none;">
          <div class="row muevoNoMargin">
            <div class="col">&nbsp;</div>
          </div>
          <div class="row muevoNoMargin" style="margin-bottom: 0.5vh;" (click)="changeEmpresa(cuenta.cuentaId)">
            <div class="col-10 text-left">
              <span class="bold">{{cuenta.cuentaNombre}}</span>
            </div>
            <div class="col-2" *ngIf="cuenta.cuentaDefault">
              <img src="./assets/img/iconExito.png" alt="iconExito" style="height: 2vh;">
            </div>
          </div>
          <hr>
          <div class="row muevoNoMargin">
            <div class="col-7">
              <span>Fecha de creación</span>
            </div>
            <div class="col-5 text-right">
              <span>{{cuenta.cuentaFechaCreacionString}}</span>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 offset-lg-1 col-12">
    <div *ngIf="_invitaciones && !isMobile">
      <div class="row">
        <div class="col">
          <span class="bold">Detalle de invitacion</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <span class="bold">{{invitado.invitacionNombreCuenta}}</span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <span>Estado</span>
        </div>
        <div class="col-6 text-right">
          <span class="bold">{{invitado.invitacionEstado}}</span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <span>Vigencia</span>
        </div>
        <div class="col-6 text-right">
          <span class="bold">{{invitado.invitacionFechaCaducidad}}</span>
        </div>
      </div>
      <hr>
      <br>
      <div class="row">
        <div class="col">
          <span>Tienes una invitación pendiente de aceptación para unirte a {{invitado.invitacionNombreCuenta}}</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6 text-center" style="padding: 0%;">
          <div class="form-check form-check-inline float-left muevoCheckButton">
            <label class="form-check-label muevoLabelRechazar">
              Rechazar
              <input class="form-check-input" type="radio" name="autorizaInvitacion" id="autorizaInvitacion_2"
                [value]="false" [checked]="!autorizaInvitacion" [(ngModel)]="autorizaInvitacion"
                style="margin-left: 1vw;">
            </label>
          </div>
        </div>
        <div class="col-6 text-center" style="padding: 0%;">
          <div class="form-check form-check-inline float-right muevoCheckButton">
            <label class="form-check-label muevoLabelAutorizar">
              Aceptar
              <input class="form-check-input" type="radio" name="autorizaInvitacion" id="autorizaInvitacion_1"
                [value]="true" [checked]="autorizaInvitacion" [(ngModel)]="autorizaInvitacion"
                style="margin-left: 1vw;">
            </label>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <button type="button" class="btn muevoBtnGuardar" (click)="fnInvitaciones()"
            style="width: 100%">Guardar</button>
        </div>
      </div>
    </div>
    <div *ngIf="!_invitaciones">
      <div class="row">
        <div class="col">
          <span class="bold">Cuentas como invitado</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12" *ngFor="let empresa of empresas">
          <div class="alert" class="muevoMenuBox muevoMenuSelectedEmpresa">
            <br>
            <div class="row muevoNoMargin">
              <div class="col text-left">
                <span class="bold">{{empresa.cuentaNombre}}</span>
              </div>
            </div>
            <hr>
            <div class="row muevoNoMargin">
              <div class="col-6">
                <span>Rol</span>
              </div>
              <div class="col-6 text-right">
                <span>{{getRolText(empresa.rolId)}}</span>
              </div>
            </div>
            <hr>
            <div class="row muevoNoMargin">
              <div class="col-7">
                <span>Fecha de enrolamiento</span>
              </div>
              <div class="col-5 text-right">
                <span>{{empresa.cuentaFechaCreacionString}}</span>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
