<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClickBack)="closeThis()" (fnClick)="modalSidebar.closeAll()" titulo="Selecciona la cuenta bancaria"
    descripcion="Transferiremos el monto total de tu desabono a la cuenta bancaria seleccionada."></top-sidebar-right>
  <div class="row mt-4">
    <!-- 
       @Input() titulo: string;
        @Input() subTitulo: string;
        @Input() isColor: boolean = true
        @Input() isVerificado: boolean = false
    -->
    <menu-editar *ngFor="let item of cuentasBancarias"
      [titulo]="obtenerValor(item.inscripcionCodigoBanco,'bancoId',this.variablesApi.home.maestros.bancos,'bancoNombre')"
      [subTitulo]="'Nº '+ item.inscripcionNumeroCuenta" (fnClick)="revisaEnviaRetiro(item)">
    </menu-editar>


    <btn-plus titulo="Inscribir cuenta bancaria" [isLineaDivisora]=true (fnClick)="inscribirCuentaBancaria()">
    </btn-plus>
  </div>
</div>