<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <ngx-charts-line-chart [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                  [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                </ngx-charts-line-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
