<div class="form-group contenedorIngreso">
  <div class="row">
    <div class="contenidoIngresocol-12">
      <div class="col-12 text-center">
        <h4>Error</h4>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <p>Se ha presentado un error inesperado en la aplicación.</p>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <p>{{errorMessage}}</p>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <button type="button" class="btn btnSiguientePasoNoWidth" [routerLink]="[paginaVolver]">Volver</button>
      </div>
    </div>
  </div>
</div>
