<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="modalSidebar.closeAll()" (fnClickBack)="closeThis()" titulo="Detalle de invitación"
    [descripcion]="'Invitado por '+ invitacion.invitacionUsuarioCreadorNombre">
  </top-sidebar-right>

  <div class="row sidebar-scroll-13x mt-2">
    <div class="col-12">
      <div class="sidebar-info">
        <div class="title">Nombre Empresa:</div>
        <div class="value">{{invitacion.invitacionCuentaNombre}}</div>
      </div>
      <div class="sidebar-info">
        <div class="title">Rol:</div>
        <div class="value">{{invitacion.invitacionRolNombre}}</div>
      </div>
      <div class="sidebar-info">
        <div class="title">Estado:</div>
        <div class="value"> {{
          invitacion.invitacionEstadoId=='CADUCADA'?'Caducada':'Vigente'
          }}</div>
      </div>
      <div class="sidebar-info">
        <div class="title">Vigencia:</div>
        <div class="value">{{ invitacion.invitacionFechaCaducidad | date: 'dd-MM-yyyy HH:mm'}}</div>
      </div>


      <br>
      <br>

      <div class="flex-end">
        <div class="text-xs underline bold hand text-blue mr-2" (click)="aceptacionInvitacion(invitacion,1)">Aceptar</div>
        <div class="text-xs underline bold hand text-danger " (click)="rechazar(invitacion)">Rechazar</div>
      </div>



    </div>
  </div>
</div>