<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            <h5>Datos de Usuario</h5>
          </div>
          <div class="col-3">
            <a class="btnTransparente" (click)="edit()"><span *ngIf="!_editable"><i class="fas fa-edit"></i>
                Editar</span>
              <span *ngIf="_editable"><i class="fas fa-save"></i> Guardar</span>
            </a>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3"><span>Nombre:</span></div>
          <div class="col-3"><input type="text" name="datosUsuarioNombre" id="datosUsuarioNombre" class="form-control"
              placeholder="Nombre" *ngIf="_editable" [(ngModel)]="usuarioLogin.usuarioNombre">
            <span *ngIf="!_editable">{{usuarioLogin.usuarioNombre}}</span>
          </div>
          <div class="col-3"><span>Apellido:</span></div>
          <div class="col-3"><input type="text" name="datosUsuarioApellido" id="datosUsuarioApellido"
              class="form-control" placeholder="Apellido" *ngIf="_editable" [(ngModel)]="usuarioLogin.usuarioApellido">
            <span *ngIf="!_editable">{{usuarioLogin.usuarioApellido}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-3"><span>Rut:</span></div>
          <div class="col-3">
            <span>{{usuarioLogin.usuarioId}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-3"><span>Teléfono:</span></div>
          <div class="col-3"><input type="text" name="datosUsuarioTelefono" id="datosUsuarioTelefono"
              class="form-control" placeholder="Teléfono" *ngIf="_editable" [(ngModel)]="usuarioLogin.usuarioTelefono">
            <span *ngIf="!_editable">{{usuarioLogin.usuarioTelefono}}</span>
          </div>
          <div class="col-3"><span>Email:</span></div>
          <div class="col-3"><input type="text" name="datosUsuarioEmail" id="datosUsuarioEmail" class="form-control"
              placeholder="Email" *ngIf="_editable" [(ngModel)]="usuarioLogin.usuarioEmail">
            <span *ngIf="!_editable">{{usuarioLogin.usuarioEmail}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <h5>Cambio de Contraseña</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <p class="mt-3">Contraseña Actual</p>
                  </div>
                  <div class="col-6">
                    <div class="input-group mb-3">
                      <input type="text" name="datosUsuarioActualContrasena" id="datosUsuarioActualContrasena"
                        class="form-control pass" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">ver</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 offset-6">
                    <p class="fa-pull-right">Olvide mi contraseña</p>
                    <p class="fa-pull-right">Cambiar mi contraseña</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6"><span>Contraseña Actual</span></div>
                  <div class="col-6">
                    <input type="text" name="datosUsuarioActualContrasena" id="datosUsuarioActualContrasena"
                      class="form-control pass">
                    <p class="fa-pull-right">Olvide mi contraseña</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6"><span>Nueva Contraseña</span></div>
                  <div class="col-6">
                    <input type="text" name="datosUsuarioNvaContrasena" id="datosUsuarioNvaContrasena"
                      class="form-control pass">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-6"><span>Repite Contraseña</span></div>
                  <div class="col-6">
                    <input type="text" name="datosUsuarioRptContrasena" id="datosUsuarioRptContrasena"
                      class="form-control pass">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
