<div class="col-12 mt-3 view-previlegios" *ngIf="rolId!=null">
  <div class="desc">
    {{rol.rolDescripcion}}
  </div>
  <div class="row mt-2 mb-2 " style="padding-left: 21px; padding-right: 21px;">
    <div class="col-6"></div>
    <div class="col-3 text-center" style="color: #24328C;">VER</div>
    <div class="col-3 text-center" style="color: #24328C;">EDITAR</div>
  </div>
  <div class="alert muevo-widget-button muevoNoMargin roles" role="alert">


    <div class="row pt-3 pb-2" style="border-bottom: 1px solid rgba(0,0,0,.125)">
      <div class="col-6">Sección Administradores</div>
      <div class="col-3 text-center">
        <img *ngIf="rol.rolPrivilegiosFront.administradores.verEditar>0" _ngcontent-c7=""
          src="./assets/img/04Checkeddisable@1x.png">

      </div>
      <div class="col-3 text-center">
        <img *ngIf="rol.rolPrivilegiosFront.administradores.verEditar==2" _ngcontent-c7=""
          src="./assets/img/04Checkeddisable@1x.png">

      </div>
    </div>
    <div class="row pt-2 pb-2" style="border-bottom: 1px solid rgba(0,0,0,.125)">
      <div class="col-6">Sección Conductores</div>
      <div class="col-3 text-center">
        <img *ngIf="rol.rolPrivilegiosFront.conductores.verEditar>0" _ngcontent-c7=""
          src="./assets/img/04Checkeddisable@1x.png">


      </div>
      <div class="col-3 text-center">
        <img *ngIf="rol.rolPrivilegiosFront.conductores.verEditar==2" _ngcontent-c7=""
          src="./assets/img/04Checkeddisable@1x.png">


      </div>
    </div>
    <div class="row pt-2 pb-2" style="border-bottom: 1px solid rgba(0,0,0,.125)">
      <div class="col-6">Sección Vehículos</div>
      <div class="col-3 text-center">
        <img *ngIf="rol.rolPrivilegiosFront.vehiculos.verEditar>0" _ngcontent-c7=""
          src="./assets/img/04Checkeddisable@1x.png">


      </div>
      <div class="col-3 text-center">
        <img *ngIf="rol.rolPrivilegiosFront.vehiculos.verEditar==2" _ngcontent-c7=""
          src="./assets/img/04Checkeddisable@1x.png">

      </div>
    </div>
    <div class="row pt-2 pb-1">
      <div class="col-6">Sección formas de pago</div>
      <div class="col-3 text-center">
        <img *ngIf="rol.rolPrivilegiosFront.formasDePago.verEditar>0" _ngcontent-c7=""
          src="./assets/img/04Checkeddisable@1x.png">


      </div>
      <div class="col-3 text-center">
        <img *ngIf="rol.rolPrivilegiosFront.formasDePago.verEditar==2" _ngcontent-c7=""
          src="./assets/img/04Checkeddisable@1x.png">

      </div>
    </div>
    <div class="row pb-2">
      <div class="col-12 text-center" style="display: flex; align-items: center;margin-left: 13%;">
        <ui-switch class="muevo-switch" [disabled]=true size='small' style="display: flex;"
          [(ngModel)]="rol.rolPrivilegiosFront.formasDePago.abonarYretirar">
        </ui-switch>
        <span class="ml-2">Abonar y retirar de billetera</span>
      </div>
    </div>

  </div>
</div>