<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div class="row">
              <h6>Detalle de gasto</h6>
            </div>
            <div class="row">
              <span class="text-secondary" style="border-bottom: 1px solid #000000">ir a Ver flotas</span>
            </div>
          </div>
          <div class="col-6">
            <div class="row text-center">
              <div class="col-3">
                <span class="mt-1">Ver por: </span>
              </div>
              <div class="col-9">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="rbnDetalleGasto"
                  [(ngModel)]="selBtnDetalleGasto">
                  <label ngbButtonLabel class="btn-muevo-action-default">
                    <input ngbButton type="radio" [value]="0"> Vehiculos
                  </label>
                  <label ngbButtonLabel class="btn-muevo-action-default">
                    <input ngbButton type="radio" [value]="1"> Flotas
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row">
              <div class="input-group">
                <input type="text" name="inputBuscar" id="inputBuscar" class="form-control form-control-sm">
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary">
                    <i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12" *ngIf="selBtnDetalleGasto === 0">
            <app-detalle-vehiculos></app-detalle-vehiculos>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
