<ngx-spinner bdOpacity=0.2 name="Inicial" bdColor="#f7f7f7" size="large" color="#00F2FF" type="ball-clip-rotate"
  [fullScreen]="_true" class="myspinner">
  <br>
  <p style="color:#00F2FF"></p>
</ngx-spinner>
<ngx-spinner bdOpacity=0.2 name="Interno" size="large" color="#00F2FF" type="ball-clip-rotate" [fullScreen]="_true"
  class="myspinner">
  <br>
  <p style="color:#00F2FF"></p>
</ngx-spinner>


<router-outlet></router-outlet>
