<div class="alert alert-light text-dark" role="alert">
  <strong>1.- Selecciona la línea de credito que deseas pagar</strong>
</div>
<hr>
<div *ngFor="let empresa of Empresas">
  <div class="alert alert-light text-dark" role="alert">
    <div class="row">
      <div class="col-6">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="Empresa" id="empresa_{{empresa.idEmpresa}}" value="1"
              (change)="habilita(empresa.idEmpresa)"> {{empresa.nombreEmpresa}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
<div *ngIf="_empresaSelect">
  <div class="row" *ngFor="let factura of facturas">
    <div class="col-12">
      <div class="row">
        <div class="col-2">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="facturas" id="facturas_{{factura.idFactura}}"
                value="true"> Factura {{factura.nroFactura}}
            </label>
          </div>
        </div>
        <div class="col-2"><span>{{factura.fechaFactura}}</span></div>
        <div class="col-2"><span>{{factura.nroFactura}}</span></div>
        <div class="col-2"><span>{{factura.detalleFactura}}</span></div>
        <div class="col-2"><span>{{factura.montoFactura}}</span></div>
        <div class="col-2"><span><i class="far fa-eye"></i></span></div>
      </div>
    </div>
  </div>
</div>
<hr *ngIf="_empresaSelect">
<div class="alert alert-light text-dark" role="alert">
  <button type="button" class="btn btn-secondary fa-pull-right" style="border-radius: 24px"
    routerLink="/Home/CreditoResultado">Ir a WebPay</button>
</div>
