<div class="row">
  <div class="alert alert-secondarycol-12" role="alert">
    <div class="row text-center">
      <div class="col-3"><span>Patente</span></div>
      <div class="col-3"><span>Modelo</span></div>
      <div class="col-5"><span>Gasto Mensual</span></div>
      <div class="col-1"><span>Alerta</span></div>
    </div>
  </div>
</div>
<div style="height: 280px; overflow-y: auto;">
  <div class="row" *ngFor="let detalle of vehiculos" style="padding-bottom: 1%;">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row text-center">
            <div class="col-3"><span>{{detalle.patente}}</span></div>
            <div class="col-3">{{detalle.modelo}}</div>
            <div class="col-5">
              <div class="row">
                <div class="col-12 text-left">
                  <p>${{detalle.gastoDiario}} de ${{detalle.gastoMensual}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p>
                    <ngb-progressbar type="secondary" [value]="(detalle.gastoDiario*100)/detalle.gastoMensual">
                    </ngb-progressbar>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <span><i class="fas fa-gas-pump"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
