<div class="row muevoNoMargin" style="width: 100%">
    <div class="col-lg-6 col muevoNoPadding">
        <span class="muevo-titulo-pagina" style="text-transform: capitalize;">Hola {{nombre.usuarioNombre}}
            {{nombre.usuarioApellido}}
        </span>
        <br>
    </div>
</div>

<div class="row muevoNoMargin">
    <div class="col muevoNoPadding">
        <app-muevo-forma-pago-todos></app-muevo-forma-pago-todos>
        <!-- <app-muevo-formasde-pago></app-muevo-formasde-pago> -->
    </div>
</div>
<br />


<div class="row muevoNoMargin" *ngIf="false">
    <div class="col-3 col-md-12 muevoNoPadding" [ngClass]="{'mb-2': isMobile}">
        <span class="bold text-xl text-sm-center">Detalle de Gasto</span>
    </div>

    <div class="col-5 col-md-6 muevoNoPadding">
        <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Filtrar</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected value="1">Todos</option>
              <option value="2">Conductor sin vehiculo asignado</option>
              <option value="3">Three</option>
            </select>
          </div>
        <!-- <button type="button" class="btn btn-tab no-border-r" [ngClass]="{'textActive active': ConductoresVehiculo==1}"
            (click)="cambiaConductorVehiculo(1)" id="selConductores">Conductores</button>
        <button type="button" class="btn btn-tab no-border-l" [ngClass]="{'textActive active': ConductoresVehiculo==2}"
            (click)="cambiaConductorVehiculo(2)" id="selVehiculos">Vehículos</button> -->
    </div>

    <div class="col-4 col-md-6">
        <div class="input-group mb-3 search float-right" >
            <input type="search" class="form-control" [(ngModel)]="searchInComponent"
                placeholder="BUSCAR..">
            <div class="input-group-append muevoFondoComboDashboard">
                <span class="input-group-text muevoPreComboDashboard" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
        </div>
    </div>
</div>



<div class="row muevoNoMargin" *ngIf="false">
    <div class="col-sm-12 muevoNoPadding">
        <!-- ConductoresVehiculo -->
        <app-muevo-gastos [activateConductorVehiculo]="1" [searchString]="searchInComponent">
        </app-muevo-gastos>
    </div>
</div>

<div class="row" *ngIf="false">
    <div class="col-12">
        <div class="actions-vertical float-right">
            <a class="lnk-md" routerLink="/HomeMuevo/MisConductores">Ir a Conductores <i class="fa fa-angle-right"></i></a>
            <a class="lnk-md" routerLink="/HomeMuevo/MisVehiculos">Ir a Vehículos <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    
</div>                          