<div class="alert alert-light text-dark" role="alert">
  <strong>1.- Selecciona la línea de credito que deseas pagar</strong>
</div>
<hr>
<div *ngFor="let empresa of Empresas">
  <div class="alert alert-light text-dark" role="alert">
    <div class="row">
      <div class="col-6">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="Empresa" id="empresa_{{empresa.idEmpresa}}" value="1"
              (change)="habilita(empresa.idEmpresa)"> {{empresa.nombreEmpresa}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
<div *ngIf="_empresaSelect">
  <div class="row" *ngFor="let factura of facturas">
    <div class="col-12">
      <div class="row">
        <div class="col-2">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="facturas" id="facturas_{{factura.idFactura}}"
                value="true"> Factura {{factura.nroFactura}}
            </label>
          </div>
        </div>
        <div class="col-2"><span>{{factura.fechaFactura}}</span></div>
        <div class="col-2"><span>{{factura.nroFactura}}</span></div>
        <div class="col-2"><span>{{factura.detalleFactura}}</span></div>
        <div class="col-2"><span>{{factura.montoFactura}}</span></div>
        <div class="col-2"><span><i class="far fa-eye"></i></span></div>
      </div>
    </div>
  </div>
</div>
<hr *ngIf="_empresaSelect">
<div *ngIf="_step2">
  <div class="alert alert-light text-dark" role="alert">
    <div class="row">
      <div class="col-8">
        <strong>2.- Selecciona la cuenta corriente de la cual realizaras la transferencia.</strong>
      </div>
      <div class="col-4">
        <a (click)="nuevaCuenta(false)" class="btnTransparente"><i class="fas fa-plus"></i> Agregar una nueva Cuenta</a>
      </div>
    </div>
    <br>
    <div class="row" *ngFor="let cuenta of cuentas">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="cuentas" id="cta_{{cuenta.idCuenta}}" value="1"
                  (change)="nextStep(cuenta.idCuenta)">{{cuenta.nombreCuenta}}
              </label>
            </div>
          </div>
          <div class="col-4">
            <a (click)="nuevaCuenta(true)" class="btnTransparente"><i class="fas fa-edit"></i> Editar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr *ngIf="_step2">
<div *ngIf="_step3">
  <div class="alert alert-light text-dark" role="alert">
    <div class="row">
      <div class="col-12">
        <strong>3.- Realiza una transferencia a la cuenta de Copec y regresa para confirmar que ya la
          realizaste.</strong>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <strong>Datos de transferencia</strong>
                <p>Realizar tu transferencia a esta cuenta corriente</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Nombre</strong></div>
              <div class="col-6">
                <p>Copec Empresas</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Rut</strong></div>
              <div class="col-6">
                <p>79.XXX.XXX-X</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Banco</strong></div>
              <div class="col-6">
                <p>Banco de Chile</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Cuenta</strong></div>
              <div class="col-6">
                <p>283.XXX.XXXX.XXXX</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Correo</strong></div>
              <div class="col-6">
                <p>transferencia@copec.cl</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <strong>{{nombreCuenta}}</strong><br>
                <p><a class="btnTransparente">Cambiar o editar tus datos</a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Nombre</strong></div>
              <div class="col-6">
                <p>{{nombreTitular}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Rut</strong></div>
              <div class="col-6">
                <p>{{rutTitular}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Banco</strong></div>
              <div class="col-6">
                <p>{{nombreBanco}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Cuenta</strong></div>
              <div class="col-6">
                <p>{{nroCuenta}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6"><strong>Correo</strong></div>
              <div class="col-6">
                <p>{{correoAsociado}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-8">
        <a class="btnTransparente fa-pull-right mt-3">Ya realice la transferencia</a>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-secondary" style="border-radius: 24px;"
          routerLink="/Home/CreditoResultado">Ir a mi Banco</button>
      </div>
    </div>
  </div>
</div>
