<!-- TITLE -->
<div class="row mb-2">
    <div class="col-12 col-sm-6">
        <span class="muevo-titulo-pagina" id="idCondu">Mis Conductores</span>
    </div>
    <div class="col-12 col-sm-6 flex-end">
        <div class="btn-muevo-default-md mt-1 float-right" 
        
        (click)="abrirInvitaciones()"
            ngbTooltip="Ver invitaciones pendientes" placement="top" *ngIf="ui.mostrarBotonIrInvitaciones && variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2">Invitaciones
            Pendientes <i class="fas fa-angle-right fa-2x"></i></div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">

        <button type="button" class="btn btn-tab-horizontal no-border-r"
            [ngClass]="{'textActive active': ui.switchData == 'generales'}" (click)="toggleSwitchData('generales')"
            id="selConductores">General</button>

        <button type="button" class="btn btn-tab-horizontal no-border-l"
            [ngClass]="{'textActive active': ui.switchData == 'combustible'}" (click)="toggleSwitchData('combustible')"
            id="selConductores">Combustible</button>

        <!-- <button type="button" class="btn btn-tab no-border-l no-border-r" [ngClass]="{'textActive active': ui.switchData == 'alimentacion'}"
            (click)="toggleSwitchData('alimentacion')" id="selVehiculos">Alimentacion</button> -->

        <!-- <button type="button" class="btn btn-tab-horizontal no-border-l" [ngClass]="{'textActive active': ui.switchData == 'restricciones'}"
            (click)="toggleSwitchData('restricciones')" id="selVehiculos">Restricciones</button> -->
    </div>
</div>

<app-muevo-conductores-generales [hidden]="ui.switchData != 'generales'"></app-muevo-conductores-generales>
<app-muevo-conductores-list [hidden]="ui.switchData != 'combustible'"></app-muevo-conductores-list>
<app-muevo-conductores-otros [hidden]="ui.switchData != 'restricciones'"></app-muevo-conductores-otros>

<button class="btn-muevo-primary more-data-flotante" (click)="next()"
    [disabled]="_isLoading || pagination.rows < pagination.pagesSize" *ngIf="pagination.rows >= pagination.pagesSize"><i
        class="fas fa-arrow-down mr-1"></i> {{ pagination.rows < pagination.pagesSize ? "No hay más registros"
        : "Cargar más registros... " }} <i class="fas fa-spin fa-spinner ml-1" *ngIf="_isLoading"></i></button>