<div class="form-group containerIngreso">
    <br>
    <div class="row muevoNoMargin">
        <div class="col-sm-6 col-md-9 col muevoNoPadding">
            <span style="color: #5C5C5C;font-size: 16px;" class="float-right mt-2 bold">¿Aún no tienes una
                cuenta?
            </span>
        </div>
        <div class="col-sm-6 col-md-3 muevoNoPadding">
            <button type="button" class="btn-muevo-action-default btnSupLogin float-right" (click)="nvaCuenta()">Crear
                cuenta
            </button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row muevoNoMargin mt-4">
            <div class="col-12 muevoNoPadding">
                <span class="bold" style="color: #000000;font-size: 22px;">Términos y Condiciones</span>
            </div>
        </div>
        <div class="row muevoNoMargin">
            <div class="col-12 muevoNoPadding mt-2">
                <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">{{message}}</span>
            </div>
            
            <div class="col-12 muevoNoPadding">
                <div class="form-check form-check-inline mt-4">
                    <input class="form-check-input" name="chkLeido" id="chkLeido" type="checkbox" [(ngModel)]="terminosFlag" value="1"
                        style="height: 1.3em;width: 1.3em;">
                    <span class="text-xs">He leído y acepto los <a href="https://ww2.copec.cl/terms#muevo-copec-empresas" target="_blank" style="color: #0700FF;">términos
                        y condiciones.</a></span>
                </div>
            </div>


            <div class="col-lg-4 col-12 muevoNoPadding mt-2">
                <button type="button" class="btn btnAccionLogin" (click)="next()" [disabled]="!terminosFlag">Siguiente</button>
            </div>
        </div>
    </div>
</div>
    