<div class="row">
  <div class="col-12">
    <p>Los teléfonos inscritos recibirán una invitación para unirse a tu empresa</p>
  </div>
</div>
<div class="row">
  <div class="cardcol-12" style="	background-color: #DEDFE0;">
    <div class="card-body divTablaHead" style="padding-top: 0.25rem !important;">
      <div class="row">
        <div class="col-3">
          <p>Nombre*</p>
        </div>
        <div class="col-3">
          <p>Apellido*</p>
        </div>

        <div class="col-3 offset-2">
          <p>Nº Teléfono*</p>
        </div>
        <div class="col-1">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="alert alert-dark bg-dark text-white divTablaHeadcol-12" role="alert">
    <p>Si quieres invitarte como primer conductor <a class="alert-link" (click)="addMeFirst()">Haz click aqui</a></p>
  </div>
</div>
<br>
<div *ngFor="let conductor of conductores">
  <div class="row">
    <div class="cardcol-12">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <input type="text" name="nombre" id="nombre" class="form-control form-control-sm fontSize"
              placeholder="Nombre" [(ngModel)]="conductor.nombreConductor">
          </div>
          <div class="col-3">
            <input type="text" name="apellido" id="apellido" class="form-control form-control-sm fontSize"
              placeholder="Apellido" [(ngModel)]="conductor.apellidosConductor">
          </div>
          <div class="col-3 offset-2">
            <input type="text" name="telefono" id="telefono" class="form-control form-control-sm fontSize"
              placeholder="+569 12345678" [(ngModel)]="conductor.telefonoConductor">
          </div>
          <div class="col-1">
            <span (click)="removeConductor(conductor.idConductor)"><i class="fas fa-times fa-2x"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="row">
  <div class="cardcol-12" style="border: 2px dashed #979797;	border-radius: 10px;opacity: 0.5;"
    (click)="addConductor()">
    <div class="card-body">
      <div class="row">
        <button type="button" class="btn btnTransparente">+ Agregar Conductores</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-6">&nbsp;</div>
  <div class="col-6">
    <div class="row">
      <div class="col-7">
        <h6 class="mt-3">
          <span><i class="fas fa-file-excel"></i></span>&nbsp;<span>Carga masiva de Invitaciones:</span>
        </h6>
      </div>
      <div class="col-5">
        <a class="btnTransparente" style="font-size: 10px;color:black"
          href="./assets/Plantilla_carga_conductores.xlsx"><i class="fas fa-arrow-down"></i>
          Descarga plantilla excel</a><br>
        <a class="btnTransparente" style="font-size: 10px;" (click)="uploadExcel()"><i class="fas fa-arrow-up"></i>
          Subir Excel con datos</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <p>Por seguridad, te pedimos solicitar a tus conductores alguno de los siguientes documetos.</p>
    <p>Apenas el conductor finalice su carga, te avisaremos para que valides su documentacion y lo aceptes en la empresa
    </p>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="valInvitacion" id="valInvitacionLicencia"
          [(ngModel)]="valInvitacionLicencia" value="1">
        Exigir y validar una fotografia de la licencia de conducir
      </label>
    </div>
    <br>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="valInvitacion" id="valInvitacionSelfie"
          [(ngModel)]="valInvitacionSelfie" value="1"> Exigir
        y validar una SELFIE
      </label>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-xl btn-secondary btnSiguientePaso" (click)="homeUsuarioInvitar()">Enviar
      Invitaciones</button>
  </div>
</div>
