<br *ngIf="isMobile">
<br *ngIf="isMobile">
<div class="row muevoNoPadding">
  <div class="col-12">
    <span class="muevo-titulo-pagina">Procesando tu Abono</span>
  </div>
  <div class="col-12">&nbsp;</div>
  <div class="col-12">
    <span class="muevo-subtitulo-pagina">Te indicaremos cuando tu abono haya sido realizado</span>
  </div>
</div>
<br>
<div class="row muevoNoPadding">
  <div class="col-lg-3">&nbsp;</div>
  <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col-12">
        <div class="alert muevoMenuBoxPerfil">
          <div class="row">
            <div class="col-12 text-center" *ngIf="!error">
              <span class="muevoSubTitlePurple bold" *ngIf="!procesando">TU ABONO SE ESTÁ PROCESANDO</span>
              <span class="muevoSubTitlePurple bold" *ngIf="procesando">TU ABONO HA SIDO EXITOSO</span>
            </div>
            <div class="col-12 text-center" *ngIf="error">
              <span class="muevoSubTitlePurple bold">Ha ocurrido un Error en el abono</span>
            </div>
            <div class="col-12 text-center">
              <span class="muevo-subtitulo-pagina">Estamos procesando la información, próximamente se actualizará tu saldo
                (60 seg aprox)</span>
            </div>
          </div>
          <br>
          <div class="row" *ngIf="!procesando">
            <div class="col-lg-2 col">&nbsp;</div>
            <div class="col-lg-8 col-12">
              <div class="row">
                <div class="col-12">
                  <ngb-progressbar type="info" [value]="abonoProgress" [striped]="true" [animated]="true" max="180">
                  </ngb-progressbar>
                </div>
                <div class="col-12 text-right">
                  <i>{{(abonoProgress < 10)?"0"+abonoProgress:abonoProgress}} segundos</i>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col">&nbsp;</div>
          </div>
          <br>
          <div class="row">
            <div class="col-12 text-center">
              <span class="bold">Resumen de Transacción</span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1 col">&nbsp;</div>
            <div class="col-lg-10 col-12">
              <div class="row">
                <div class="col-lg-6 col-3"><span class="bold">Monto</span></div>
                <div class="col-lg-6 col-9">{{montoAbonar}}</div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6 col-3"><span class="bold">Fecha</span></div>
                <div class="col-lg-6 col-9">{{fechaActual}}</div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6 col-3"><span class="bold">Origen</span></div>
                <div class="col-lg-6 col-9">{{tarjeta.tipoTarjetaCredito}} - XXXX XXXX XXXX
                  {{tarjeta.ultimos4Digitos}} </div>
              </div>
            </div>
            <div class="col-lg-1 col">&nbsp;</div>
          </div>
          <br>
          <div class="row" *ngIf="!procesando">
            <div class="col-1">&nbsp;</div>
            <div class="col-10 text-center">
              <a class="btnTransparente muevoLinkDashboard">Mi abono no ha llegado</a>
            </div>
            <div class="col-1">&nbsp;</div>
          </div>
          <div class="row" *ngIf="procesando">
            <div class="col-12">&nbsp;</div>
            <div class="col-12">&nbsp;</div>

            <div class="col-1">&nbsp;</div>
            <div class="col-10 text-center">
              <a class="btnTransparente muevoLinkDashboard" routerLink="/HomeMuevo/AbonarBilletera">¿Realizar otro
                abono?</a>
            </div>
            <div class="col-1">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col">&nbsp;</div>
</div>
