<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a class="btn float-right" closeSidebar>
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
        
        <div class="col-12 column">
            <span class="sidebar-title">Abonar a Billetera</span>
            <span class="sidebar-subtitle" style="text-transform: capitalize;">
               
            </span>
        </div>
    </div>
    
    <!-- INFO-HEAD -->
    <div class="row">
        <div class="col-12 mt-3">
            <span class="text-sm">¿Cómo prefieres hacer tu abono?</span>
        </div>

        <div class="col-12 mt-2">
            <div class="alert muevo-widget-button muevoNoMargin space-between" role="alert" (click)="abonoPorCtaBancaria()">
                <span class="bold">Desde una cuenta bancaria</span>
                <span style="color:#6D6D6D">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </div>
        </div>

        <div class="col-12 mt-2">
            <div class="alert muevo-widget-button muevoNoMargin space-between" role="alert" (click)="abonoPorTarjeta()">
                <span class="bold">Desde tarjeta débito o crédito</span>
            
                <span style="color:#6D6D6D">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </div>
        </div>

    </div>    
</div>