<div class="custom-paginator">
    <button class="btn-muevo-default" (click)="next()" [disabled]="pagination.rows < pagination.pagesSize">{{ pagination.rows < pagination.pagesSize ? "No hay más registros" : "Cargar más registros... "}} <i class="fas fa-spin fa-spinner" *ngIf="isLoading"></i></button>
</div>
{{pagination|log}}