<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="closeThis()" titulo="Revisa y envía tu solicitud"></top-sidebar-right>
  <div class="row mt-4">

    <div class="col-12">
      <div class="sidebar-info">
        <div class="title">Monto a retirar:</div>
        <div class="value">$ {{currency(abono.abonoMontoDisponible)}}</div>
      </div>
      <div class="sidebar-info">
        <div class="title">Cuenta bancaria:</div>
        <div class="value">Nº {{cuenta.inscripcionNumeroCuenta}}</div>
      </div>
      <div class="sidebar-info">
        <div class="title">Tipo cuenta:</div>
        <div class="value">
          {{obtenerValor(cuenta.inscripcionCodigoTipoCuenta,'tipoCuentaBancariaId',this.variablesApi.home.maestros.tipoCuentaBancaria,'tipoCuentaBancariaNombre')}}
        </div>
      </div>
      <div class="sidebar-info">
        <div class="title">Banco:</div>
        <div class="value">
          {{obtenerValor(cuenta.inscripcionCodigoBanco,'bancoId',this.variablesApi.home.maestros.bancos,'bancoNombre')}}
        </div>
      </div>
      <div class="sidebar-info">
        <div class="title">Rut Cuenta:</div>
        <div class="value"> {{formatearRut(cuenta.inscripcionRutCuenta)}}</div>
      </div>
    </div>

  </div>
  <div class="row mt-4">
    <div class="col-12 text-center">
      <button type="button" class="btn-muevo-action-muevo" (click)="validarDesAbono()">
        Solicitar desabono por $ {{currency(abono.abonoMontoDisponible)}}
      </button>
    </div>


  </div>
  <div class="row muevoNoMargin">
    <div class="col-12 text-center">
      <button class="btn-muevo-action-danger" (click)="this.modalSidebar.closeAll()">
        Cancelar
      </button>
    </div>
  </div>
</div>