<div class="form-group contenedorIngreso">
  <div class="row">
    <div class="contenidoIngresocol-12">
      <div class="col-12 text-center">
        <h4>Error Sin Conexion</h4>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <h5>Sin Conexion</h5>
        <p>No se ha podido establecer una conexión. Por favor intente nuevamente más tarde.</p>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <button type="button" class="btn btnSiguientePasoNoWidth" [routerLink]="[paginaVolver]">Volver</button>
      </div>
    </div>
  </div>
</div>
