
.rectangle-copy-7 {
    max-width: 100%;
    width: 100%;
    //opacity: 0.05;
    border-radius: 15px;
    background-color: rgba(36,50,140,0.035);
    padding-top:9px ;
    padding-bottom: 9px;
    padding-left: 17px;
    padding-right: 17px;
  }


 span > i{
   color: #6D6D6D
 }

 .click-pointer{
  cursor: pointer;
  //box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
 }
 .no-click-pointer{
  cursor: default;
  box-shadow: none;
 }
 .transparente{
  background-color:transparent!important;
  
 }
 .verificado{
   color: #1e936b;
 }
