<!-- <div class="rectangle-copy-7 mb-4"
[ngClass]="{'click-pointer': isFnClick, 'transparente':!isColor}"
  (click)="isFnClick?fnClick.emit():null">
  <div class="col-12">
    <div class="space-between" role="alert">
      <div>
        <span>{{titulo}}</span>
        <br>
        <span class="bold">{{subTitulo}}</span>
        <span class="verificado bold" *ngIf="isVerificado">&nbsp; VERIFICADO</span>
      </div>
      <span *ngIf="isFnClick || isColor">
        <i class="fas fa-chevron-right"></i>
      </span>
    </div>
  </div>
</div> -->
<div class="col-12 mb-2">
  <div class="alert muevo-widget-button muevoNoMargin"
    [ngClass]="{'click-pointer': isFnClick, 'transparente':!isColor,'no-click-pointer': !isFnClick}" role="alert"
    (click)="isFnClick?fnClick.emit():null" style="display: flex;flex-direction: column;justify-content: center;">
    <div class="space-between">
      <div class="column" matBadge="1" matBadgeSize="small" matBadgeColor="warn" [matBadgeHidden]="!isBadget">
        <span class="bold">{{titulo}}</span>
        <div class="row" *ngIf="subTitulo!=null">
          <span class="muevoSidebarAlertSubTitle" class ="pr-4">{{subTitulo}}</span>
          <span class="verificado bold" *ngIf="isVerificado">&nbsp; VERIFICADO</span>
        </div>

      </div>
      <div *ngIf="!isfnSwitch">
        <span *ngIf="isFnClick ">
          <i *ngIf="isColor" class="fas fa-chevron-right"></i>
        </span>
      </div>
      <ui-switch *ngIf="isfnSwitch" class="muevo-switch" size="small" [(ngModel)]="estadoSwitch "
        (change)="fnSwitch.emit()"></ui-switch>
    </div>
  </div>
</div>