<div class="row mt-4">
    <div class="col-12">
        
        <button *ngIf="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2" class="btn-muevo-primary-icon float-left" routerLink="/HomeMuevo/CrearConductor">
            <span>Invitar Conductores</span>
            <i class="fa fa-plus"></i>
        </button>
        <div *ngIf="this.selection.selected.length > 0">
            <button class="btn btn-copec-secundary float-left" (click)="toogleEnable()">
                Habilitar/Deshabilitar
            </button>
        </div>
        
        <button class="btn-muevo-action-mini ml-2 float-right" (click)="exportCsv()" ngbTooltip="Exportar" placement="top">
            <i class="fas fa-download gray"></i>
        </button>
        
        <div class="input-group muevo-input-search float-right ml-2" >
            <input type="search" class="form-control" (keyup)="_applyFilter(dataSource, $event.target.value)"  placeholder="Buscar..">
            <div class="input-group-append muevoFondoComboDashboard">
                <span class="input-group-text muevoPreComboDashboard" id="basic-addon1">
                    <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
        
        
        
        
    </div>
    <!-- <div class="col-12 col-sm-5">
        <div class="flex-end">
            
        </div>
    </div> -->
</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="table-responsive">
            <mat-table [dataSource]="dataSource" class="collapsed" matSort>
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                        
                        <div class="table-counter" *ngIf="this.selection.selected.length > 0">{{this.selection.selected.length}}</div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                            (change)="_checkToggle(selection, row, $event)"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="_checkboxLabel(selection, dataSource, row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="nombreCompleto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.nombreCompleto}}
                    </mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="rut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>RUT</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.rut | rut}}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="telefonoId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>TELÉFONO</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        +{{row.telefonoId}}
                    </mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="primerVehiculoAsignado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>VEHÍCULOS ASIGNADOS</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span>{{row.vehiculosAsignadosCantidad}}</span>
                        <!-- <span class="patentes-aux" *ngIf="row.vehiculosAsignadosCantidad > 1">&nbsp;(y {{row.vehiculosAsignadosCantidad -1}} más)</span> -->
                        
                    </mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="flex-end" style="width: 100%">
                            <!-- <div>
                                <div *ngIf="row.rolId == 1" (click)="mostrarConductor(row.idConductor, $event)">
                                    <span class="lnk-sm underline">Super Administrador</span>
                                </div>
                                <div *ngIf="row.rolId != 1">
                                    <mat-slide-toggle color="primary" [checked]="row.estado" (change)="activaDesactiva(row.idConductor)">
                                        <small>{{row.estado ? 'Activo' : 'Inactivo'}}</small>
                                    </mat-slide-toggle>
                                </div>
                            </div> -->
                            
                            <div class="hand" (click)="mostrarConductor(row, $event)">
                                <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vh;height: 20px;">
                            </div>
                            
                            <!-- <div [ngbPopover]="popContent" placement="left" popoverClass="muevoMenuElementDashboardCon" #popOptions="ngbPopover" triggers="manual" (click)="openPopoverOptions(popOptions, row)">
                            </div> -->
                        </div>
                    </mat-cell>
                </ng-container>
                
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'opacity': !row.estado ? '0.5' : '1' }" >
                </mat-row>
            </mat-table>
    
            <!-- <mat-paginator [hidden]="!_haveRows(dataSource.data)" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 30 , 40, 50]"showFirstLastButtons>
            </mat-paginator> -->
    
            <div class="no-rows flex-center" *ngIf="!_haveRows(dataSource.data)">
                <span class="text-sm">No existen registros</span>
            </div>

            
        </div>
    </div>
</div>
