<!-- TITLE -->
<div class="row">
    <div class="col-12">
        <span class="muevo-titulo-pagina">Movimientos</span>
    </div>
</div>

<div class="row mt-3">
    
    <div class="col-12 col-sm-12 mt-2">
        <div class="flex-end">
            <div class="input-group muevo-input-search float-right ml-2" style="max-width: 200px;">
                <input type="search" class="form-control" (keyup)="_applyFilter(dataSource, $event.target.value)" placeholder="Buscar..">
                <div class="input-group-append muevoFondoComboDashboard">
                    <span class="input-group-text muevoPreComboDashboard" id="basic-addon1">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
            
            <button class="btn-muevo-action-mini ml-2" (click)="exportCsv()">
                <i class="fas fa-download gray"></i>
            </button>
        </div>
    </div>
    
    <div class="col-12 mt-3">
        <div class="table-responsive">
            <mat-table [dataSource]="dataSource" class="collapsed" matSort>
                
                <ng-container matColumnDef="movimientoFechaCreacion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.movimientoFechaCreacion | date: 'dd-MM-yyyy HH:mm'}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="tipoMovimientoNombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>TIPO</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.tipoMovimientoNombre}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="movimientoMonto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>MONTO</mat-header-cell>
                    <mat-cell *matCellDef="let row">$ {{row.movimientoMonto | number: '1.0-0'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="detalle">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DETALLE</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="paint">pendiente</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="movimientoSaldoFinal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>SALDO FINAL</mat-header-cell>
                    <mat-cell *matCellDef="let row">$ {{row.movimientoSaldoFinal| number: '1.0-0'}}</mat-cell>
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            
            <!-- <mat-paginator [hidden]="!_haveRows(dataSource.data)" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 30 , 40, 50]" showFirstLastButtons>
            </mat-paginator> -->

            <div class="no-rows flex-center" *ngIf="!_haveRows(dataSource.data)">
                <span class="text-sm">No existen registros</span>
            </div>

            <button class="btn-muevo-primary more-data-flotante" (click)="next()" [disabled]="_isLoading || pagination.rows < pagination.pagesSize" *ngIf="pagination.rows >= pagination.pagesSize"><i class="fas fa-arrow-down mr-1"></i> {{ pagination.rows < pagination.pagesSize ? "No hay más registros" : "Cargar más registros... "}} <i class="fas fa-spin fa-spinner ml-1" *ngIf="_isLoading"></i></button>

            
        </div>
    </div>
    
</div>
