<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a class="btn float-left" (click)="backToMain()" *ngIf="origenIsConductoresDetalle">
                <i class="fas fa-angle-left fa-2x"></i>
            </a>
            <a class="btn float-right" (click)="closeModal()">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>

    <!-- INFO-HEAD -->
    <div class="row">
        <div class="col-12 column">
            <span class="sidebar-title" style="text-transform: capitalize;">
                {{conductor.nombre == '' && conductor.apellido == '' ? 'Nuevo conductor' : conductor.nombre + ' ' + conductor.apellido}}
            </span>
            <span class="sidebar-subtitle" *ngIf="conductor.rut">{{conductor.rut | rut}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-2">
            <span class="sidebar-subtitle-black">Vehículos</span>
        </div>
        <div class="col-12 mt-2">
            <span class="text-sm bold">Vehículos asignados a {{conductor.nombre==''?'Nuevo conductor' : conductor.nombre }} ({{(conductor.vehiculosAsignados | filter: buscarVehiculosFilter).length}})</span>
        </div>

        <div class="col-12 mt-2">
            <div class="input-group muevo-input-search">
                <input class="form-control" placeholder="Buscar.." type="search" [(ngModel)]="buscarVehiculosFilter">
                <div class="input-group-append muevoFondoComboDashboard">
                    <span class="input-group-text muevoPreComboDashboard" id="basic-addon1" (click)="buscarVehiculosFilter = ''">
                        <i class="fas fa-search" [ngClass]="{'fa-times hand': buscarVehiculosFilter != null && buscarVehiculosFilter.length > 0 }"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-12 mt-2 sidebar-scroll-07x" *ngIf="(conductor.vehiculosAsignados | filter: buscarVehiculosFilter).length > 0">
            <!-- <span class="text-xs" *ngIf="conductor.vehiculosAsignados.length == 0">No existen vehiculos asignados</span> -->
            <div *ngFor="let item of (conductor.vehiculosAsignados | filter: buscarVehiculosFilter)">
                <div class="muevo-item-action" ><!-- [@fadeOutToRight]="item.dropped" -->
                    <span>{{item.patente | patente}} - {{item.alias}}</span>
                    <div *ngIf="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2" class="options hand" (click)="remove(item)">
                        <i class="fas fa-times text-danger" style="font-size: 1.4em"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 text-center" *ngIf="(conductor.vehiculosAsignados | filter: buscarVehiculosFilter).length == 0">
            <span class="text-xs text-gray">Sin vehículos asignados.</span>
        </div>

        <div class="col-12">
            <hr />
        </div>

        <div class="col-12 mt-5">
            <div *ngIf="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2" class="alert muevo-widget-button muevoNoMargin space-between" role="alert" (click)="mostrarAsignacionVehiculos()">
                
                    <span class="bold">Asignar nuevo vehículo</span>
                    <!-- <span class="muevoSidebarAlertSubTitle">{{cantidadVehiculosDisponiblesParaAsignar}} Vehículos disponibles</span> -->
                    <span style="color:#6D6D6D">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                
            </div>
        </div>

        <div *ngIf="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2" class="col-12 text-center">
            <button type="button" class="btn-muevo-action-muevo" (click)="asignarVehiculos()" [disabled]="!haveChanges">Guardar cambios</button>
        </div>
        

    </div>

</div>
        