<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="closeThis()" titulo="Invitaciones pendientes"
    descripcion="Solicita a tus adminsitradores aceptar las invitaciones para que puedan comenzar a operar">
  </top-sidebar-right>

  <div class="row sidebar-scroll-13x mt-2">
    <div class="col-12">
      <ul class="pl-0">
        <li *ngFor="let i of invitaciones; let idx = index" style="padding-bottom: 0px">
          <div class="invitacion-sidebar" [ngClass]="{'bb': idx == (invitaciones.length -1)}">
            <div class="space-between">
              <span class="text-sm bold mt-1">{{i.invitacionDatos.invitacionNombre}}
                {{i.invitacionDatos.invitacionApellido}}</span>
              <span class="text-xs bold mt-1" style="color: #152137">{{
                i.invitacionEstadoId=='CADUCADA'?'Caducada':'Vigente'
                }}</span>
            </div>


            <span class="textActive mt-1">+{{i.invitacionTelefonoInvitadoId}}</span>

            <div class="flex-end">
              <div class="text-xs underline bold hand text-blue mr-2" (click)="reenviarInvitacion(i)">Reenviar</div>
              <div class="text-xs underline bold hand text-danger " (click)="eliminar(i)">Eliminar</div>
            </div>


          </div>
        </li>

      </ul>
    </div>
    <btn-flotante [sizeTotal]="invitaciones.length" [sizeComparar]="posicionFinal" (next)="next()"
      [isLoad]="_isLoading">
    </btn-flotante>
  </div>


</div>