<div class="form-group containerIngreso">
  <br>
  <div class="row">
    <div class="col-lg-9 col muevoNoPadding">
      <span style="color: #5C5C5C;font-size: 16px;" class="float-right mt-2 bold">¿Aún no tienes una
        cuenta?</span>
    </div>
    <div class="col muevoNoPadding">
      <button type="button" class="btn-muevo-action-default btnSupLogin float-right" (click)="nvaCuenta()">Crear
        cuenta</button>
    </div>
  </div>
  <br>
  <div class="row" style="margin-top: 12vh;">
    <div class="col-12">
      <span style="color: #000000;font-size: 24px;font-weight: bold;">Ingresa tu clave de 4 dígitos</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Actualmente se encuentra registrado con el teléfono +56
        {{inputNroTelefono}}</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <div class="input-group inputTextLogin" id="dvinputIngresoContrasena">
        <input type="text" name="inputIngresoContrasena" id="inputIngresoContrasena" class="form-control "
          [(ngModel)]="inputIngresoContrasena" style="border: none;border-radius: 15px 0 0 15px;"
          placeholder="Ingresa tu clave de 4 dígitos" [ngClass]="{'pass': pass}" (input)="validaMaxInput($event)"
          maxlength="4" autocomplete="off" (keydown.enter)="ingresoTokenPost()" (change)="appMatchContrasena()">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2" (click)="cambiaVisiblePass()"
            style="border: none;border-radius: 0 15px 15px 0;background: none"><i class="far fa-eye"></i></span>
        </div>
      </div>
      <div id="dvinputIngresoContrasena_" class="col-12" style="display:none;">
        <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
        <span style="color: #eb5f5f;"> {{errorPass}}</span>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn"
        style="border-radius: 15px;background: linear-gradient(180deg, #8BF1FF 0%, #00F2FF 100%);color: #24328C;font-size: 14px;font-weight: 500;text-align: center;height: 60px; width: 100%;"
        (click)="ingresoTokenPost()">Ingresar</button>
    </div>
  </div>
</div>
