<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a class="btn float-left" (click)="backToMain()">
                <i class="fas fa-angle-left fa-2x"></i>
            </a>
            <a closeSidebar class="btn float-right" (click)="closeAll()" >
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>
    
    <!-- INFO-HEAD -->
    <div class="row">
        <div class="col-12 column">
            <span class="sidebar-title" style="text-transform: capitalize;">
                {{conductor.nombre}} {{conductor.apellido}}
            </span>
            <span class="sidebar-subtitle" *ngIf="conductor.rut">{{conductor.rut | rut}}</span>
        </div>
    </div>
    
    <div class="row" >
        <div class="col-12 mt-2">
            <span class="sidebar-subtitle-black">Vehículos</span>
        </div>
    </div>
    
    <div class="row" >
        <div class="col-12 mt-2">
            <span class="text-sm">Asignar nuevo vehículo</span>
        </div>
        
        <div class="col-12 mt-2">
            <div class="input-group muevo-input-search">
                <input class="form-control" placeholder="Buscar.." type="search" [(ngModel)]="buscarVehiculosFilter">
                <div class="input-group-append muevoFondoComboDashboard">
                    <span class="input-group-text muevoPreComboDashboard" id="basic-addon1" (click)="buscarVehiculosFilter = ''">
                        <i class="fas fa-search" [ngClass]="{'fa-times hand': buscarVehiculosFilter != null && buscarVehiculosFilter.length > 0 }"></i>
                    </span>
                </div>
                
            </div>
        </div>
        
        <!-- <div class="col-12" *ngIf="(vehiculosDisponibles | filter: {selected: true}).length > 0">
            <div class="selector-display">
                <div class="selector-display-item mr-2 mt-2" *ngFor="let s of (vehiculosDisponibles | filter: {selected: true})">
                    <span class="mr-2">{{s.patente | patente}}</span>
                    <div class="hand" (click)="s.selected = false">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="col-12 mt-2 sidebar-scroll-07x" *ngIf="vehiculosDisponibles.length > 0">
            <div *ngFor="let item of vehiculosDisponibles | filter: buscarVehiculosFilter">
                <div class="muevo-item-action" style="justify-content: flex-start;">
                    <div class="options-right">
                        <div class="form-check form-check-inline muevoNoMargin">
                            <label class="form-check-label">
                                <input class="form-check-input muevo-checkbox" type="checkbox" name="dia.selected" [id]="'patente_' + item.patente" [(ngModel)]="item.selected">
                            </label>
                        </div>
                    </div>
                    <span class="ml-3">{{item.patente | patente}} - {{item.alias}}</span>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 text-center" *ngIf="vehiculosDisponibles.length == 0">
            <span class="text-xs text-gray">No hay vehículos para asignar</span>
        </div>

        <div class="col-12">
            <hr />
        </div>

        <div class="col-12 col-12 flex-center">
            <button class="btn-muevo-primary more-data-flotante-sidebar" (click)="next()" [disabled]="_isLoading || pagination.rows < pagination.pagesSize" *ngIf="pagination.rows >= pagination.pagesSize"><i class="fas fa-arrow-down mr-1"></i> {{ pagination.rows < pagination.pagesSize ? "No hay más registros" : "Cargar más registros... "}} <i class="fas fa-spin fa-spinner ml-1" *ngIf="_isLoading"></i></button>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-12 mt-5">
            <div class="alert muevo-widget-button muevoNoMargin" style="display: flex;flex-direction: column;justify-content: center;" (click)="mostrarCreacionVehiculo()">
                <div class="space-between">
                    <span class="bold">Crear nuevo vehículo</span>
                    <div>
                        <div class="fas fa-plus"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn-muevo-action-muevo" (click)="asignarVehiculos()" [disabled]="(vehiculosDisponibles | filter: {selected: true}).length == 0">Confirmar selección</button>
        </div>
    </div>
    
    
    
</div>