@import './../../../../../assets/css/colors.scss';

.selector-display{
    display: flex;
    flex-wrap: wrap;
}

.selector-display-item{
    border-radius: 6px;
    background-color: $color-gray6;
    color: $color-blue4;
    padding: .5em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fa-times{
        color: #000;
    }
}