

// $text-lg: 33.17px;
// $text-md: 19.20px;
$text-xs: 16px;
// $text-xxs: 13.33px;
// $text-xxxs: 11.11px;

//LOCALS
.items >div{
    
    margin-top: 10px;
}

// //COLORS
// $color-gray1: #585B6E; //text home,
// $color-gray2: #4B4B4B; //text xs
// $color-gray3: #D5D9F0; //border input
// $color-gray4: #ECECEC; //border select
// $color-gray5: #B3B8CF; //switch, border search
 $color-gray6: #E8EAF5; //btn, btn-muevo-action-default
 $color-gray7: #C2C7E0;
// $color-gray8: #8B90B1; //search text

// $color-muevo : #00F2FF;

// $color-red: #D81A1A;


// $color-black1: #152137;

// $color-blue1: #24328C; //tittle page, page navigator, sidebar title, btn text
// $color-blue2: #141F34;
// $color-blue3: #152137; //sidebar-info value, text select
$color-blue4: #37469C; //switch, btn text, border button tarjeta
// $color-blue5: #283793; //tab border,

// $color-border1: #e5e7f5;


// //TEXTS
// .text-lg{
//     font-size: $text-lg;
//     color: $color-gray1;
//     letter-spacing: 0px;
// }

// .text-md{
//     font: bold $text-md 'TTNorms';
//     letter-spacing: 0px;
//     color: $color-black1;
// }

// .text-sm{
//     font: bold $text-xs 'TTNorms';
//     letter-spacing: 0px;
//     color: $color-black1;
// }

// .text-xs{
//     font: normal $text-xxxs 'TTNorms' !important;
//     letter-spacing: 0px;
//     color: $color-gray2;
// }

// .sidebar-title{
//     font: bold $text-md 'TTNorms';
//     letter-spacing: 0px;
//     color: $color-blue1;
// }

// .sidebar-subtitle{
//     font: normal $text-xxxs 'TTNorms';
//     letter-spacing: 0px;
//     color: $color-blue2;
// }

// .sidebar-subtitle-black{
//     font: bold $text-md 'TTNorms';
//     letter-spacing: 0px;
//     color: $color-blue2;
// }

// .text-title-page{
//     font: bold $text-md 'TTNorms';
//     color: $color-blue1;
//     letter-spacing: 0px;
// }

// .page-location{
//     font: bold 19.20px 'TTNorms';
//     letter-spacing: 0px;
//     color: $color-blue1;
// }

// .sidebar-info{
//     border-bottom: 1px solid $color-border1;
//     font: normal $text-xxs 'TTNorms';
//     letter-spacing: 0px;
//     color: $color-blue2;
//     padding: .3em;
//     .value{
//         font: normal $text-xxxs 'TTNorms';
//         color: $color-blue3
//     }
// }

// //FORMS
// $input-border-radius:  6px;
// $input-height: 40px;
// .muevo-select{
//     height: $input-height !important;
//     font: normal $text-xxs 'TTNorms' !important;
//     letter-spacing: 0px;
//     color: $color-blue3 !important;
    
//     border: 2px solid $color-gray4 !important;
//     background: #fff url('./../../../../../assets/img/selectBackground.png') no-repeat !important;
//     background-position: right 1vw center !important;
//     background-size: 0.8vh !important;
//     -webkit-appearance: none !important;
//     border-radius: $input-border-radius;
// }

// .input-group-muevo{
//     border-radius: $input-border-radius;
//     border: 2px solid $color-gray4;
//     .input-group-text{
//         border: none;
//         background-color: #fff;
//         color: $color-black1 !important;
//         font-size: $text-xxxs !important;
//     }
//     .muevo-select{
//         border: none !important;
//         border-left: none !important;
//         text-align-last: right;
//         padding-right: 2em;
//     }
// }

// $switch-color: $color-blue4;
// $switch-color-h: 1.8em;
// $switch-color-w: 3em;
// $switch-color-circle: 15px;
// //$switch-color-inactive-position: 20px;
// ::ng-deep{
//     .muevo-switch .switch {
//         width: $switch-color-w;
//         height: $switch-color-h;
//         background: $color-gray5;
//     }
    
//     .muevo-switch .switch small {
//         margin-top: 3px;
//         margin-left: 3px;
//         margin-right: 3px;
//         width: $switch-color-circle;
//         height: $switch-color-circle;
//         background: #F4F5F9;
//     }
    
//     .muevo-switch .switch.checked {
//         width: $switch-color-w;
//         height: $switch-color-h;
//         background: $switch-color !important;
//     }

//     .muevo-switch .switch.switch-small small {
//         right: calc(100% - 20px);//$switch-color-inactive-position
//     }

//     .muevo-switch .switch.checked small {
//         right: 0 !important;
//         left: auto;
//     }
// }

.btn-muevo-tarjeta-seleccion-switch2{
    background-color: $color-gray6;
    height: 49.6px;
    border-radius: 12px;
    border: 1px solid $color-blue4;
    //padding: 10px 42px 10px 42px;
    font: normal $text-xs 'TTNorms';

    display: flex;
    align-items: center;

    .action-l{
        border-right: 1px solid $color-gray7;
        //flex-grow: 1;
    }

    .action-r{
        border-left: 1px solid $color-gray7;
        //flex-grow: 1;
        padding-left: 1em;
    }

    .br{
        border-right: 1px solid $color-gray7;
    }

    .bl{
        border-left: 1px solid $color-gray7;
    }

    .form-check-inline,.form-check-input{
        margin-right: 0px;
    }
}



// $btn-muevo-normal-heigth: 32px;

// %btn{
//     cursor: pointer;
//     width: 100%;
// }

// %btn-muevo-default{
//     @extend %btn;

//     max-width: 173px;
//     height: $btn-muevo-normal-heigth;
//     background: $color-gray6 0% 0% no-repeat padding-box;
//     border-radius: 12px;
//     color: $color-blue4;
//     border: none;
//     font-size: $text-xxxs;
// }


// .btn-muevo-default{
//     @extend %btn-muevo-default;
//     @extend %btn;
// }

// .btn-muevo-default-icon{
//     @extend %btn-muevo-default;
//     @extend %btn;

//     padding-left: 13px;
//     padding-right: 13px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// %btn-muevo-primary{
//     @extend %btn;

//     max-width: 212px;
//     height: $btn-muevo-normal-heigth;
//     background: $color-blue1 0% 0% no-repeat padding-box;
//     border-radius: 12px;
//     color: #fff;
//     border: none;
// }

// .btn-muevo-primary{
//     @extend %btn-muevo-primary;
// }

// .btn-muevo-primary-icon{
//     @extend %btn-muevo-primary;

//     padding-left: 13px;
//     padding-right: 13px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .muevo-tab{
//     @extend %btn;

//     height: 64px;
//     background: $color-gray6 0% 0% no-repeat padding-box;
//     border-radius: 12px;
//     padding-left: 27px;
//     padding-right: 27px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     font-size: $text-xxs;
//     color: #000;

//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .muevo-tab.active{
//     border: 2px solid $color-blue5;
// }

// .btn-muevo-default-lg{
//     @extend %btn;

//     width: 100%;
//     //min-width: 390px;
//     height: 54px;
//     background: $color-gray6 0% 0% no-repeat padding-box;
//     border-radius: 12px;

//     text-align: center;
//     font: normal $text-xxs 'TTNorms';
//     letter-spacing: 0px;
//     color: $color-blue1;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .btn-muevo-default-md{
//     @extend %btn;

//     max-width: 250px;
//     min-height: 44px;
//     background: $color-gray6 0% 0% no-repeat padding-box;
//     border-radius: 6px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-left: 30px;
//     padding-right: 30px;
//     font: bold $text-xxs 'TTNorms';
//     letter-spacing: 0px;
//     color: $color-blue1;

//     display: flex;
//     justify-content: space-between;
//     align-items: center;

// }

// .btn-muevo-tarjeta{
//     background-color: $color-gray6 !important;
//     min-height: 83px;
//     border-top: 6.5px solid $color-blue4;
//     border-radius: 12px;
//     padding: 10px 18px 10px 18px;

//     text-align: left;
//     font: normal $text-md 'TTNorms';
//     letter-spacing: 0px;
//     color: #000000;

//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     img{
//         height: 25px;
//     }
// }

// %btn-bank{
//     @extend %btn;

//     max-width: 533px;
//     height: 62px;
//     border-radius: 12px;
//     padding: 10px 25px 10px 25px;

//     font: normal $text-xs 'TTNorms';
//     color: #000000;
// }

// .btn-muevo-tarjeta-seleccion{
//     @extend %btn-bank;

//     background: $color-gray6 url('./../../../../../assets/img/selectBackground.png') no-repeat !important;
//     background-position: right 2vw center !important;
//     background-size: 0.8vh !important;
//     -webkit-appearance: none !important;

//     display: flex;
//     justify-content: flex-start;
//     align-items: center;

//     img{
//         width: 63px;
//         height: 19px;
//         margin-right: 1em;
//     }
// }

// .btn-muevo-banco-cta{
//     @extend %btn-bank;

//     background-color: $color-gray6;

//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     img{
//         max-height: 43px;
//     }

// }
// .btn-muevo-tarjeta-seleccion-switch{
//     background-color: $color-gray6;
//     height: 49.6px;
//     border-radius: 12px;
//     border: 1px solid $color-blue4;
//     padding: 10px 42px 10px 42px;
//     font: normal $text-xs 'TTNorms';

//     display: flex;
//     align-items: center;

//     .action-l{
//         border-right: 1px solid $color-gray7;
//         flex-grow: 1;
//     }

//     .action-r{
//         border-left: 1px solid $color-gray7;
//         flex-grow: 1;
//         padding-left: 1em;
//     }

//     .info{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         width: 100%;
//         padding-left: 1em;
//         padding-right: 1em;
//     }
// }


// // .btn-muevo-tarjeta-seleccion-switch{
// //     background-color: $color-gray6;
// //     height: 49.6px;
// //     border-radius: 12px;
// //     border: 1px solid $color-blue4;
// //     padding: 10px 42px 10px 42px;

// //     font: normal $text-xs 'TTNorms';

// //     display: flex;
// //     justify-content: space-between;
// //     align-items: center;

// //     .info{
// //         display: flex;
// //         justify-content: space-between;
// //         align-items: center;
// //         width: 100%;
// //         padding-left: 1em;
// //         padding-right: 1em;
// //     }
// // }


// .muevo-item-action{
//     background-color: $color-gray6;
//     font: normal $text-xxxs 'TTNorms';
//     padding: 5px 8px 5px 8px;
//     border-radius: 8px;
//     height: 31px;
//     width: 100%;

//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     .actions{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         width: 2em;
//     }

//     hr{
//         border-left: 1px solid $color-gray7;
//         height: 1em;
//     }
// }

// $input-search-height: 37px;
// .muevo-input-search{
//     max-width: 286px;
//     height: $input-search-height;

//     input{
//         border-radius: 24px 0px 0px 24px;
//         background-color: $color-gray6;
//         border: 1px solid $color-gray5;
//         border-right: none;
//         color: $color-gray8;
//         font-size: $text-xxxs;
//         height: $input-search-height;
//     }

//     .input-group-append{
//         border: 1px solid $color-gray5;
//         border-bottom-left-radius: 0px;
//         border-top-left-radius: 0px;
//         background-color: $color-gray6;
//         height: $input-search-height;
//         span{
//             background-color: $color-gray6;
//             border-radius: 24px;
//         }
//     }
// }

// .btn-muevo-action-mini{
//     background-color: $color-gray6;
//     border: 1px solid $color-gray5;
//     border-radius: 12px !important;
//     height: $input-search-height;
//     min-width: $input-search-height;
//     cursor: pointer;
//     color: $color-gray5;
// }


// %btn-muevo-action{
//     width: 100%;
//     max-width: 228px;
//     height: 42px;
//     border-radius: 15px;
//     font: normal $text-xxs 'TTNorms';
//     box-shadow: 0px 3px 6px #00000029;
//     border-style: solid;
//     border-width: 1px;
// }

// .btn-muevo-action-danger{
//     @extend %btn-muevo-action;

//     color: $color-red;
//     border-color: $color-red;
//     background-color: transparent;
// }
// .btn-muevo-action-danger:hover{
//     background-color: $color-red;
//     color: #fff;
// }

// .btn-muevo-action-default{
//     @extend %btn-muevo-action;

//     background-color: $color-gray6;
//     border-color: transparent;
// }

// .btn-muevo-action-muevo{
//     @extend %btn-muevo-action;

//     background-color: $color-muevo;
//     color: $color-blue1;
//     border-color: transparent;
// }


