<div class="row muevoNoMargin">
    <div class="col-12 muevoNoPadding">
        <span class="muevo-titulo-pagina">Componentes</span>
    </div>
    
    <div class="col-12 muevoNoPadding mb-2">
        <span class="muevo-subtitulo-pagina">
            Recurso de componentes visuales
        </span>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Textos</h5>
                <div class="column items">
                    <div class="flex-start">
                        <span class="text-lg">$</span><span class="text-lg bold">999.990</span>
                    </div>
                    <div class="text-title-page">Activa tus formas de pago</div>
                    <div class="text-md">Con App</div>
                    <div class="text-sm">1) Selecciona tu tarjeta</div>
                    <div class="page-location">Inicio > Formas de Pago</div>
                    <div class="text-xs">Auto por defecto</div>
                    <div class="sidebar-title">George Washington</div>
                    <div class="sidebar-subtitle">15411837-6</div>
                    <div class="sidebar-subtitle-black">Vehículos</div>
                    <div>
                        <div class="space-between sidebar-info">
                            <div class="title">Nombre empresa</div>
                            <div class="value">Conductor EFBY</div>
                        </div>
                        <div class="space-between sidebar-info">
                            <div class="title">Estado</div>
                            <div class="value">Pendiente</div>
                        </div>
                        <div class="space-between sidebar-info">
                            <div class="title">Vigencia</div>
                            <div class="value">2018-04-23</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Forms</h5>
                <div class="column items">
                    <div>
                        <select class="form-control muevo-select">
                            <option selected>BICE</option>
                        </select>
                    </div>
                    <div>
                        <div class="input-group input-group-muevo">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Banco</span>
                            </div>
                            <select class="form-control muevo-select">
                                <option selected>BICE</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="muevo-switch float-right">
                            <ui-switch size='small' [(ngModel)]="current.estado" (change)="current.estado = !current.estado"></ui-switch>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn-muevo-default">Ver movimientos</button>
                    </div>
                    <div>
                        <button type="button" class="btn-muevo-default-icon">
                            <span>Agregar tarjeta</span>
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <div>
                        <button type="button" class="btn-muevo-primary">Crear</button>
                    </div>
                    <div>
                        <button type="button" class="btn-muevo-primary-icon">
                            Crear nueva cuenta
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <div>
                        <div class="muevo-tab">
                            Billetera
                            <i class="fas fa-angle-right fa-2x"></i>
                        </div>
                    </div>
                    <div>
                        <div class="muevo-tab active">
                            Billetera
                            <i class="fas fa-angle-right fa-2x"></i>
                        </div>
                    </div>
                    <div>
                        <div class="btn-muevo-default-lg">
                            Ver facturas
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Botones 2</h5>
                <div class="column items">
                    <div>
                        <div class="btn-muevo-default-md">
                            Invitaciones pendientes (4)
                            <i class="fas fa-angle-right fa-2x"></i>
                        </div>
                    </div>

                    <div>
                        <div class="btn-muevo-tarjeta">
                            <img src="./assets/img/VISA-logo.png" alt="">
                            **** **** **** 1234
                        </div>
                    </div>

                    <div>
                        <div class="btn-muevo-tarjeta-seleccion">
                            <img src="./assets/img/VISA-logo.png" alt="">
                            **** **** **** 1234
                        </div>
                    </div>
                    <div>
                        <div class="btn-muevo-banco-cta">
                            <div><img src="./assets/img/SANTANDER-logo.png" alt=""></div>
                            <div>0123456789</div>
                            <div><i class="fas fa-times text-danger"></i></div>
                        </div>
                    </div>

                    <div>
                        <div class="btn-muevo-tarjeta-seleccion-switch">
                            <div class="action-l">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="radio" name="selection" value="true" ><!-- (click)="_seleccionTarjeta.seleccionada = t" -->
                                    </label>
                                </div>
                            </div>
                            <div style="flex-grow: 5" class="info">
                                <div><img src="./assets/img/VISA-logo.png" alt=""></div>
                                <div>**** **** **** 3434</div>
                            </div>
                            <div class="action-r">
                                <i class="fas fa-times text-danger hand"></i>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row muevoNoMargin btn-muevo-tarjeta-seleccion-switch2">
                            <div class="col-2 br text-center">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="radio" name="selection" value="true" ><!-- (click)="_seleccionTarjeta.seleccionada = t" -->
                                    </label>
                                </div>
                            </div>
                            <div class="col-8 space-between">
                                <img src="./assets/img/VISA-logo.png" alt="" class="float-left">
                                <div class="flex-end">
                                    <span class="d-none d-md-block">**** **** ****</span>
                                    <span class="ml-1">1234</span>
                                </div>
                                
                            </div>
                            <div class="col-2 bl text-center">
                                <i class="fas fa-times text-danger hand"></i>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="muevo-item-action">
                            Cristian Rojas
                            <div class="actions">
                                <hr>
                                <i class="fas fa-times text-danger"></i>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="input-group muevo-input-search" >
                            <input type="search" class="form-control"  placeholder="BUSCAR..">
                            <div class="input-group-append muevoFondoComboDashboard">
                                <span class="input-group-text muevoPreComboDashboard" id="basic-addon1">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="btn-muevo-action-mini" ngbTooltip="Exportar" placement="top">
                            <i class="fas fa-download gray"></i>
                        </button>
                    </div>

                    <div>
                        <button type="button" class="btn-muevo-action-danger">Eliminar</button>
                    </div>

                    <div>
                        <button type="button" class="btn-muevo-action-muevo">Aceptar</button>
                    </div>

                    <div>
                        <button class="btn-muevo-action-default">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>