<div class="row">
  <div class="col-12">
    <span class="muevo-titulo-pagina" style="color: #000000;font-size: 22px;">Mis Invitaciones</span>
  </div>
  <div class="col-12">&nbsp;</div>
  <div class="col-lg-9 col-12">
    <span class="muevo-subtitulo-pagina">Recuerda a tus conductores descargar la App Muevo y registrarse. Cada invitacion
      tiene una vigencia de 72 horas.</span>
  </div>
</div>
<br>
<div class="row muevoNoMargin" *ngIf="!isMobile">
  <div class="col-12 muevoNoPadding">
    <div class="alert muevoDetalleGastosTitulo mb-2">
      <div class="row">
        <div class="col-2 mt-2">
          <span>NOMBRE</span>
        </div>
        <div class="col-2 mt-2">
          <span>APELLIDO</span>
        </div>
        <div class="col-2 mt-2">
          <span>Nº TELÉFONO</span>
        </div>
        <div class="col-2 mt-2">
          <span>ROL</span>
        </div>
        <div class="col-2 mt-2">
          <span>ESTADO</span>
        </div>
        <div class="col-2 mt-2">
          <span>VIGENTE HASTA</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br *ngIf="!isMobile">
<div *ngFor="let invitado of invitados">
  <div class="row muevoNoMargin" *ngIf="!isMobile">
    <div class="alert col-12 muevoDetalleGastosUnitario mb-2">
      <div class="row">
        <div class="col-lg-2 col-6">
          <span style="text-transform: capitalize">{{invitado.invitacionValidaciones.invitacionNombre}}</span>
        </div>
        <div class="col-lg-2 col-6">
          <span style="text-transform: capitalize">{{invitado.invitacionValidaciones.invitacionApellido}}</span>
        </div>
        <div class="col-lg-2 col-6">
          <span>+{{invitado.invitacionTelefonoInvitadoId}}</span>
        </div>
        <div class="col-lg-2 col-6">
          <span>{{getRolText(invitado.invitacionRolId)}}</span>
        </div>
        <div class="col-lg-2 col-12">
          <span>{{invitado.invitacionEstadoInvitado}}</span>
        </div>
        <div class="col-lg-2 col-12">
          <div class="row">
            <div class="col-10">
              <span>{{invitado.invitacionFechaCaducidad}}</span>
            </div>
            <div class="col-2" placement="left" [ngbPopover]="popContent" popoverClass="muevoMenuElementDashboardCon">
              <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vh;height: 20px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #popContent>
    <div class="row">
      <div class="col-12">
        <!-- <div class="alert muevoDivElementDashboard" (click)="asignarGrupo(conductor.idConductor)">
          <span class="muevoDivElementDashboard">Asignar Grupo</span>
        </div> -->
        <div class="alert muevoDivElementDashboard" (click)="reenviarInvitacion(invitado.invitacionId,1)">
          <span>Reenviar</span>
        </div>
        <div class="alert muevoDivElementDashboard" role="alert" (click)="cancelarInvitacion(invitado.invitacionId,0)">
          <span>Cancelar</span>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="row muevoNoMargin" *ngIf="isMobile">
    <div class="col-12 muevoDetalleGastosUnitario mb-2" placement="bottom" [ngbPopover]="popContent"
      popoverClass="muevoMenuElementDashboardConMin">
      <div class="row bold">
        <div class="col-6 mt-2">
          <span>{{invitado.invitacionEstadoInvitado}}</span>
        </div>
        <div class="col-6 mt-2">
          <span>{{invitado.invitacionFechaCaducidad}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col mt-2">
          <span style="text-transform: capitalize;">{{invitado.invitacionValidaciones.invitacionNombre}}
            {{invitado.invitacionValidaciones.invitacionApellido}}</span>
          <br>
          <span>Teléfono : +{{invitado.invitacionTelefonoInvitadoId}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          Invitado como : {{invitado.invitacionRol}}
        </div>
      </div>
    </div>
  </div>
</div>
