<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a closeSidebar class="btn float-right">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>
    
    <div class="muevoBodySidebarLeft">
        <div class="row">
            <div class="col-12 muevoNoPadding">
                <span class="sidebar-title">Administrar Invitaciones</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 muevoNoPadding border-t border-b" *ngFor="let i of invitaciones">
                <div class="invitacion-sidebar">
                    <span class="text-sm bold nombre mt-1">Cuenta {{i.invitacionCuentaNombre}}</span>
                    <span class="textActive mt-1" >Invitado por {{i.invitacionUsuarioCreadorNombre}}</span>
                    <span class="text-danger bold mt-1">Caduca el {{i.invitacionFechaCaducidad}}</span>
                    <div style="display: flex;">
                        <div style="width: 50%;">&nbsp;</div>
                        <div style="width: 50%;">
                            <div class="space-around">
                                <div class="text-sm underline bold hand text-blue" (click)="aceptar(i)">Aceptar</div>
                                <div class="text-sm underline bold hand text-danger" (click)="rechazar(i)">Rechazar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>