<div class="alert alert-light text-dark" role="alert">
  <strong>1.- ¿Cuanto deseas abonar?</strong>
</div>
<hr>
<div *ngFor="let empresa of empresas">
  <div class="alert alert-light text-dark" role="alert">
    <div class="row">
      <div class="col-6">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="empresas" id="empresa_{{empresa.idEmpresa}}" value="1"
              (change)="habilita(empresa.idEmpresa)"> {{empresa.nombreEmpresa}}
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input type="text" name="txt_{{empresa.idEmpresa}}" id="txt_{{empresa.idEmpresa}}"
            class="form-control form-control-sm txtInput" [(ngModel)]="empresa.montoAbono" [disabled]="empresa.activo"
            (input)="transformAmount($event)">
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
<div class="alert alert-light text-dark" role="alert" *ngIf="_activo">
  <button type="button" class="btn btn-secondary fa-pull-right" style="border-radius: 24px"
    routerLink="/Home/AbonoResultado">Ir a WebPay</button>
</div>
