<div class="row" *ngIf="!isMobile">
  <div class="col-12">
    <div class="alert muevoDetalleGastosTitulo">
      <div class="row">
        <div class="col-3 mt-2">FECHA Y HORA EMISION</div>
        <div class="col-3 mt-2">TIPO MOVIMIENTO</div>
        <div class="col-3 mt-2">MONTO MOVIMIENTO</div>
        <div class="col-3 mt-2">SALDO FINAL</div>
      </div>
    </div>
  </div>

</div>
<div class="muevoDetalleGastosUnitario" *ngFor="let movimiento of movimientos" style="margin-bottom: 1vh;">
  <div class="row muevoNoMargin" *ngIf="!isMobile">
    <div class="col-12">&nbsp;</div>
    <div class="col-3"><span>{{movimiento.movimientoFechaCreacionString}}</span></div>
    <div class="col-3"><span>{{movimiento.tipoMovimientoNombre}}</span></div>
    <div class="col-3"><span>${{movimiento.movimientoMontoString}}</span></div>
    <div class="col-3"><span>${{movimiento.movimientoSaldoFinalString}}</span></div>
    <div class="col-12">&nbsp;</div>
  </div>
  <div class="row muevoNoMargin" *ngIf="isMobile">
    <div class="col-12 mt-2">
      <p>{{movimiento.movimientoFechaCreacionString}}</p>
    </div>
    <div class="col-6">Movimiento : </div>
    <div class="col-6">
      <span class="bold">{{movimiento.tipoMovimientoNombre}}</span>
    </div>
    <div class="col-6">Monto : </div>
    <div class="col-6">
      <span>${{movimiento.movimientoMontoString}}</span>
    </div>
    <div class="col-6">Saldo : </div>
    <div class="col-6 mb-2">
      <span>${{movimiento.movimientoSaldoFinalString}}</span>
    </div>
  </div>
</div>
