
@import './../../../assets/css/colors.scss';

.header-fixed{
    position: fixed;
    z-index: 5;
    width: 100%;
}

.notify-badge{
    position: relative;
    right:-28px;
    top:-13px;
}









.sidebar-content{
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer-wrapper{
    clear: both;
    position: relative;
    margin-top: auto;
}

.backdropSidebar{
    background-color: #383838 !important;
    opacity: .75 !important;
}

.icon-help{
    background-color: #9e9e9e;
    border-radius: 12px;
    height: 1.3em;
    width: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .9em;
    cursor: pointer;

}


