<div class="row muevoNoMargin">
    <ng-sidebar-container style="height: 100vh;width: 100vw" tabindex="-1">
        <!-- <ng-container *ngTemplateOutlet="sidebarLeft"></ng-container> -->

        <!-- SIDEBAR LEFT -->
        <ng-sidebar #sideBarMenu *ngIf="sidebar.enabled" [animate]="sidebar.animated" [(opened)]="sidebar.opened"
            [position]="sidebar.position" [closeOnClickOutside]="sidebar.closeOnClickOutside"
            sidebarClass="generalSidebarRight3" [mode]="sidebar.mode" [dock]="true"
            [dockedSize]="device.xs ? '0px' : '0px'">
            <app-menu-side-bar [isOpened]="false" [isMobile]="device.xs || device.sm"></app-menu-side-bar>
        </ng-sidebar>


        <!-- CONFIGURACION FACTURACION -->
        <ng-sidebar #sideBarConfiguracionFacturacion *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="_configuracionFacturacion.open" position="right" [closeOnClickOutside]="false"
            sidebarClass="sidebar-right" showBackdrop="true">
            <div class="sidebar-right-body">
                <div class="row muevoTopSidebarLeft">
                    <div class="col-12">
                        <a closeSidebar class="btn float-right">
                            <i class="fas fa-times fa-2x"></i>
                        </a>
                    </div>
                </div>

                <div class="muevoBodySidebarLeft">
                    <div class="row">
                        <div class="col-12 muevoNoPadding">
                            <span class="sidebar-title">Registrar información de facturación</span>
                        </div>
                    </div>

                    <form #configuracionFacturacionForm="ngForm" autocomplete="off">
                        <div class="row mt-4">
                            <div class="col-12">
                                <label for="inputEmpresa">Rut Empresa <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputEmpresa" name="empresa"
                                    [(ngModel)]="_configuracionFacturacion.data.dteRut" #rutEmpresaState="ngModel"
                                    validateRut formatRut placeholder="81.313.181-1" maxlength="9" [required]="true"
                                    validationBorder>
                                <app-display-error-field [control]="configuracionFacturacionForm.controls['empresa']"
                                    [displayError]="_showControlError(configuracionFacturacionForm.controls['empresa'])"
                                    displayName="Rut Empresa"></app-display-error-field>
                            </div>

                            <div class="col-12">
                                <label for="inputEmpresa" style="display: flex">Número de serie RUT contribuyente <span
                                        class="text-danger">*</span>
                                    <div class="icon-help ml-2" triggers="click:hover"
                                        [ngbTooltip]="'En tu e-RUT encontrarás el número de serie de tu empresa. Si quieres obtener tu e-RUT, ingresa a la página del SII de tu empresa y busca la opción  Solicitar e-RUT.'"
                                        placement="top">?</div>
                                </label>
                                <input type="text" class="form-control" id="inputNserie" name="nserie"
                                    [(ngModel)]="_configuracionFacturacion.data.dteNumeroSerie"
                                    (keydown)="onlyNumber($event)" #nserieState="ngModel" placeholder="" maxlength="20"
                                    [required]="true" validationBorder>
                                <app-display-error-field [control]="configuracionFacturacionForm.controls['nserie']"
                                    [displayError]="_showControlError(configuracionFacturacionForm.controls['nserie'])"
                                    displayName="Número de serie RUT contribuyente"></app-display-error-field>
                            </div>

                            <div class="col-12">
                                <label for="txtAlias">Nombre Fantasía <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="alias" id="txtAlias"
                                    [(ngModel)]="_configuracionFacturacion.data.dteNombreFantasia" #aliasState="ngModel"
                                    placeholder="Ejemplo 1" [required]="true" maxlength="50"
                                    (keydown)="validaMaxInputText($event)" validationBorder>
                                <app-display-error-field [control]="configuracionFacturacionForm.controls['alias']"
                                    [displayError]="_showControlError(configuracionFacturacionForm.controls['alias'])"
                                    displayName="Nombre Fantasía"></app-display-error-field>
                            </div>

                            <div class="col-12">
                                <label for="inputRazon">Razón Social <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputRazon" name="razon"
                                    [(ngModel)]="_configuracionFacturacion.data.dteRazonSocial" #razonState="ngModel"
                                    placeholder="razón social" [required]="true" maxlength="100"
                                    (keydown)="validaMaxInputText($event)" validationBorder>
                                <app-display-error-field [control]="configuracionFacturacionForm.controls['razon']"
                                    [displayError]="_showControlError(configuracionFacturacionForm.controls['razon'])"
                                    displayName="Razón Social"></app-display-error-field>
                            </div>


                            <div class="col-12">
                                <label for="inputDireccion">Dirección <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputDireccion" name="direccion"
                                    [(ngModel)]="_configuracionFacturacion.data.dteDireccion" #direccionState="ngModel"
                                    placeholder="Calle falsa 123" [required]="true" maxlength="100"
                                    (keydown)="validaMaxInputText($event)" validationBorder>
                                <app-display-error-field [control]="configuracionFacturacionForm.controls['direccion']"
                                    [displayError]="_showControlError(configuracionFacturacionForm.controls['direccion'])"
                                    displayName="Dirección"></app-display-error-field>
                            </div>
                            <div class="col-12">
                                <label for="inputActividades">Actividades económicas <span
                                        class="text-danger">*</span></label>
                                <select class="form-control muevo-select" name="actividades" id="inputActividades"
                                    [(ngModel)]="_configuracionFacturacion.data.dteActividadEconomica"
                                    #actividadesState="ngModel" [required]="true" validationBorder>
                                    <option [ngValue]="null">Selecciona actividad</option>
                                    <option value="{{a.codigo}}"
                                        *ngFor="let a of _configuracionFacturacion.actividades">
                                        {{a.descripcion}}
                                    </option>
                                </select>
                                <app-display-error-field
                                    [control]="configuracionFacturacionForm.controls['actividades']"
                                    [displayError]="_showControlError(configuracionFacturacionForm.controls['actividades'])"
                                    displayName="Actividades Económicas"></app-display-error-field>
                            </div>

                            <div class="col-12">
                                <label for="inputDistrito">Comuna <span class="text-danger">*</span></label>
                                <select class="form-control muevo-select" name="distritos" id="inputDistrito"
                                    [(ngModel)]="_configuracionFacturacion.data.dteDistrito" #distritosState="ngModel"
                                    [required]="true" validationBorder>
                                    <option [ngValue]="null">Selecciona comuna</option>
                                    <option value="{{a.codigo}}"
                                        *ngFor="let a of _configuracionFacturacion.distritos | orderBy: 'descripcion'">
                                        {{a.descripcion}}
                                    </option>
                                </select>
                                <app-display-error-field [control]="configuracionFacturacionForm.controls['distritos']"
                                    [displayError]="_showControlError(configuracionFacturacionForm.controls['distritos'])"
                                    displayName="Actividades Económicas"></app-display-error-field>
                            </div>

                            <div class="col-12">
                                <hr>
                            </div>

                            <div class="col-12">
                                <label for="inputPeriodo">Periodo de Facturación <span
                                        class="text-danger">*</span></label>
                                <select class="form-control muevo-select" name="periodo" id="inputPeriodo"
                                    [(ngModel)]="_configuracionFacturacion.data.dtePeriodoFacturacion"
                                    #periodoState="ngModel" [required]="true" validationBorder>
                                    <option [ngValue]="null">Selecciona Periodo</option>
                                    <option [ngValue]="p.periodoFacturacionId"
                                        *ngFor="let p of _configuracionFacturacion.periodos">
                                        {{p.periodoFacturacionNombre}}
                                    </option>
                                </select>
                                <app-display-error-field [control]="configuracionFacturacionForm.controls['periodo']"
                                    [displayError]="_showControlError(configuracionFacturacionForm.controls['periodo'])"
                                    displayName="Periodo de Facturación"></app-display-error-field>
                            </div>

                            <div class="col-12">
                                <label for="inputEmail">Correo Electrónico (Donde recibirás tus documentos) <span
                                        class="text-danger" *ngIf="emailState.errors?.required">*</span></label>
                                <input type="email" class="form-control" id="inputEmail" name="email"
                                    [(ngModel)]="_configuracionFacturacion.data.dteEmail" #emailState="ngModel"
                                    placeholder="mi@correo.cl" [required]="true" maxlength="100"
                                    [pattern]="_pattern_FormatoMAil"
                                    (keydown)="_TypeMail($event)">
                                <!-- pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" -->
                                <app-display-error-field [control]="configuracionFacturacionForm.controls['email']"
                                    [displayError]="_showControlError(configuracionFacturacionForm.controls['email'])"
                                    displayName="Correo Electrónico"></app-display-error-field>
                            </div>

                            <div class="col-12">
                                <label for="inputEmitir">Emitir <span class="text-danger">*</span></label>
                                <select class="form-control muevo-select" name="emitir" id="inputEmitir"
                                    [(ngModel)]="_configuracionFacturacion.data.dteRestringeEleccion"
                                    #emitirState="ngModel" [required]="true" validationBorder>
                                    <option [ngValue]="null">Selecciona el tipo de emision</option>
                                    <option [ngValue]="e.codigo"
                                        *ngFor="let e of [{ codigo: 'si', name: 'Solo guías de despacho'}, {codigo: 'no', name: 'Boletas y guías de despacho'} ]">
                                        {{e.name}}
                                    </option>
                                </select>
                                <app-display-error-field [control]="configuracionFacturacionForm.controls['emitir']"
                                    [displayError]="_showControlError(configuracionFacturacionForm.controls['emitir'])"
                                    displayName="Emitir"></app-display-error-field>
                            </div>

                            <div class="col-12 mt-2">
                                <div class="form-check form-check-inline ">
                                    <input class="form-check-input" name="chkLeido" id="chkLeido" type="checkbox"
                                        [(ngModel)]="_configuracionFacturacion.declarationSuccess" value="1"
                                        style="height: 3em;width: 3.5em;">
                                    <span class="text-xs">Declaro que la información ingresada es verídica y que la
                                        empresa es contribuyente de IVA bajo la actividad indicada.</span>
                                </div>
                            </div>

                            <div class="col-12 mt-2 text-center">
                                <button class="btn-muevo-action-muevo"
                                    [disabled]="!configuracionFacturacionForm.valid || !_configuracionFacturacion.declarationSuccess || !_validaMaxInputMail(_configuracionFacturacion.data.dteEmail)"
                                    (click)="guardarDatosFacturacion()">Guardar Configuración</button>
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </ng-sidebar>


        <!-- INVITACIONES -->
        <ng-sidebar #sideBarInvitaciones *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.invitacionesOpen" position="right" sidebarClass="sidebar-right"
            [closeOnClickOutside]="false" showBackdrop="true">
            <app-muevo-invitaciones-conductores></app-muevo-invitaciones-conductores>
        </ng-sidebar>

        <!-- INVITACIONES EMPRESAS -->
        <ng-sidebar #sideBarInvitacionesEmpresas *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="_configuracionInvitacionesEmpresas.open" position="right" sidebarClass="sidebar-right"
            showBackdrop="true">
            <!-- <app-cuentas-invitaciones [invitaciones]="_configuracionInvitacionesEmpresas.invitaciones" (onFinish)="closeAllFlowSidebars(sideBarInvitacionesEmpresas)"></app-cuentas-invitaciones> -->
        </ng-sidebar>

        <!-- CREAR NUEVA CUENTA -->
        <ng-sidebar #sideBarCrearCuenta *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.cuentaCrearOpen" position="right" sidebarClass="sidebar-right" showBackdrop="true">
            <app-cuentas-crear (onFinish)="closeAllFlowSidebars(sideBarCrearCuenta)"></app-cuentas-crear>
        </ng-sidebar>

        <!-- DETALLE CUENTA -->
        <ng-sidebar #sideBarDetalleCuenta *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.cuentaDetalleOpen" position="right" sidebarClass="sidebar-right" showBackdrop="true">
            <app-cuenta-detalle></app-cuenta-detalle>
        </ng-sidebar>

        <!-- COMPRA DETALLE -->
        <ng-sidebar #sideBarComprasDetalle *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.compraDetalleOpen" position="right" sidebarClass="sidebar-right" showBackdrop="true">
            <app-compras-detalle></app-compras-detalle>
        </ng-sidebar>

        <!-- FACTURA DETALLE -->
        <ng-sidebar #sideBarFacturasDetalle *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="_configuracionFacturasDetalle.open" position="right" sidebarClass="sidebar-right"
            [closeOnClickOutside]="false" showBackdrop="true">
            <app-facturas-detalle></app-facturas-detalle>
        </ng-sidebar>

        <!-- CONDUCTOR DETALLE -->
        <ng-sidebar #sideBarConductores *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.conductorDetalleOpen" position="right" sidebarClass="sidebar-right"
            showBackdrop="true">
            <app-conductor-detalle></app-conductor-detalle>
        </ng-sidebar>

        <!-- RESTRICCIONES CONDUCTOR DIAS,HORARIOS -->
        <ng-sidebar #sideBarRestriccionesConductor *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.conductorRestriccionesDHOpen" position="right" sidebarClass="sidebar-right"
            showBackdrop="true">
            <app-restricciones-dias-horarios></app-restricciones-dias-horarios>
        </ng-sidebar>

        <ng-sidebar #sideBarConductorAjusteDiarioMensual *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.conductorAjusteDiarioMensualOpen" position="right" sidebarClass="sidebar-right"
            showBackdrop="true">
            <app-conductor-ajustes-combustible></app-conductor-ajustes-combustible>
        </ng-sidebar>


        <!-- VEHICULOS ASIGNADOS -->
        <ng-sidebar #sideBarVehiculosAsignados *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.vehiculosAsignadosOpen" position="right" sidebarClass="sidebar-right"
            showBackdrop="true">
            <app-vehiculos-asignados></app-vehiculos-asignados>
        </ng-sidebar>

        <!-- ASIGNACION VEHICULOS -->
        <ng-sidebar #sideBarVehiculosAsignacion *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="_asignacionVehiculos.open" position="right" sidebarClass="sidebar-right" showBackdrop="true">
            <app-vehiculos-asignacion></app-vehiculos-asignacion>
        </ng-sidebar>

        <!-- CREAR VEHICULO -->
        <ng-sidebar #sideBarVehiculoCrear *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.vehiculoCrearOpen" position="right" sidebarClass="sidebar-right" showBackdrop="true">
            <app-vehiculo-crear-modal></app-vehiculo-crear-modal>
        </ng-sidebar>

        <!-- DETALLE VEHICULO -->
        <ng-sidebar #sideBarVehiculoDetalle *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.vehiculoDetalleOpen" position="right" sidebarClass="sidebar-right" showBackdrop="true">
            <app-vehiculo-detalle></app-vehiculo-detalle>
        </ng-sidebar>

        <!-- FLUJO ABONO -->
        <ng-sidebar #sideBarAbonoSeleccionMedio *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.seleccionMedioOpen" position="right" sidebarClass="sidebar-right"
            [closeOnClickOutside]="false" showBackdrop="true">
            <app-seleccion-medio></app-seleccion-medio>
        </ng-sidebar>

        <ng-sidebar #sideBarAbonoCuentasBancarias *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.cuentasBancariasOpen" position="right" sidebarClass="sidebar-right"
            [closeOnClickOutside]="false" showBackdrop="true">
            <app-cuentas-bancarias></app-cuentas-bancarias>
        </ng-sidebar>

        <ng-sidebar #sideBarAbonoTarjeta *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.tarjetasRegistradasOpen" position="right" sidebarClass="sidebar-right"
            [closeOnClickOutside]="false" showBackdrop="true">
            <app-tarjeta-abono></app-tarjeta-abono>
        </ng-sidebar>


        <!-- CUENTA CORRIENTE NUEVA -->
        <ng-sidebar #sideBarCuentaCorriente *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.cuentaCorriente" position="right" sidebarClass="sidebar-right"
            [closeOnClickOutside]="false" showBackdrop="true">

            <div class="sidebar-right-body">

                <div class="row muevoTopSidebarLeft">
                    <div class="col-12">
                        <a closeSidebar class="btn float-right">
                            <i class="fas fa-times fa-2x"></i>
                        </a>
                    </div>
                </div>

                <div class="muevoBodySidebarLeft">
                    <div class="row">
                        <div class="col-10 muevoNoPadding">
                            <span class="sidebar-title">Inscribir cuenta bancaria</span>
                        </div>
                        <div class="col-12">
                            <span class="text-sm">Registra la cuenta bancaria que usarás para transferir dinero a tu
                                Billetera Muevo
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="row mt-2">

                        <div class="col-12 ">
                            <label for="cuentaCorriente_banco" class="input-label">Banco</label>
                            <div class="input-group input-group-sidebar" id="dv_cuentaCorriente_banco">
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Banco</span>
                                </div> -->
                                <select name="cuentaCorriente_banco" id="cuentaCorriente_banco"
                                    class="form-control muevo-select muevoSidebarInput" [(ngModel)]="ctacte.banco"
                                    (ngModelChange)="activaBtnGuardar()">
                                    <option value="" selected>Seleccione Banco</option>
                                    <option *ngFor="let banco of bancos" value="{{banco.bancoId}}">{{banco.bancoNombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12" id="dv_cuentaCorriente_banco_" style="display:none;">
                            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
                            <span style="color: #eb5f5f;"> Debe Seleccionar un Banco</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <label for="cuentaCorriente_tipoCuenta" class="input-label">Tipo Cuenta</label>
                            <div class="input-group input-group-sidebar" id="dv_cuentaCorriente_tipoCuenta">
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Tipo Cuenta</span>
                                </div> -->
                                <select name="dv_cuentaCorriente_tipoCuenta" id="cuentaCorriente_tipoCuenta"
                                    class="form-control muevo-select muevoSidebarInput" [(ngModel)]="ctacte.tipoCuenta"
                                    (ngModelChange)="activaBtnGuardar()">
                                    <option value="" selected>Seleccione Tipo de Cuenta</option>
                                    <option *ngFor="let tc of tiposCuentaBancaria" value="{{tc.tipoCuentaBancariaId}}">
                                        {{tc.tipoCuentaBancariaNombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12" id="dv_cuentaCorriente_tipoCuenta_" style="display:none;">
                            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
                            <span style="color: #eb5f5f;"> Debe Seleccionar un Tipo de Cuenta</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <label for="cuentaCorriente_nroCuenta" class="input-label">Número de Cuenta</label>
                            <div class="input-group input-group-sidebar" id="dv_cuentaCorriente_nroCuenta">
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Numero Cuenta</span>
                                </div> -->
                                <input type="text" class="form-control muevoSidebarInput"
                                    name="cuentaCorriente_nroCuenta" pattern="[0-9]*" id="cuentaCorriente_nroCuenta"
                                    [(ngModel)]="ctacte.nroCuenta" maxlength="50" placeholder=""
                                    (keydown)="onlyNumber($event)" (ngModelChange)="activaBtnGuardar()">
                            </div>
                        </div>
                        <div id="dv_cuentaCorriente_nroCuenta_" class="col-12" style="display:none;">
                            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
                            <span style="color: #eb5f5f;"> Debe ingresar un número de cuenta</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <label for="cuentaCorriente_rut" class="input-label">RUT Titular</label>
                            <div class="input-group input-group-sidebar" id="dv_cuentaCorriente_rut">
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">RUT Titular</span>
                                </div> -->
                                <input type="text" class="form-control muevoSidebarInput" name="cuentaCorriente_rut"
                                    id="cuentaCorriente_rut" [(ngModel)]="ctacte.rut" placeholder="" rut
                                    autocomplete="off" formatRut maxlength="9"
                                    (change)="validaMaxInputRut($event);activaBtnGuardar()">
                            </div>
                        </div>
                        <div id="dv_cuentaCorriente_rut_" class="col-12" style="display:none;">
                            <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
                            <span style="color: #eb5f5f;"> Debe ingresar un Rut válido</span>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 text-center">
                            <button class="btn-muevo-action-muevo" [disabled]="btnGuardarSidebar"
                                (click)="accionCuentaCorriente()">Asociar Nueva Cuenta Bancaria</button>
                        </div>
                    </div>

                </div>

                <div class="row muevoNoMargin muevoBottomSidebarLeft">
                    <div class="col-12 muevoNoPadding">&nbsp;</div>
                </div>
            </div>
        </ng-sidebar>

        <ng-sidebar #sideBarAbonoInfoBancarias *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.cuentasBancariasInfoBancariaOpen" position="right" sidebarClass="sidebar-right"
            [closeOnClickOutside]="false" showBackdrop="true">
            <app-info-bancaria></app-info-bancaria>
        </ng-sidebar>

        <ng-sidebar #sideBarTarjetaAbonoAbonar *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="sidebars.tarjetasAbonarOpen" position="right" sidebarClass="sidebar-right"
            [closeOnClickOutside]="false" showBackdrop="true">
            <app-tarjeta-abono-abonar></app-tarjeta-abono-abonar>
        </ng-sidebar>

        <ng-sidebar tabindex="-1" #sideBarAjusteGastos *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="_diarioMensual" position="right" sidebarClass="sidebar-right" [closeOnClickOutside]="false"
            showBackdrop="true">
            <div class="sidebar-right-body">
                <div class="row muevoTopSidebarLeft">
                    <div class="col-12 muevoNoPadding">
                        <a closeSidebar class="btn float-right">
                            <i class="fas fa-times fa-2x"></i>
                        </a>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12">
                        <span class="sidebar-title">
                            Ajustar Presupuesto
                        </span>
                    </div>

                    <div class="col-12 sidebar-scroll-1x">
                        <div *ngFor="let item of _ajusteDiarioMensual.selecteds">
                            <div class="muevo-item-action" [@fadeOutToRight]="item.dropped_adjustments">
                                <span>{{item.nombreConductor}} {{item.apellidosConductor}}</span>
                                <div class="options" (click)="eliminaConductorAjustes(item)">
                                    <i class="fas fa-times text-danger" style="font-size: 1.4em"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- DIARIO -->
                        <div class="col-12">
                            <span class="sidebar-subtitle-black">Asignar un límite de gastos Diario a los conductores
                                seleccionados:</span>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="input-group input-group-sidebar mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="text" class="form-control no-border-l"
                                    [(ngModel)]="_ajusteDiarioMensual.limiteDiarioCombustible"
                                    (keydown)="validaInput($event)" knifeOnlyNumbers placeholder="0"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!-- MENSUAL -->
                        <div class="col-12">
                            <span class="sidebar-subtitle-black">Asignar un límite de gastos Mensual a los conductores
                                seleccionados:</span>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="input-group input-group-sidebar mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="text" class="form-control no-border-l"
                                    [(ngModel)]="_ajusteDiarioMensual.limiteMensualCombustible"
                                    (keydown)="validaInput($event)" knifeOnlyNumbers placeholder="0"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn-muevo-action-muevo" (click)="saveAjustesPresupuesto()"
                                [disabled]="_ajusteDiarioMensual.selecteds.length <= 0">Aplicar</button>
                        </div>
                    </div>

                </div>
            </div>
        </ng-sidebar>

        <!-- INCOMPLETE -->
        <ng-sidebar tabindex="-1" #sideBarEstaciones *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="_estaciones" position="right" sidebarClass="sidebar-right" [closeOnClickOutside]="true">
            <div class="sidebar-right-body">
                <div class="row muevoNoMargin muevoTopSidebarLeft">
                    <div class="col-12 muevoNoPadding">
                        <a closeSidebar class="btn float-right">
                            <i class="fas fa-times fa-2x"></i>
                        </a>
                    </div>
                </div>

                <div class="muevoBodySidebarLeft">
                    <div class="row">
                        <div class="col-12">
                            <span class="sidebar-title">Estaciones bloqueadas</span>
                        </div>
                        <div class="col-12">
                            <span class="sidebar-subtitle-black">Busca la estación que deseas bloquear</span>
                        </div>
                    </div>
                    <br>
                    <div class="row muevoNoMargin">
                        <div class="col-12 muevoNoPadding">
                            <div class="alert muevo-widget-button muevoNoMargin" role="alert">
                                <select class="form-control muevoSidebarInput" name="" id="">
                                    <option selected>Estaciones Bloqueadas</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 muevoNoPadding">
                            <div class="alert muevo-widget-button muevoNoMargin" role="alert">
                                <select class="form-control muevo-select muevoSidebarInput" name="" id="">
                                    <option selected>Seleccione una Region</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 muevoNoPadding">
                            <div class="alert muevo-widget-button muevoNoMargin" role="alert">
                                <select class="form-control muevo-select muevoSidebarInput" name="" id="">
                                    <option selected>Seleccione una Comuna</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row muevoNoMargin">
                        <div class="col-12 mb-4">
                            <span class="sidebar-subtitle-black">Busca la estación que deseas bloquear</span>
                        </div>
                        <div class="col-12 muevoNoPadding">
                            <div class="alert muevo-widget-button" role="alert">
                                <div class="row muevoNoMargin">
                                    <div class="col-10 muevoNoPadding">
                                        <span style="color: #FFFFFF;font-size: 14px;letter-spacing: 2px;">Direccion
                                            1</span>
                                        <br>
                                        <span
                                            style="opacity: 0.5;color: #FFFFFF;font-size: 10px;letter-spacing: 0.91px;">93:$855
                                            | 95: $887 |
                                            97: $918 | Diesel: $694
                                        </span>
                                    </div>
                                    <div class="col-2 muevoNoPadding">
                                        <ui-switch size='small' class="muevo-switch float-right" [(ngModel)]="_activo1">
                                        </ui-switch>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="alert muevo-widget-button muevoNoPadding" role="alert">
                                <div class="row muevoNoMargin">
                                    <div class="col-10 muevoNoPadding">
                                        <span style="color: #FFFFFF;font-size: 14px;letter-spacing: 2px;">Direccion
                                            1</span>
                                        <br>
                                        <span
                                            style="opacity: 0.5;color: #FFFFFF;font-size: 10px;letter-spacing: 0.91px;">93:$855
                                            | 95: $887 |
                                            97: $918 | Diesel: $694
                                        </span>
                                        <br>
                                        <span
                                            style="opacity: 0.5;color: #FFFFFF;font-size: 10px;letter-spacing: 0.91px;">93:$855
                                            | 95: $887 |
                                            97: $918 | Diesel: $694
                                        </span>
                                    </div>
                                    <div class="col-2 muevoNoPadding">
                                        <ui-switch size='small' class="muevo-switch float-right" [(ngModel)]="_activo2">
                                        </ui-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row muevoNoMargin">
                        <div class="col-12 text-center">
                            <button class="btn-muevo-action-muevo">Guardar Cambios</button>
                        </div>
                    </div>
                    <br>
                    <div class="row muevoNoMargin">
                        <div class="col-12 muevoNoPadding text-center">&nbsp;</div>
                    </div>
                </div>

            </div>

        </ng-sidebar>


        <ng-sidebar tabindex="-1" #sideBarSeleccionTarjeta *ngIf="sidebar.enabled" [animate]="sidebar.animated"
            [(opened)]="_seleccionTarjeta.opened" position="right" sidebarClass="sidebar-right" showBackdrop="true">
            <div class="sidebar-right-body">
                <div class="row muevoTopSidebarLeft">
                    <div class="col-12">
                        <a closeSidebar class="btn float-right" (click)="closeSidebarSeleccionTarjeta()">
                            <i class="fas fa-times fa-2x"></i>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <span class="sidebar-title">Tarjetas Registradas</span>
                    </div>
                    <div class="col-12 mt-2 mb-3">
                        <span class="text-sm">Seleccione una tarjeta de débito o crédito</span>
                    </div>
                </div>


                <div class="fit sidebar-scroll-1x">
                    <div class="row muevoNoMargin btn-muevo-tarjeta-seleccion-switch2 mb-2"
                        *ngFor="let t of _seleccionTarjeta.tarjetas" style="margin-bottom: .4em !important;">
                        <div class="col-2 br text-center">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="selection" type="radio" value="true"
                                        (click)="_seleccionTarjeta.seleccionada = t" />
                                </label>
                            </div>
                        </div>
                        <div class="col-10 space-between">
                            <img alt="" class="float-left" src="./assets/img/{{t.tipoTarjetaCredito.toUpperCase() }}-logo.png"
                                style="height: 2.5em;">
                            <div class="flex-end">
                                <span class="d-none d-md-block">****</span>
                                <span class="ml-1">{{t.ultimos4Digitos}}</span>
                            </div>
                        </div>
                        <!-- <div class="col-2 bl text-center">
                            <i class="fas fa-times text-danger hand"></i>
                        </div> -->
                    </div>
                </div>





                <!-- <div class="row mt-3">
                    <div class="col-12 space-between">
                        <span>¿Necesitas utilizar otra tarjeta?</span>
                        <button class="btn-muevo-default-icon" (click)="nvaTarjeta()">Agregar
                            Tarjeta 
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div> -->

                <div class="row mt-4">
                    <div class="col-12">
                        <div class="alert muevo-widget-button muevoNoMargin space-between" role="alert"
                            (click)="nvaTarjeta()">
                            <span class="bold">Agregar nueva tarjeta</span>

                            <span style="color:#6D6D6D">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn-muevo-action-muevo" [disabled]="_seleccionTarjeta.seleccionada == null"
                            (click)="seleccionaTarjeta()">Seleccionar Tarjeta</button>
                    </div>
                </div>

            </div>
        </ng-sidebar>
        <!--
        <ng-sidebar tabindex="-1" #sidebarPerfil [animate]="sidebar.animated" [opened]="false" position="right"
            sidebarClass="sidebar-right" showBackdrop="true">
            <app-editar-perfil [sideBarMuevo]="sidebarPerfil" ></app-editar-perfil>
        </ng-sidebar> -->

        <!-- BODY -->
        <div ng-sidebar-content class="sidebar-content">
            <div class="header-fixed-anulated">
                <ng-container *ngTemplateOutlet="header"></ng-container>
            </div>

            <div>
                <ng-container *ngTemplateOutlet="content"></ng-container>
            </div>

            <div class="footer-wrapper">
                <ng-container *ngTemplateOutlet="footer"></ng-container>
            </div>


        </div>

    </ng-sidebar-container>
</div>

<!-- CAMBIO CUENTA -->
<ng-template #popActividades>
    <span>
        Actividades
    </span>
</ng-template>

<!-- CAMBIO CUENTA -->
<ng-template #popCambioCuentas>
    <div class="row">
        <div class="col-12">
            <span class="muevoSpanElementDashboard2">Cambiar mi cuenta</span>
        </div>
        <div class="col-12" *ngFor="let cuenta of empresas">
            <div class="alert muevoDivElementDashboard" (click)="changeEmpresa(cuenta.cuentaId)"
                style="vertical-align: middle;">
                <div class="row">
                    <div class="col-12">
                        <span class="muevoSpanElementDashboard"
                            [ngClass]="{'bold': cuenta.cuentaDefault}">{{cuenta.cuentaNombre}}
                        </span>
                        <img *ngIf="cuenta.cuentaDefault" src="./assets/img/iconExito.png" alt="select"
                            class="float-right mt-1" style="height: 1.5vh;">
                    </div>
                    <div class="col-12">
                        <span class="muevoSpanSubElementDashboard">
                            {{getRolText(cuenta.rolId)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hrSidebar" *ngIf="_invitaciones">
    <div class="row" *ngIf="_invitaciones">
        <div class="col-12">
            <span class="muevoSpanElementDashboard2">Mis Cuentas</span>
        </div>
        <div class="col-12" *ngFor="let invitacion of invitaciones">
            <div class="alert muevoDivElementDashboard" (click)="goToInvitacion(invitacion.invitacionId)">
                <span class="muevoSpanElementDashboard">{{invitacion.invitacionNombreCuenta}}</span>
            </div>
        </div>
    </div>
</ng-template>

<!-- HEADER -->
<ng-template #header>
    <div class="header space-between">
        <div>
            <div class="logo d-block d-md-none" (click)="sidebar.opened = !sidebar.opened">
                <img src="./assets/css/cromo-blue/logo_muevo_pos.png" />
            </div>
        </div>
        <div>
            <div class="flex-end">
                <!-- <div class="header-icon-item flex-center">
                            <div aria-haspopup="true" aria-expanded="false" class="column float-right p-1" routerLink='/HomeMuevo/dev' style="align-items: center;">
                                <div class="color-title text-xxs">UI</div>
                            </div>
                        </div>
                        <div class="vl-header"></div> -->

                <!-- <div class="header-icon-item flex-center">
                            <div aria-haspopup="true" aria-expanded="false" class="column float-right p-1" (click)="verInvitacionesConductores()" style="align-items: center;">
                                <img src="./assets/css/cromo-blue/bell_notifications.png" />
                                <div class="color-title text-xxs mt-1">Invitaciones</div>
                            </div>
                            <div class="space-between" style="margin-left: 10px">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>-->

                <!-- <div class="header-icon-item flex-center">
                            <div aria-haspopup="true" aria-expanded="false" class="column float-right" routerLink='/HomeMuevo/dev' style=" align-items: center;">
                                
                                <div class="text-xs text-blue">UI</div>
                            </div>
                        </div>
                        <div class="vl-header"></div>  -->


                <div class="header-icon-item flex-center" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="column float-right" style="align-items: left;">
                        <!-- <img src="./assets/css/cromo-blue/usuario.png" /> -->
                        <div class="text-xs text-blue bold">{{cuentaSeleccionada.cuentaNombre}}</div>
                        <div class="text-xxs text-blue">{{cuentaSeleccionada.rolNombre}}</div>
                    </div>
                    <div class="space-between" style="margin-left: 10px">
                        <i class="fas fa-angle-down"></i>
                    </div>

                    <div class="dropdown-menu mat-elevation-z2">
                        <div class="sidebar-info">
                            <div class="text-xxs">Tus cuentas:</div>
                        </div>
                        <div class="sidebar-scroll-1x">

                            <a class="dropdown-item text-xs" *ngFor="let empresa of empresas"
                                style="padding: 0px; min-width: 230px;" (click)="changeEmpresa(empresa.cuentaId)">
                                <div class="row muevoNoMargin display-accounts pt-2 pb-2"
                                    (click)="cambiarCuenta(empresa)">

                                    <div class="col-1 muevoNoPadding flex-center">

                                    </div>
                                    <div class="col-9 muevoNoPadding">
                                        <div class="column">
                                            <span class="text-xs bold text-blue">{{empresa.cuentaNombre}}</span>
                                            <span class="text-xxs">{{empresa.rolNombre}}</span>
                                        </div>
                                    </div>
                                    <div class="col-2 muevoNoPadding flex-center">
                                        <div class="status-ok" *ngIf="cuentaSeleccionada.cuentaId === empresa.cuentaId">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="flex-center">
                                <div class="btn-muevo-default flex-center bold" routerLink="/HomeMuevo/Cuentas">
                                    Empresas e invitaciones
                                </div>
                            </a>


                            <!--  <div class="flex-center">
                                <div class="btn-muevo-default flex-center bold" (click)="cerrarSesion()">
                                    Cerrar Sesión
                                </div>
                                 <a class="btn-muevo-default" style="justify-content: center;max-width: 150px;" >Cerrar Sesion</a> 
                            </div> -->
                        </div>

                    </div>
                </div>
                <div class="vl-header"></div>
                <div class="header-icon-item flex-center">


                    <div aria-haspopup="true" aria-expanded="false" class="column float-right" matBadge="1"
                        matBadgeSize="small" matBadgeColor="warn" [matBadgeHidden]="!variablesApi.home.menu.tieneInvitaciones"
                        (click)="levantarModalPerfil()" style=" align-items: center;">
                        <!-- <img src="./assets/css/cromo-blue/usuario.png" /> -->
                        <img class="usr" src="./assets/css/cromo-blue/avatar@2x.png" />
                    </div>
                </div>
                <div class="vl-header"></div>
                <div class="header-icon-item flex-center">
                    <div aria-haspopup="true" aria-expanded="false" class="column float-right" matBadge="1"
                        matBadgeSize="small" matBadgeColor="warn" [matBadgeHidden]="!variablesApi.home.menu.tieneNotificiones"
                        (click)="levantarModalNotificaciones()" 
                         style=" align-items: center;">
                        <!-- <img src="./assets/css/cromo-blue/usuario.png" /> -->

                        <img class="usr" src="./assets/css/cromo-blue/bell.png" />

                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<!-- FOOTER -->
<ng-template #footer>
    <div>
        <div class="row muevoNoMargin footer pr-2 pl-2 pt-1 pb-1" *ngIf="ui.showBigFooter && !isMobile">
            <div class="col-sm-4 column">
                <img src="./assets/img/muevo.empresas.blanco.png" alt="Logo Muevo" style="max-width: 250px;"
                    class="img-responsive">
                <!-- <span>Isidora Goyenechea 2915, Las Condes, Santiago.</span>
                        <span>Copec en Linea 800 200 354</span> -->
            </div>
            <div class="col-sm-4 column">
                <span class="mb-1 mt-2 title">Dudas e Informacion</span>
                <span class="mb-1 hand">
                    <a class="footer-lnk" href="https://muevoempresas.cl/preguntas-frecuentes/" target="_blank">FAQ</a>
                </span>
                <!-- <span class="mb-1">Escanear</span>
                        <span class="mb-1">Control de gastos</span>
                        <span class="mb-1"><a href="https://www.muevocopec.cl/estaciones/" target="_blank">Mapa de estaciones</a></span> -->
            </div>
            <div class="col-sm-4 column">
                <span class="mb-1 mt-2 title">Edificio Corporativo COPEC</span>
                <span>Isidora Goyenechea 2915, Las Condes, Santiago.</span>

                <span class="mb-1 mt-3 title">COPEC en Línea</span>
                <span>Copec en Linea 800 200 354</span>

            </div>
        </div>
        <div class="copyright p-3">
            Copyright {{currentYear}} Compañía de Petróleos de Chile S.A. Todos los derechos reservados
        </div>
    </div>

</ng-template>

<ng-template #content>
    <div class="content pt-1">

        <div class="row muevoNoMargin" *ngIf="_isConfiguracion" style="margin-top: 2vh;margin-bottom: 6vh;">
            <div class="col muevoNoPadding">
                <button type="button" class="btn-muevo-action-default float-right"
                    style="border-radius: 15px;color: #24328C;" routerLink="/HomeMuevo/Dashboard">Volver a mi cuenta
                </button>
            </div>
        </div>

        <!-- NAVEGACION -->
        <div class="row" *ngIf="muestraBreadcrumbs">
            <div class="col">
                <div class="routeNav">
                    <div>
                        <ol class="breadcrumb arr-right muevoNoPadding mt-2 mb-2">
                            <li class="breadcrumb-item {{item.class}}" *ngFor="let item of breadCrumbs">
                                <ng-container *ngIf="item.url!==''; else elseTemplate">
                                    <a class="muevo-breadcrumbs-text" routerLink="{{item.url}}"
                                        *ngIf="item.title!='Inicio'">{{item.title}}</a>
                                    <a class="muevo-breadcrumbs-text pointer" (click)="navegaDashboard()"
                                        *ngIf="item.title=='Inicio'">{{item.title}}</a>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <a class="muevo-breadcrumbs-text bold">{{item.title}}</a>
                                </ng-template>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>


        <div class="row muevoNoMargin layout-container">
            <div class="col-12 muevoNoPadding">
                <router-outlet></router-outlet>
            </div>
        </div>
        <br>


        <!-- <div class="row muevoNoMargin" *ngIf="!esDashboard">
                <div class="col-lg-4 col offset-lg-8 mt-4">
                    <a class="btnTransparente float-right muevoLinkDashboard" (click)="navegaDashboard()">Volver al Inicio
                    </a>
                </div>
            </div>
            <br> -->

        <!-- <div class="row muevoNoMargin" style="margin-top: 4vh;margin-bottom: 6vh;margin-left: 0%;margin-right: 0%">
                <div class="col-12">
                    <span class="float-right" style="color: #111111;font-size: 14px;">Mesa de ayuda &nbsp;
                        <span class="bold">600 200 0202</span>
                    </span>
                </div>
            </div> -->
    </div>
</ng-template>