<div class="row muevoNoMargin">
  <div class="col-lg-3 col-12 muevoBackgroundResumen0 muevoNoPadding">
    <div class="row muevoNoPadding mt-2 mr-1 ml-1">
      <div class="muevoNoPadding col-11 offset-1">
        <span class="bold muevoFontTituloComponente">&nbsp;</span>
      </div>
    </div>
    <br>
    <br>
    <div class="row muevoNoPadding mr-1 ml-1">
      <div class="muevoNoPadding col text-center">
        <button type="button" class="btn muevoBackgroundBtnTerciario" routerLink="/HomeMuevo/MisMetodosPago">Configurar
          tus Formas de Pago</button>
      </div>
    </div>
    <br>
    <div class="row muevoNoPadding mr-1 ml-1">
      <div class="muevoNoPadding col-10 offset-1">
        <span>&nbsp;</span>
      </div>
    </div>
    <br>
    <div class="row muevoNoPadding muevoBottom">
      <div class="muevoNoPadding col-11">
        <!-- <a class="float-right muevoLinkResumen">Saber mas ></a> -->
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-12 muevoBackgroundResumen4 muevoNoPadding">
    <div class="row muevoNoPadding mt-2 mr-1 ml-1">
      <div class="muevoNoPadding col-10 offset-1">
        <span class="bold muevoFontTituloComponente">Tu gasto mensual acumulado</span>
      </div>
    </div>
    <br>
    <div class="row muevoNoPadding mr-1 ml-1">
      <div class="muevoNoPadding col-12 text-center">
        <span class="bold" style="font-size: 34px;">${{montoTotalMes}} </span>
      </div>
    </div>
    <div class="row muevoNoPadding mr-1 ml-1">
      <div class="muevoNoPadding col-12 text-center">
        <!-- <span>+1% respecto al mes anterior</span> -->
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row muevoNoPadding muevoBottom">
      <div class="muevoNoPadding col-11">
        <a class="float-right muevoLinkResumen" routerLink="/HomeMuevo/MisTransacciones">Ver
          transacciones ></a>
      </div>
    </div>
  </div>
</div>
