<div class="modal-muevo">
    <div class="modal-header" style="border-bottom: none;">
        <div class="col-12 text-center">
            <span class="modal-title muevo-modal-title" id="modalAceptarCancelar">{{modal.title}} </span>
        </div>
    </div>
    
    <div class="modal-body">
        <div class="col-12 tal column">
            <span class="text-xs mt-1git sta" style="min-height: 1em;" *ngFor="let item of modal.messages">{{item}}</span>
        </div>
    </div>
    
    <div class="modal-footer">
        <div class="col-6 text-center">
            <button class="btn-muevo-action-default text-danger bold" (click)="response('Cancelar')" *ngIf="useCancel">{{modal.cancelText || 'Cancelar'}}</button>
        </div>
        <div class="col-6 text-center" (click)="response('Aceptar')" >
            <button class="btn-muevo-action-muevo bold" (click)="response('Aceptar')" style="color: #fff;">{{modal.okText || 'Aceptar'}}</button>
        </div>
    </div>
    
</div>

