<div class="form-group containerIngreso">
  <br>
  <div class="row muevoNoMargin">
    <div class="col-lg-9 col muevoNoPadding">
      <span style="color: #5C5C5C;font-size: 16px;" class="float-right mt-2 bold">¿Aún no tienes una
        cuenta?</span>
    </div>
    <div class="col muevoNoPadding">
      <button type="button" class="btn-muevo-action-default btnSupLogin float-right" (click)="nvaCuenta()">Crear
        cuenta</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row muevoNoMargin mt-4">
    <div class="col muevoNoPadding">
      <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">RECUPERA TU CUENTA</span>
    </div>
  </div>
  <div class="row muevoNoMargin" *ngIf="recuperaCorreo">
    <div class="col muevoNoPadding">
      <span class="bold" style="color: #000000;font-size: 24px;">Ingresa el código que hemos enviado
        al mail {{usuario.mail}}.</span>
    </div>
  </div>
  <div class="row muevoNoMargin" *ngIf="recuperaRut">
    <div class="col muevoNoPadding" *ngIf="solicitaRut">
      <span class="bold" style="color: #000000;font-size: 24px;">Para validar que eres tú, indícanos el RUT que
        registraste en tu cuenta.</span>
    </div>
  </div>
  <div class="row muevoNoMargin" *ngIf="!solicitaRut">
    <div class="col muevoNoPadding">
      <span class="bold" style="color: #000000;font-size: 24px;">Ingresa el código que hemos enviado a
        tu télefono.</span>
    </div>
  </div>
  <br>
  <div *ngIf="recuperaCorreo">
    <div class="row muevoNoMargin">
      <div class="col-lg-6 col-12 muevoNoPadding">
        <div class="row muevoNoMargin" *ngIf="!_validado">
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo1" id="inputValidaCodigo1"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo1"
              (input)="validaMaxInputCorreo($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo2" id="inputValidaCodigo2"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo2"
              (input)="validaMaxInputCorreo($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo3" id="inputValidaCodigo3"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo3"
              (input)="validaMaxInputCorreo($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
        </div>
        <div class="row muevoNoMargin" *ngIf="_validado">
          <div class="col muevoNoPadding">
            <span style="color: #19A320;letter-spacing: 0.91px;"><img src="./assets/img/exitoIngreso.png" alt=""
                style="height: 12px;"> ¡El código ingresado es correcto!</span>
          </div>
        </div>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <span id="inputValidaCodigo3_" style="color: #EB5F5F;display:none;"><img src="./assets/img/errorIngreso.png"
                alt="" style="height: 12px;"> {{errorCorreo}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <p style="opacity: 0.9;color: #424242;font-size: 14px;">¿No recibiste el código?</p>
          </div>
        </div>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <a (click)="solicitarRecuperaMail()" class="btnTransparente muevoLinkDashboard">Solicitar nuevo
              código</a>
          </div>
        </div>
        <br>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <a (click)="muestraRut()" class="btnTransparente muevoLinkDashboard">No tengo acceso a
              mi mail</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row muevoNoMargin" *ngIf="!_btnSiguiente">
      <div class="col-12 muevoNoPadding">
        <span class="bold" style="color: #000000;font-size: 24px;">Crea tu nuevo PIN de 4 dígitos</span>
      </div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-lg-6 col-12 muevoNoPadding">
        <div class="input-group inputTextLogin" id="dvIngresoContrasena">
          <input type="text" name="inputIngresoContrasena" id="inputIngresoContrasena" class="form-control"
            [(ngModel)]="inputIngresoContrasena" style="border: none;border-radius: 15px 0 0 15px;" pattern="[0-9]*"
            placeholder="Ingresa tu clave de 4 dígitos" [ngClass]="{'pass': pass}" (input)="validaMaxInput($event)"
            maxlength="4" autocomplete="off" (change)="appMatchContrasena()">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2" (click)="cambiaVisiblePass()"
              style="border: none;border-radius: 0 15px 15px 0;background: none"><i class="far fa-eye"></i></span>
          </div>
        </div>
      </div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-lg-6 col-12 muevoNoPadding">
        <input type="text" name="inputRepiteContrasena" id="inputRepiteContrasena" class="form-control inputTextLogin"
          [(ngModel)]="inputRepiteContrasena" placeholder="Repite la contraseña" [ngClass]="{'pass': passR}"
          pattern="[0-9]*" (input)="validaMaxInput($event)" maxlength="4" autocomplete="off"
          (keydown.enter)="ingresoContrasenaPost()" (change)="appMatchContrasena()">
      </div>
      <div class="col-12 muevoNoPadding" *ngIf="passCorrecta">
        <img src="./assets/img/exitoIngreso.png" alt="" class="muevoImagenMensaje">
        <span style="color: #19A320;letter-spacing: 0.91px;"> ¡El PIN coincide!</span>
      </div>
      <div id="dvIngresoContrasena_" class="col-12 muevoNoPadding" style="display:none;">
        <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
        <span style="color: #EB5F5F;"> {{errorPass}}</span>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row muevoNoMargin">
      <div class="col-lg-6 col muevoNoPadding">
        <button type="button" class="btn btnAccionLogin" [disabled]="!passCorrecta" *ngIf="!_btnSiguiente"
          (click)="ingresoContrasenaPost()">Cambiar Pin</button>
      </div>
    </div>
  </div>

  <div *ngIf="recuperaRut">
    <div class="row muevoNoMargin" *ngIf="solicitaRut">
      <div class="col-lg-6 col-12 muevoNoPadding" style="padding-bottom: 1vh">
        <input type="text" class="form-control inputTextLogin" name="inputRut" id="inputRut"
          placeholder="Ingresa tu RUT" [disabled]="!_btnSiguiente" [(ngModel)]="inputRut" autocomplete="off" formatRut
          maxlength="9" (input)="validaMaxInputRut($event)">
        <div class="row muevoNoMargin">
          <div class="col-12">
            <span id="inputRut_" style="color: #EB5F5F;display:none;"><img src="./assets/img/errorIngreso.png" alt=""
                style="height: 12px;">{{errorRut}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-lg-6 col-12 muevoNoPadding">
        <button type="button" class="btn btnAccionLogin" [disabled]="btnSolicitarRut"
          (click)="recuperarByRut()">Validar</button>
      </div>
    </div>
    <div class="row muevoNoMargin" *ngIf="!solicitaRut">
      <div class="col-lg-6 col-12 muevoNoPadding">
        <div class="row muevoNoMargin" *ngIf="!_validado">
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo1" id="inputValidaCodigo1"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo1"
              (input)="validaMaxInputCorreo($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo2" id="inputValidaCodigo2"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo2"
              (input)="validaMaxInputCorreo($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
          <div class="col muevoNoPadding">
            <input type="text" name="inputValidaCodigo3" id="inputValidaCodigo3"
              class="form-control inputConfirmar text-center" [(ngModel)]="inputValidaCodigo3"
              (input)="validaMaxInputCorreo($event)" maxlength="2" autocomplete="off" [disabled]="_validado">
          </div>
        </div>
        <div class="row muevoNoMargin" *ngIf="_validado">
          <div class="col muevoNoPadding">
            <span style="color: #19A320;letter-spacing: 0.91px;"><img src="./assets/img/exitoIngreso.png" alt=""
                style="height: 12px;"> ¡El código ingresado es correcto!</span>
          </div>
        </div>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <span id="inputValidaCodigo3_" style="color: #EB5F5F;display:none;"><img src="./assets/img/errorIngreso.png"
                alt="" style="height: 12px;"> {{errorCorreo}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <p style="opacity: 0.9;color: #424242;font-size: 14px;">¿No recibiste el código?</p>
          </div>
        </div>
        <div class="row muevoNoMargin">
          <div class="col muevoNoPadding">
            <a (click)="solicitarRecuperaSMS()" class="btnTransparente muevoLinkDashboard">Solicitar nuevo
              código</a>
          </div>
        </div>
        <!-- <br>
        <div class="row muevoNoMargin">
          <div class="col-12">
            <a (click)="solicitarRecuperaLlamada()" class="btnTransparente muevoLinkDashboard">Recibir
              Llamada</a>
          </div>
        </div> -->
      </div>
    </div>
    <br>
    <br>
    <div class="row muevoNoMargin" *ngIf="!_btnSiguiente">
      <div class="col-12 muevoNoPadding">
        <span class="bold" style="color: #000000;font-size: 24px;">Crea tu nuevo PIN de 4 dígitos</span>
      </div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-lg-6 col-12 muevoNoPadding">
        <div class="input-group inputTextLogin" id="dvIngresoContrasena">
          <input type="text" name="inputIngresoContrasena" id="inputIngresoContrasena" class="form-control"
            [(ngModel)]="inputIngresoContrasena" style="border: none;border-radius: 15px 0 0 15px;" pattern="[0-9]*"
            placeholder="Ingresa tu clave de 4 dígitos" [ngClass]="{'pass': pass}" (input)="validaMaxInput($event)"
            maxlength="4" autocomplete="off" (change)="appMatchContrasena()">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2" (click)="cambiaVisiblePass()"
              style="border: none;border-radius: 0 15px 15px 0;background: none"><i class="far fa-eye"></i></span>
          </div>
        </div>
      </div>
      <div class="col-12 muevoNoPadding">&nbsp;</div>
      <div class="col-lg-6 col-12 muevoNoPadding">
        <input type="text" name="inputRepiteContrasena" id="inputRepiteContrasena" class="form-control inputTextLogin"
          [(ngModel)]="inputRepiteContrasena" placeholder="Repite la contraseña" [ngClass]="{'pass': passR}"
          pattern="[0-9]*" (input)="validaMaxInput($event)" maxlength="4" autocomplete="off"
          (keydown.enter)="ingresoContrasenaPost()" (change)="appMatchContrasena()">
      </div>
      <div class="col-12 muevoNoPadding" *ngIf="passCorrecta">
        <img src="./assets/img/exitoIngreso.png" alt="" class="muevoImagenMensaje">
        <span style="color: #19A320;letter-spacing: 0.91px;"> ¡El PIN coincide!</span>
      </div>
      <div id="dvIngresoContrasena_" class="col-12 muevoNoPadding" style="display:none;">
        <img src="./assets/img/errorIngreso.png" alt="" class="muevoImagenMensaje">
        <span style="color: #EB5F5F;"> {{errorPass}}</span>
      </div>
    </div>
    <!-- <div class="row muevoNoMargin" *ngIf="!_btnSiguiente">
        <div class="col-6">
          <button type="button" class="btnTransparente float-right muevoLinkDashboard" (click)="initSession()">ir a iniciar Sesion</button>
        </div>
      </div> -->
    <br>
    <br>
    <br>
    <div class="row muevoNoMargin" *ngIf="!solicitaRut">
      <div class="col-lg-6 col muevoNoPadding">
        <button type="button" class="btn btnAccionLogin" [disabled]="!passCorrecta" *ngIf="!_btnSiguiente"
          (click)="ingresoContrasenaPost()">Cambiar PIN</button>
      </div>
    </div>
  </div>
</div>
