<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="closeThis()"
    [titulo]="detalleUsuario.usuarioNombre + ' '+  detalleUsuario.usuarioApellido "
    [subtitulo]="formatearRut(detalleUsuario.usuarioRut)"></top-sidebar-right>

  <div class="row mt-4">

    <div class="col-12">
      <div class="sidebar-info">
        <div class="title">Estado:</div>
        <div class="value">

          <div class="flex-end">
            <span class="mr-3">{{ detalleUsuario.estado ? "Activo" : "Inactivo" }}</span>
            <ui-switch class="muevo-switch" size='small' [disabled]="bloquearEditar()"
              [(ngModel)]="detalleUsuario.estado " (change)="desactivarUsuarioAdmin()">
            </ui-switch>
          </div>

        </div>
      </div>
      <div class="sidebar-info">
        <div class="title">Teléfono:</div>
        <div class="value">+{{detalleUsuario.usuarioTelefonoId}}</div>
      </div>
      <div class="sidebar-info">
        <div class="title">Email:</div>
        <div class="value">
          {{detalleUsuario.usuarioEmail}}
        </div>
      </div>
      <div class="sidebar-info">
        <div class="title">Fecha creación:</div>
        <div class="value">
          {{convertDateToISOString(detalleUsuario.usuarioCuentaFechaCreacion) | date: 'yyyy-MM-dd'}}
        </div>
      </div>

    </div>
    <div class="col-12 mt-4">
      <form #mainForm="ngForm" autocomplete="off">

        <select class="form-control muevo-select" name="tipo" id="inputTipo" [(ngModel)]="detalleUsuario.rolId"
          #tipoState="ngModel" [required]="true" validationBorder [disabled]="bloquearEditar()">
          <option value="{{rl.rolId}}" *ngFor="let rl of roles">
            {{rl.rolNombre}}
          </option>
        </select>
        <app-display-error-field [control]="mainForm.controls['tipo']"
          [displayError]="_showControlError(mainForm.controls['tipo'])" displayName="Tipo de administrador">
        </app-display-error-field>

        <view-previlegios [roles]="variablesApi.home.maestros.roles" [rolId]="detalleUsuario.rolId"></view-previlegios>


        <div class="row mt-4" *ngIf="!bloquearEditar()">
          <div class="col-12 text-center">
            <button type="button" class="btn-muevo-action-muevo"
              [disabled]="!mainForm.valid || (mainForm.form.pristine && (!estadoTouch))" (click)="guardarUSuario()">
              Guardar Cambios
            </button>
          </div>


        </div>
        <div class="row muevoNoMargin" *ngIf="!bloquearEditar()">
          <div class="col-12 text-center">
            <button class="btn-muevo-action-danger" (click)="eliminarUsuario()">
              Eliminar
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>

</div>