<div class="modal-header">
  <h4 class="modal-title" id="modalNvaEmpresa-title">Nueva Empresa</h4>
  <button type="button" class="close" aria-label="Close" (click)="response('Salir')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <h4>Maximiliano Urrutia</h4>
      <h5>Ingresa los datos de la empresa que de deseas agregar</h5>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <span><strong>Nombre de la Cuenta</strong></span>
        </div>
        <div class="col-6">
          <input type="text" name="nvaEmpresaCuenta" id="nvaEmpresaCuenta" class="form-control"
            [(ngModel)]="nvaEmpresaCuenta" placeholder="Nombre Cuenta">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6"><span><strong>Rut de la empresa</strong></span></div>
        <div class="col-6"><input type="text" name="nvaEmpresaRut" id="nvaEmpresaRut" class="form-control"
            [(ngModel)]="nvaEmpresaRut" placeholder="XX.XXX.XXX-X"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-6"><span><strong>Nombre de fantasía</strong></span></div>
        <div class="col-6"><input type="text" name="nvaEmpresaNombreFantasia" id="nvaEmpresaNombreFantasia"
            [(ngModel)]="nvaEmpresaNombreFantasia" class="form-control" placeholder="Nombre Fantasía"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-6"><span><strong>Giro Comercial</strong></span></div>
        <div class="col-6"><input type="text" name="nvaEmpresaGiroComercial" id="nvaEmpresaGiroComercial"
            [(ngModel)]="nvaEmpresaGiroComercial" class="form-control" placeholder="Giro Comercial"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-6"><span><strong>Nombre o Razón social</strong></span></div>
        <div class="col-6"><input type="text" name="nvaEmpresaRazonSocial" id="nvaEmpresaRazonSocial"
            [(ngModel)]="nvaEmpresaRazonSocial" class="form-control" placeholder="Razón Social"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-6"><span><strong>Dirección</strong></span></div>
        <div class="col-6"><input type="text" name="nvaEmpresaDireccion" id="nvaEmpresaDireccion"
            [(ngModel)]="nvaEmpresaDireccion" class="form-control" placeholder="Dirección"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-6"><span><strong>Comuna</strong></span></div>
        <div class="col-6"><input type="text" name="nvaEmpresaComuna" id="nvaEmpresaComuna" class="form-control"
            [(ngModel)]="nvaEmpresaComuna" placeholder="Comuna"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <a class="btnTransparente mt-3" (click)="response('Salir')"><strong>Cancelar y volver atrás</strong></a>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-secondary text-white" style="border-radius: 24px; width: 70%"
        (click)="response('Guardar')">Agregar Nueva
        Empresa</button>
    </div>
  </div>
</div>
