<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="modalSidebar.closeAll()" (fnClickBack)="closeThis()" titulo="Configurar notificaciones">
  </top-sidebar-right>
  <div class="row mt-4">
    <menu-editar *ngFor="let item of configuracionNotificaciones" [titulo]="item.tipoNotificacionNombre"
      [estadoSwitch]="item.tipoNotificacionEstado" (fnSwitch)="cambiarEstadoNotificacion(item)"
      [subTitulo]="item.tipoNotificacionDescripcion">
    </menu-editar>


  </div>
  <div class="col-12 mt-4">
    <button class="btn-muevo-action-default float-right"
      (click)="desactivarAllNotificaciones()">
     Desactivar todas las notificaciones
    </button>
  </div>
</div>