<div class="row">
  <div class="alert alert-secondarycol-12" role="alert" style="margin-bottom: 1%;">
    <strong>Solicitudes de permisos excepcionales </strong>
  </div>
</div>
<div class="row">
  <div class="form-group" style="height: 400px; overflow:scroll;">
    <div class="col-12" style="padding: 0%;" *ngFor="let solicitud of solicitudes">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span>{{solicitud.tiempo}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <span>{{solicitud.nombreConductor}}</span>
            </div>
            <div class="col-4">
              <span>{{solicitud.patente}}</span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <span style="border-bottom: 1px solid #000000">{{solicitud.accion}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
