<div class="form-group contenedorIngreso">
  <div class="row">
    <div class="col-12">
      <div class="col-1 mt-3">
        <a (click)="atras()">
          <i class="fas fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="contenidoIngresocol-12">
      <div class="col-12 text-center">
        <i class="far fa-address-card fa-3x"></i>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <h5>Necesitamos tus datos</h5>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="col-12">
        <div class="col-8 offset-2">
          <input type="text" name="inputRut" id="inputRut" class="form-control" placeholder="Rut" [(ngModel)]="inputRut"
            formatRut (change)="validaMaxInput($event)" maxlength="10">
        </div>
        <br>
        <div class="col-8 offset-2">
          <div class="input-group">
            <input type="text" name="inputCdDocumento" id="inputCdDocumento" class="form-control"
              placeholder="Codigo Documento" [(ngModel)]="inputCdDocumento">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-dark" (click)="ingresoMostrarNroSerie()">
                <i class="fas fa-question-circle"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-12 mt-1 text-center">
        <button type="button" class="btn btnTransparentecol-5" (click)="noPuedoAcceder()">No puedo
          acceder
          a mi
          Cuenta</button>
        <button type="button" class="btn btnTransparentecol-5" (click)="modificaTelefono()">Modificar
          mi
          teléfono</button>
      </div>
      <br>
      <div class="col-12 text-center mt-1">
        <button type="button" class="btn btnSiguientePaso" (click)="ingresoRutIdRecuperacion()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
