<div class="row muevoNoMargin">
    <div class="col-12 muevoNoPadding">
        <span class="muevo-titulo-pagina">Configurar formas de pago</span>
    </div>

    <div class="col-12 muevoNoPadding mb-2">
        <span class="muevo-subtitulo-pagina">
            Todos las formas de pagos activas estarán disponibles para tus conductores y para tí
        </span>
    </div>
</div>

<!-- MOBILE -->
<div class="row muevoNoMargin mt-2 d-block d-sm-none">
    <div class="col-12 muevoNoPadding text-center">
        <button type="button" class="btn btn-tab-horizontal no-border-r text-overflow"
            [ngClass]="{'active': ui.selection == 'billetera'}" (click)="ui.selection = 'billetera'">Billetera</button>

        <button type="button" class="btn btn-tab-horizontal no-border-l no-border-r text-overflow"
            (click)="ui.selection = 'tarjetas'" [ngClass]="{'active': ui.selection == 'tarjetas'}">Tarjeta
            registrada</button>

        <button type="button" class="btn btn-tab-horizontal no-border-l text-overflow"
            (click)="ui.selection = 'atendedor'" [ngClass]="{'active': ui.selection == 'atendedor'}">Pago al
            atendedor</button>
    </div>
</div>

<div class="row muevoNoPadding mt-4 mb-5">

    <div class="col-12 col-sm-4 col-md-5 col-lg-4 muevoNoMargin d-none d-sm-block br">
        <div class="col-12 muevoNoPadding mb-2">
            <span class="text-md">Pago con Aplicación</span>
        </div>

        <div class="col-12 muevoNoPadding mb-2">
            <div class="muevo-tab" (click)="ui.selection = 'billetera'"
                [ngClass]="{'active': ui.selection == 'billetera'}">

                <div class="column">
                    Billetera
                    <span class="desc text-xs d-none d-md-block">Pagarás con el saldo de tu billetera</span>
                </div>
                <i class="fas fa-angle-right fa-2x"></i>
            </div>
        </div>

        <div class="col-12 muevoNoPadding mb-2">
            <div class="muevo-tab" (click)="ui.selection = 'tarjetas'"
                [ngClass]="{'active': ui.selection == 'tarjetas'}">
                <div class="column">
                    Tarjeta de débito o crédito registrada
                    <span class="desc text-xs d-none d-md-block">Pagarás con tu tarjeta seleccionada</span>
                </div>

                <i class="fas fa-angle-right fa-2x"></i>
            </div>
        </div>

        <div class="col-12 muevoNoPadding mb-2">
            <span class="text-md">Pago sin Aplicación</span>
        </div>

        <div class="col-12 muevoNoPadding mb-2">
            <div class="muevo-tab" (click)="ui.selection = 'atendedor'"
                [ngClass]="{'active': ui.selection == 'atendedor'}">
                <div class="column">
                    Directo al atendedor
                    <span class="desc text-xs d-none d-md-block">Pagarás en la Estación con efectivo o tarjeta</span>
                </div>
                <i class="fas fa-angle-right fa-2x"></i>
            </div>
        </div>

    </div>

    <div class="col-12 col-sm-8 col-md-7 col-lg-8 border-l">
        <div class="col-12 muevoNoPadding mb-2">
            <h6 *ngIf="ui.selection == 'billetera'">Billetera</h6>
            <h6 *ngIf="ui.selection == 'tarjetas'">Pago con tarjeta bancaria registrada</h6>
            <h6 *ngIf="ui.selection == 'atendedor'">Pago al Atendedor</h6>
        </div>

        <!-- BILLETERA -->
        <div class="row muevoNoPadding" *ngIf="ui.selection == 'billetera'">
            <div class="col-12 mb-2">
                <div class="form-info">
                    <span>Permitir que los conductores compren combustible con cargo a mi billetera.</span>
                    <ui-switch size="small" class="muevo-switch float-right"
                        [disabled]="variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar!=2"
                        [(ngModel)]="_billetera" (change)="modificarSaldo()">
                    </ui-switch>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-7 mt-3">

                <div class="amount">
                    <div class="flex-start fit">
                        <h6 class="text-sm">Monto total disponible</h6>
                    </div>
                    <div class="flex-start">
                        <span class="text-lg">$</span><span class="text-lg bold">{{saldo?.saldoFinal || 0 | number:
                            '1.0-0'}}</span>
                    </div>

                    <div class="space-between fit">
                        <div class="fit flex-center mt-2 mr-1"  *ngIf="variablesApi.home.rolPrivilegiosFront.formasDePago.abonarYretirar==1" >
                            <button type="button" class="btn-muevo-primary"
                                (click)="openAbonoSeleccion()">Abonar</button>
                        </div>

                        <div class="fit flex-center mt-2 mr-1">
                            <button type="button" class="btn-muevo-default"
                                routerLink="/HomeMuevo/MisMetodosPagoMovimientos" style="border: 1px solid #25338c;">Ver
                                movimientos</button>
                        </div>
                        <div class="fit flex-center mt-2" *ngIf="variablesApi.home.rolPrivilegiosFront.formasDePago.abonarYretirar==1" >
                            <button type="button" class="btn-muevo-default" (click)="obtenerAbonos()"
                                style="border: 1px solid #25338c;">Retirar (hasta 4 dias hábiles)</button>
                        </div>
                    </div>



                </div>

                <div class="column" style="align-items: flex-end;">
                    <div class="lnk-xxs pt-2 float-right" (click)="mostrarCuentasBancarias()">
                        {{
                        variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2?
                        'Administrar mis cuentas bancarias':'Ver cuentas bancarias'
                        }}
                        <i class="fas fa-angle-right pl-1"></i>
                    </div>
                    <div class="lnk-xxs pt-2 float-right" (click)="mostrarTarjetasBancarias()">
                        {{
                        variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2?
                        'Administrar mis tarjetas bancarias':'Ver tarjetas bancarias'
                        }}

                        <i class="fas fa-angle-right pl-1"></i>
                    </div>

                </div>

                <!--
                     <div class="lnk-xxs pt-2 float-right" (click)="mostrarCuentasBancarias()">Administrar mis cuentas
                        corrientes<i class="fas fa-angle-right pl-1"></i></div>
                    <div class="lnk-xxs pt-2 float-right" (click)="mostrarTarjetasBancarias()">Administrar mis tarjetas
                        bancarias<i class="fas fa-angle-right pl-1"></i></div>
               
                -->

            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-7 mt-3" *ngIf="false">
                <h6 class="text-sm">Abonar</h6>
                <div class="abonar">

                    <div class="col-12 muevoNoPadding" style="display: flex;">
                        <div class="col-6 btn-mini-tab left" (click)="ui.billeteraSelection = 'tarjeta'"
                            [ngClass]="{ 'active': ui.billeteraSelection == 'tarjeta' }">Desde tarjeta crédito o debito
                        </div>
                        <div class="col-6 btn-mini-tab right" (click)="ui.billeteraSelection = 'ctacte'"
                            [ngClass]="{ 'active': ui.billeteraSelection == 'ctacte' }">Desde mi cuenta corriente</div>
                    </div>

                    <!-- DETALLE TARJETA -->
                    <div *ngIf="ui.billeteraSelection == 'tarjeta'">
                        <div class="col-12 mt-3">
                            <span class="text-sm bold">Selecciona la tarjeta donde se hará el cargo</span>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="form-group select-tarjetas">
                                <img *ngIf="abonoBilletera.tarjeta && abonoBilletera.tarjeta != null"
                                    src="./assets/img/{{abonoBilletera.tarjeta?.tipoTarjetaCredito.toUpperCase()}}-logo.png"
                                    alt="logo" style="height: 2.5em;" />

                                <select class="btn-muevo-tarjeta-seleccion" name="" id=""
                                    [(ngModel)]="abonoBilletera.tarjeta">
                                    <option [value]="null">Seleccione..</option>
                                    <option *ngFor="let t of tarjetas" [ngValue]="t">
                                        **** **** **** {{t?.ultimos4Digitos}}
                                    </option>
                                </select>

                                <!-- <select class="form-control" name="" id="" [(ngModel)]="abonoBilletera.tarjeta">
                                    <option [value]="null">Seleccione..</option>
                                    <option *ngFor="let t of tarjetas" [ngValue]="t" >
                                        **** **** **** {{t.ultimos4Digitos}}
                                    </option>
                                </select> -->
                            </div>
                        </div>
                        <div class="col-12 space-between mb-2">
                            <span>¿Necesitas utilizar otra tarjeta?</span>
                            <button type="button" class="btn-muevo-default-icon" (click)="nvaTarjeta()">
                                <span>Agregar tarjeta</span>
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>

                        <div class="col-12 mt-3" *ngIf="abonoBilletera.tarjeta">
                            <span class="text-sm bold">Ingresa el monto a abonar</span>
                        </div>

                        <div class="col-12 mt-3" *ngIf="abonoBilletera.tarjeta">
                            <div class="input-group input-group-sidebar">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input type="text" class="form-control no-border-l" [(ngModel)]="abonoBilletera.monto"
                                    (input)="_validaInput($event)" knifeOnlyNumbers placeholder="0"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="col-12 mt-3 mb-3" *ngIf="abonoBilletera.tarjeta">
                            <div style="display: flex; justify-content: flex-end;">
                                <button class="btn-muevo-action-muevo" (click)="abonar()"
                                    [disabled]="!abonoBilletera.tarjeta">Abonar</button>
                            </div>
                        </div>

                    </div>

                    <!-- DETALLE CTA -->
                    <div *ngIf="ui.billeteraSelection == 'ctacte'">
                        <div class="col-12 mt-3">
                            <span class="text-sm bold">Cuentas bancarias inscritas</span>
                        </div>
                        <div class="col-12 mt-1">
                            <span>Confirma que la cuenta corriente desde donde harás la transferencia esté inscrita,
                                sino inscríbela.</span>

                        </div>

                        <!-- <div class="col-12 mt-3 mb-4 text-center" *ngIf="cuentasCorrientes.length == 0">
                            <span class="">No existen cuentas bancarias registradas</span>
                        </div> -->

                        <div class="col-12 mt-2" *ngFor="let cc of cuentasCorrientes">
                            <div class="form-group ctacte-info">
                                <span class="text-overflow text-blue text-xs">{{cc.bancoNombre}}</span>
                                <!-- <img src="./assets/img/bancos/{{cc.bancoId}}.png" alt="" style="max-height: 25px;"> -->
                                <div class="space-between">
                                    <span class="text-xs bold mr-2">{{cc.cuentaCorrienteNumero}}</span>
                                    <i class="fas fa-times fa-2x text-danger" (click)="desasociarCtaCte(cc)"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 space-between mt-3 mb-3">
                            <span>{{cuentasCorrientes.length > 0 ? '¿Quieres inscribir otra cuenta bancaria?' : 'No existen cuentas bancarias registradas'}}</span>

                            <button type="button" class="btn-muevo-default-icon" (click)="nvaCtaCte()">
                                <span>Inscribir cuenta bancaria</span>
                                <i class="fas fa-plus"></i>
                            </button>

                        </div>

                        <div class="col-12 mt-2" *ngIf="cuentasCorrientes.length > 0">
                            <span class="text-sm bold">Datos para transferencia</span>
                        </div>
                        <div class="col-12 mt-2" *ngIf="cuentasCorrientes.length > 0">
                            <span>Realiza tu transferencia a la cuenta corriente Muevo Copec</span>
                        </div>

                        <div class="col-12 mt-2 mb-3" *ngIf="cuentasCorrientes.length > 0">
                            <div class="space-between border-t p-1">
                                <div class="text-muted">Banco</div>
                                <div>Banco de crédito e Inversiones</div>
                            </div>
                            <div class="space-between border-t p-1">
                                <div class="text-muted">Tipo Cuenta</div>
                                <div>Cuenta Corriente</div>
                            </div>
                            <div class="space-between border-t p-1">
                                <div class="text-muted">Número Cuenta</div>
                                <div>10516930</div>
                            </div>
                            <div class="space-between border-t p-1">
                                <div class="text-muted">Nombre</div>
                                <div>Muevo Copec Empresas</div>
                            </div>
                            <div class="space-between border-t border-b p-1">
                                <div class="text-muted">RUT</div>
                                <div>99.520.000-7</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- TARJETAS -->
        <div class="row muevoNoPadding" *ngIf="ui.selection == 'tarjetas'">
            <div class="col-12 mb-2">
                <div class="form-info">
                    <span>Permitir que los conductores compren combustible con cargo a mi tarjeta seleccionada.</span>
                    <ui-switch size="small" class="muevo-switch float-right"
                        [disabled]="variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar!=2"
                        [(ngModel)]="_oneClick" (change)="modificarOneClick()">
                    </ui-switch>
                </div>
            </div>

            <!-- TARJETA SELECCIONADA -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 mt-3" *ngIf="tarjeta">
                <div class="container-tarjetas">
                    <h6 class="text-sm">Tarjeta Seleccionada</h6>

                    <div class="fit flex-center">
                        <div class="btn-muevo-tarjeta mt-4 mb-4">
                            <img src="./assets/img/{{tarjeta?.tipoTarjetaCredito.toUpperCase()}}-logo.png" *ngIf="tarjeta" alt=""
                                style="height: 1.5em !important">
                            <div>
                                <span class="bold float-right ml-1 text-xs">{{tarjeta?.ultimos4Digitos}}</span>
                                <span class="bold float-right text-xs">**** **** ****</span>
                            </div>
                        </div>
                    </div>


                    <!-- <button class="btn-muevo-default-icon" type="button" (click)="muestraSeleccionTarjeta()">
                        <span>Cambiar tarjeta seleccionada</span>
                        <i class="fas fa-dot-circle"></i>
                    </button> -->
                </div>
                <div class="column" style="align-items: flex-end;">
                    <div *ngIf="variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2" class="lnk-xxs pt-2 " (click)="muestraSeleccionTarjeta()">
                        Cambiar tarjeta seleccionada<i class="fas fa-angle-right pl-1"></i>
                    </div>
                    <div class="lnk-xxs pt-2 float-right" (click)="mostrarTarjetasBancarias()">
                        {{
                            variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar==2?
                            'Administrar mis tarjetas bancarias':'Ver tarjetas bancarias'
                            }}
                        <i class="fas fa-angle-right pl-1"></i></div>
                </div>
            </div>

            <!-- TARJETAS REGISTRADAS -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-3 " *ngIf="false">
                <div class="container-tarjetas">
                    <h6 class="text-sm">Tarjetas Registradas</h6>

                    <div class="col-12">
                        <div class="row btn-muevo-tarjeta-seleccion-switch2 mb-2" *ngFor="let t of tarjetas">
                            <div class="col-10 space-between">
                                <img alt="" class="float-left" src="./assets/img/{{t?.tipoTarjetaCredito.toUpperCase()}}-logo.png"
                                    style="height: 2.5em;">
                                <div class="flex-end">
                                    <span class="">****</span>
                                    <span class="ml-1">{{t.ultimos4Digitos}}</span>
                                </div>
                            </div>
                            <div class="col-2 bl text-center">
                                <i class="fas fa-times text-danger hand" (click)="eliminaTarjeta(t.idInscripcion)"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 muevoNoPadding" *ngIf="tarjetas.length == 0">
                        <h6>No existen tarjetas registradas.</h6>
                    </div>

                    <div class="col-12 muevoNoPadding space-between mt-2 mb-2">
                        <span>¿Necesitas utilizar otra tarjeta?</span>
                        <button type="button" class="btn-muevo-default-icon" (click)="nvaTarjeta()">
                            <span>Agregar tarjeta</span>
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>


                </div>

                <div class="column" style="align-items: flex-end;">
                    <div class="lnk-xxs pt-2 float-right" (click)="mostrarTarjetasBancarias()">Administrar mis tarjetas
                        bancarias<i class="fas fa-angle-right pl-1"></i></div>
                </div>

            </div>
        </div>

        <!-- ATENDEDOR -->
        <div class="row muevoNoPadding" *ngIf="ui.selection == 'atendedor'">
            <div class="col-12 mb-2">
                <div class="form-info">
                    <span>Permitir que los conductores compren combustible pagando con efectivo o tarjeta.</span>
                    <ui-switch size="small" class="muevo-switch float-right"
                        [disabled]="variablesApi.home.rolPrivilegiosFront.formasDePago.verEditar!=2"
                        [(ngModel)]="_atendedor" (change)="modificarEstacion()">
                    </ui-switch>
                </div>
            </div>
        </div>
    </div>
</div>