@import './../../../../assets/css/colors.scss';

// .button-selector{
//     width: 100%;
//     min-height: 30px;
//     background-color: $color-gray6;
//     border-radius: 8px;
//     padding: 12px;
//     font-size: 14px;
//     color: $color-gray3;
//     cursor: pointer;

//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }
// .button-selector.active{
//     border: 2px solid $color-blue1;
// }

.amount{
    background-color: white;
    color: $color-gray3;
    padding: 10px 10px 20px 10px;
    border: 1px solid $color-gray4;
    border-radius: 5px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .movimientos{
        align-self: flex-end;
        color: $color-blue2;
        cursor: pointer;
    }
}

$radius: 5px;
.abonar{
    background-color: white;
    color: $color-gray3;
    border: 1px solid $color-gray4;
    border-radius: $radius;
    width: 100%;
}

.btn-mini-tab{
    padding: 8px;
    background-color: $color-gray4;
    border-bottom: 1px solid $color-gray4;
    text-align: center;
    cursor: pointer;
    color: $color-gray3;
}
.btn-mini-tab.active{
    background-color: white;
    color: $color-black;
}
.btn-mini-tab.left{
    border-top-left-radius: $radius;
    //border-bottom-left-radius: $radius;
}

.select-tarjetas{
    display: flex;
    align-items: center;
    background-color: $color-gray4 !important;
    padding: 5px;
    border-radius: 8px;

    img{
        margin-left: 30px;
    }
    select{
        background-color: $color-gray4 !important;
        border: 1px solid $color-gray4 !important;
        //margin-left: 20% !important;
    }
}



// .tarjeta-seleccionada{
//     background-color: $color-gray4 !important;
//     min-height: 50px;
//     border-top: 4px solid $color-blue1;
//     border-radius: 10px;
//     padding: 10px 8px 10px 8px;
// }

.container-tarjetas{
    background-color: $color-white;
    padding: 10px;
    border: 1px solid $color-gray4;
}

.tarjetas-item{
    width: 100%;
    border-radius: 8px;
    background-color: $color-gray4 !important;
    min-height: 24px;
    padding: 8px;
    .fas{
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
    }
}
