<!-- Editar-PERFIL -->
<div class="sidebar-right-body" tabindex="-1">
  <top-sidebar-right (fnClick)="closeThis()" titulo="Ingresa tu nombre y apellido"></top-sidebar-right>

  <!-- INFO-HEAD -->
  <div class="row">
    <div class="col-12 mt-3 column">
      <form #mainForm="ngForm" autocomplete="off">
        <div class="row mt-4">
          <div class="col-12">
            <label for="inputPatente">Nombre <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="inputPatente" name="nombres" [(ngModel)]="current.nombre"
              #patenteState="ngModel" [required]="true" validationBorder
              maxlength="30" (keydown)="validaMaxInputText($event)"
              >
            <app-display-error-field [control]="mainForm.controls['nombres']"
              [displayError]="_showControlError(mainForm.controls['nombres'])" displayName="Nombre">
            </app-display-error-field>
          </div>

          <div class="col-12">
            <label for="inputAlias">Apellido<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="inputAlias" name="apellidos" [(ngModel)]="current.apellido"
              #aliasState="ngModel" [required]="true" validationBorder
              maxlength="30" (keydown)="validaMaxInputText($event)"
              >
            <app-display-error-field [control]="mainForm.controls['apellidos']"
              [displayError]="_showControlError(mainForm.controls['apellidos'])" displayName="Apellido">
            </app-display-error-field>
          </div>
          <div class="col-12 mt-4">
            <button class="btn-muevo-action-default float-right" [disabled]="!mainForm.valid || mainForm.form.pristine"
              (click)="save()">
              Guardar Cambios
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>