<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a class="btn float-left" (click)="backToMain()">
                <i class="fas fa-angle-left fa-2x"></i>
            </a>
            <a class="btn float-right" (click)="closeAll()">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 paint"></div>
        <div class="col-12 col-md-4 paint"></div>
    </div>


</div>