<div class="alert alert-secondary" role="alert">
  <strong>Notificaciones</strong>
</div>
<div *ngFor="let noti of notificaciones">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-4"><strong>{{noti.tituloNotificacion}}</strong></div>
            <div class="col-4">
              <p>{{noti.descripcionNotificacion}}</p>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="rbt{{noti.nombreNotificacion}}"
                        id="rbt{{noti.nombreNotificacion}}_1" value="1" [checked]="noti.estadoNotificacion">
                      Activado
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="rbt{{noti.nombreNotificacion}}"
                        id="rbt{{noti.nombreNotificacion}}_2" value="1" [checked]="!noti.estadoNotificacion">
                      Desactivado
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="notificacionesCorreo" id="notificacionesCorreo" value="1"
          checked>
        Enviar correo a nombre@correo.cl
      </label>
    </div>
    <br>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="notificacionesSMS" id="notificacionesSMS" value="1"
          checked>
        Enviar SMS a +569 12345678
      </label>
    </div>
  </div>
</div>
