<div class="row">
  <div class="col-lg-3 col-12 mb-2">
    <span class="muevo-titulo-pagina">Mis Documentos</span>
  </div>
  <div class="col-lg-3 offset-lg-1 col-12 mb-2">
    <div class="btn-group float-right" role="group" aria-label="Basic example">
      <button type="button" class="btn btnPurpleNoWidth" style="min-width: 0px !important;"
        [ngClass]="{'textActive': selTransacciones==1}" (click)="selTransacciones=1">Facturas</button>
      <button type="button" class="btn btnPurpleNoWidth" style="min-width: 0px !important;"
        [ngClass]="{'textActive': selTransacciones==2}" (click)="selTransacciones=2">Guias</button>
      <button type="button" class="btn btnPurpleNoWidth" style="min-width: 0px !important;"
        [ngClass]="{'textActive': selTransacciones==3}" (click)="selTransacciones=3" id="selBoletas">Boletas</button>
    </div>
  </div>
  <div class="col-lg-3 offset-lg-2 col-12 mb-2">
    <div class="input-group muevoFondoComboNoHeight">
      <div class="input-group-prepend muevoFondoComboNoHeight">
        <span class="input-group-text muevoFondoComboNoHeight bold" id="basic-addon1"
          style="font-size: 14px;">Ver: </span>
      </div>
      <select name="idMes" id="idMes" [(ngModel)]="idMes" class="form-control muevoFondoComboNoHeight"
        style="border: none;">
        <option value="0">Ultimos 30 Dias</option>
        <option value="{{mes.id}}" *ngFor="let mes of meses">{{mes.text}}</option>
      </select>
    </div>
  </div>
</div>
<br>
<div class="row" *ngIf="selTransacciones == 1">
  <div class="col-12">
    <app-muevo-facturas [searchMonth]="idMes"></app-muevo-facturas>
  </div>
</div>
<div class="row" *ngIf="selTransacciones == 2">
  <div class="col-12">
    <app-muevo-guias [searchMonth]="idMes"></app-muevo-guias>
  </div>
</div>
<div class="row" *ngIf="selTransacciones == 3">
  <div class="col-12">
    <app-muevo-boletas [searchMonth]="idMes"></app-muevo-boletas>
  </div>
</div>
