<div class="form-group contenedorIngreso">
  <div class="row">
    <div class="col-12">
      <div class="col-1 mt-3">
        <a (click)="atras()">
          <i class="fas fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="contenidoIngresocol-12">
      <div class="col-12 text-center">
        <i class="fas fa-mobile-alt fa-3x"></i>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <h5>Valida tu número</h5>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="input-group">
        <div class="col-2 offset-3">
          <input type="text" name="inputValidaCodigo1" id="inputValidaCodigo1" class="form-control inputConfirmar"
            [(ngModel)]="inputValidaCodigo1" (input)="validaMaxInput($event)" maxlength="2" autocomplete="off">
        </div>
        <div class="col-2">
          <input type="text" name="inputValidaCodigo2" id="inputValidaCodigo2" class="form-control inputConfirmar"
            [(ngModel)]="inputValidaCodigo2" (input)="validaMaxInput($event)" maxlength="2" autocomplete="off">
        </div>
        <div class="col-2">
          <input type="text" name="inputValidaCodigo3" id="inputValidaCodigo3" class="form-control inputConfirmar"
            [(ngModel)]="inputValidaCodigo3" (input)="validaMaxInput($event)" maxlength="2" autocomplete="off">
        </div>
        <br>
        <div class="col-12 mt-1 text-center">
          <p>¿No recibiste el código?</p>
          <button type="button" class="btn btnTransparentecol-5" (click)="reenviarSMS()">Reenviar
            SMS</button>
          <span class="col-1"> o </span>
          <button type="button" class="btn btnTransparentecol-5" (click)="recibirLlamada()">Recibir
            Llamada</button>
        </div>
      </div>
      <div class="col-12 text-center mt-1">
        <button type="button" class="btn btnSiguientePaso" (click)="ingresoCodigoSMS()">Validar</button>
      </div>
    </div>
  </div>
</div>
