<div class="alert alert-secondary" role="alert">
  <strong>Alertas</strong>
</div>
<div *ngFor="let alerta of alertas">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-4"><strong>{{alerta.tituloAlerta}}</strong></div>
            <div class="col-4">
              <p>{{alerta.descripcionAlerta}}</p>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="rbt{{alerta.nombreAlerta}}"
                        id="rbt{{alerta.nombreAlerta}}_1" value="1" [checked]="alerta.estadoAlerta">
                      Activado
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="rbt{{alerta.nombreAlerta}}"
                        id="rbt{{alerta.nombreAlerta}}_2" value="1" [checked]="!alerta.estadoAlerta">
                      Desactivado
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="AlertaCorreo" id="AlertaCorreo" value="1" checked>
        Enviar correo a nombre@correo.cl
      </label>
    </div>
    <br>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="AlertaSMS" id="AlertaSMS" value="1" checked>
        Enviar SMS a +569 12345678
      </label>
    </div>
  </div>
</div>
