<!-- TITLE -->
<div class="row mb-2">
  <div class="col-12">
    <span class="muevo-titulo-pagina" id="idCondu">Mis Vehículos</span>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-7"  >
    <button *ngIf="variablesApi.home.rolPrivilegiosFront.vehiculos.verEditar==2" class="btn-muevo-primary-icon float-left" (click)="nuevoVehiculo()">
      <span>Crear Vehículo</span> <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="col-12 col-sm-5 mb-2">
    <div class="flex-end">
      <div class="input-group muevo-input-search float-right">
        <input
          type="search"
          class="form-control"
          (keyup)="_applyFilter(dataSource, $event.target.value)"
          placeholder="Buscar.."
        />
        <div class="input-group-append muevoFondoComboDashboard">
          <span
            class="input-group-text muevoPreComboDashboard"
            id="basic-addon1"
          >
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>

      <button
        class="btn-muevo-action-mini ml-2"
        (click)="exportCsv()"
        ngbTooltip="Exportar"
        placement="top"
      >
        <i class="fas fa-download gray"></i>
      </button>
    </div>

    <!-- <div *ngIf="this.selection.selected.length > 0">
            <button class="btn btn-copec-secundary float-left" (click)="openAdjustment($event)">
                Asignar Conductores
            </button>
            
            <div class="dropdown">
                <button type="button" class="btn btn-default btn-copec-secundary btn-sm float-left dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mas Acciones
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item text-xs" (click)="maquinaModificarConductoresSeleccionados(2)">Eliminar</a>
                </div>
            </div>
        </div> -->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <!-- <div class="paint" style="display: flex;width: 100%;justify-content: center; min-width: 800px;">
                <button class="btn-muevo-primary" style="margin-top: 5em;position: absolute;">xxx</button>
            </div> -->

      <mat-table [dataSource]="dataSource" class="collapsed" matSort>
        <ng-container matColumnDef="patente">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <!-- <mat-checkbox color="primary" (change)="$event ? _masterToggle(selection, dataSource) : null" [checked]="selection.hasValue() && _isAllSelected(selection, dataSource)" [indeterminate]="selection.hasValue() && !_isAllSelected(selection, dataSource)" [aria-label]="_checkboxLabel(selection, dataSource, row)">
                        </mat-checkbox> -->
            &nbsp; PATENTE
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <!-- <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="_checkToggle(selection, row, $event)" [checked]="selection.isSelected(row)" [aria-label]="_checkboxLabel(selection, dataSource, row)">
                        </mat-checkbox> -->
            &nbsp; {{ row.patente | patente }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="alias">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >ALIAS</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.alias }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipoString">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >TIPO</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.tipoString }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="marca">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >MARCA</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.marca }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="modelo">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >MODELO</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.modelo }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ano">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >AÑO</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.anio }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="flex-end fit">
              <div class="hand" (click)="mostrarVehiculo(row, $event)">
                <img
                  src="./assets/img/verDetalle.png"
                  alt=""
                  class="float-right"
                  style="margin-right: 1vh; height: 20px"
                />
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngStyle]="{ opacity: !row.estado ? '0.5' : '1' }"
        >
        </mat-row>
      </mat-table>

      <!-- <mat-paginator [hidden]="!_haveRows(dataSource.data)" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 30 , 40, 50]" showFirstLastButtons>
            </mat-paginator> -->

      <div class="no-rows flex-center" *ngIf="!_haveRows(dataSource.data)">
        <span class="text-sm">No existen registros</span>
      </div>

      <button
        class="btn-muevo-primary more-data-flotante"
        (click)="next()"
        [disabled]="_isLoading || pagination.rows < pagination.pagesSize"
        *ngIf="pagination.rows >= pagination.pagesSize"
      >
        <i class="fas fa-arrow-down mr-1"></i>
        {{
          pagination.rows < pagination.pagesSize
            ? "No hay más registros"
            : "Cargar más registros... "
        }}
        <i class="fas fa-spin fa-spinner ml-1" *ngIf="_isLoading"></i>
      </button>

      <!-- <div class="custom-paginator" *ngIf="_haveRows(dataSource.data) || true" >
                <div class="space-between">
                    <div class="hand control-item" (click)="setPage(1)" ><i class="fas fa-step-backward"></i></div>
                    <div class="hand control-item" (click)="setPage(pagination.currentPage - 1)"><i class="fas fa-chevron-left"></i></div>
                    <div class="hand control-item control-number text-xs">{{pagination.currentPage}} / {{pagination.pages}}</div>
                    <div class="hand control-item" (click)="setPage(pagination.currentPage + 1)"><i class="fas fa-chevron-right"></i></div>
                    <div class="hand control-item" (click)="setPage(pagination.pages)"><i class="fas fa-step-forward"></i></div>
                </div>
            </div> -->

      <!-- <div class="custom-paginator">
                <button class="btn-muevo-default" (click)="next()" [disabled]="pagination.rows < pagination.pagesSize">{{ pagination.rows < pagination.pagesSize ? "No hay más registros" : "Cargar más registros... "}} <i class="fas fa-spin fa-spinner" *ngIf="_isLoading"></i></button>
            </div> -->
    </div>
  </div>
</div>

<!-- <div *ngIf="false">
    <div *ngFor="let vehiculo of vehiculos">
        <div class="row muevoNoMargin">
            <div class="col-12 muevoNoPadding mb-2">
                <div class="alert muevoDetalleGastosUnitario">
                    <div class="row muevoNoMargin">
                        <div class="col-2 muevoNoPadding" (click)="mostrarVehiculo(vehiculo.vehiculoId)"
                        [ngClass]="{'disabled': !vehiculo.estado}">
                        <span>{{vehiculo.patente}}</span>
                    </div>
                    <div class="col-3 muevoNoPadding" (click)="mostrarVehiculo(vehiculo.vehiculoId)"
                    [ngClass]="{'disabled': !vehiculo.estado}">
                    <span>{{vehiculo.alias}}</span>
                </div>
                <div class="col-2 muevoNoPadding" (click)="mostrarVehiculo(vehiculo.vehiculoId)"
                [ngClass]="{'disabled': !vehiculo.estado}">
                <span>{{vehiculo.marca}}</span>
            </div>
            <div class="col-2 muevoNoPadding" (click)="mostrarVehiculo(vehiculo.vehiculoId)"
            [ngClass]="{'disabled': !vehiculo.estado}">
            <span>{{vehiculo.modelo}}</span>
        </div>
        <div class="col-1 muevoNoPadding" (click)="mostrarVehiculo(vehiculo.vehiculoId)"
        [ngClass]="{'disabled': !vehiculo.estado}">
        <span>{{vehiculo.ano}}</span>
    </div>
    <div class="col-1 custom-switches">
        <ui-switch size="small" [(ngModel)]="vehiculo.estado" (change)="desactivarVehiculo(vehiculo.vehiculoId)"
        class="float-right"></ui-switch>
    </div>
    <div class="col-1 muevoNoPadding" placement="left" [ngbPopover]="popContent" popoverClass="muevoMenuElementDashboard" #popOptions="ngbPopover" [ngClass]="{'disabled': !row.estado}" triggers="manual" (click)="openPopoverOptions(popOptions, row)">
        <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vw;height: 20px;">
    </div>
    <div [ngbPopover]="popContent" placement="left" popoverClass="muevoMenuElementDashboardCon" #popOptions="ngbPopover" triggers="manual" (click)="openPopoverOptions(popOptions, row)">
        <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vh;height: 20px;">
    </div>
</div>
</div>
</div>
</div>
</div>
</div> -->

<ng-template #popContent let-vehiculo="vehiculo">
  <div class="row">
    <div class="col-12">
      <!-- <div class="alert muevoDivElementDashboard" (click)="asignarFlota(vehiculo.vehiculoId)">
                <span class="muevoSpanElementDashboard">Asignar Flota</span>
            </div> -->
      <div
        class="alert muevoDivElementDashboard muevoSpanElementDashboard"
        (click)="mostrarVehiculo(vehiculo.vehiculoId)"
      >
        <span class="muevoSpanElementDashboard">
          Editar
          <!-- <textarea name="" id="" cols="30" rows="10">{{vehiculo|json}}</textarea> -->
        </span>
      </div>
      <!-- <div
        class="alert muevoDivElementDashboard muevoSpanElementDashboard"
        (click)="maquinaModificarVehiculo(vehiculo.vehiculoId, 2)"
      >
        <span class="muevoSpanElementDashboard">Eliminar</span>
      </div>-->
      <!-- <a class="btnTransparente" (click)="muestraAprobacionVehiculo(vehiculo.vehiculoId)">Detalle</a> -->
    </div>
  </div>
</ng-template>
