// mat-cell,mat-header-cell{
//     padding-left: .5em !important;
//     padding-right: .5em;
//     border: 1px solid red;
// }

mat-cell:nth-child(7),
mat-header-cell:nth-child(7) {
    flex: 0 0 65px;
}

