<div class="row" *ngIf="!isMobile">
  <div class="col-12">
    <div class="alert muevoDetalleGastosTitulo">
      <div class="row">
        <div class="col-2 mt-2">FECHA Y HORA EMISION</div>
        <div class="col-1 mt-2">PATENTE</div>
        <div class="col-3 mt-2">CONDUCTOR</div>
        <div class="col-2 mt-2">TIPO FORMA PAGO</div>
        <div class="col-2 mt-2">MONTO TOTAL</div>
        <div class="col-1 mt-2">Nº DOC</div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let boleta of boletas">
  <div class="row muevoDetalleGastosUnitario muevoNoMargin" *ngIf="!isMobile">
    <div class="col-12">&nbsp;</div>
    <div class="col-2"><span>{{boleta.ventaFechaCreacionString}}</span></div>
    <div class="col-1"><span>{{boleta.vehiculoPatente}}</span></div>
    <div class="col-3"><span>{{boleta.usuarioNombreApellido}}</span></div>
    <div class="col-2"><span>{{getMaestro(boleta.formaPagoTipo)}}</span></div>
    <div class="col-2"><span>${{boleta.ventaPagoTotalString}}</span></div>
    <div class="col-1"><span>{{boleta.ventaDocumentoFolio}}</span></div>
    <div class="col-1">
      <a href="{{boleta.documentoUrl}}" *ngIf="boleta.tieneDocumento" target="_blank">
        <img src="./assets/img/descargar.png" alt="descargar" style="height: 1.5vh;">
      </a>
    </div>
    <div class="col-12">&nbsp;</div>
  </div>

  <div class="muevoDetalleGastosUnitario pb-2 pl-2 pr-2 pt-2" *ngIf="isMobile">
    <div class="row">
      <div class="col-6"><span>{{boleta.ventaFechaCreacionString}}</span></div>
      <div class="col-6">
        <a href="{{boleta.documentoUrl}}" *ngIf="boleta.tieneDocumento" class="float-right" target="_blank"><img
            src="./assets/img/descargar.png" alt="descargar" style="height: 1.1em;"></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6"><span>Patente : </span></div>
      <div class="col-6">
        <span class="bold">{{boleta.vehiculoPatente}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6"><span>Conductor : </span></div>
      <div class="col-6"><span>{{boleta.usuarioNombreApellido}}</span></div>
    </div>
    <div class="row">
      <div class="col-6"><span>Total : </span></div>
      <div class="col-6"><span>${{boleta.ventaPagoTotalString}}</span></div>
    </div>
    <div class="row">
      <div class="col-6"><span>Forma Pago : </span></div>
      <div class="col-6"><span>{{getMaestro(boleta.formaPagoTipo)}}</span></div>
    </div>
    <div class="row">
      <div class="col-6"><span>Nº DOC : </span></div>
      <div class="col-6"><span>{{boleta.ventaDocumentoFolio}}</span></div>
    </div>
  </div>
  <br>
</div>
