<div class="form-group contenedorIngreso">
  <div class="row">
    <div class="col-12">
      <div class="col-1 mt-3">
        <a (click)="atras()">
          <i class="fas fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="contenidoIngresocol-12">
      <div class="col-12 text-center">
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <h5>Ingresar Codigo</h5>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <br>
      <div class="input-group">
        <div class="col-8 offset-2">
          <input type="text" name="inputPinValor" id="inputPinValor" class="form-control pass" placeholder="****"
            [(ngModel)]="inputPinValor" (input)="validaMaxInput($event)" maxlength="4" autocomplete="off">
        </div>
      </div>
      <br>
      <div class="col-12 text-center mt-1">
        <button type="button" class="btn btnSiguientePaso" (click)="validaPin()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
