input::placeholder {
    color: #b9bbbc !important;
    text-transform: initial !important;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b9bbbc !important;
    font-size: 12px !important;
    text-transform: initial !important;
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #b9bbbc !important;
    font-size: 12px !important;
    text-transform: initial !important;
  }
  
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #b9bbbc !important;
    font-size: 12px !important;
    text-transform: initial !important;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    color: #b9bbbc !important;
    font-size: 12px !important;
    text-transform: initial !important;
  }
  
  .input-group-text {
    color: #b9bbbc !important;
    font-size: 12px !important;
    border-right: none;
  }
  
  *:focus {
    outline: inherit !important;
    outline-style: none !important;
    box-shadow: none !important;
    border-color: none !important;
    background-color: none !important;
  }
  
  /* button {
    min-width: 17em;
  } */
  
  /* div {
    text-align: justify;
    text-justify: inter-word;
  } */
  
  .focusWhite {
    background-color: #FFFFFF !important;
    font-size: 12px !important;
  }
  
  .focusWhite:focus {
    background-color: #FFFFFF !important;
  }
  
  .alert:hover {
    border: 1px solid #E9EAF3;
  }
  
  .container {
    height: 100vh;
    width: 100%;
    max-width: 107em;
    font-family: TTNorms;
  }
  
  .article {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    height: 100vh;
  }
  
  .latBannerIngreso {
    height: 1000px;
    width: 545px;
    background-color: #f7f7f7;
  }
  
  .latBannerIngreso-1 {
    height: 60vh;
    width: 100%;
    border-radius: 0 0 30px 30px;
    background-color: #283693;
    position: relative;
    z-index: 5;
  }
  
  .latBannerIngreso-2 {
    margin-top: -10vh;
    height: 17vh;
    width: 100%;
    border-radius: 0 0 30px 30px;
    background-color: #303E98;
    position: relative;
    z-index: 4;
  }
  
  .latBannerIngreso-3 {
    margin-top: -10vh;
    height: 17vh;
    width: 100%;
    border-radius: 0 0 30px 30px;
    background-color: #39469C;
    position: relative;
    z-index: 3;
  }
  
  .latBannerIngreso-4 {
    margin-top: -10vh;
    height: 17vh;
    width: 100%;
    border-radius: 0 0 30px 30px;
    background-color: #424EA0;
    position: relative;
    z-index: 2;
  }
  
  .latBannerIngreso-5 {
    margin-top: -10vh;
    height: 17vh;
    width: 100%;
    border-radius: 0 0 30px 30px;
    background-color: #4A56A4;
    position: relative;
    z-index: 1;
  }
  
  .tituloBannerIngreso {
    margin-top: 273px;
    margin-left: 66px;
    height: 114px;
    width: 400px;
    color: #333333 !important;
    font-size: 50px;
    font-family: TTNorms-Bold;
    line-height: 57px;
    opacity: 1.0 !important;
  }
  
  .subTituloBannerIngreso {
    margin-left: 75px;
    height: 57px;
    width: 357px;
    color: #4F4F4F !important;
    font-family: TTNorms;
    font-size: 16px;
    line-height: 19px;
  }
  
  .contenedorIngreso {
    margin-top: 170px;
    margin-left: 20px;
    height: 436px;
    width: 532px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  }
  
  .contenidoIngreso {
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
  }
  
  .tituloIngreso {
    width: 375px;
  }
  
  .textoIngreso {
    height: 66px;
    width: 356px;
    color: #424242;
    font-family: TTNorms;
    font-size: 16px;
    line-height: 19px;
  }
  
  .containerIngreso {
    margin-left: 3em;
    margin-right: 2em;
  }
  
  .btnSiguientePaso {
    height: 4.5vh;
    width: 35vw;
    border-radius: 22.5px;
    background: linear-gradient(180deg, #8BF1FF 0%, #00F2FF 100%);
    color: #24328C;
  }
  
  .btnAccionLogin {
    border-radius: 15px;
    background: linear-gradient(180deg, #8BF1FF 0%, #00F2FF 100%);
    color: #24328C;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    height: 60px;
  }
  
  .btnSupLogin {
    margin-left: 0.5em;
    border-radius: 15px;
    color: #24328C;
    min-width: 5em !important;
  }
  

  
  .btnSiguienteSidebarMin {
    border-radius: 15px;
    background: linear-gradient(180deg, #8BF1FF 0%, #00F2FF 100%);
    color: #24328C;
    font-size: 14px;
    font-weight: 500;
    height: 4.1em;
    margin-bottom: 20px;
  }
  
  .btnDangerSidebar {
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    height: 60px;
    width: 95%;
    margin-bottom: 20px;
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
  }
  
  .btnSiguientePasoNoWidth {
    width: 95%;
    border-radius: 15px;
    background: linear-gradient(180deg, #8BF1FF 0%, #00F2FF 100%);
    color: #24328C;
  }
  
  .btnSiguientePasoFullWidth {
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(180deg, #8BF1FF 0%, #00F2FF 100%);
    color: #24328C;
  }
  
  .btnPurpleNoWidth {
    width: 95%;
    border-radius: 15px;
    background: #24328C;
    color: #FFFFFF;
    min-width: 9em !important;
  }
  
  .btnPurpleNoWidth:hover {
    color: #00F2FF;
  }
  
  .btnPurpleNoWidth:focus {
    border: none;
    background: #24328C !important;
    color: #00F2FF;
  }
  
  .inputConfirmar {
    height: 45px;
    border: 1px solid #7C84BA;
    opacity: 0.5;
    border-radius: 15px;
    width: 80%;
  }
  
  .btnTransparente {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    border-bottom: #24328C 1px solid;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    word-wrap: break-word;
    white-space: normal;
  }
  
  #toast-container>div {
    opacity: 1;
  }
  
  body {
    font-size: 12px !important;
    font-family: TTNorms;
  }
  

  
  .verticalLine {
    border-right: 1px solid rgba(0, 0, 0, .1);
  }
  
  .divHome {
    font-size: 10px !important;
  }
  
  .btnHome {
    font-size: 10px !important;
  }
  
  @font-face {
    font-family: 'dotsfont';
    src: url('./assets/dist/dotsfont.eot');
    src: url('./assets/dist/dotsfont.eot?#iefix') format('embedded-opentype'),
      url('./assets/dist/dotsfont.svg#font') format('svg'),
      url('./assets/dist/dotsfont.woff') format('woff'),
      url('./assets/dist/dotsfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TTNorms';
    src: url('./assets/dist/TT-Norms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TTNorms-Bold';
    src: url('./assets/dist/TT-Norms-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .ngx-charts text {
    fill: #fff;
  }
  
  input.pass {
    -webkit-text-security: disc;
    font-family: dotsfont;
  }
  
  input.norm {
    -webkit-text-security: disc;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .divTablaHead {
    height: 30px !important;
  }
  
  .fontSize {
    font-size: 10px;
  }
  
  ngb-accordion .card-header>a {
    width: 100%;
    height: 100%;
    padding: .5rem 1.25rem;
    /* Or whatever padding you would have applied in the next rule*/
  }
  
  ngb-accordion .card-header>button {
    text-align: left;
    width: 100%;
    height: 100%;
  }
  
 
  
  
  
  
  
  /* .custom-switches .switch {
    width: 1.3em;
    height: 1.3em;
    background: #F4F5F9;
  }
  
  .custom-switches .switch small {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    width: 1.1em;
    height: 1.1em;
    background: #F4F5F9;
  }
  
  .custom-switches .switch.checked {
    width: 1.3em;
    height: 1.3em;
    background: #24328C;
  } */
  
  
  .dvGrupo-1 {
    border-radius: 15px;
    background-color: #F4F5F9;
    margin: 0%;
    position: relative;
    z-index: 5;
  }
  
  .dvGrupo-2 {
    height: 2vh;
    width: 96%;
    margin-top: -1.5vh;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 0 0 15px 15px;
    background-color: #DEE1EE;
    position: relative;
    z-index: 4;
  }
  
  .dvGrupo-3 {
    height: 2vh;
    width: 92%;
    margin-top: -1.5vh;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 0 0 15px 15px;
    background-color: #D3D6E8;
    position: relative;
    z-index: 3;
  }
  
  select {
    /* background: url(./assets/img/selectBackground.png) no-repeat !important; */
    background-size: 0.5vh !important;
    -webkit-appearance: none !important;
    background-position: right 1vw center !important;
    font-size: 14px !important;
    height: calc(2.2rem) !important;
  }
  
  input[type='text'] {
    font-size: 14px;
  }
  
  input[type='radio'] {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid #24328C;
    border-radius: 50%;
  }
  
  input[type='radio']:hover {
    box-shadow: 0 0 5px 0px #24328C inset;
  }
  
  input[type='radio']:before {
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    margin: 10% auto;
    border-radius: 50%;
  }
  
  input[type='radio']:checked:before {
    background: #24328C;
  }
  
  .inputTextLogin {
    border: 1px solid #c5c9df;
    border-radius: 15px;
    height: 45px;
    width: 90%;
  }
  .inputTextLogin.is-invalid{
    border-color: #dc3545!important;
  }
  
  
  
  .form-check-label {
    font-size: 14px !important;
  }
  
  /* .radioSidebar {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #6EEEFF !important;
    color: #6EEEFF !important;
    border-radius: 50%;
    font-size: 14px;
  }
  
  .radioSidebar:hover {
    box-shadow: 0 0 5px 0px #6EEEFF inset !important;
  }
  
  .radioSidebar:before {
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    margin: 10% auto;
    border-radius: 50%;
  }
  
  .radioSidebar:checked:before {
    background: #FFFFFF !important;
  } */
  
  .disabled {
    opacity: 0.31;
  }
  
  /* .muevoFontBold {
    font-family: TTNorms-Bold;
  } */
  

  
  .muevoFontTituloComponente {
    color: #FFFFFF;
    font-size: 16px;
    font-family: TTNorms-Bold;
  }
  
  .muevoFontSubTituloComponente {
    color: #B0B5D5;
    font-size: 12px;
    font-family: TTNorms;
  }

  
  .muevoBottom {
    position: absolute;
    bottom: 1em;
    right: 1em;
    left: 1em;
  }
  
  .ng-sidebar {
    z-index: 10 !important;
  }
  
  .muevoBottomSidebarRight {
    position: fixed;
    bottom: 0;
    width: 280px;
    height: 2em;
    background-color: #1A224C;
    border-radius: 18px;
  }
  
  .muevoBodySidebarLeft {
    background-color: none;
  }
  
  
  .muevoEnabled {
    color: #A6A6A6;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #CBCFE3;
    border-radius: 15px;
  }
  

  
  .muevoActive {
    color: #343434;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #4A56A0;
    border-radius: 15px;
  }
  
  .muevoFilled {
    color: #343434;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #CBCFE3;
  }
  
  .muevoDisabled {
    color: #E2E2E2;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #E6E6E6;
    border-radius: 15px;
  }
  
  .muevoError {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #EB5F5F;
    border-radius: 15px;
  }
  
  .muevoMenuSelectedPerfil {
    background-color: #F4F4F9;
    text-decoration: underline;
  }
  
  .muevoMenuSelectedEmpresa {
    background-color: #F4F4F9;
  }
  
  .muevoCuentaSelected {
    background-color: #F4F4F9;
  }
  
  .muevoColBorders {
    border: 1px solid #CBCFE3;
    border-radius: 15px;
  }
  
  .muevoColBorders>input {
    background: none;
    border: none;
  }
  
  .muevoColBorders>.input-group>input {
    background: none;
    border: none;
  }
  
  .muevoPrepend {
    opacity: 0.41;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
  }
  
  /* .muevoTitle {
    color: #000000;
    font-size: 22px;
    font-family: TTNorms-Bold;
    line-height: 26px;
  } */
  
  .muevoSubTitle {
    color: #000000;
    font-size: 12px;
    line-height: 26px;
  }
  
  .muevoMenuBoxPerfilMin {
    box-sizing: border-box;
    border: 1px solid rgba(36, 50, 140, 0.05);
    margin-bottom: 1vh;
    cursor: pointer;
    padding: 1em;
    text-align: center;
  }
  
  .muevoMenuBoxPerfil {
    box-sizing: border-box;
    border: 1px solid rgba(36, 50, 140, 0.05);
    border-radius: 15px;
    margin-bottom: 1vh;
    cursor: pointer;
  }
  
  .muevoMenuBoxPerfilDashed {
    box-sizing: border-box;
    border: 1px dashed #6EEEFF;
    border-radius: 15px;
    margin-bottom: 1vh;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .muevoMenuBox {
    box-sizing: border-box;
    border: 1px solid rgba(36, 50, 140, 0.05);
    border-radius: 15px;
    margin-bottom: 1vh;
  }
  
  .muevoMenuContentPerfil {
    color: #222223;
    font-size: 14px;
    font-family: TTNorms-Bold;
    line-height: 22px;
  }
  
  .muevoSubTitlePurple {
    color: #24328C;
    font-size: 12px;
    font-family: TTNorms-Bold;
  }
  
  /* .muevoSubTitleGray {
    color: #7e7e7e;
    font-size: 14px;
  } */
  
  .muevoLink {
    color: #24328C;
    font-size: 16px;
    border-bottom: 1px solid #24328C;
    cursor: pointer;
  }
  
  .muevoLabelRechazar {
    color: #EB5F5F;
    font-size: 16px;
    font-weight: 500;
  }
  
  .muevoSubTitleFacturacion {
    opacity: 0.87;
    color: #000000;
    font-size: 14px;
  }
  
  .muevoBarFacturacionAmarillo {
    background-color: #FFFAD1;
    font-size: 10px;
    border-radius: 27px;
    color: #898670;
  }
  
  .muevoImagenMensaje {
    height: 11px;
    vertical-align: unset;
    padding-left: 10px;
  }
  
  .muevoLabelAutorizar {
    color: #24328C;
    font-size: 16px;
    font-weight: 500;
  }
  
  .muevoCheckButton {
    border: 1px solid #CBCFE3;
    border-radius: 15px;
    width: 80%;
    height: 5vh;
    padding-left: 1vw;
    margin-left: 1vw;
  }
  
  .muevoBtnGuardar {
    border-radius: 15px;
    background: linear-gradient(180deg, #8BF1FF 0%, #00F2FF 100%);
    width: 31vw;
    height: 6vh;
    color: #24328C;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.18px;
    text-align: center;
  }
  
  .muevoBtnDesactivar {
    border-radius: 15px;
    background-color: #F4F4F9;
    height: 5vh;
    width: 90%;
    color: #24328C;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.18px;
    text-align: center;
  }
  
  .muevoTextRed {
    color: #EB5F5F;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.18px;
  }
  
  
  .muevoBackgroundSaldoGrafico {
    background-color: #505BA3;
    border-radius: 27px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .muevoSubTitleDashboard {
    color: #000000;
    font-size: 10px;
    letter-spacing: 0.9px;
  }
  
  .muevoBtnBlancoBorde {
    color: #24328C;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    border: 1px solid #A4A9CF;
    height: 5vh;
  }
  
  .muevoFondoComboNoHeight {
    border-radius: 15px;
    background-color: #F4F4F9;
    border: none;
    font-size: 12px !important;
  }
  
  .muevoFondoWhite {
    background-color: #FFFFFF !important;
  }
  
  .muevoFondoComboWhite {
    color: #000000;
    border-radius: 15px;
    background-color: #FFFFFF;
    border: none;
  }
  
  .muevoFondoComboDashboard {
    border-radius: 15px;
    background-color: #F4F4F9;
    height: 38px;
  }
  
  
  
  .muevoPreComboDashboard {
    background-color: #F4F4F9;
    border: 0;
    font-size: 10px;
    border-radius: 11px
  }
  
  .muevoPreComboWhite {
    background-color: #FFFFFF;
    border: 0;
    font-size: 10px;
    border-radius: 11px
  }
  
  .muevoTxtDashboard {
    background-color: #F4F4F9;
    border: 0;
    border-radius: 15px;
    font-size: 10px !important;
  }
  
  .muevoTxtDashboard:focus {
    background-color: #F4F4F9 !important;
  }
  
  .muevoTxtDashboard::placeholder {
    background-color: #F4F4F9 !important;
    font-size: 10px !important;
  }
  
  .muevoComboDashboard {
    background-color: #F4F4F9 !important;
    border-radius: 15px;
    border: 0;
    height: 4vh;
    width: 40%;
    color: #24328C;
    font-size: 14px;
    font-weight: 500;
  }
  
  .muevoBtnDashboard {
    color: #24328C !important;
    font-size: 14px;
    font-weight: 500;
    background-color: #F4F4F9;
    border-radius: 15px;
    width: 95%;
    min-width: 0px !important;
  }
  
  .muevoBtnDashboardNoWidth {
    color: #24328C !important;
    font-size: 14px;
    font-weight: 500;
    background-color: #F4F4F9;
    border-radius: 15px;
    min-width: 0px !important;
  }
  
  .muevoBtnAccion {
    color: #24328C !important;
    font-size: 14px;
    font-weight: 500;
    background-color: #F4F4F9;
    border-radius: 15px;
    min-width: 0px;
  }
  
  .muevoBtnAccionInterno {
    color: #24328C !important;
    font-size: 14px;
    font-weight: 500;
    background-color: #E9Eaf3;
    border-radius: 15px;
  }
  
  .muevoSubTextDashboard {
    color: #A2A3A6;
  }
  
  .muevoLinkDashboard {
    color: #24328C !important;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .muevoLinkDashboard-sm{
    color: #24328C !important;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: normal;
  }
  
  .muevoLinkDashboard:hover,.muevoLinkDashboard-sm:hover {
    color: #24328C;
    text-decoration: none;
  }
  
  .muevoLinkInternal {
    color: #24328C;
    font-size: 14px;
    line-height: 22px;
  }
  
  .muevoLinkInternal:hover {
    color: #24328C;
    text-decoration: none;
  }
  
  .muevoDetalleGastosTitulo {
    border-radius: 15px;
    background-color: #E9EAF3;
    padding-top: 0.6vh;
    color: #000000;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.91px;
  }
  
  .muevoDetalleGastosUnitario {
    border-radius: 15px;
    background-color: #F4F5F9;
    margin: 0%;
    color: #000000;
    font-size: 12px !important;
    border: 1px solid #F4F5F9;
    min-height: 4em;
  }
  
  .muevoDetalleGastosUnitario:hover {
    border: 1px solid #E9EAF3;
  }
  
  .muevoBackgroundBtnTerciario {
    background-color: #0F1035;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.18px;
    line-height: 26px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #7C84BA;
    border-radius: 15px;
  }
  
  .muevoBackgroundResumen0 {
    background-color: #0F1035;
    border-radius: 27px;
    border: 0.2vw solid #FFFFFF;
    color: #FFFFFF !important;
    min-height: 16em;
  }
  
  .muevoBackgroundResumen1 {
    background-color: #1E2D86;
    border-radius: 27px;
    border: 0.2vw solid #FFFFFF;
    color: #FFFFFF !important;
    min-height: 16em;
  }
  
  .muevoBackgroundResumen2 {
    background-color: #172574;
    border-radius: 27px;
    border: 0.2vw solid #FFFFFF;
    color: #FFFFFF !important;
    min-height: 16em;
  }
  
  .muevoBackgroundResumen3 {
    background-color: #172574;
    border-radius: 27px;
    border: 0.2vw solid #FFFFFF;
    color: #FFFFFF !important;
    min-height: 16em;
  }
  
 
  
  .muevoBackgroundSaldo1 {
    background-color: #24328C;
    border-radius: 27px;
    color: #FFFFFF
  }
  
  .muevoBackgroundSaldo2 {
    background-color: #3A4697;
    border-radius: 27px;
    color: #FFFFFF
  }
  
  .muevoBackgroundFormasPago {
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 27px;
    margin-bottom: 1vh;
  }
  
  .muevoSaldoSubText {
    opacity: 0.6;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.91px;
  }
  
  .muevoSaldoLeftBottom {
    margin-left: 2vw;
    margin-bottom: 7vh;
  }
  
  .muevoTextCreacion {
    color: #0D131C;
    letter-spacing: 0.91px;
  }
  
  .muevoCardNuevoCreacion {
    box-sizing: border-box;
    border: 1px dashed #6EEEFF;
    border-radius: 15px;
    font-size: 12px !important;
    background-color: rgba(236, 251, 251, 0.3);
    opacity: 0.5;
  }
  
  
  .muevoCardNuevoCreacion>span {
    border: 1px dashed #C1C5DA;
    border-radius: 15px;
  }
  
  .muevoCardNuevoCreacionSpan {
    border: 1px dashed #C1C5DA;
    border-radius: 15px;
    font-size: 12px !important;
    background-color: rgba(236, 251, 251, 0.3);
  }
  
  .muevoSubTextCreacion {
    color: #2A2A2A;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.91px;
  }
  
  .muevoRestriccionesVehiculo {
    border-radius: 15px;
    background-color: #F4F4F9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }
  
  .muevoMenuElementDashboard {
    margin-right: -4vw;
    width: 21.6vw;
    border: 0.5px solid #C1C5DA;
    border-radius: 15px;
    background-color: #2F3250;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .muevoMenuElementDashboard .arrow::after {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoMenuElementDashboard .arrow::before {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoMenuElementDashboardCon {
    margin-right: -1vw;
    width: 21.6vw;
    border: 0.5px solid #C1C5DA;
    border-radius: 15px;
    background-color: #2F3250;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .muevoMenuElementDashboardCon .arrow::after {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoMenuElementDashboardCon .arrow::before {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoMenuElementDashboardConMin {
    margin-right: -1vw;
    margin-top: -15vh;
    width: 9em;
    border: 0.5px solid #C1C5DA;
    border-radius: 15px;
    background-color: #2F3250;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .muevoMenuElementDashboardConMin .arrow::after {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoMenuElementDashboardConMin .arrow::before {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoMenuElementTop {
    margin-top: -1em;
    margin-left: -4em;
    width: 20em;
    border: 0.5px solid #C1C5DA;
    border-radius: 15px;
    background-color: #2F3250;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .muevoMenuElementTop .arrow::after {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoMenuElementTop .arrow::before {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoMenuElementTopMin {
    margin-top: 0.1em;
    margin-left: -6.5em;
    border: 0.5px solid #C1C5DA;
    border-radius: 15px;
    background-color: #2F3250;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .muevoMenuElementTopMin .arrow::after {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoMenuElementTopMin .arrow::before {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoDivElementDashboard {
    cursor: pointer;
    margin: 0%;
    padding: 0.5vh;
    color: #FFFFFF;
  }
  
  .muevoDivElementDashboard:hover {
    cursor: pointer;
    color: #00F2FF !important;
  }
  
  .muevoSpanElementDashboard {
    font-size: 12px;
    width: 100%;
  }
  
  .muevoSpanElementDashboard2 {
    color: #FFFFFF;
    font-size: 12px;
    width: 100%;
  }
  
  .muevoSpanSubElementDashboard {
    opacity: 0.6;
    font-size: 10px;
    font-weight: 500;
  }
  
  .muevoMenuElementTitle {
    width: 18.3vh;
    border: 0.5px solid #C1C5DA;
    border-radius: 15px;
    background-color: #2F3250;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }
  
  .muevoMenuElementTitle .arrow::after {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoMenuElementTitle .arrow::before {
    border-color: none;
    border-left-color: none;
    border-style: none;
  }
  
  .muevoElementNuevoEquipo {
    border: 1px solid #C0C4DE;
    border-radius: 15px;
  }
  
  .muevoBtnElementTitle {
    height: 3.5vh;
    width: 100%;
    border-radius: 15px;
    background-color: #393C58;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    min-width: 0px;
  }
  
  .muevoSidebarAlertAzul {
    border-radius: 18px;
    background-color: #37469C;
    margin-bottom: .8em;
    margin-left: 1em;
    margin-right: 1em;
    width: 92%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.97;
    cursor: pointer;
  }
  
  .muevoSidebarAlertAzulOscuro {
    border-radius: 18px;
    background-color: #203152;
    margin-bottom: .8em;
    margin-left: 1em;
    margin-right: 1em;
    width: 92%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.97;
    cursor: pointer;
  }
  
  .muevoSidebarAlert {
    border-radius: 18px;
    background-color: #252D55;
    margin-bottom: .8em;
    margin-left: 1em;
    margin-right: 1em;
    width: 92%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.97;
    cursor: pointer;
  }
  
  .muevoSidebarAlertMin {
    border-radius: 18px;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  .muevoSidebarComponentWhite {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: right;
  }
  
  .muevoSidebarComponentWhite2 {
    color: #DCDDE4;
    font-size: 12px;
    font-weight: 500;
  }
  
  .muevoSidebarComponentSubTitle {
    color: #9599AB;
    font-size: 12px;
  }
  

  
  .muevoSidebarAlertTransparente {
    border: 1px solid #979BAD;
    border-radius: 15px;
    color: #A9ACBC;
    font-size: 14px;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  
  .muevoSidebarAlertTransparente:focus-within {
    border: 1px solid #D4D5DB;
  }
  
  /* .muevoSidebarAlertTitle2 {
    color: #6EEEFF !important;
    font-size: 14px;
    font-family: TTNorms-Bold;
  } */
  

  
  .muevoSidebarComponent {
    border: 1px solid #80859C;
    border-radius: 15px;
    background-color: #0E1743;
    color: #FFFFFF;
  }
  
  .muevoSidebarComponent:focus {
    color: #FFFFFF;
    background-color: #0E1743;
  }
  
  .muevoSelectNoBack {
    border: none;
    background-color: none;
    color: #FFFFFF;
  }
  
  .muevoSelectNoBack:focus {
    border: none;
    background-color: none;
    color: #FFFFFF !important;
  }
  
  
  .generalSidebarLeft {
    max-width: 32em;
    height: 100vh;
    background-color: #0E1743;
    border-radius: 18px 0 0 20px;
    overflow: hidden;
  }
  
  .generalSidebarRight {
    max-width: 32em;
    height: 100%;
    background-color: #1E2D86;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
  }


  
  .generalSidebarRight2 {
    background-color: #1E2D86;
    border-radius: 20px 20px 0 0;
  }
  
  .backgroundAzulOscuro {
    background-color: #152137;
  }
  
  @media only screen and (max-width: 500px) {
  
    .latBannerIngreso-1 {
      height: 6em;
      width: 100%;
      border-radius: 0 0 30px 30px;
      background-color: #283693;
      position: relative;
      z-index: 5;
    }
  
    .generalSidebarLeft {
      max-width: 25em;
      height: 100vh;
      background-color: #0E1743;
      border-radius: 18px 0 0 18px;
      overflow: hidden;
    }
  
    .muevoBodySidebarLeft {
      background-color: none;
    }
  
  }
  
  
  .linkSidebarCyan {
    color: #6EEEFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.18px;
    border-bottom: 1px solid #6EEEFF;
    cursor: pointer;
    margin-right: 4%;
    font-family: TTNorms-Bold;
  }
  
  
  .muevoFacturacionBorde {
    border: 1px solid #CBCFE3;
    border-radius: 15px;
  }
  
  .muevoModalMensajes {
    background-color: #0E1743;
  }
  
  
  
  @keyframes progress-indeterminate {
    from {
      left: -25%;
      width: 25%;
    }
  
    to {
      left: 100%;
      width: 25%;
    }
  }
  
  .toast-top-full-width {
    top: 1vh !important;
  }
  
  .btn-group {
    width: 100%;
  }
  
  .myspiner ::ng-deep .black-overlay {
    position: fixed !important;
    z-index: 100 !important;
  }
  
  .btnNavBar {
    background-color: #dfe2f0;
    height: 100%;
    min-width: 6em !important;
  }
  
  .navBarBase {
    border-radius: 10px;
    padding: 0%;
    background-color: #f4f5fa
  }
  