/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import '~ngx-ui-switch/ui-switch.component.css';
@import "~@ng-select/ng-select/themes/default.theme.css";


@import "../src/assets/css/material-theme/indigo-pink.css";

@import "../src/base.css";
//@import "../src/assets/css/theme.scss";

@import "../src/assets/css/muevo.scss";

.right-muevo .modal-dialog,
.right-muevo .modal-dialog {
    position: fixed;
    margin: auto;
    width: 410px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
 .ng-sidebar--closed{
    position: fixed!important;
} 


.right-muevo .modal-content,
.right-muevo .modal-content {
    height: 100%;
    overflow-y: auto;
   
    
}
.right-muevo .modal-content{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.left-muevo .modal-content{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.left-muevo.fade .modal-dialog {
    left: -410px;
    -webkit-transition: opacity 0.4s linear, right 0.4s ease-out;
    -moz-transition: opacity 0.4s linear, right 0.4s ease-out;
    -o-transition: opacity 0.4s linear, right 0.4s ease-out;
    transition: opacity 0.4s linear, right 0.4s ease-out;
}
.right-muevo.fade .modal-dialog {
    right: -410px;
    -webkit-transition: opacity 0.4s linear, right 0.4s ease-out;
    -moz-transition: opacity 0.4s linear, right 0.4s ease-out;
    -o-transition: opacity 0.4s linear, right 0.4s ease-out;
    transition: opacity 0.4s linear, right 0.4s ease-out;
}

.right-muevo.fade.in .modal-dialog {
    right: 0;
}


.routeNav{
    height: 40px!important;
}

.full-screen-sidebar{
    max-width: 100%;
    width: 100%;
    
}

.sidebar-right-flotante{
    right: calc(50% - 106px) !important;
}

.mat-badge-content.mat-badge-active{
    width: 10px;
    height: 10px;
    line-height: 10px;
    color: #f44336;
}

menu-editar .mat-badge-content.mat-badge-active{
    right: -20px!important;
    top:5px!important
}
.badgeNotificacionNoLeida .mat-badge-content.mat-badge-active{
    right: -20px!important;
    top:18px!important;
    left: 6px !important;
    color: #00F2FF;
    background-color: #00F2FF!important;
}

.notificacionManito .no-click-pointer{
    cursor: pointer!important;
}