@import '../../../../../../assets/css/colors.scss';

$border-switch-radius: 8px;
.input-switch{
    width: 100%;
    background-color: $color-gray6;
    border-radius: $border-switch-radius;
    //margin-bottom: .5em;

    .value{
        font-size: 12px;
    }

    .input-switch-body{
        border: 1px solid #ced4db;
        border-bottom-left-radius: $border-switch-radius;
        border-bottom-right-radius: $border-switch-radius;
        padding: .7em;
        // padding-left: .7em;
        // padding-right: .7em;
        // padding-bottom: .7em;
        
    }
}


:host {
	::ng-deep {
        .bs-popover-top .arrow::after{
            border-top-color: $color-gray6 !important;
            border-bottom-color: $color-gray6 !important;
            border-left-color: $color-gray6 !important;
            border-right-color: $color-gray6 !important;
        }
        .popover{
            background-color: $color-gray6 !important;
        }

        .error-msg{
            font-size: 11px !important;
        }
    }
}




