<div class="input-switch">
    <div class="space-between form-control form-control-sm" [ngbPopover]="popContent" triggers="manual"
        [autoClose]="false" #p1="ngbPopover">
        <div class="value">{{config.permiteComprar ? 'Puede' : 'No puede'}} comprar {{config.title}}</div>
        <ui-switch class="muevo-switch" size='small' [checked]="config.permiteComprar"
            (change)="setCheckValuePermiteComprar(config, p1)"></ui-switch>
    </div>
    <div class="input-switch-body space-between" *ngIf="config.permiteComprar && config.applyChanges">
        <div class="info column">
            <span>$ {{config.diario | number: '1.0-0'}} al día</span>
            <span>$ {{config.mensual | number: '1.0-0'}} al mes</span>
        </div>
        <div class="action">
            <button type="button" class="btn btn-mini-info" (click)="edit(config, p1)">Editar</button>
        </div>
    </div>
</div>


<ng-template #popContent let-row="row" let-popover="popover">

    <div class="new column">
        <form #ajustesDetalle="ngForm" autocomplete="off">
            <span class="text-xxs bold">Límite de gasto diario</span>
            <input type="text" 
            [class.is-invalid]="errorDiario!=null"
            (keyup)="mensajeGastoDiario()" 
            name="daily" class="form-control form-control-sm" (input)="transformAmount($event)"
                [(ngModel)]="limits.daily" #dailyState="ngModel" maxlength="11" [required]="true" validationBorder>
            <app-display-error-field [control]="ajustesDetalle.controls['daily']"
                [displayError]="_showControlError(ajustesDetalle.controls['daily'])" displayName="Límite mensual">
            </app-display-error-field>
             <div class="error-msg" *ngIf="errorDiario!=null">

                <div class="text-danger"> <i
                        class="fas fa-exclamation-circle text-danger"></i>&nbsp;<span [innerHTML]="errorDiario"></span></div>
            </div> 

            <span class="text-xxs bold mt-2">Límite de gasto mensual</span>
            <input type="text" name="monthly"
            [class.is-invalid]="errorMensual!=null"
             class="form-control form-control-sm" (input)="transformAmount($event)"
            (keyup)="mensajeGastoMensual()" 
                [(ngModel)]="limits.monthly" #monthlyState="ngModel" [required]="true" maxlength="11" validationBorder>
            <app-display-error-field [control]="ajustesDetalle.controls['monthly']"
                [displayError]="_showControlError(ajustesDetalle.controls['monthly'])" displayName="Límite mensual">
            </app-display-error-field>
            <div class="error-msg" *ngIf="errorMensual!=null">

                <div class="text-danger"> <i
                        class="fas fa-exclamation-circle text-danger"></i>&nbsp; <span [innerHTML]="errorMensual"></span></div>
            </div> 

            <div class="space-between mt-2">
                <button type="button" class="btn btn-mini-default"
                    (click)="popoverClose(row, popover)">Cancelar</button>
                <button type="button" class="btn btn-mini-info" (click)="applyChanges(row, popover)"
                    [disabled]="!ajustesDetalle.valid || errorDiario!=null || errorMensual!=null">Aplicar</button>
            </div>
        </form>
    </div>
    <div class="exists">

    </div>

</ng-template>