<div *ngIf="!isMobile">
    <ng-container *ngTemplateOutlet="desktop"></ng-container>
</div>
<div *ngIf="isMobile">
    <ng-container *ngTemplateOutlet="mobile"></ng-container>
</div>



<!-- TEMPLATES -->
<ng-template #desktop>
    <div class="table-copec mb-2">
        <!-- HEADER -->
        <div class="row header muevoNoMargin">
            <div class="col-3">Nombre</div>
            <div class="col-3">Presupuesto Diario</div>
            <div class="col-3">Presupuesto Mensual</div>
            <div class="col-3 text-center">Estado</div>
        </div>
        <!-- BODY -->
        <div class="row body muevoNoMargin" *ngFor="let conductor of conductores">
            <div class="col-3 br">
                <div>
                    <span [ngClass]="{'disabled': !conductor.estadoConductor}">{{conductor.nombreConductor}} {{conductor.apellidosConductor}}</span>
                </div>
                <div>
                    <span [ngClass]="{'disabled': !conductor.estadoConductor}">{{formatRut(conductor.rutConductor)}}</span>
                </div>
            </div>
            <div class="col-3 br" >
                <div class="row" *ngIf="conductor.maximoVentaMes!=null" style="display: flex; justify-content: flex-start;">
                    <div class="col-sm-3 mt-2"><span class="text-md">{{100 - conductor.porcentajeVentaDia}}%</span></div>
                    <div class="col-sm-9 mt-1" style="padding-left: 0px;">
                        <span class="text-xxs" [ngClass]="{'disabled': !conductor.estadoConductor}">
                            (${{conductor.disponibleDiaString}}) Disponible para hoy
                        </span>
                        <div class="pt-1">
                            <p [ngClass]="{'disabled': !conductor.estadoConductor}">
                                <ngb-progressbar type="info" [value]="(100 - conductor.porcentajeVentaDia)" [max]="100" height="3px">
                                </ngb-progressbar>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="conductor.rolId==1 && conductor.maximoVentaMes==null">
                    <div class="col-sm-12">
                        <span [ngClass]="{'disabled': !conductor.estadoConductor}">Sin Limites de Gasto</span>
                    </div>
                </div> 
            </div>
            <!-- MENSUAL -->
            <div class="col-3 br">
                <div class="row" *ngIf="conductor.maximoVentaMes!=null" style="display: flex; justify-content: flex-start;">
                    <div class="col-sm-3 mt-2"><span class="text-md">{{100 - conductor.porcentajeVentaDia}}%</span></div>
                    <div class="col-sm-9 mt-1" style="padding-left: 0px;">
                        <span class="text-xxs" [ngClass]="{'disabled': !conductor.estadoConductor}">
                            (${{conductor.disponibleMesString}}) Disponible para este mes
                        </span>
                        <div class="pt-1">
                            <p [ngClass]="{'disabled': !conductor.estadoConductor}">
                                <ngb-progressbar type="info" [value]="(100 - conductor.porcentajeVentaMes)" [max]="100" height="3px">
                                </ngb-progressbar>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="conductor.rolId==1 && conductor.maximoVentaMes==null">
                    <div class="col-sm-12">
                        <span [ngClass]="{'disabled': !conductor.estadoConductor}">Sin Limites de Gasto</span>
                    </div>
                </div> 
            </div>
            <!-- ESTADO -->
            <div class="col-3">
                <div class="row" *ngIf="conductor.rolId!=1">
                    <div class="col custom-switches" style="display: flex; align-items: center;">
                        <ui-switch size="small" [(ngModel)]="conductor.estadoConductor"
                            (change)="activaDesactiva(conductor.idConductor)" >
                        </ui-switch>
                        <label class="ml-2">{{conductor.estadoConductor ? "Activo" : "Inactivo"}}</label>
                    </div>
                </div>
            
                <div class="row" *ngIf="conductor.rolId==1">
                    <div class="col"><span>Super Administrador</span></div>
                </div>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #mobile>
    <div class="table-copec">
        <div class="row body mb-2" *ngFor="let conductor of conductores">
            <!-- IDENTIFICACION -->
            <div class="col-6">
                <div class="row">
                    <div class="col-12 mt-3">
                        <span [ngClass]="{'disabled': !conductor.estadoConductor}" style="text-transform: capitalize;">
                            {{conductor.nombreConductor}} {{conductor.apellidosConductor}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="muevoSubTextDashboard" [ngClass]="{'disabled': !conductor.estadoConductor}">
                            {{formatRut(conductor.rutConductor)}}
                        </span>
                    </div>
                </div>
            </div>
            <!-- ROL/ESTADO -->
            <div class="col-6" *ngIf="conductor.rolId!=1">
                <div class="row">
                    <div class="col-12 mt-3 custom-switches">
                        <ui-switch size="small" [(ngModel)]="conductor.estadoConductor"
                            (change)="activaDesactiva(conductor.idConductor)" class="float-right">
                        </ui-switch>
                    </div>
                </div>
            </div>
            <div class="col-6" *ngIf="conductor.rolId==1">
                <div class="row">
                    <div class="col-12 mt-3 text-right"><span class="muevoSubTitlePurple">SUPER<br>ADMIN</span></div>
                </div>
            </div>
            <!-- GASTO DIARIO -->
            <div class="col-12" *ngIf="conductor.rolId==1 && conductor.maximoVentaMes==null">
                <div class="row">
                    <div class="col-12">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-4 mt-2">
                        <span [ngClass]="{'disabled': !conductor.estadoConductor}">Sin Limites de Gasto</span>
                    </div>
                    <div class="col-6">&nbsp;</div>
                    <div class="col-2">&nbsp;</div>
                    <div class="col-12">&nbsp;</div>
                </div>
            </div>
            <div class="col-12" *ngIf="conductor.maximoVentaMes!=null">
                <div class="row">
                    <div class="col-12">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span [ngClass]="{'disabled': !conductor.estadoConductor}">
                            {{100 - conductor.porcentajeVentaDia}}%
                            (${{conductor.disponibleDiaString}}) Disponible para hoy
                        </span>
                    </div>
                    <div class="col-12">
                        <p [ngClass]="{'disabled': !conductor.estadoConductor}">
                            <ngb-progressbar type="info" [value]="(100 - conductor.porcentajeVentaDia)" [max]="100" height="3px">
                            </ngb-progressbar>
                        </p>
                    </div>
                </div>
            </div>
            <!-- GASTO MENSUAL -->
            <div class="col-12" *ngIf="conductor.rolId==1 && conductor.maximoVentaMes==null">
                <div class="row">
                    <div class="col-4 mt-2">
                        <span [ngClass]="{'disabled': !conductor.estadoConductor}">Sin Limites de Gasto</span>
                    </div>
                    <div class="col-6">&nbsp;</div>
                    <div class="col-2">&nbsp;</div>
                    <div class="col-12">&nbsp;</div>
                </div>
            </div>
            <div class="col-12" *ngIf="conductor.maximoVentaMes!=null">
                <div class="row">
                    <div class="col-12">
                        <span [ngClass]="{'disabled': !conductor.estadoConductor}">
                            {{100 - conductor.porcentajeVentaMes}}%
                            (${{conductor.disponibleMesString}}) Disponible para este mes
                        </span>
                    </div>
                        
                    <div class="col-12">
                        <p [ngClass]="{'disabled': !conductor.estadoConductor}">
                            <ngb-progressbar type="info" [value]="(100 - conductor.porcentajeVentaMes)" [max]="100" height="3px">
                            </ngb-progressbar>
                        </p>
                    </div>
                </div>
            </div>
            <!-- FIN -->
        </div>
    </div>

    
</ng-template>


        
        
        