<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a class="btn float-left" (click)="backToMain()">
                <i class="fas fa-angle-left fa-2x"></i>
            </a>
            <a class="btn float-right" (click)="closeAll()">
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
    </div>
    
    <!-- INFO-HEAD -->
    <div class="row">
        <div class="col-12 column">
            <span class="sidebar-title" style="text-transform: capitalize;">
                {{conductor.nombre}} {{conductor.apellido}}
            </span>
            <span class="sidebar-subtitle">{{conductor.rut | rut}}</span>
        </div>
    </div>
    
    <div class="muevoBodySidebarLeft">
        <div class="row mt-3">
            <div class="col-12">
                <span class="sidebar-title">Restricciones</span>
            </div>
            <div class="col-12">
                <!-- <span class="text-sm">Selecciona los Horarios que deseas habilitar:</span> -->
                <span id="spDias" class="text-sm">Selecciona los días en que podrán cargar tus vehículos</span>
            </div>
        </div>
        
       
        
        <!-- DIAS -->
        <div class="row" *ngIf="true || current.personalizado">
            <div class="col-12">
                <!-- <span id="spDias" class="text-sm">Selecciona los días en que podran cargar tus vehículos</span> -->
                <div class="row">
                    <div class="col-12">
                        <small class="text-danger" *ngIf="current.errorPersonalizadoSinDias"> <i class="fas fa-exclamation-circle"></i> No haz seleccionado ningún dia para la carga de vehículos</small>
                    </div>
                </div>
                <div class="row mt-2" style="display: flex; justify-content: space-between;flex-wrap: wrap;">
                    <div class="mb-2" style="min-width: 102px;" (click)="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2?seleccionDiaPersonalizado(dia.id):null" *ngFor="let dia of dias">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input [attr.disabled]="variablesApi.home.rolPrivilegiosFront.conductores.verEditar!=2?true:null" class="form-check-input muevo-checkbox" type="checkbox" name="dia.selected" id="restriccionEstacionesDias_{{dia.id}}" [(ngModel)]="dia.selected"> {{dia.nombre}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- HORARIOS -->
        <div class="row" *ngIf="true || current.personalizado">
            <div class="col-12 mt-3">
                <div class="row muevoNoMargin">
                    <div class="col-12 muevoNoPadding">
                        <span class="text-sm">Define el horario en que podrán cargar tus vehículos</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <small class="text-danger" *ngIf="current.errorPersonalizadoSinHoras"> <i class="fas fa-exclamation-circle"></i> No haz seleccionado correctamente un rango horario</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class=" muevoNoMargin" role="alert">
                            <div class="form-check form-check-inline"  (click)="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2?seleccionaHorario(0, true):null">
                                <label class="form-check-label muevoSidebarAlertTitle2" style="width: 100%;">
                                    <input [attr.disabled]="variablesApi.home.rolPrivilegiosFront.conductores.verEditar!=2?true:null" class="form-check-input muevo-radiobox" type="radio" name="restriccionEstaciones" id="restriccionEstacion_1" [value]="0" [(ngModel)]="current.configSeleccionHorario" style="position: absolute; z-index: -1; top: 4px;">
                                    <span class="pl-4">Todo horario</span> 
                                </label>
                            </div>
                        </div>
                        
                        <div class="muevoNoMargin" role="alert" >
                            <div class="form-check form-check-inline" (click)="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2?seleccionaHorario(1, true):null">
                                <label class="form-check-label muevoSidebarAlertTitle2" style="width: 100%;">
                                    <input [attr.disabled]="variablesApi.home.rolPrivilegiosFront.conductores.verEditar!=2?true:null" class="form-check-input muevo-radiobox" type="radio" name="restriccionEstaciones"
                                    id="restriccionEstacion_4" [value]="1" [(ngModel)]="current.configSeleccionHorario" style="position: absolute; z-index: -1; top: 4px;"> 
                                    <span class="pl-4">Personalizado</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row muevoNoMargin" style="color: #FFFFFF;">
                    <div class="col-12 muevoNoMargin">
                        <div class=" muevoNoMargin mb-2" role="alert" (click)="seleccionHorarioPersonalizado(0)">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label muevoSidebarAlertTitle2" style="width: 100%;">
                                    <input class="form-check-input radioSidebar-anular" type="radio" name="restriccionHorario"
                                    id="restriccionHorarioDia_1" [value]="0" [(ngModel)]="current.configSeleccionHora"> 
                                    Todo Horario
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 muevoNoMargin">
                        <div class="muevoNoMargin" role="alert" (click)="seleccionHorarioPersonalizado(1)">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label muevoSidebarAlertTitle2" style="width: 100%;">
                                    <input class="form-check-input radioSidebar-anular" type="radio" name="restriccionHorario"
                                    id="restriccionHorarioDia_2" [value]="1" [(ngModel)]="current.configSeleccionHora">
                                    Personalizado
                                </label>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <div class="row" style="justify-content: space-around;" *ngIf="current.configSeleccionHorario == 1">
                    <div class="box-container-sidebar">
                        <span style="padding: 10px;">Desde</span>
                        <select [disabled]="variablesApi.home.rolPrivilegiosFront.conductores.verEditar!=2" name="diasDesde" id="diasDesde" class="form-control select-muevo" style="border: 1px solid #ddd" [(ngModel)]="current.horaDesde">
                            <option class="text-center" *ngFor="let hora of horas" value="{{hora.id}}">
                                {{hora.nombre}}:00
                            </option>
                        </select>
                    </div>
                    <div class="box-container-sidebar">
                        <span style="padding: 10px;">Hasta</span>
                        <select [disabled]="variablesApi.home.rolPrivilegiosFront.conductores.verEditar!=2" name="diasHasta" id="diasHasta" class="form-control select-muevo" style="border: 1px solid #ddd" [(ngModel)]="current.horaHasta">
                            <option class="text-center" *ngFor="let hora of horas" value="{{hora.id}}">{{hora.nombre}}:00</option>
                        </select>
                    </div>
                </div>
                

            </div>
        </div> 
        
        <div class="row muevoNoMargin">
            <div class="col-12 text-center mt-5" *ngIf="variablesApi.home.rolPrivilegiosFront.conductores.verEditar==2">
                <button class="btn-muevo-action-muevo" (click)="guardar()">Guardar cambios</button>
            </div>
        </div>
    </div>
    
    
</div>