<div class="row">
  <div class="col-12">
    <h4>Tus Vehículos han sido creados con Exito!</h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="card" style="	background-color: #DEDFE0;">
      <div class="card-body divTablaHead" style="padding-top: 0.25rem !important;">
        <div class="row">
          <div class="col-1">
            <p>Patente*</p>
          </div>
          <div class="col-1">
            <p>Marca</p>
          </div>
          <div class="col-2">
            <p>Modelo*</p>
          </div>
          <div class="col-2">
            <p>Alias</p>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-3" style="padding-right:5px;padding-left:5px;">
                <p>Asignar Conductor</p>
              </div>
              <div class="col-3" style="padding-right:5px;padding-left:5px;">
                <p>Límite Gasto Diario</p>
              </div>
              <div class="col-3" style="padding-right:5px;padding-left:5px;">
                <p>Límite Gasto Mensual</p>
              </div>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngFor="let veh of vehiculos">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-1">
              <p>{{veh.patente}}</p>
            </div>
            <div class="col-1">
              <p>{{veh.marca}}</p>
            </div>
            <div class="col-2">
              <p>{{veh.modelo}}</p>
            </div>
            <div class="col-2">
              <p>{{veh.alias}}</p>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-3">
                  <p>Conductor1
                    Conductor2</p>
                  <p>Ver Todos</p>
                </div>
                <div class="col-3">
                  <p>${{veh.gastoDiario}}</p>
                </div>
                <div class="col-3" style="padding-right:5px;padding-left:5px;">
                  <p>${{veh.gastoMensual}}</p>
                </div>
                <div class="col-3">
                  <a class="btnTransparente" (click)="eliminarVehiculo(veh.vehiculoId)">Eliminar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<br>
<div class="row">
  <div class="col-12">
    <h5 class="col-6">Estas restricciones aplicarán a los vehículos que acabas de crear, si deseas
      puedes
      editarlas:</h5>
  </div>
  <div class="col-6 mt-1">
    <div class="row">
      <div class="col-12">
        <div class="card" (click)="muestraEstaciones()">
          <div class="card-body">
            <h6 class="card-title">Estaciones Habilitadas:</h6>
            <div class="row">
              <div class="col-8">
                <p>Edita si deseas bloquear una estación específica para que tus vehículos y conductores realicen
                  compras.
                </p>
              </div>
              <div class="col-4">
                <b>Todas Habilitadas</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 mt-1">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Identificación de presencia del vehículo:</h6>
            <div class="row">
              <div class="col-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et.
                </p>
              </div>
              <div class="col-4">
                <b>Contratar</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 mt-1">
    <div class="row">
      <div class="col-12">
        <div class="card" (click)="muestraDiaHorario()">
          <div class="card-body">
            <h6 class="card-title">Días y horario Habilitado:</h6>
            <div class="row">
              <div class="col-8">
                <p>Edita si deseas que tu flota pueda realizar una compra en un horario específico.</p>
              </div>
              <div class="col-4">
                <b>Todos los días, todo horario</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12 text-center">
    <button type="button" class="btn btnSiguientePaso" [routerLink]="['/Home/Dashboard']">Terminar creación de
      vehículos</button>
  </div>
</div>
<br>
