<div class="modal-header">
  <h5 class="modal-title" id="modalReintentarSalir">Detalle de Invitacion </h5>
  <button type="button" class="close" aria-label="Close" (click)="response('Salir')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-6">
      <p><strong>{{modal.nombreInvitado}}</strong></p>
      <p>{{modal.rolInvitado}}</p>
    </div>
    <div class="col-6">
      <p><strong>Estado: Pendiente</strong></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8">
      <p>Vigencia</p>
    </div>
    <div class="col-4">
      {{modal.vigenciaInvitacion}}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <p>Tienes una invitacion pendiente de aceptacion para la unirte a {{modal.nombreEmpresa}}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="response('Aceptar')">Aceptar</button>
  <button type="button" class="btn btn-outline-dark" (click)="response('Rechazar')">Rechazar</button>
</div>
