<br>
<div class="row">
  <div class="col">
    <span class="muevo-modal-title">Abonar a Billetera Muevo</span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-3 col-12">
    <div class="row">
      <div class="col-12">
        <div class="alert" class="muevoMenuBox muevoMenuSelectedEmpresa">
          <div class="row muevoNoMargin">
            <div class="col-12">&nbsp;</div>
          </div>
          <div class="row muevoNoMargin">
            <div class="col-12 text-left">
              <span class="bold">Monto Billetera Muevo</span>
            </div>
          </div>
          <hr>
          <div class="row muevoNoMargin">
            <div class="col-6">
              <span>Saldo</span>
            </div>
            <div class="col-6 text-right">
              <span>${{saldo?.saldo}}</span>
            </div>
          </div>
          <hr>
          <div class="row muevoNoMargin">
            <div class="col-7">
              <span>total</span>
            </div>
            <div class="col-5 text-right">
              <span>${{saldo?.saldoFinal}}</span>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="col-lg-8 offset-lg-1 col-12">
    <div *ngIf="_abonarTarjetas">
      <app-muevo-abono-tarjetas></app-muevo-abono-tarjetas>
    </div>
    <div *ngIf="_abonarTransferencia">
      <app-muevo-abono-transferencia></app-muevo-abono-transferencia>
    </div>

  </div>
</div>
