<div class="row">
  <div class="col-9">
    <h4>¡Tus conductores han sido creados con exito!</h4>
    <span>Recuerda a tus conductores descargar la App Muevo y registrarse. Cada invitacion tiene una vigencia de 72
      horas.</span>
  </div>
  <div class="col-3">
    <div class="card" style="padding: 0px;">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <span>Link descarga App</span>
            </div>
            <div class="row">
              <span>http://smrturl.cl/9822</span>
            </div>
          </div>
          <div class="col-4 bg-light" style="padding-top: 10px">
            <a>Copiar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="cardcol-12" style="	background-color: #DEDFE0;">
    <div class="card-body divTablaHead" style="padding-top: 0.25rem !important;">
      <div class="row">
        <div class="col-1">
          <p>Nombre</p>
        </div>
        <div class="col-1">
          <p>Apellido</p>
        </div>
        <div class="col-2">
          <p>Nº Teléfono</p>
        </div>
        <div class="col-2">
          <p>Tipo Invitacion(Rol)</p>
        </div>
        <div class="col-2">
          <p>Estado Invitacion</p>
        </div>
        <div class="col-2">
          <p>Vigente Hasta</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngFor="let invitado of invitados">
  <div class="row">
    <div class="cardcol-12">
      <div class="card-body">
        <div class="row">
          <div class="col-1">
            <p>{{invitado.invitacionValidaciones.invitacionNombre}}</p>
          </div>
          <div class="col-1">
            <p>{{invitado.invitacionValidaciones.invitacionApellido}}</p>
          </div>
          <div class="col-2">
            <p>+{{invitado.invitacionTelefonoInvitadoId}}</p>
          </div>
          <div class="col-2">
            <p>Conductor</p>
          </div>
          <div class="col-2">
            <p>{{invitado.invitacionEstadoInvitado}}</p>
          </div>
          <div class="col-2">
            <p>{{invitado.invitacionFechaCaducidad}}</p>
          </div>
          <div class="col-1">
            <a class="btnTransparente" (click)="reenviarInvitacion(invitado.invitacionId,1)">Reenviar</a>
          </div>
          <div class="col-1">
            <a class="btnTransparente" (click)="autorizarInvitacion(invitado.invitacionId,0)">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="row">
  <div class="col-4 text-center">
    <button type="button" class="btn btnSiguientePaso" [routerLink]="['/Home/VehiculoCrearGrupo']">Crear
      Vehículos</button>
  </div>
  <div class="col-4">
    <button type="button" class="btn btnTransparente" [routerLink]="['/Home/Dashboard']">Ir al Dashboard</button>
  </div>
</div>
