<div class="row">
  <div class="col-1">&nbsp;</div>
  <div class="col-11">
    <div class="row">
      <div class="col-6">
        <h4>Buen dia Maximiliano</h4>
        <h3><b>Bienvenido a Muevo</b></h3>
        <p style="font-size: 16px;">Tu cuenta ha sido creada con exito. Te guiaremos en la configuracion Inicial</p>
      </div>
      <div class="col-6">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p style="font-size: 16px;">
          Comenzaremos invitando a tus conductores. Tranquilo, más adelante podrás borrar o modificar estas acciones si
          lo deseas
        </p>
      </div>
      <div class="col-6">
        <div
          style="width:490px ;height: 300px;background-color: white;border-radius: 10px;box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);">
          <div class="row">
            <div class="col-11 offset-1 mt-3">
              <span><i class="fas fa-user-tag fa-5x"></i></span>
            </div>
            <div class="col-12">&nbsp;</div>
            <div class="col-11 offset-1">
              <h4>Invitar Conductores</h4>
              <p>Los conductores son tu personal de trabajo, capaces de manejar algun vehículo de la empresa y rendir
                gastos</p>
            </div>
            <div class="col-12">&nbsp;</div>
            <div class="col-11 offset-1 text-center">
              <button type="button" class="btn btnSiguientePaso"
                [routerLink]="['/Home/ConductorCrearGrupo']">Comenzar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
