<!-- TITLE -->
<div class="row mb-2">
    <div class="col-8">
        <span class="muevo-titulo-pagina" id="idCondu">Mis Conductores</span>
    </div>
    <div class="col-4 flex-end">
        <button type="button" class="btn btn-title bold float-right" (click)="abrirInvitaciones()" *ngIf="invitados.length > 0">Invitaciones Pendientes ({{invitados.length}}) <i class="fas fa-angle-right"></i></button>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-tab no-border-r" [ngClass]="{'textActive active': ui.switchData == 'combustible'}"
        (click)="toggleSwitchData('combustible')" id="selConductores">Combustible</button>

        <button type="button" class="btn btn-tab no-border-l no-border-r" [ngClass]="{'textActive active': ui.switchData == 'alimentacion'}"
            (click)="toggleSwitchData('alimentacion')" id="selVehiculos">Alimentacion</button>

        <button type="button" class="btn btn-tab no-border-l" [ngClass]="{'textActive active': ui.switchData == 'otros'}"
            (click)="toggleSwitchData('otros')" id="selVehiculos">Otros</button>
    </div>
</div>


<!-- OPTIONS/SEARCH -->
<div class="row">
    <div class="col-12">
        <div class="buttons">
            <button class="btn btn-copec-primary float-left" routerLink="/HomeMuevo/CrearConductor">
                Invitar Conductores <i class="fa fa-plus"></i>
            </button>
            <div *ngIf="this.selection.selected.length > 0">
                <button class="btn btn-copec-secundary float-left" (click)="openAdjustment($event)">
                    Ajustar Presupuesto
                </button>

                <!-- <button class="btn btn-copec-secundary float-left" placement="bottom" [ngbPopover]="popMenuContentDiario" triggers="manual" [autoClose]="'outside'" #diario="ngbPopover" (click)="diario.open()" popoverClass="muevoMenuElementTitle">
                    Ajustar Presupuesto Diario/Mensual
                </button> -->
                <!-- <button class="btn btn-default btn-copec-secundary btn-sm float-left" placement="bottom" [ngbPopover]="popMenuContentMensual" triggers="manual" [autoClose]="'outside'" #mensual="ngbPopover" (click)="mensual.open()" popoverClass="muevoMenuElementTitle">
                    Ajustar Presupuesto Mensual
                </button> -->
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-copec-secundary btn-sm float-left dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mas Acciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-xs">Aplicar a Seleccionados</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-xs" href="#">Ajustar Dias Habilitados</a>
                        <a class="dropdown-item text-xs" href="#">Ajustar Estaciones Habilitadas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-xs" (click)="maquinaModificarConductoresSeleccionados(2)">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-12">
        <div class="input-group mb-1 search float-right" >
            <input type="search" class="form-control" (keyup)="_applyFilter(dataSource, $event.target.value)"  placeholder="BUSCAR..">
            <div class="input-group-append muevoFondoComboDashboard">
                <span class="input-group-text muevoPreComboDashboard" id="basic-addon1">
                    <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- TABLE MAIN -->
<div class="row">
    <ng-container *ngTemplateOutlet="tabla"></ng-container>  
</div>

<div class="row">
    <ng-container *ngTemplateOutlet="tablaAlimentacion"></ng-container>  
</div>



<!-- <div class="col-lg-3 offset-lg-6 col-6">
    <div class="row muevoNoMargin">
        <div class="col-12 muevoNoPadding">
            <button type="button" class="btn muevoBtnAccion float-right" routerLink="/HomeMuevo/CrearConductor">Invitar
                Conductor
                <img src="./assets/img/plus.png" alt="" style="height: 0.8em;vertical-align:baseline;"></button>
            </div>
        </div>
    </div>
</div> -->
<br>
<div class="row" *ngIf="ui.mostrarInvitados">
    <div class="col-12">
        <span class="bold muevoSubTitle">INVITACIONES PENDIENTES</span>
    </div>
    <div class="col-12">&nbsp;</div>
    
    <div class="col-lg-4 col-12 mb-2" *ngFor="let invitado of invitados">
        <div class="alert muevoDetalleGastosUnitario">
            <div class="row muevoNoMargin">
                <div class="col-1 muevoNoPadding mt-2">
                    <img src="./assets/img/alerta.png" alt="" style="height: 16px;">
                </div>
                <div class="col-11 muevoNoPadding mt-2">
                    <span class="muevoSubTitleFacturacion bold">{{invitado.invitacionEstadoInvitado}}</span>
                </div>
            </div>
            <div class="row muevoNoMargin">
                <div class="col offset-1 muevoNoPadding mt-2">
                    <span style="text-transform: capitalize;">{{invitado.invitacionValidaciones.invitacionNombre}}
                        {{invitado.invitacionValidaciones.invitacionApellido}}
                    </span>
                    <br>
                    <span>Teléfono : +{{invitado.invitacionTelefonoInvitadoId}}</span>
                </div>
            </div>
            <div class="row muevoNoMargin">
                <div class="col offset-1 muevoNoPadding">
                    Invitado como : {{invitado.invitacionRol}}
                </div>
            </div>
            <div class="row muevoNoMargin">
                <div class="col muevoNoPadding text-center mt-2 mb-2">
                    <span (click)="reenviarInvitacion(invitado.invitacionId,1)" class="btnTransparente muevoLinkDashboard">Reenviar
                    </span>
                </div>
                <div class="col muevoNoPadding text-center mt-2 mb-2">
                    <span (click)="cancelarInvitacion(invitado.invitacionId,0)" class="btnTransparente muevoLinkDashboard">Eliminar</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12 mb-2" *ngIf="ui.mostrarBotonIrInvitaciones ">
        <div class="row">
            <div class="col-lg-12 col">&nbsp;</div>
            <div class="col-lg-12 col">&nbsp;</div>
            <div class="col-lg-12 col">&nbsp;</div>
            <div class="col-lg-12 col">&nbsp;</div>
            <div class="col-lg-12 col">&nbsp;</div>
            <div class="col-lg-12 col">&nbsp;</div>
            <div class="col-lg-12 col">&nbsp;</div>
            <div class="col-12">
                <a class="btnTransparente float-right muevoLinkDashboard" [routerLink]="['/HomeMuevo/MisInvitaciones','C']">
                    Ver todas las invitaciones
                </a>
            </div>
        </div>
    </div>
</div>
<hr style="width: 100%;" *ngIf="ui.mostrarInvitados">
<br>
        
        <ng-template #popMenuContentDiario>
            <div class="row">
                <div class="col-12">
                    <span class="muevoSpanElementDashboard2">APLICA UN LÍMITE DE GASTO A TODOS TUS CONDUCTORES SELECCIONADOS</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="input-group focusWhite" style="border-radius: 18px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text focusWhite muevoNoPadding"
                            style="border-radius: 18px 0 0 18px;">&nbsp;$&nbsp;</span>
                        </div>
                        <input type="text" name="limiteDiarioCombustible" id="limiteDiarioCombustible"
                        class="form-control fontSize muevoSidebarAlertTransparente focusWhite muevoNoBorder" placeholder="0"
                        [(ngModel)]="limiteDiarioCombustible" (input)="validaInput($event)">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn muevoBtnElementTitle" (click)="editLimiteDiarioGeneral(diario)">Aplicar</button>
                </div>
            </div>
            <br>
        </ng-template>
        
        <ng-template #popMenuContentMensual>
            <div class="row">
                <div class="col-12">
                    <span class="muevoSpanElementDashboard2">APLICA UN LÍMITE DE GASTO A TODOS LOS CONDUCTORES SELECCIONADOS</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="input-group focusWhite" style="border-radius: 18px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text focusWhite muevoNoPadding"
                            style="border-radius: 18px 0 0 18px;">&nbsp;$&nbsp;</span>
                        </div>
                        <input type="text" name="limiteMensualCombustible" id="limiteMensualCombustible"
                        class="form-control fontSize muevoSidebarAlertTransparente focusWhite muevoNoBorder" placeholder="0"
                        [(ngModel)]="limiteMensualCombustible" (input)="validaInput($event)">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn muevoBtnElementTitle" (click)="editLimiteMensualGeneral(mensual)">Aplicar</button>
                </div>
            </div>
            <br>
        </ng-template>
        
        <ng-template #popContent let-conductor="conductor" let-row="row">
            <div class="row">
                <div class="col-12">
                    <!-- <div class="alert muevoDivElementDashboard" (click)="asignarGrupo(conductor.idConductor)">
                        <span class="muevoDivElementDashboard">Asignar Grupo</span>
                    </div> -->
                    <div class="alert muevoDivElementDashboard muevoSpanElementDashboard" (click)="mostrarConductor(conductor.idConductor, $event)">
                        <span>Editar</span>
                    </div>
                    <div class="alert muevoDivElementDashboard muevoSpanElementDashboard" role="alert" (click)="maquinaModificarConductor(conductor.idConductor, 2)" *ngIf="conductor.rolId != 1">
                        <span>Eliminar</span>
                    </div>
                </div>
            </div>
        </ng-template>
        
        <ng-template #tabla>
            <div class="col-12">
                <div class="table-responsive">
                    <mat-table [dataSource]="dataSource" class="collapsed" matSort>
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-checkbox color="primary" (change)="$event ? _masterToggle(selection, dataSource) : null"
                                    [checked]="selection.hasValue() && _isAllSelected(selection, dataSource)"
                                    [indeterminate]="selection.hasValue() && !_isAllSelected(selection, dataSource)"
                                    [aria-label]="_checkboxLabel(selection, dataSource, row)">
                                </mat-checkbox>
                                <div class="table-counter" *ngIf="this.selection.selected.length > 0">{{this.selection.selected.length}}</div>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                    (change)="_checkToggle(selection, row, $event)"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="_checkboxLabel(selection, dataSource, row)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                    
                        <ng-container matColumnDef="nombreConductor">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <div class="column" (click)="mostrarConductor(row.idConductor,$event)">
                                    <span class="lnk-sm underline">{{row.nombreConductor}}&nbsp;{{row.apellidosConductor}}</span>
                                </div>
                            </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="rutConductor">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>RUT</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.rutConductor | rut}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="puedeComprarString">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>COMPRA DE COMBUSTIBLE</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <div style="display: flex; justify-content:center; align-items: center; width: 100%;">
                                    <i class="fas text-success" [ngClass]="{'fa-check-circle': row.puedeComprar, 'fa-times-circle': !row.puedeComprar}"></i>&nbsp;{{row.puedeComprarString}}
                                </div>
                                
                            </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="limiteDiarioCombustible">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>PRESUPUESTO DIARIO</mat-header-cell>
                            <mat-cell *matCellDef="let row">${{row.limiteDiarioCombustible | number: '1.0-0'}}</mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="limiteMensualCombustible">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>PRESUPUESTO MENSUAL</mat-header-cell>
                            <mat-cell *matCellDef="let row">${{row.limiteMensualCombustible | number: '1.0-0'}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="vehiculosAsignados">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>VEHÍCULOS ASIGNADOS</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{ row.vehiculosAsignados.length > 1 ? row.vehiculosAsignados[0] : "" }} {{row.vehiculosAsignados.length > 1 ? "(y " + (row.vehiculosAsignados.length -1).toString() + " más)" : ""}}
                            </mat-cell>
                        </ng-container>
                        
                        <!-- <ng-container matColumnDef="nroDiasHabilitado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>DIAS HABILITADOS</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.nroDiasHabilitado == 0 ? "Todos" : row.nroDiasHabilitado }}</mat-cell>
                        </ng-container> -->
                        
                        <!-- <ng-container matColumnDef="nroEstacionesHabilitado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>ESTACIONES HABILITADAS</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.nroEstacionesHabilitado == 0 ? "Todos" : row.nroEstacionesHabilitado }}</mat-cell>
                        </ng-container> -->
                        
                        <ng-container matColumnDef="estadoConductor">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <div class="options-col">
                                    <div>
                                        <div *ngIf="row.rolId == 1" (click)="mostrarConductor(row.idConductor, $event)">
                                            <span class="lnk-sm underline">Super Administrador</span>
                                        </div>
                                        <div *ngIf="row.rolId != 1" >
                                            <mat-slide-toggle color="primary" [checked]="row.estadoConductor" (change)="activaDesactiva(row.idConductor)">
                                                <small>{{row.estadoConductor ? 'Activo' : 'Inactivo'}}</small>
                                            </mat-slide-toggle>
                                        </div>
                                    </div>
                                    
                                    <div [ngbPopover]="popContent" placement="left" popoverClass="muevoMenuElementDashboardCon" #popOptions="ngbPopover" triggers="manual" (click)="openPopoverOptions(popOptions, row)">
                                        <img src="./assets/img/verDetalle.png" alt="" class="float-right" style="margin-right: 1vh;height: 20px;">
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        
                        
                        <mat-header-row *matHeaderRowDef="displayedColumnsConductores"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsConductores;" [ngStyle]="{'opacity': !row.estadoConductor ? '0.5' : '1' }" [@fadeOutToRight]="row.dropped" >
                        </mat-row>
                    </mat-table>
            
                    <mat-paginator [hidden]="!_haveRows(dataSource.data)" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 30 , 40, 50]"
                        showFirstLastButtons>
                    </mat-paginator>

                    <div class="no-rows flex-center" *ngIf="!_haveRows(dataSource.data)">
                        <span class="text-sm">No existen registros</span>
                    </div>
                
                </div>
            </div>
            
        </ng-template>

        <ng-template #tablaAlimentacion></ng-template>
