


.options-col{
    display: flex;
    justify-content: space-between;
    width: 100%;
}



// /deep/ .mat-checkbox.mat-accent {
//     .mat-checkbox-frame {
//       border: 1px solid dodger-blue;
//     }
  
//     &.mat-checkbox-checked .mat-checkbox-background {
//       background-color: white;
//       border: 1px solid dodger-blue;
//     }
  
//     .mat-checkbox-checkmark-path {
//       stroke: dodger-blue !important;
//     }
//   }

// $table-check-color: #fff;
// mat-checkbox {
//     color: $table-check-color;
//     /deep/ .mat-checkbox-background {
//         background-color: $table-check-color;
//     }

//     /deep/ &.mat-checkbox-focused{
//         .mat-ink-ripple{
//             background-color: rgba(0, 178, 0, .26);
//         }
//     }

//     /deep/ .mat-checkbox-checkmark-path {
//         stroke: red !important;
//     }

// }


    

