<agm-map [latitude]="latInit" [zoom]="zoom" [longitude]="lngInit" [usePanning]='true' (mapClick)="placeMarker($event)">
  <agm-direction [origin]="origin" [destination]="destination" *ngIf="_directions"
    [renderOptions]="{ suppressMarkers: true}" [waypoints]="waypoints"
    [markerOptions]="{origin: { icon: './assets/img/mini-marker-me.png'}, waypoints:{icon: './assets/img/marker-copec.png'}}">
  </agm-direction>
  <agm-marker [latitude]="latInit" [longitude]="lngInit">
    <agm-info-window #pantallaInfo></agm-info-window>
  </agm-marker>
  <agm-marker *ngFor="let m of marcadores; let i = index" (markerClick)="clickedMarker(m.label, i, infoWindow)"
    [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event,iw)" [iconUrl]="{
      url: './assets/img/marker-copec.png',
      scaledSize: {
          width: 25,
          height: 39
      }
  }">

    <agm-info-window #infoWindow>
      <div class="row">
        <div class="col-12">
          <strong>Estacion {{m.infoWindow}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="col-6">Email : {{m.email}}</div>
            <div class="col-6">Teléfono : {{m.telefono}}</div>
          </div>
          <div class="row">
            <div class="col-6">Jefe Estacion :</div>
            <div class="col-6">{{m.jefeEDS}}</div>
          </div>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-xs btn-info" (click)="getDirections(m.lat,m.lng,m.infoWindow)"><i
              class="fas fa-directions"></i> Ir</button>
        </div>
      </div>
      <div class="row">
        <div class="col-4" *ngFor="let item of m.servicios">
          <button type="button" class="btn btn-info">{{item.value}}</button>
        </div>
      </div>
    </agm-info-window>

  </agm-marker>
</agm-map>
