<div class="form-group contenedorIngreso">
  <div class="row">
    <div class="contenidoIngresocol-12">
      <div class="col-12 text-center">
        <h4>Error de Lectura</h4>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <h5>Error de Lectura en Storage</h5>
        <p>No es posible leer los datos almacenados en su equipo.</p>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <a [routerLink]="[paginaVolver]" class="btn btn-secondary">Volver</a>
      </div>
    </div>
  </div>
</div>
