<div class="modal-header">
  <h5 class="modal-title" id="modalReintentarSalir">Sin Conexion a la Api </h5>
  <button type="button" class="close" aria-label="Close" (click)="response('Salir')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h4>No se ha podido establecer una conexión. ¿Desea reintentar? </h4>
</div>
<div class="modal-footer">
  <button type="button" class="btn-muevo-action-default" (click)="response('Reintentar')">Reintentar</button>
  <button type="button" class="btn-muevo-action-default" (click)="response('Salir')">Salir</button>
</div>
