<div class="row">
  <div class="col-12">
    <h3>Maximiliano Urrutia</h3>
    <h4>Abona a tu empresa</h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col-9">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" (panelChange)="beforeChange($event)">
      <ngb-panel id="webpay">
        <ng-template ngbPanelTitle>
          <div class="row">
            <div class="col-10">Abono Mediante WebPay</div>
            <div class="col-2">
              <i class="fas fa-chevron-down fa-pull-right" *ngIf="!_webpay"></i>
              <i class="fas fa-chevron-up fa-pull-right" *ngIf="_webpay"></i>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngIf="_webpay">
            <app-abono-pago-webpay></app-abono-pago-webpay>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="transferencia">
        <ng-template ngbPanelTitle>
          <div class="row">
            <div class="col-10">Abono Mediante Transferencia</div>
            <div class="col-2">
              <i class="fas fa-chevron-down fa-pull-right" *ngIf="!_transferencias"></i>
              <i class="fas fa-chevron-up fa-pull-right" *ngIf="_transferencias"></i>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngIf="_transferencias">
            <app-abono-pago-transferencia></app-abono-pago-transferencia>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-3" style="border-left: 1px solid #f7f7f7">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Gasto Mensual Acumulado : $400.000</p>
        <p class="card-text">Límite de Gasto Mensual : $1.000.000</p>
        <p class="card-text">Usted debería abonar $600.000 para que sus vehículos puedan operar sin problemas hasta fin
          de mes</p>
      </div>
    </div>
  </div>
</div>
