<div class="sidebar-right-body">
    <div class="row muevoTopSidebarLeft">
        <div class="col-12">
            <a class="btn float-right" closeSidebar>
                <i class="fas fa-times fa-2x"></i>
            </a>
        </div>
        
        <div class="col-12 column">
            <span class="sidebar-title">Abonar desde cuenta bancaria</span>
            <span class="sidebar-subtitle" style="text-transform: capitalize;">
                
            </span>
        </div>
    </div>
    
    <!-- INFO-HEAD -->
    <div class="row">
        <div class="col-12 mt-3 column">
            <span class="text-sm">
                Estás a un paso.
            </span>
            <span class="text-sm mt-3">Ahora, transfiere el monto que desees <strong>desde cualquiera de tus cuentas inscritas</strong> a la cuenta Muevo Empresas de Copec.</span>
        </div>
        
        <div class="col-12 mt-4">
            <div class="space-between bt p-1">
                <div class="text-muted">Banco</div>
                <div>Banco de crédito e Inversiones</div>
            </div>
            <div class="space-between bt p-1">
                <div class="text-muted">Tipo Cuenta</div>
                <div>Cuenta Corriente</div>
            </div>
            <div class="space-between bt p-1">
                <div class="text-muted">Número Cuenta</div>
                <div>10516930 <i class="fas fa-clone hand" ngbTooltip="Copiar" placement="top" (click)="copyMessage('10516930')"></i></div>
            </div>
            <div class="space-between bt p-1">
                <div class="text-muted">Nombre</div>
                <div>Muevo Copec Empresas <i class="fas fa-clone hand" ngbTooltip="Copiar" (click)="copyMessage('Muevo Copec Empresas')"></i></div>
            </div>
            <div class="space-between bt bb p-1">
                <div class="text-muted">RUT</div>
                <div>99.520.000-7 <i class="fas fa-clone hand" ngbTooltip="Copiar" (click)="copyMessage('99.520.000-7')"></i></div>
            </div>
        </div>
        
        <div class="col-12 column mt-3 p-2">
            <span class="text-xs">La transferencia que realices a esta cuenta se verá reflejada en tu saldo en minutos</span>
            <span class="text-xs mt-3">Si tu saldo no se actualiza, por favor revisa que los datos de tu cuenta bancaria inscrita sean correctos.</span>
            <span class="text-xs mt-3">El máximo monto de transferencia es de $7.000.000. Los sistemas de transferencias masivas, por nóminas, o de alto valor no aplican para esta funcionalidad de abono.</span>
        </div>
        
    </div>    
</div>