<div class="form-group" style="margin-left: 4vh; margin-right:1vh;">
  <div class="row">
    <div class="col-12">
      <span style="opacity: 0.5;color: #000000;font-size: 13px;font-weight: 500;letter-spacing: 0.9px;">INVITAR A MIS
        CONDUCTORES A MUEVO</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <span style="color: #000000;font-size: 24px;font-weight: bold;">Dale un nombre a tu equipo</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <span style="opacity: 0.9;color: #5C5C5C;font-size: 16px;">Con este nombre te identificarán los conductores
        que reciban tu invitación</span>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="">
      <div class="form-group muevoElementNuevoEquipo">
        <small class="form-text text-muted ml-1">Nombre de equipo</small>
        <input type="text" class="form-control" name="nombreEquipo" id="nombreEquipo" placeholder="Nombre de Equipo"
          style="border-radius: 15px;border: none;" [(ngModel)]="equipo.nombreEquipo" autocomplete="off" maxlength="25"
          (input)="maxInput($event)">
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="">
      <button class="btn btnSiguientePasoNoWidth" (click)="configurarEquipo()">Configurar mi equipo</button>
    </div>
  </div>
</div>
