<div class="modal-header">
  <h5 class="modal-title" id="modalAceptarCancelar">Agregar Tarjetas </h5>
  <button type="button" class="close" aria-label="Close" (click)="response('Cancelar')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="height: 90vh;">
  <div class="top-image" [innerHTML]="yt | safe: 'html'" style="height: 80vh;"></div>
</div>
