<div class="alert alert-secondary" role="alert">
  <strong>Actividad</strong>
</div>
<div *ngFor="let actividad of actividades">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-4"><strong>{{actividad.tituloActividad}}</strong></div>
            <div class="col-4">
              <p>{{actividad.descripcionActividad}}</p>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="rbt{{actividad.nombreActividad}}"
                        id="rbt{{actividad.nombreActividad}}_1" value="1" [checked]="actividad.estadoActividad">
                      Activado
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="rbt{{actividad.nombreActividad}}"
                        id="rbt{{actividad.nombreActividad}}_2" value="1" [checked]="!actividad.estadoActividad">
                      Desactivado
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="ActividadCorreo" id="ActividadCorreo" value="1" checked>
        Enviar correo a nombre@correo.cl
      </label>
    </div>
    <br>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="ActividadSMS" id="ActividadSMS" value="1" checked>
        Enviar SMS a +569 12345678
      </label>
    </div>
  </div>
</div>
