<div class="form-group contenedorIngreso">
  <div class="row">
    <div class="col-12">
      <div class="col-1 mt-3">
        <a (click)="atras()">
          <i class="fas fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="contenidoIngresocol-12">
      <div class="col-12 text-center">
        <i class="fas fa-lock fa-3x"></i>
      </div>
      <br>
      <div class="offset-2col-8 text-center">
        <h5>Ingresa una Contraseña, Sr {{nombrePersona}}</h5>
      </div>
      <br>
      <div class="input-group">
        <div class="col-8 offset-2">
          <input type="text" name="inputIngresoContrasena" id="inputIngresoContrasena" class="form-control pass"
            placeholder="xxxxxxxx" [(ngModel)]="inputIngresoContrasena" autocomplete="off">
        </div>
      </div>
      <br>
      <div class="col-12 mt-1 text-center">
        <p>¿Olvido su Contraseña?</p>
        <button type="button" class="btn btnTransparentecol-5" (click)="recuperarContrasena()">Recuperar mi
          Contraseña</button>
        <button type="button" class="btn btnTransparentecol-5" (click)="crearCuenta()">Crear
          Cuenta</button>
      </div>
      <br>
      <div class="col-12 text-center mt-1">
        <button type="button" class="btn btnSiguientePaso" (click)="ingresoContrasena()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
